.stweb{
    &__proceeds{
        padding: 32px 0 40px;
        @media (min-width: 768px){
            padding: 40px 0 60px;
        }
        .title{
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: $color_texto;
            margin-bottom: 24px;
            @media (min-width: 992px){
                font-size: 32px;
                line-height: 40px;
                margin-bottom: 48px;
            }
        }
        .list__proceed{
            align-items: center;
            justify-content: center;
            @media (max-width: 768px){
                margin-left: -8px;
                margin-right: -8px;
            }
        }
        .item__proceed{
            padding-top: 8px;
            padding-bottom: 8px;
            @media (max-width: 768px) {
                padding-left: 8px;
                padding-right: 8px;
            }
        }
        .proceed{
            width: 100%;
            height: 70px;
            background: $color_white;
            border: 1px solid #D3D4D3;       
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (min-width:992px) {
                min-width: 160px;
            }
            @media (min-width: 768px) {
                max-width: 160px;
                height: 160px;
            }
            .picture{
                max-width: 100%;
                width: auto;
            }
            &:hover{
                box-shadow: inherit;
            }
        }
        .app__movistar{
            width: 100%;
            max-width: 350px;
            position: relative;
            @media (max-width: 1199px){
                margin-top: 10px;
            }
            @media (max-width: 768px){
                margin-top: 14px;
            }
            .icon{
                width: 35px;
                height: 35px;
                background: $color_cian;
                text-align: center;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 3px;
                left: 0;
                .svg--inline{
                    font-size: 25px;
                    fill: $color_white;                    
                }
            }
            .title{
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 32px;
                color: $color_texto;
                text-align: left;
                padding-left: 48px;
                margin-bottom: 8px;
            }
            .text{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: $color_texto;
                padding-left: 48px;
                margin-bottom: 16px;
            }
            .application{
                display: flex;
                padding-left: 0;
                margin: 0 -12.5px;
                .link{
                    padding: 0 12.5px;
                    display: block;
                }
                @media (min-width: 768px) {
                    padding-left: 48px;
                }
            }
        }
    }
}