.stweb{
    &__brand{
        width: 100%;
        height: 60px;
        background: $color_white;
        border: 1.07143px solid #F5F5F5;        
        border-radius: 8.57143px;
        @media (min-width: 768px) {
            width: 60px;
        }
        .link{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .picture{
            display: block;
            max-width: 50px;
            width: 100%;
            margin: auto;
        }
        &:hover{
            box-shadow: 0px 7px 8px rgba(11, 39, 57, 0.02), 0px 5px 22px rgba(11, 39, 57, 0.12);
            transition: all 0.25s ease-in-out;
        }
        &.--large{
            width: 100%;
            height: 70px;
            background: $color_white;
            border: 1px solid #D3D4D3;       
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (min-width: 768px) {
                min-width: 160px;
                height: 160px;
            }
            .picture{
                max-width: 100%;
                width: auto;
            }
            &:hover{
                box-shadow: inherit;
            }
        }
    }
}