.stweb-btn {
    display: inline-block;
    padding: 12px 10px;
    font-weight: 700;
    border: 0;
    border-radius: 0.375rem;
    line-height: 1;
    color: $color_cian;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: all .15s ease;
    background: inherit;
    border-style: solid;
    @media (max-width: 767.98px) {
        font-size: 14px;
        padding-top: 9px;
        padding-bottom: 9px;
    }
    &:hover {
        color: $color_cian;
        text-decoration: none;
    }
    &:active {
        color: $color_cian;
        background: transparent;
        outline: 0;
        box-shadow: $color_cian;
        text-decoration: none;
    }
    &--round {
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 50px;
        @media (max-width: 767.98px) {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
    &--outline-cian{
        border: 1px solid $color-cian;
        color: $color-cian;
    }
    &--cian {
        background: $color_cian;
        color: #fff;
        &:hover {
            color: #fff;
        }
        &:active {
            color: #fff;
            background: $color_cian;
            outline: 0;
        }
    }
    &--green {
        background: $color_verde;
        color: #fff;
        &:hover {
            color: #fff;
        }
        &:active {
            color: #fff;
            background: $color_verde;
            outline: 0;
        }
    }
    &--blue-dark {
        background: $color_azul-dark;
        color: #fff;
        &:hover {
            color: #fff;
        }
        &:active {
            color: #fff;
            background: $color_azul-dark;
            outline: 0;
        }
    }
}