.stweb{
    &__equipment{
        width: 100%;
        max-width: 230px;        
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(11, 39, 57, 0.05);
        border-radius: 8px;
        padding: 24px 0;
        .equipment{
            &__picture{
                .picture{
                    width: 100%;
                    max-width: 230px;
                    margin-bottom: 16px;
                }
            }
            &__content{
                padding: 0 15px;
                .badge{
                    width: 100%;
                    max-width: 117px;
                    background: #E6F5FD;
                    border-radius: 20px;                    
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 16px;
                    color: $color_azul;
                    padding: 4px 8px;
                    margin-bottom: 8px;
                    display: block;
                }
                .title{                    
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 28px;
                    color: $color_texto;
                    margin-bottom: 8px;
                }
                .content{
                    .text{                        
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: $color_texto;
                        display: block;
                    }
                    .price{                        
                        font-style: normal;
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 40px;
                        color: $color_texto-dark;
                        &--dscto{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #FF374A;
                        }
                    }
                }
            }
        }
    }
}