.tab-panel{
    .tabs-wrapper{
        display: flex;
        flex-direction: column;
        .nav-tabs{
            margin: 0;
            padding: 0;
            display: inherit;
            flex-direction: row;        
            flex-wrap: inherit; 
            .nav-item{
                width: 100%;
                list-style: none;
                border-bottom: 1px solid #D3D4D3;
                .nav-link{
                    padding: 8px 10px;
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;                    
                    color: #86888C;
                    background: transparent;
                    &:focus{
                        outline: none;
                    }
                    &:hover{
                        color: $color_cian;
                        border: 0;
                        transition: all 0.5s ease-in-out;
                    }
                    @media (min-width: 992px){                            
                        font-size: 18px;
                        line-height: 24px;
                        padding: 20px;
                    }
                }
                &.active {
                    border-bottom: 2px solid $color_cian;                    
                    .nav-link{
                        color: $color_cian;
                    }
                }
            }
        }
    }
    .tab-content{
        .tab-pane{
            display: none;
            overflow: hidden;
            padding: 24px 0;
            @media (min-width: 992px) {
            padding: 40px 0;
            }
            &.active {
                display: block;
            }
        }
    }
}
