.nateevo-breadcrumb{
    padding: 9px 0;
    background: #F6F6F6;
    .breadcrumb--content{
        width: 100%;        
        margin: 0 auto;
        padding: 0 15px;
        @media (min-width: 576px){
            max-width: 540px;
        }
        @media (min-width: 768px){
            max-width: 720px;
        }
        @media (min-width: 992px){
            max-width: 960px;
        }
        @media (min-width: 1200px) {
            max-width: 1140px;
        }
        .breadcrumb{
            &--list-box{
                margin: 0;
                display: flex;
                align-items: center;
            }
            &--item{
                margin-right: 8px;
                &+.breadcrumb--item {
                    padding-left: 0;
                    &:before {
                        content: "";
                        position: relative;
                        background: url(../images/icons/icon-chevron-right.png);
                        background-repeat: no-repeat;
                        background-size: 12px;
                        margin: 0 10px 0 0;
                        width: 12px;
                        height: 14px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                &.active{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #86888C;
                }
            }
            &--link{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #50535A;
            }

        }
    }
}
