.stweb-header {
    .container {
        width: 100%
    }

    select.md {
        display: none;
    }

    &.stweb-header--nav {
        position: sticky;
        top: 0;
        z-index: 52;
        background-color: #FFFFFF;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .15);

        .navbar__menu {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: justify;
            justify-content: space-between;
            background: 0 0;
            height: 50px;
            line-height: inherit;
            box-shadow: inherit;
            color: $color_texto;

            @media (min-width:992px) {
                -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -ms-flex-direction: row;
                flex-direction: row;
                height: 64px
            }

            .navbar__brand {
                display: inline-block;
                margin-right: 1rem;
                line-height: 1;
                white-space: nowrap;
                color: $color_cian;
                font-size: 26px;

                @media (min-width:1200px) {
                    margin-right: 16px
                }

                @media (min-width:992px) {
                    margin-right: 20px;
                    font-size: 28px
                }
            }

            .navbar__hamburger {
                position: relative;
                display: -ms-inline-flexbox;
                display: inline-flex;
                width: 30px;
                height: 30px;
                padding: 0;
                border: 0;
                background-color: transparent;
                cursor: pointer;

                @media (min-width:992px) {
                    display: none
                }

                &.button--elastic {
                    .button__inner {
                        top: 50%;
                        display: block;
                        margin-top: -2px;

                        top: 6px;
                        transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
                        transition-duration: .275s;

                        &::after,
                        &::before {
                            display: block;
                            content: ""
                        }

                        &::before {
                            top: -10px;
                            top: 10px;
                            transition: opacity .125s ease .275s
                        }

                        &::after {
                            bottom: -10px;
                            top: 20px;
                            transition: transform 275ms cubic-bezier(.68, -.55, .265, 1.55)
                        }
                    }

                    .button__inner,
                    .button__inner::after,
                    .button__inner::before {
                        position: absolute;
                        width: 30px;
                        height: 3px;
                        transition-timing-function: ease;
                        transition-duration: .15s;
                        transition-property: transform;
                        border-radius: 10px;
                        background-color: #0B2739
                    }
                }
            }

            .search__content--mobile {
                position: absolute;
                width: 23px;
                height: 23px;
                top: 50%;
                transform: translateY(-50%);
                right: 91px;

                @media (min-width:992px) {
                    display: none
                }

                .search__icon--mobile {
                    width: 100%;
                    height: 100%;
                    filter: invert(0%) hue-rotate(130deg) brightness(104%) contrast(236%);
                }
            }

            .navbar__scroll {
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
                -ms-flex-positive: 1;
                flex-grow: 1;
                -ms-flex-align: center;
                align-items: center;

                @media (min-width:992px) {
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-preferred-size: auto;
                    flex-basis: auto;
                    height: 100%
                }

                @media (max-width:991.98px) {
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    top: 64px;
                    right: -999px;
                    z-index: 998;
                    height: calc(100vh - 64px);
                    background-color: $color_cian;
                    border-top: 1px solid #4a93e3;
                    overflow-x: hidden;
                    overflow-y: auto;
                    padding-bottom: 40px;
                    transition: all .3s ease;
                }

                .navbar__nav {
                    @media (min-width:992px) {
                        background-color: transparent;
                        margin: 0;
                        padding: 0;
                        height: 100%
                    }
                }
            }

            .navbar__nav {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: column;
                flex-direction: column;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                margin: 0;

                @media (min-width:992px) {
                    -ms-flex-direction: row;
                    flex-direction: row
                }

                &.navbar__nav--center {
                    -ms-flex-align: center;
                    align-items: center
                }

                &.navbar__nav--hidden-desktop {
                    @media (min-width:992px) {
                        display: none;
                    }
                }

                &.navbar__nav--hidden-mobile {
                    @media (max-width:991.98px) {
                        display: none;
                    }
                }

                &.navbar__nav--menu {
                    .nav__item {
                        position: relative;

                        @media (min-width:1200px) {
                            margin: 0 3px
                        }

                        @media (min-width:992px) {
                            height: 100%;
                            margin: 0 3px
                        }

                        @media (max-width:991.98px) {
                            border-bottom: 1px solid #4a93e3
                        }

                        &:last-child {
                            border-bottom: none
                        }

                        &:hover {
                            .nav__submenu-wrapper {
                                top: 70px;
                                opacity: 1;
                                visibility: visible
                            }

                            >.nav__link {
                                .svg__arrow {
                                    transform: rotate(-180deg)
                                }
                            }
                        }

                        >.nav__link {
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-align: center;
                            align-items: center;
                            font-size: 28px;
                            font-weight: 300;
                            padding: 0 15px;
                            height: 88px;

                            @media (min-width:1200px) {
                                padding: 0 5px
                            }

                            @media (min-width:992px) {
                                font-size: 14px;
                                font-weight: 400;
                                height: 100%;
                                padding: 0 7px
                            }

                            @media (max-width:991.98px) {
                                -ms-flex-pack: center;
                                justify-content: center;
                                overflow: hidden
                            }
                        }

                        .nav__submenu-wrapper {
                            position: absolute;
                            left: 0;
                            top: 60px;
                            margin-top: 0;
                            padding: 15px 12px;
                            min-width: 153px;
                            background: #fff;
                            border-top: 1px solid #d7d7d7;
                            box-shadow: rgba(0, 0, 0, .14) 0 2px 2px 0;
                            border-radius: 7px;
                            z-index: 10;
                            box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
                            opacity: 0;
                            visibility: hidden;
                            transition: all ease .4s;

                            &::after {
                                content: "";
                                position: absolute;
                                height: 10px;
                                width: 10px;
                                background: #fff;
                                top: -5px;
                                left: 30px;
                                transform: rotate(45deg)
                            }

                            .submenu__content {
                                border-top: 1px solid #c7c7cd;
                                margin-top: 12px;
                                padding-top: 12px;

                                &:first-child {
                                    margin-top: 0;
                                    padding-top: 0;
                                    border: 0
                                }
                            }

                            .submenu__title {
                                font-size: 16px;
                                font-weight: 400;
                                color: $color_cian;
                                line-height: 1.2;
                                margin: 0;
                                margin-bottom: .5rem;
                            }

                            .submenu__list {
                                display: -ms-flexbox;
                                display: flex;
                                -ms-flex-wrap: wrap;
                                flex-wrap: wrap;
                                margin: 0;
                                list-style: none;
                                padding: 0;

                                .submenu__item {
                                    position: relative;
                                    width: 100%;
                                    float: none;
                                    margin-bottom: 10px;

                                    &:last-child {
                                        margin-bottom: 0
                                    }

                                    >.nav__link {
                                        display: block;
                                        white-space: nowrap;
                                        font-size: 16px;
                                        line-height: 1.15;
                                        font-weight: 300;
                                        padding: 0;
                                        color: #fff;
                                        transition: all ease .3s;

                                        @media (min-width:992px) {
                                            color: $color_texto
                                        }

                                        &:active,
                                        &:focus,
                                        &:hover {
                                            color: #fff;
                                            background-color: transparent;

                                            @media (min-width:992px) {
                                                color: $color_cian
                                            }
                                        }

                                        .svg__arrow {
                                            font-size: 10px;
                                            margin-right: 5px
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.navbar__nav--right {
                    @media (max-width:991.98px) {
                        -ms-flex-pack: center;
                        justify-content: center;
                        -ms-flex-direction: row;
                        flex-direction: row;
                        margin-top: 60px
                    }

                    .nav__item {
                        margin: 0 5px;

                        &:last-child {
                            margin-right: 0
                        }

                        &.nav__item--offers {
                            >.nav__link {
                                display: -ms-flexbox;
                                display: flex;
                                -ms-flex-pack: center;
                                justify-content: center;
                                -ms-flex-align: center;
                                align-items: center;
                                font-size: 16px;
                                color: #fff;
                                height: 40px;
                                padding: 0 10px;
                                border: 1px solid $color_rosado-dark;
                                background-color: $color_rosado-dark;
                                border-radius: 7px;

                                @media (min-width:1200px) {
                                    padding: 0 20px
                                }

                                &:active,
                                &:focus,
                                &:hover {
                                    color: #fff;
                                    border: 1px solid $color_rosado;
                                    background-color: $color_rosado;
                                }

                                .svg__icon {
                                    margin-right: 6px
                                }
                            }
                        }

                        &.nav__item--app {
                            >.nav__link {
                                display: -ms-flexbox;
                                display: flex;
                                -ms-flex-pack: center;
                                justify-content: center;
                                -ms-flex-align: center;
                                align-items: center;
                                font-size: 14px;
                                font-weight: 700;
                                color: $color_cian;
                                height: 40px;
                                padding: 0 10px;
                                border: 1px solid $color_cian;
                                background-color: transparent;
                                border-radius: 60px;

                                @media (min-width:1200px) {
                                    padding: 0 18px
                                }

                                &:active,
                                &:focus,
                                &:hover {
                                    color: $color_cian;
                                    background-color: transparent
                                }

                                .svg__icon {
                                    margin-right: 6px
                                }
                            }
                        }
                    }
                }

                .nav__item {
                    float: inherit;
                    list-style: none;

                    &:last-child {
                        border-bottom: 0
                    }

                    &.active {
                        background-color: transparent;

                        >.nav__link {
                            font-weight: 700
                        }
                    }

                    >.nav__link {
                        font-size: 16px;
                        font-weight: 400;
                        padding: 0 1rem;
                        width: 100%;
                        color: #313235;
                        text-decoration: none;
                        transition: all ease .3s;

                        @media (min-width:992px) {
                            width: auto;
                            padding: 0 .5rem
                        }

                        &:active,
                        &:focus,
                        &:hover {
                            color: #313235;
                            background-color: transparent
                        }

                        .svg__arrow {
                            fill: transparent;
                            font-size: 7px;
                            margin-left: 8px;
                            transform: rotate(0);
                            transition: all ease .4s;

                            &.active {
                                transform: rotate(-180deg)
                            }
                        }
                    }
                }
            }

            .nav__item {
                &.nav__item--app {
                    &.button-app-movistar--mobile {
                        position: absolute;
                        left: 65px;
                        top: 50%;
                        transform: translateY(-50%);

                        .journal-content-article {
                            >.nav__link {
                                color: white;
                                padding: 10px 1.5em;
                                background: #E63780;
                                border-radius: 50px;
                                font-size: 10px;

                                &:hover {
                                    background: #E63780;
                                }
                            }
                        }
                    }

                    .journal-content-article {
                        >.nav__link {
                            .image {
                                position: relative;
                                top: -2px;
                                margin-right: 5px
                            }
                        }
                    }
                }
            }

            .navbar__nav-mobile {
                @media (min-width:992px) {
                    display: none
                }
            }
        }
    }

    .navbar__side {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        transition: transform .3s;

        @media (min-width:992px) {
            display: none
        }

        &.show-menu {
            transform: none
        }

        .side__main {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: $color_cian;

            .menu--select-custom {
                padding: 15px 25px;

                .input-field {
                    margin: 0;

                    input[type=text] {
                        height: 3rem;
                        line-height: 3rem;
                        font-size: 18px;
                        color: $color_texto;
                        margin: 0;
                        border-bottom: 0;
                        font-weight: 300;
                        border-radius: 20px;
                        padding: 15px;
                        background: #fff;
                        width: 100%;
                        box-sizing: border-box;
                        box-shadow: 0 7px 11px 0 rgba(0, 0, 0, .1), 0 2px 4px 0 rgba(0, 0, 0, .1)
                    }

                    .select-wrapper {
                        .caret {
                            display: none
                        }

                        &::after {
                            content: "\e5cf";
                            font-family: icomoon !important;
                            speak: none;
                            font-style: normal;
                            font-weight: 400;
                            font-variant: normal;
                            text-transform: none;
                            line-height: 1;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            color: #0299d8;
                            position: absolute;
                            right: 10px;
                            top: 0;
                            bottom: 0;
                            height: 10px;
                            margin: auto 0;
                            font-size: 20px;
                            line-height: 10px
                        }
                    }

                    .dropdown-content {
                        border-radius: 10px;

                        li {
                            &.selected>span {
                                color: $color_cian
                            }

                            >span {
                                color: $color_texto
                            }
                        }
                    }
                }
            }

            .main__close {
                position: relative;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-pack: center;
                justify-content: center;
                width: 100%;
                background-color: #fff;
                font-size: 18px;
                font-weight: 700;
                color: $color_cian;
                padding: 0 40px;
                height: 58px;
                overflow: hidden;
                z-index: 5;

                .svg__arrow {
                    position: absolute;
                    left: 20px;
                    top: 50%;
                    transform: translate(0, -50%);
                    fill: transparent
                }

                .close__text {
                    visibility: hidden
                }

                &.back-visible {
                    display: none
                }
            }

            .main__return {
                position: relative;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-pack: center;
                justify-content: center;
                width: 100%;
                background-color: #fff;
                font-size: 18px;
                font-weight: 700;
                color: $color_cian;
                padding: 0 40px;
                height: 58px;
                transition: backgroun-color .2s;
                overflow: hidden;
                z-index: 5;
                visibility: hidden;

                &.back-visible {
                    visibility: visible
                }

                .svg__arrow {
                    position: absolute;
                    left: 20px;
                    top: 50%;
                    transform: translate(0, -50%);
                    fill: transparent
                }
            }

            .list--menu {
                list-style: none;
                padding: 58px 0 0;
                transition: transform .3s;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                margin: 0;

                .list--menu {
                    display: none;
                    left: 100%
                }

                .item {
                    >a {
                        display: block;
                        position: relative;
                        padding: 15px 40px;
                        border-bottom: 1px solid #5cb6f7;
                        color: #fff;
                        text-decoration: none;
                        transition: color .15s, background-color .15s;

                        >.svg__arrow {
                            position: absolute;
                            right: 25px;
                            top: 50%;
                            transform: translate(0, -50%);
                            fill: transparent
                        }
                    }

                    &.item--offers {
                        margin-top: 30px;
                        padding: 0 17px;

                        >a {
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-pack: center;
                            justify-content: center;
                            -ms-flex-align: center;
                            align-items: center;
                            width: 100%;
                            max-width: 330px;
                            margin: 0 auto;
                            font-size: 18px;
                            color: #fff;
                            height: 50px;
                            padding: 0 20px;
                            border: 1px solid $color_rosado;
                            background-color: $color_rosado;
                            border-radius: 50px;

                            &:active,
                            &:focus,
                            &:hover {
                                color: #fff;
                                border: 1px solid #e63780;
                                background-color: #e63780
                            }

                            .svg__offers {
                                margin-right: 6px
                            }
                        }
                    }

                    &.item--app {
                        margin-top: 10px;
                        padding: 0 17px;

                        >a {
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-pack: center;
                            justify-content: center;
                            -ms-flex-align: center;
                            align-items: center;
                            width: 100%;
                            max-width: 330px;
                            margin: 0 auto;
                            font-size: 18px;
                            color: #fff;
                            height: 50px;
                            padding: 0 20px;
                            border: 1px solid #fff;
                            background-color: transparent;
                            border-radius: 50px;

                            &:active,
                            &:focus,
                            &:hover {
                                color: #fff;
                                background-color: transparent
                            }
                        }

                        .svg__offers {
                            margin-right: 6px
                        }
                    }
                }
            }

            .item.nav-dropdown-open {
                >.list--menu {
                    display: block
                }
            }
        }

        select.form-control {
            border-radius: 20px;
            line-height: 1;
            font-size: 18px;
            height: 3rem;
            color: $color_texto;
            font-weight: 300;
            padding: 15px;
        }
    }

    .search__side {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        transition: transform;

        @media (min-width:992px) {
            display: none
        }

        &.show-search {
            transform: none
        }

        .search__main {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #F6F6F6;

            #result__search--mobile {
                width: 100%;
                height: 100vh;
                overflow-x: hidden;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 0px;
                }
            }

            .search__close {
                width: 48px;
                height: 48px;
                position: absolute;
            }

            .search__close--mobile {
                width: 20px;
                height: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .search__mobile {
                height: 48px;
                border: none;
                border-radius: 0;
                padding-left: 50px;
                width: 100%;
                outline: none;
                color: #B6B7B7;
                font-size: 18px;

                &::placeholder {
                    font-size: 18px;
                    color: #B6B7B7;
                }
            }
        }


    }
}

.search-form {
    width: 180;
    height: 100%;
    position: relative;
    margin-left: 5px;

    #searchresult {
        position: absolute;
        top: 45px;
        width: 221px;
        max-height: 107px;
        border: 1px solid #B6B7B7;
        border-radius: 8px;
        overflow-y: scroll;
        background-color: #F6F6F6;
        display: none;
    }

    #searchresult::-webkit-scrollbar {
        width: 6px;
    }

    #searchresult::-webkit-scrollbar-track {
        background-color: #F5F5F5;
        border-radius: 100px;
        margin: 5px 0;
    }

    #searchresult::-webkit-scrollbar-thumb {
        background-color: #86888c;
        border-radius: 100px;
    }

    #searchresultlist {
        width: 100%;
        height: 100%;
        padding: 4px 0;
    }

    #searchresultlist li {
        width: 100%;
        min-height: 32px;
        line-height: 32px;
        padding-left: 15px;
        color: #50535A;
        font-size: 14px;
    }
}

.search_content {
    width: 180px;
    height: 40px;
    position: relative;

    &.focus_search {
        .search__icon {
            filter: invert(46%) sepia(27%) saturate(4057%) hue-rotate(174deg) brightness(97%) contrast(100%);
        }
    }
}

.search__icon {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}

.search__input--desktop {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #B6B7B7;
    padding-left: 44px;
    outline: none;
    color: #B6B7B7;

    &::placeholder {
        color: #B6B7B7;
        font-size: 14px;
        font-weight: 400;
    }
}

.nav-overlay-desktop {
    @media (min-width:992px) {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 51;
        top: 0;
        left: 0;
        background-color: #000;
        overflow-y: auto;
        overflow-x: hidden;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: opacity .5s;
    }

    &.active {
        @media (min-width:992px) {
            visibility: visible;
            opacity: .3
        }
    }
}

.grecaptcha-badge {
    visibility: hidden;
}