.stefa-notificaion-home {
    position: absolute;
    right: 50px;
    bottom: 15px;
}

.stefa-notificaion-home .stefa-notificacion-nav {
    width: 21px;
    text-align: center;
    margin-left: 11px;
    position: relative;
    cursor: pointer;
}

.stefa-notificaion-home .stefa-notificacion-nav .notificacion--icon {
    width: 16px;
}

.stefa-notificaion-home .stefa-notificacion-nav .notificacion--total {
    content: "";
    position: absolute;
    background: #ec624b;
    color: #fff;
    width: 14px;
    height: 14px;
    font-size: 10px;
    line-height: 13px;
    border-radius: 50%;
    top: -5px;
    right: -1px;
    padding-left: 1px;
    opacity: 1;
}

.stefa-notificacion-content {
    display: none;
    position: absolute;
    width: 310px;
    right: -59px;
    padding-top: 16px;
    z-index: 21;
}

.stefa-notificacion-content.active {
    display: block;
}

.notifications-wrapper--mobile .stefa-notificacion-content.active {
    z-index: -999;
}

.stefa-notificacion-content:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 11px 22px 11px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: 3px;
    right: 57px;
}

.stefa-notificacion-title {
    padding: 6px 20px 7px;
    background: #ffffff;
    border: 0.3px solid #ededed;
    border-radius: 8px 8px 0px 0px;
}

.notificacion_home {
    display: flex;
    height: 44px;
    justify-content: space-between;
    flex-direction: row;
}

.son-2 {
    width: 16px;
    height: 14px;
    cursor: pointer;
}

.va123-x {
    width: 16px;
    height: 14px;
}

.stefa-notificacion-content .stefa-notificacion-title .notificacion--title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #d3d4d3;
    margin: 0px;
}

.stefa-notificacion-list {
    background: #ffffff;
    border-radius: 0px 0px 8px 8px;
    height: 325px;
    overflow: hidden;
    overflow-y: scroll;
}

.stefa-notificacion-list .stefa-notificacion-list-item {
    border-bottom: 0.3px solid #ededed;
    padding: 12px 20px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.stefa-notificacion-list-item .notificacion--container-image .img--list-item {
    height: 45px;
    width: 45px;
    max-width: 45px;
    margin-right: 14px;
}

.stefa-notificacion-list-item .stefa-notificacion-item-text .notificacion--list-title {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #44464b;
    margin: 0px;
}

.stefa-notificacion-list-item .stefa-notificacion-item-text .notificacion--list-subtitle {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #44464b;
    margin-bottom: 4px;
}

.stefa-notificacion-list-item .stefa-notificacion-item-text .notificacion--list-link {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #019df4;
    text-decoration: underline;
}

.stefa-notificacion-list-item .stefa-notificacion-item-text .notificacion--list-link:hover {
    text-decoration: underline;
}

.stefa-overlay-notificacion {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 20;
}

.stefa-overlay-notificacion.active {
    display: block;
}

@media (min-width: 360px) {
    .stefa-notificacion-content {
        width: 327px;
        right: -54px;
    }

    .stefa-notificacion-content:before {
        right: 53px;
    }
}

@media (min-width: 992px) {
    .stefa-notificaion-home {
        position: absolute;
        right: -17px;
        bottom: 19px;
    }
}

@media (min-width: 1024px) {
    .stefa-notificaion-home {
        position: relative;
        right: auto;
        bottom: 0px;
    }

    .stefa-notificacion-content {
        width: 410px;
        right: -15px;
        padding-top: 20px;
    }

    .stefa-notificacion-content:before {
        right: 14px;
    }

    .stefa-notificacion-list .stefa-notificacion-list-item {
        padding: 15px 20px;
    }

    .stefa-notificacion-title {
        padding: 13px 20px 14px;
    }

    .stefa-notificacion-list {
        height: auto;
        max-height: 338px;
        overflow-y: auto;
    }

    .stefa-notificacion-list-item .notificacion--container-image .img--list-item {
        height: 82px;
        width: 82px;
        max-width: 82px;
    }

    .stefa-notificacion-list-item .stefa-notificacion-item-text .notificacion--list-subtitle {
        margin-bottom: 7px;
    }
}