.stweb-headerQuick {
    position: relative;
    z-index: 52;
    display: none;
    background: $color_azul-dark;
    padding: 8px 0;

    @media only screen and (min-width:992px) {
        display: block
    }

    .headerQuick--row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;

        @media (min-width:992px) {
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -ms-flex-direction: row;
            flex-direction: row
        }
    }


    .quickLinks {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin: 0;
        line-height: 1;

        .item {
            float: none;
            padding: 0;
            margin-right: 20px;

            &:last-child {
                margin-right: 0
            }

            &.active {
                font-weight: 700;

                .link {
                    color: #fff;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        left: calc(50% - 9px);
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        border-bottom: 7px solid #fff;
                        bottom: -7px
                    }
                }
            }
        }

        .link {
            position: relative;
            font-size: 12px;
            color: #D3D4D3;
            padding: 0;
            transition: all ease .3s;

            @media (min-width: 992px) {
                font-size: 14px;
            }

            &:active,
            &:focus,
            &:hover {
                color: #fff;
                background: 0 0;
                outline: 0
            }
        }

        &--right {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            margin: 0;
            margin-left: auto;
            line-height: 1;

            @media (min-width:992px) {
                -ms-flex-direction: row;
                flex-direction: row
            }

            .item {
                float: none;
                padding: 0;
                margin-right: 20px;

                &:last-child {
                    margin-right: 0
                }

                &.active {
                    font-weight: 700;

                    .link {
                        color: #fff
                    }
                }
            }

            .link {
                position: relative;
                font-size: 12px;
                color: #fff;
                padding: 0;
                transition: all ease .3s;

                &:active,
                &:focus,
                &:hover {
                    color: #fff;
                    background: 0 0;
                    outline: 0
                }
            }
        }
    }
}