.stweb__et-banner-hero
    .swiper.container
        .swiper-wrapper
            .swiper-slide
                .banner-hero__item
                    picture.picture--bg
                        source(media="(min-width: 480px)", srcset="images/pages/entretenimiento/entretenimiento-banner-desktop.png")
                        img(src="", alt="banner fibra optica", srcset="images/pages/entretenimiento/entretenimiento-banner-mobile.png")
                    .content 
                        span.badge ¡Nuevo!
                        h2.title #[span.color--cian Disney+] llegó a Movistar con el mejor contenido
.stweb__et-tabs-plans
    .container
        .tab-panel
            .tabs-wrapper
                ul.nav.nav-tabs#tabs
                    li.nav-item.active(data-tab='tab-1')
                        a(href="javascript:void(0)").nav-link Disney+
                    li.nav-item(data-tab='tab-2')
                        a(href="#" target="_blank").nav-link Netflix
                    li.nav-item(data-tab='tab-3')
                        a(href="#" target="_blank").nav-link Star+
                    li.nav-item(data-tab='tab-3')
                        a(href="#" target="_blank").nav-link Combo+
                    li.nav-item(data-tab='tab-3')
                        a(href="#" target="_blank").nav-link Movistar TV App
.stweb__et-favorite-plan 
    .container 
        .row 
            .col-md-6
                .col__plan 
                    h2.title Agrega  Disney + a tu plan favorito
                    p.text Contrata un plan Hogar o plan Postpago y agrega a tu compra este streaming.
                    p.text Vive experiencias únicas, llenas de magia y aventuras que solo tus series y películas favoritas te pueden ofrecer.
                    .list
                        .item
                            span.text Adquiérelo con:
                        .item
                            .btn-group
                                button(type="button" class="stweb-btn stweb-btn--round stweb-btn--cian") Plan Hogar
                                button(type="button" class="stweb-btn stweb-btn--round stweb-btn--cian") Plan Postpago
            .col-md-6    
                .col__plan
                    picture.picture
                        img(src="images/pages/entretenimiento/combo-disney-star-plus-desktop.png", alt="combo disney plus y star plus", srcset="images/pages/entretenimiento/combo-disney-star-plus-desktop.png")  

.stweb__et-favorite-device
    .container 
        h2.title Disponible en tus dispositivos favoritos
        p.text Mira tus series y películas favoritas donde quieras
        .device 
            .row 
                .col-4.col-md
                    .item
                        span.icon
                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                                <path d="M13.2268 56.0895C7.38966 56.0895 4.04096 52.7612 4.04096 46.9445V31.2968C4.04096 28.4602 4.81925 26.2277 6.36559 24.6609C7.95289 23.0429 10.2673 22.2236 13.2268 22.2236L46.7138 22.2031C49.6733 22.2031 51.9877 23.0224 53.575 24.6404C55.1214 26.2072 55.8996 28.4397 55.8996 31.2763V46.9241C55.8996 52.7305 52.5509 56.069 46.7138 56.069L13.2268 56.0895ZM46.7138 26.1355L13.2268 26.156C9.54019 26.156 7.97337 27.6921 7.97337 31.2968V46.9445C7.97337 50.6005 9.55044 52.157 13.2268 52.157L46.7138 52.1366C50.4004 52.1366 51.9672 50.58 51.9672 46.9241V31.2763C51.9672 27.6716 50.4004 26.1355 46.7138 26.1355ZM6.00717 62.2031C4.90118 62.2031 4 61.3019 4 60.196C4 59.09 4.90118 58.1888 6.00717 58.1888L53.9334 58.1683C55.0394 58.1683 55.9406 59.0695 55.9406 60.1755C55.9406 61.2815 55.0394 62.1826 53.9334 62.1826L6.00717 62.2031Z" fill="#019DF4"/>
                                <path d="M20.3636 61.5868C19.8618 61.5868 19.3702 61.4024 18.9811 61.0338C18.1823 60.2657 18.1516 58.9959 18.9196 58.1971L23.7225 53.1689C24.4906 52.3702 25.7604 52.3394 26.5592 53.1075C27.3579 53.8755 27.3887 55.1454 26.6206 55.9442L21.8178 60.9723C21.4286 61.3717 20.8961 61.5868 20.3636 61.5868ZM39.5136 61.8428C38.9913 61.8428 38.4691 61.638 38.0697 61.2283L32.806 55.8008C32.0379 55.002 32.0584 53.7322 32.8469 52.9641C33.6457 52.1961 34.9155 52.2166 35.6836 53.0051L40.9473 58.4326C41.7153 59.2314 41.6949 60.5012 40.9063 61.2693C40.5172 61.6584 40.0154 61.8428 39.5136 61.8428ZM70.553 62.1193H63.2514C61.5208 62.1193 60.0666 61.3307 59.1552 59.8868C58.3769 58.6477 57.998 56.9682 57.998 54.746L57.9775 29.595C57.9775 27.3727 58.3564 25.6933 59.1449 24.4541C60.0564 23.0205 61.5105 22.2217 63.2412 22.2217H70.5428C72.1301 22.2217 75.8372 22.9385 75.8372 29.595L75.8474 54.746C75.8474 61.4024 72.1403 62.1193 70.553 62.1193ZM63.2412 26.1029C62.7804 26.1029 62.596 26.2463 62.4322 26.5228C62.2171 26.8607 61.869 27.7004 61.869 29.595L61.8792 54.746C61.8792 56.6405 62.2274 57.4803 62.4424 57.8182C62.6165 58.0947 62.7906 58.2381 63.2514 58.2381H70.553C71.0241 58.2381 71.2084 58.0845 71.3928 57.808C71.6078 57.47 71.9662 56.6303 71.9662 54.7562L71.956 29.6052C71.956 27.7209 71.5976 26.8812 71.3825 26.5432C71.2084 26.2667 71.0139 26.1131 70.5428 26.1131H63.2412V26.1029Z" fill="#019DF4"/>
                            </svg>
                        span.text Computadora
                .col-4.col-md
                    .item
                        span.icon
                            <svg xmlns="http://www.w3.org/2000/svg" width="81" height="80" viewBox="0 0 81 80" fill="none">
                                <path d="M63.7452 59.7459H17.2548C13.1006 59.7459 9.88583 58.5847 7.68349 56.3041C5.56464 54.1072 4.5 50.9688 4.5 46.9621V24.6792C4.5 16.4984 9.02994 12 17.2548 12L63.7452 12C71.9701 12 76.5 16.4984 76.5 24.6792L76.4374 47C76.4374 50.9963 75.4249 54.0968 73.3165 56.3041C71.1142 58.5952 67.8994 59.7459 63.7452 59.7459ZM17.2548 16.1636C14.2592 16.1636 12.0464 16.8855 10.6687 18.2978C9.33263 19.6682 8.65419 21.8128 8.65419 24.6792V46.9621C8.65419 52.8414 11.3889 55.5823 17.2548 55.5823L63.7452 55.5823C69.6112 55.5823 72.3458 52.8414 72.3458 46.9621V24.6792C72.3458 21.8128 71.6674 19.6682 70.3313 18.2978C68.9536 16.8855 66.7304 16.1637 63.7452 16.1637L17.2548 16.1636Z" fill="#019DF4"/>
                                <path d="M50.3813 68L30.5563 67.9686C29.4081 67.9686 28.4792 67.0375 28.4792 65.8868C28.4792 64.736 29.4081 63.805 30.5563 63.805L50.3813 63.8363C51.5294 63.8363 52.4584 64.7674 52.4584 65.9182C52.4584 67.0689 51.5294 68 50.3813 68Z" fill="#019DF4"/>
                            </svg>
                        span.text Smart TV
                .col-4.col-md                        
                    .item
                        span.icon
                            <svg xmlns="http://www.w3.org/2000/svg" width="81" height="80" viewBox="0 0 81 80" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M56.2338 71.5122C59.8507 71.5122 64.1644 69.9752 64.1644 62.68V62.557H18.9172V62.68C18.9172 62.8644 18.9069 63.0488 18.8864 63.2332C18.8864 63.2332 18.5483 66.8502 20.5566 69.1555C21.9091 70.7027 24.2247 71.4917 27.442 71.4917L55.66 71.4814C55.7727 71.4814 55.8854 71.4814 56.0084 71.4917L56.2338 71.5122ZM22.1345 9.77885C21.3353 10.2707 18.9172 11.7769 18.9172 17.2483V58.0589H64.1644C64.1644 42.5667 64.1439 17.2073 64.1439 17.2073C64.1439 17.0741 64.1541 16.9409 64.1644 16.7975C64.1644 16.7975 64.3898 13.0884 62.2893 10.7522C60.9368 9.26654 58.7236 8.50833 55.7215 8.50833H27.3703C27.2678 8.50833 27.1756 8.49808 27.0731 8.49808H26.9194C26.2739 8.49808 24.03 8.59029 22.1345 9.77885ZM68.4882 17.1971C68.4882 17.1971 68.5087 48.3148 68.5087 62.6697C68.5087 75.2008 58.7236 76 56.2236 76C55.8547 76 55.6498 75.9898 55.6498 75.9898C55.6498 75.9898 41.9096 76 27.4318 76C12.9539 76 14.5523 62.68 14.5523 62.68V17.2483C14.5625 4.70699 24.6345 4 26.9092 4C27.1961 4 27.36 4.01025 27.36 4.01025L55.7112 4C69.6461 4.01025 68.4882 17.1971 68.4882 17.1971ZM41.51 64.3706C43.1802 64.3706 44.1843 65.4054 44.1843 67.1473C44.1843 67.9977 43.9486 68.674 43.4875 69.1658C43.0162 69.6576 42.34 69.924 41.51 69.924C40.6801 69.924 40.0038 69.6679 39.5325 69.1658C39.0714 68.674 38.8358 67.9977 38.8358 67.1473C38.8358 65.4054 39.8399 64.3706 41.51 64.3706Z" fill="#019DF4"/>
                            </svg>
                        span.text Tablet
                .col-4.col-md                        
                    .item
                        span.icon
                            <svg xmlns="http://www.w3.org/2000/svg" width="81" height="80" viewBox="0 0 81 80" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M56.4075 29.9452C57.2402 29.9452 57.8878 30.158 58.3411 30.5835C58.8129 31.0276 59.0534 31.6845 59.0534 32.5448C59.0534 33.396 58.8129 34.0528 58.3411 34.4969C57.8878 34.9224 57.2402 35.1352 56.4075 35.1352C55.5749 35.1352 54.9273 34.9224 54.474 34.4969C54.0022 34.0528 53.7709 33.4052 53.7709 32.5448C53.7709 31.6845 54.0114 31.0276 54.474 30.5835C54.9181 30.158 55.5657 29.9452 56.4075 29.9452ZM51.0603 35.126C51.8929 35.126 52.5405 35.3387 52.9938 35.7736C53.4656 36.2176 53.7062 36.8745 53.7062 37.7348C53.7062 38.586 53.4656 39.2428 52.9938 39.6869C52.5405 40.1124 51.8929 40.3252 51.0603 40.3252C50.2276 40.3252 49.58 40.1124 49.1267 39.6869C48.6642 39.2428 48.4144 38.5952 48.4144 37.7348C48.4144 36.8745 48.6549 36.2176 49.1267 35.7736C49.58 35.3387 50.2276 35.126 51.0603 35.126ZM56.4075 40.3067C57.2402 40.3067 57.8878 40.5195 58.3411 40.9451C58.8129 41.3891 59.0534 42.046 59.0534 42.9063C59.0534 43.7575 58.8129 44.4143 58.3411 44.8584C57.8878 45.2839 57.2402 45.4967 56.4075 45.4967C55.5749 45.4967 54.9273 45.2839 54.474 44.8584C54.0022 44.4143 53.7709 43.7667 53.7709 42.9063C53.7709 42.046 54.0114 41.3891 54.474 40.9451C54.9181 40.5195 55.5657 40.3067 56.4075 40.3067ZM61.7456 35.126C62.5782 35.126 63.2258 35.3387 63.6791 35.7736C64.1509 36.2176 64.3915 36.8745 64.3915 37.7348C64.3915 38.586 64.1509 39.2428 63.6791 39.6869C63.2258 40.1124 62.5782 40.3252 61.7456 40.3252C60.9037 40.3252 60.2654 40.1124 59.812 39.6869C59.3495 39.2428 59.1089 38.5952 59.1089 37.7348C59.1089 36.8745 59.3495 36.2176 59.812 35.7736C60.2654 35.3387 60.913 35.126 61.7456 35.126ZM34.0748 33.9695C35.259 33.9695 36.1656 34.2563 36.7762 34.8392C37.4145 35.459 37.7383 36.3656 37.7383 37.5683C37.7383 38.771 37.4145 39.6776 36.7762 40.279C36.1656 40.8618 35.2497 41.1578 34.0748 41.1578H33.7047L33.714 41.2319C33.7602 41.4354 33.788 41.6482 33.788 41.8147C33.788 43.0174 33.4642 43.924 32.8258 44.5253C32.206 45.1082 31.2994 45.395 30.1245 45.395C28.9403 45.395 28.0244 45.1082 27.4231 44.5161C26.794 43.9332 26.4794 43.0174 26.4794 41.8054C26.4794 41.6944 26.5164 41.4076 26.5349 41.2874C26.3962 41.2966 26.2944 41.3059 25.9798 41.3059C24.7957 41.3059 23.889 41.0098 23.2785 40.427C22.6586 39.8441 22.3348 38.919 22.3348 37.7071C22.3348 36.4952 22.6586 35.5793 23.2877 34.9872C23.889 34.4136 24.7957 34.1083 25.9798 34.1083C26.0816 34.1083 26.3592 34.1268 26.4609 34.1453H26.5257C26.5072 33.9788 26.4887 33.8123 26.4887 33.618C26.4887 32.4061 26.8032 31.4902 27.4508 30.8888C28.0521 30.3153 28.9588 30.01 30.143 30.01C31.3271 30.01 32.2338 30.306 32.8444 30.8888C33.4734 31.4902 33.8065 32.4153 33.8065 33.618C33.8065 33.6735 33.7972 33.8493 33.7787 33.9695C33.8157 33.9788 33.9175 33.9695 34.0748 33.9695ZM70.6916 56.6539C71.0247 55.5622 71.441 53.2401 71.4502 52.3705C71.552 44.8954 67.6572 35.9308 65.5664 31.1109C65.2518 30.38 64.965 29.7324 64.7338 29.1773L64.6135 28.8813C64.484 28.576 64.3637 28.2985 64.2712 28.0764L64.1879 27.8914L64.1417 27.7989L64.1232 27.7619L63.9937 27.5213C63.6236 26.883 63.2906 26.4297 62.9483 26.0966C61.4865 24.7089 59.257 24.0058 56.315 24.0058C55.1494 24.0058 54.0207 24.1539 52.8828 24.4592C52.5775 24.5424 51.6339 24.931 51.0418 25.19C50.7087 25.375 49.9871 25.7821 49.7003 25.9764C47.7205 27.3086 45.4169 28.0117 43.0208 28.0117C40.6247 28.0117 38.3119 27.3086 36.3414 25.9764C36.0361 25.7728 35.3145 25.3658 34.9907 25.1808C34.4448 24.9495 33.4642 24.5424 33.1496 24.4499C32.0025 24.1539 30.8831 23.9966 29.7174 23.9966C26.7755 23.9966 24.5459 24.7089 23.0934 26.0874C22.7511 26.4204 22.3996 26.883 22.048 27.5121L21.9463 27.7156L21.863 27.8822L21.7705 28.0764C21.6595 28.3262 21.5299 28.6408 21.3819 28.9923L21.3079 29.1773C21.0766 29.7324 20.7898 30.3893 20.4753 31.1109C18.3845 35.9308 14.4897 44.8954 14.5914 52.3705C14.6007 53.2401 15.0077 55.5714 15.35 56.6539C15.8589 58.3006 17.0153 58.8372 17.4964 58.9944C17.9312 59.1425 18.736 59.2812 19.3281 59.3368C19.7352 59.3275 21.1414 59.0222 21.752 58.7447C22.2701 58.5134 22.7789 58.1803 23.3062 57.7363C23.556 57.5235 23.6485 57.4217 24.3979 56.4966L24.7124 56.108C24.9067 55.8582 25.0917 55.6085 25.286 55.3587C25.8318 54.6463 26.4332 53.8414 27.238 53.0736C29.6156 50.807 32.6408 49.151 36.2118 48.1519C38.4137 47.5413 40.708 47.2267 43.0116 47.2267C45.3152 47.2267 47.6095 47.5413 49.8113 48.1519C53.3916 49.151 56.4075 50.807 58.7851 53.0736C59.59 53.8414 60.2099 54.6463 60.7464 55.3587C60.9407 55.6085 61.1257 55.849 61.32 56.0988L61.6253 56.4781C62.3747 57.4032 62.4764 57.505 62.717 57.727C63.3738 58.2913 63.9474 58.5781 64.3175 58.7354C64.8818 58.9852 66.4823 59.309 67.0189 59.309C67.2316 59.309 67.8977 59.1887 68.5361 58.9852C69.0264 58.8372 70.1828 58.3006 70.6916 56.6539ZM68.4991 27.6509C70.3586 32.1008 75.6504 42.9434 75.5208 52.4167C75.5023 53.7859 74.9935 56.5058 74.5865 57.8195C73.7816 60.4377 71.9036 62.1214 69.8405 62.7967C68.9986 63.065 67.8607 63.3241 67.0373 63.3241C65.9364 63.3241 63.7716 62.8893 62.6615 62.3897C62.0324 62.1122 61.1072 61.6311 60.0711 60.7522C59.4512 60.2249 59.1737 59.8548 58.1561 58.5966C57.4252 57.7085 56.7868 56.7371 55.9542 55.9415C54.0392 54.119 51.5968 52.8053 48.7012 52.0004C46.8601 51.4824 44.9359 51.2233 43.0116 51.2233C41.0873 51.2233 39.1723 51.4731 37.322 52.0004C34.4263 52.8053 31.9932 54.1097 30.0689 55.9415C29.2363 56.7371 28.598 57.6993 27.8764 58.5966C26.8495 59.8548 26.5812 60.2249 25.9613 60.7522C24.9252 61.6311 24.0463 62.1122 23.4172 62.3897C22.3903 62.8523 20.4198 63.3333 19.2541 63.3333C19.1616 63.3333 19.0691 63.3333 18.9951 63.3241C18.1717 63.2593 17.0338 63.065 16.1919 62.7967C14.1289 62.1214 12.2601 60.4377 11.446 57.8195C11.0389 56.5058 10.5301 53.7859 10.5023 52.4167C10.3728 42.9434 15.6738 32.1008 17.5241 27.6509C17.7184 27.1883 17.8849 26.772 18.0329 26.4574C18.1625 26.1707 18.218 26.0781 18.255 25.9949L18.44 25.6341C18.9488 24.7459 19.5132 23.9133 20.2533 23.2195C22.4921 21.0824 25.6838 20 29.7081 20C31.3734 20 32.8444 20.2313 34.2043 20.5921C35.0092 20.8049 36.7947 21.5912 36.8224 21.6097C36.8224 21.6097 38.1916 22.3776 38.6264 22.6644C39.9494 23.5525 41.4759 23.9966 43.0116 23.9966C44.5381 23.9966 46.0738 23.5525 47.3875 22.6644C47.8223 22.3776 49.1915 21.6097 49.1915 21.6097C49.2285 21.5912 51.014 20.8049 51.8189 20.5921C53.1881 20.222 54.659 20 56.315 20C60.3486 20 63.5311 21.0824 65.7792 23.2195C66.51 23.9133 67.0836 24.7459 67.5832 25.6341L67.7775 25.9949C67.8145 26.0781 67.87 26.1707 67.9995 26.4574C68.1383 26.772 68.3048 27.1883 68.4991 27.6509Z" fill="#019DF4"/>
                            </svg>
                        span.text Consolas
                .col-4.col-md                        
                    .item
                        span.icon
                            <svg xmlns="http://www.w3.org/2000/svg" width="81" height="80" viewBox="0 0 81 80" fill="none">
                                <path d="M52.4744 76H28.5256C24.4829 76 21.5354 75.027 19.5192 73.0299C17.4825 71.0122 16.5 68.0421 16.5 63.9659V16.0341C16.5 12.0603 17.4825 9.14139 19.509 7.08279C21.5559 5.01394 24.5034 4 28.5256 4H52.4744C56.5273 4 59.4748 4.98321 61.5013 7.02134C63.5277 9.05946 64.5 11.9989 64.5 16.0341V63.9659C64.5 68.0421 63.5072 71.0122 61.4808 73.0299C59.4544 75.027 56.5171 76 52.4744 76ZM28.5256 8.09673C22.8966 8.09673 20.5938 10.4011 20.5938 16.0341V63.9659C20.5938 69.7525 22.7431 71.9033 28.5256 71.9033H52.4744C58.2569 71.9033 60.4062 69.7525 60.4062 63.9659V16.0341C60.4062 13.1357 59.8126 11.1283 58.6049 9.90953C57.3972 8.69075 55.381 8.09673 52.4744 8.09673H28.5256Z" fill="#019DF4"/>
                                <path d="M40.5 60.33C38.6578 60.33 37.4603 61.303 37.4603 63.3821C37.4603 64.3858 37.7367 65.1232 38.2279 65.625C38.7601 66.1679 39.5379 66.4341 40.5 66.4341C41.462 66.4341 42.2399 66.1679 42.7721 65.625C43.2633 65.1232 43.5397 64.3755 43.5397 63.3821C43.5294 61.303 42.3422 60.33 40.5 60.33Z" fill="#019DF4"/>
                                <path d="M40.5 67.4686C39.2514 67.4686 38.2075 67.0794 37.5013 66.3522C36.7951 65.625 36.4471 64.6316 36.4471 63.3923C36.4471 60.8421 37.9618 59.3161 40.5102 59.3161C43.0586 59.3161 44.5631 60.8421 44.5631 63.3923C44.5631 64.6418 44.2049 65.6353 43.509 66.3522C42.813 67.0691 41.7486 67.4686 40.5 67.4686ZM40.5 61.3644C39.1081 61.3644 38.4838 61.9892 38.4838 63.3923C38.4838 64.0888 38.6475 64.6008 38.9546 64.9183C39.2616 65.2358 39.7938 65.4202 40.4898 65.4202C41.1857 65.4202 41.7077 65.2563 42.0249 64.9183C42.3422 64.5804 42.4957 64.0785 42.4957 63.3923C42.506 61.9892 41.8919 61.3542 40.5 61.3644Z" fill="#019DF4"/>
                            </svg>
                        span.text Smartphone    
        .benefits
            h2.title Además puedes disfrutar de beneficios adicionales
            .swiper.swiper-container
                .swiper-wrapper                    
                    .plans-include__item.swiper-slide
                        picture.picture
                            img(src="images/modem/modem-smart-wifi.png", alt="modem", srcset="images/modem/modem-smart-wifi.png")
                        .content 
                            h3.title 4 pantallas en simultáneo
                            span.text Mira contenidos en forma simultáneo y disfruta de hasta 7 perfiles.
                    .plans-include__item.swiper-slide
                        picture.picture 
                            img(src="images/modem/modem-smart-wifi.png", alt="modem", srcset="images/modem/modem-smart-wifi.png")
                        .content 
                            h3.title Descarga series o películas
                            span.text Descargas ilimitadas. Tu contenido favorito para ver sin conexión.         

.stweb__et-step-app
    .container 
        h2.title ¿Ya eres cliente Movistar?
        p.text Si eres cliente Trío Movistar activa Disney+ sin costo adicional por la app Mi Movistar
        .swiper.step-app__container 
            .swiper-wrapper
                .swiper-slide
                    .step-app__item
                        .item__description
                            h3.item__title Paso 1
                            p.item__text Ingresa a tu app Mi Movistar y pulsa “Activa Disney+ y Star+”
                        picture.item__picture
                            img(src="images/pages/entretenimiento/ent-paso-1.png", alt="paso 1", srcset="images/pages/entretenimiento/ent-paso-1.png")
                .swiper-slide
                    .step-app__item
                        .item__description
                            h3.item__title Paso 2
                            p.item__text Lee y acepta las condiciones y dale clic en “Enviar código”
                        picture.item__picture
                            img(src="images/pages/entretenimiento/ent-paso-2.png", alt="paso 2", srcset="images/pages/entretenimiento/ent-paso-2.png")
                .swiper-slide
                    .step-app__item
                        .item__description
                            h3.item__title Paso 3
                            p.item__text Ingresa el código que enviamos a tu correo y dale clic en “Continuar”
                        picture.item__picture
                            img(src="images/pages/entretenimiento/ent-paso-3.png", alt="paso 3", srcset="images/pages/entretenimiento/ent-paso-3.png")
                .swiper-slide
                    .step-app__item
                        .item__description
                            h3.item__title Paso 4
                            p.item__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        picture.item__picture
                            img(src="images/pages/entretenimiento/ent-paso-1.png", alt="paso 1", srcset="images/pages/entretenimiento/ent-paso-1.png")                        

            .swiper-pagination
            .swiper-button-prev
                <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 1.7334L1 7.7334L7 13.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            .swiper-button-next
                <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 13.7334L7 7.7334L1 1.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>     
        .swiper.step-app__footer 
            a(class="stweb-btn stweb-btn--round stweb-btn--cian" href="http://", target="_blank", rel="noopener noreferrer") Activar Disney+ aquí

.stweb__et-posters
    .posters__content
        .container
            h2.title
                picture 
                    source(media="(min-width: 992px)", srcset="images/pages/entretenimiento/logo-disney-plus.png")
                    img(src="images/pages/entretenimiento/logo-disney-plus-mobile.png", alt="disney plus", srcset="images/pages/entretenimiento/logo-disney-plus-mobile.png")
                | Lanzamientos Exclusivos de Disney +
    .posters__list
        .poster-card
            .card__content
                .card__body
                    p.card__title 
                        span.title-text Mansión #[span.title-br-lg Encantada]
                        <svg aria-hidden="true" class="card__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.11261 15.371C0.945734 15.3732 0.785445 15.3049 0.671267 15.1853C0.442911 14.9569 0.442911 14.594 0.671267 14.3656L8.02697 7.8121L0.708594 1.37601C0.467064 1.16041 0.449498 0.793239 0.671267 0.558423C0.895232 0.323607 1.2729 0.306529 1.51662 0.524268L9.31147 7.37876C9.553 7.60077 9.56398 7.97434 9.33562 8.20916L9.31147 8.23264L1.51662 15.2259C1.40684 15.3177 1.26192 15.371 1.11261 15.371Z" fill="white"/>
                        </svg>
                    a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver Sinopsis
            picture.card__picture
                img(src="images/pages/entretenimiento/poster-mansion-encantada.jpg", alt="")
        .poster-card
            .card__content
                .card__body
                    p.card__title 
                        span.title-text Guardianes de #[span.title-br-lg la Galaxia]
                        <svg aria-hidden="true" class="card__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.11261 15.371C0.945734 15.3732 0.785445 15.3049 0.671267 15.1853C0.442911 14.9569 0.442911 14.594 0.671267 14.3656L8.02697 7.8121L0.708594 1.37601C0.467064 1.16041 0.449498 0.793239 0.671267 0.558423C0.895232 0.323607 1.2729 0.306529 1.51662 0.524268L9.31147 7.37876C9.553 7.60077 9.56398 7.97434 9.33562 8.20916L9.31147 8.23264L1.51662 15.2259C1.40684 15.3177 1.26192 15.371 1.11261 15.371Z" fill="white"/>
                        </svg>
                    a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver Sinopsis
            picture.card__picture
                img(src="images/pages/entretenimiento/poster-guardianes-galaxia.png", alt="")
        .poster-card
            .card__content
                .card__body
                    p.card__title 
                        span.title-text Obi Wan #[span.title-br-lg Kenobi]
                        <svg aria-hidden="true" class="card__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.11261 15.371C0.945734 15.3732 0.785445 15.3049 0.671267 15.1853C0.442911 14.9569 0.442911 14.594 0.671267 14.3656L8.02697 7.8121L0.708594 1.37601C0.467064 1.16041 0.449498 0.793239 0.671267 0.558423C0.895232 0.323607 1.2729 0.306529 1.51662 0.524268L9.31147 7.37876C9.553 7.60077 9.56398 7.97434 9.33562 8.20916L9.31147 8.23264L1.51662 15.2259C1.40684 15.3177 1.26192 15.371 1.11261 15.371Z" fill="white"/>
                        </svg>
                    a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver Sinopsis
            picture.card__picture
                img(src="images/pages/entretenimiento/poster-obi-wan-kenobi.jpg", alt="")
        .poster-card
            .card__content
                .card__body
                    p.card__title
                        span.title-text Elemental
                        <svg aria-hidden="true" class="card__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.11261 15.371C0.945734 15.3732 0.785445 15.3049 0.671267 15.1853C0.442911 14.9569 0.442911 14.594 0.671267 14.3656L8.02697 7.8121L0.708594 1.37601C0.467064 1.16041 0.449498 0.793239 0.671267 0.558423C0.895232 0.323607 1.2729 0.306529 1.51662 0.524268L9.31147 7.37876C9.553 7.60077 9.56398 7.97434 9.33562 8.20916L9.31147 8.23264L1.51662 15.2259C1.40684 15.3177 1.26192 15.371 1.11261 15.371Z" fill="white"/>
                        </svg>
                    a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver Sinopsis
            picture.card__picture
                img(src="images/pages/entretenimiento/poster-elemental.jpg", alt="")
        .poster-card
            .card__content
                .card__body
                    p.card__title 
                        span.title-text La #[span.title-br-lg Sirenita]
                        <svg aria-hidden="true" class="card__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.11261 15.371C0.945734 15.3732 0.785445 15.3049 0.671267 15.1853C0.442911 14.9569 0.442911 14.594 0.671267 14.3656L8.02697 7.8121L0.708594 1.37601C0.467064 1.16041 0.449498 0.793239 0.671267 0.558423C0.895232 0.323607 1.2729 0.306529 1.51662 0.524268L9.31147 7.37876C9.553 7.60077 9.56398 7.97434 9.33562 8.20916L9.31147 8.23264L1.51662 15.2259C1.40684 15.3177 1.26192 15.371 1.11261 15.371Z" fill="white"/>
                        </svg>
                    a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver Sinopsis
            picture.card__picture
                img(src="images/pages/entretenimiento/poster-sirenita.jpg", alt="")      
    .posters__footer 
        a(class="stweb-btn stweb-btn--round stweb-btn--cian" href="http://", target="_blank", rel="noopener noreferrer") Ir a planes Hogar
        a(class="stweb-btn stweb-btn--round stweb-btn--cian" href="http://", target="_blank", rel="noopener noreferrer") Ir a planes postpago

.stweb__et-app-movistar
    pcture.picture
        img(src="images/pages/entretenimiento/bg-movistar-app.png", alt="fondo movistar app", srcset="images/pages/entretenimiento/bg-movistar-app.png") 
    .container
        .row.no-gutters
            picture.banner__background 
                source(media="(min-width:992px)", srcset="images/pages/entretenimiento/descarga-app-movistar-desktop.png", type="image/png")
                img(src="images/pages/entretenimiento/descarga-app-movistar-mobile.png", alt="")       
            .col-md-5.col-xl-6.banner__information
                .banner__box
                    .box__icon
                        picture.banner__logo 
                            source(media="(min-width:992px)", srcset="images/pages/entretenimiento/logo-app-movistar.png", type="image/png")
                            img(src="images/pages/entretenimiento/logo-app-movistar.png", alt="")
                    .box__info
                        h2.banner__title Descarga la App Mi Movistar
                        p.banner__description #[b Escanea el código QR] con tu teléfono y #[b descarga la App] en instantes, también puedes hacerlo a través de
                        .banner__apps
                            a.app__ios(href="http://", target="_blank", rel="noopener noreferrer")
                                picture.app__logo 
                                    source(media="(min-width:992px)", srcset="images/pages/entretenimiento/movistar-app-store.png", type="image/png")
                                    img(src="images/pages/entretenimiento/movistar-app-store-mobile.png", alt="")
                            a.app__google(href="http://", target="_blank", rel="noopener noreferrer")
                                picture.app__logo 
                                    source(media="(min-width:992px)", srcset="images/pages/entretenimiento/movistar-google-play.png", type="image/png")
                                    img(src="images/pages/entretenimiento/movistar-google-play-mobile.png", alt="")      
            .col-md-3.col-lg-3.banner__qr
                picture.qr__picture
                    source(media="(min-width:992px)", srcset="images/pages/entretenimiento/banner-repetidor-qr.png", type="image/png")
                    img(src="images/pages/entretenimiento/banner-repetidor-qr.png", alt="")      

.stweb__faq-collapsible#faq-collapsible
    .container 
        h2.title Preguntas Frecuentes
        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Qué es Disney+?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Qué incluye Disney+?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Ya tienes Disney+?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Ya tienes Disney+ o Star+ y quieres Combo+?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Cómo voy a pagar?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 
        