.stweb__cp-banner-hero
    .swiper.banner-hero__container
        .swiper-wrapper
            .swiper-slide
                .banner-hero__item
                    picture.picture--bg
                        source(media="(min-width: 768px)", srcset="images/pages/cambio-planes/cambio-planes-banner-desktop.png")
                        img(src="", alt="banner fibra optica", srcset="images/pages/cambio-planes/cambio-planes-banner-mobile.png")
                    .content 
                        h2.title ¡Mejora tu plan móvil desde la app Mi Movistar!
                        p.text Obtén de regalo #[img(src="images/pages/cambio-planes/icon-regalo.png", alt="caja de regalo", srcset="images/pages/cambio-planes/icon-regalo.png", class="icon") ] un bono de GB adicionales de alta velocidad
                        .promotion 
                            picture.picture--pmt 
                                source(media="(min-width: 768px)", srcset="images/pages/cambio-planes/cambio-planes-aumento-desktop.png")
                                img(src="", alt="ahorra 40 soles por 2 meses", srcset="images/pages/cambio-planes/cambio-planes-aumento-mobile.png")