.stweb__streaming
    .container
        .row.information
            .col-md-6
                picture
                    source(media="(min-width: 768px)", srcset="images/streaming/servicio-streaming.png")
                    img.picture(src="images/streaming/servicio-streaming-mobile.png", alt="servicios de streaming")
            .col-md-6
                .content
                    h2.title Agrega servicios de streaming a tu plan hogar favorito
                    p.text Con tu plan Movistar podrás disfrutar de #[b Movistar TV App Netflix, HBO Max, Disney + y Star + con precios especiales. Selecciona tus preferidos al contratar un plan.]
                    a.link(href="http://", target="_blank", rel="noopener noreferrer") 
                        span Selecciona un plan
                        <svg class="svg--inline" focusable="false" role="img" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33868 15.5C1.1038 15.5 0.879906 15.4018 0.721861 15.2332C0.407965 14.8918 0.429916 14.371 0.770152 14.0551L7.42123 7.94474L0.774542 1.95175C0.432111 1.63802 0.407965 1.11726 0.719665 0.773641C1.02039 0.440697 1.54062 0.406549 1.88305 0.698942C1.88964 0.705345 1.89623 0.709613 1.90281 0.716016L9.22558 7.32154C9.40119 7.47948 9.49996 7.70144 9.49996 7.93407C9.50216 8.16671 9.40557 8.3908 9.23216 8.55087L1.9072 15.2781C1.75438 15.4208 1.55059 15.5003 1.33868 15.5Z" fill="#86888C"/>
                        </svg>
        .row.brands
            .col-6.col-md-3.item
                a.brand(href="#") 
                    picture
                        source(media="(min-width:992px)", srcset="images/logos/fibra-netflix.png", type="image/png")
                        img.picture(src="images/logos/fibra-netflix.png", alt="")
            .col-6.col-md-3.item
                a.brand(href="#") 
                    picture 
                        source(media="(min-width:992px)", srcset="images/logos/fibra-hbo.png", type="image/png")
                        img.picture(src="images/logos/fibra-hbo.png", alt="")
            .col-6.col-md-3.item
                a.brand(href="#") 
                    picture 
                        source(media="(min-width:992px)", srcset="images/logos/fibra-disney.png", type="image/png")
                        img.picture(src="images/logos/fibra-disney.png", alt="")
            .col-6.col-md-3.item
                a.brand(href="#") 
                    picture 
                        source(media="(min-width:992px)", srcset="images/logos/fibra-star.png", type="image/png")
                        img.picture(src="images/logos/fibra-star.png", alt="")

.stweb__clients
    .container
        h2.title ¿Qué opinan nuestros clientes?
        .row 
            .col-lg-6
                .client
                    .data
                        img(class="client--bg" src="images/clientes/data-bg.png", alt="fondo information", srcset="images/clientes/data-bg.png")
                        h3.title Margarita Martinez
                        span.plan Tiene un plan Internet Hogar Fibra Óptica 600 Megas
                        picture.photo
                            img(src="images/clientes/cliente-1.png", alt="Margarita Martinez", srcset="images/clientes/cliente-1.png" class="picture")
                    .testimony 
                        .paragraph
                            p.text Estos meses de cuarentena le hemos sacado el jugo al internet. En la casa estamos todos trabajando y estudiando a distancia a la misma hora. 
                            p.text Sí, cambiarme a Movistar fue la mejor decisión.
                    
            .col-lg-6
                .client
                    .data
                        img(class="client--bg" src="images/clientes/data-bg.png", alt="fondo information", srcset="images/clientes/data-bg.png")
                        h3.title Fernando Bustos
                        span.plan Tiene un plan Internet Hogar Fibra Óptica 400 Megas
                        picture.photo
                            img(src="images/clientes/cliente-1.png", alt="Margarita Martinez", srcset="images/clientes/cliente-2.png" class="picture")
                    .testimony 
                        .paragraph
                            p.text Esto de la Fibra Óptica te cambia la vida. El no tener que esperar que carguen los videos es algo tan simple pero tan genial, que se valora mucho.
                            p.text El sencillo hecho de “olvidarme” del internet o de las horas de baja velocidad, es algo que agradezco.