.stweb-slider-section
    .container
        .stweb-slider.swiper
            .swiper-wrapper
                .stweb-slider__item.swiper-slide 
                    .stweb-slider__content.banner-samsung
                        .row
                            .col-lg-8.banner-samsung__order-last
                                picture.banner-samsung__picture
                                    source(media="(min-width:600px)" srcset="images/slider/banner-samsung.jpg")
                                    img(alt="" height="290" loading="lazy" src="images/slider/banner-samsung-mobile.jpg" width="730")
                            .col-lg-4.banner-samsung__order-1
                                p.item__badge NUEVO
                                p.item__title Samsung Galaxy series S23
                                p.item__description ¡Cómpralo hoy y llévalo con más memoria al mismo precio!
                                a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver más
                .stweb-slider__item.swiper-slide 
                    .stweb-slider__content.banner-samsung
                        .row
                            .col-lg-8.banner-samsung__order-last
                                picture.banner-samsung__picture
                                    source(media="(min-width:600px)" srcset="images/slider/banner-samsung.jpg")
                                    img(alt="" height="290" loading="lazy" src="images/slider/banner-samsung-mobile.jpg" width="730")
                            .col-lg-4.banner-samsung__order-1
                                p.item__badge NUEVO
                                p.item__title Samsung Galaxy series S22
                                p.item__description ¡Cómpralo hoy y llévalo con más memoria al mismo precio!
                                a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver más
                .stweb-slider__item.swiper-slide 
                    .stweb-slider__content.banner-samsung
                        .row
                            .col-lg-8.banner-samsung__order-last
                                picture.banner-samsung__picture
                                    source(media="(min-width:600px)" srcset="images/slider/banner-samsung.jpg")
                                    img(alt="" height="290" loading="lazy" src="images/slider/banner-samsung-mobile.jpg" width="730")
                            .col-lg-4.banner-samsung__order-1
                                p.item__badge NUEVO
                                p.item__title Samsung Galaxy series S21
                                p.item__description ¡Cómpralo hoy y llévalo con más memoria al mismo precio!
                                a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver más
            .stweb-slider__pagination
                .swiper-button-prev
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6197 8.3486L3.0383 8.3486L9.16854 1.86179C9.43177 1.56759 9.41043 1.11679 9.11637 0.851049C8.83179 0.594804 8.39781 0.606668 8.12984 0.879522L0.861291 8.57163C0.83046 8.60484 0.813861 8.64755 0.787774 8.68551C0.76406 8.7211 0.735602 8.75432 0.719003 8.79466C0.685801 8.88007 0.666829 8.97023 0.666829 9.06276L0.666829 9.06751C0.669202 9.15767 0.688172 9.24546 0.721373 9.33087C0.737973 9.37358 0.766431 9.4068 0.792517 9.44239C0.816231 9.47798 0.83046 9.52069 0.861291 9.5539L7.9994 17.1084C8.26975 17.3955 8.72033 17.4097 9.00728 17.1392C9.00728 17.1392 9.00965 17.1392 9.00965 17.1369C9.2966 16.8664 9.30845 16.4132 9.03811 16.1261L3.0383 9.77693L16.6197 9.77693C17.0133 9.77693 17.3335 9.45662 17.3335 9.06039C17.3335 8.66654 17.0133 8.34623 16.6197 8.3486Z" fill="#50535A"/>
                    </svg>
                .swiper-pagination
                .swiper-button-next
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.38031 9.6514H14.9617L8.83146 16.1382C8.56823 16.4324 8.58957 16.8832 8.88364 17.149C9.16821 17.4052 9.60219 17.3933 9.87017 17.1205L17.1387 9.42837C17.1695 9.39515 17.1861 9.35245 17.2122 9.31448C17.2359 9.27889 17.2644 9.24568 17.281 9.20534C17.3142 9.11993 17.3332 9.02977 17.3332 8.93723V8.93249C17.3308 8.84233 17.3118 8.75454 17.2786 8.66913C17.262 8.62642 17.2336 8.5932 17.2075 8.55761C17.1838 8.52202 17.1695 8.47931 17.1387 8.4461L10.0006 0.891601C9.73025 0.604512 9.27967 0.590275 8.99272 0.860756C8.99272 0.860756 8.99035 0.860758 8.99035 0.863129C8.7034 1.13361 8.69155 1.58679 8.96189 1.87387L14.9617 8.22307H1.38031C0.986651 8.22307 0.666504 8.54338 0.666504 8.93961C0.666504 9.33346 0.986651 9.65377 1.38031 9.6514Z" fill="#50535A"/>
                    </svg>
    .container-xl
        .row.justify-content-center.mx-n2.mx-lg-n3
            .col-lg-2.col-3.px-2.px-lg-3
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                    .shortcut__content
                        a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                            b Renovar 
                            | mi equipo
            .col-lg-2.col-3.px-2.px-lg-3
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-mobile")
                    .shortcut__content
                        a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                            span.d-none.d-lg-block
                                b Migrar 
                                | mi línea a Movistar
                            span.d-block.d-lg-none
                                b Migrarme 
                                | a Movistar                                

            .col-lg-2.d-none.d-lg-block
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-cambiar-plan")
                    .shortcut__content
                        a(href="http://", class="link", target="_blank", rel="noopener noreferrer")  Cambiar mi plan 
                            b postpago
            .col-lg-2.px-2.col-3
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-fiber")
                    .shortcut__content
                        a(href="http://", class="link", target="_blank", rel="noopener noreferrer")  Contratar 
                            b fibra óptica
            .col-lg-2.col-3.px-2.px-lg-3.d-none.d-lg-block
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-prepago")
                    .shortcut__content
                        a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                            b Recargar 
                            | mi plan prepago
            .col-lg-2.col-3.px-2.px-lg-3
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-app")
                    .shortcut__content
                        a(href="javascript:void(0);" class="link" id="triggerModal") Más servicios

    .stweb__modal.--shortcut
        .modal__content
            svg.close__button.svg--inline: use(xlink:href="images/icons/icons.svg#icon-close")
            h2.title ¿Qué quieres hacer?
            .row 
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                b Resuelve 
                                | tus dudas    
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer")  Descargar  
                                b App Mi Movistar  
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                b Consultar 
                                | recibos                                  
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                b Adquirir 
                                | repetidores     
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                b Pagar 
                                |  recibos   
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                b Gestionar 
                                | averías
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                b Recargar 
                                | saldo
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                b Cambiar 
                                | de plan   
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                b Rastrear 
                                | mi pedido
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer")  Adicionales  
                                b  Hogar                

