section 
    .container
        .row 
            .col-lg-4.order-2
                h1 Hola mundo 1
                button(type="button").btn.btn-primary Solicitar
            .col-lg-4.order-1
                h1 Hola mundo 2
                button(type="button").btn.btn-primary Solicitar
            .col-lg-4.order-3
                h1 Hola mundo 3
                button(type="button").btn.btn-primary Solicitar

section 
    .container
        .row 
            .col-lg-4.order-2
                h1 Hola mundo 4
                button(type="button").btn.btn-primary Solicitar
            .col-lg-4.order-1
                h1 Hola mundo 5
                button(type="button").btn.btn-primary Solicitar
            .col-lg-4.order-3
                h1 Hola mundo 6
                button(type="button").btn.btn-primary Solicitar