//- .stweb__banner-hero
//-     .container
//-         .banner-hero.swiper
//-             .banner-hero__wrapper.swiper-wrapper
//-                 .banner-hero__slide.swiper-slide
//-                     .banner-samsung.row.mx-lg-0
//-                         .col-lg-8.order-lg-2.px-lg-0
//-                             picture.picture
//-                                 source(media="(min-width:600px)" srcset="images/slider/banner-samsung.jpg")
//-                                 img(alt="" height="290" loading="lazy" src="images/slider/banner-samsung-mobile.jpg" width="730")
//-                         .col-lg-4.order-lg-1.px-3.px-lg-0
//-                             p.badge NUEVO
//-                             p.title Samsung Galaxy series S23
//-                             p.description ¡Cómpralo hoy y llévalo con más memoria al mismo precio!
//-                             a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver más
//-                 .banner-hero__slide.swiper-slide 
//-                     .banner-samsung.row.m-lg-0
//-                         .col-lg-8.order-lg-2.px-lg-0
//-                             picture.picture
//-                                 source(media="(min-width:600px)" srcset="images/slider/banner-samsung.jpg")
//-                                 img(alt="" height="290" loading="lazy" src="images/slider/banner-samsung-mobile.jpg" width="730")
//-                         .col-lg-4.order-lg-1.px-3.px-lg-0
//-                             p.badge NUEVO
//-                             p.title Samsung Galaxy series S22
//-                             p.description ¡Cómpralo hoy y llévalo con más memoria al mismo precio!
//-                             a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver más
//-                 .banner-hero__slide.swiper-slide 
//-                     .banner-samsung.row.m-0
//-                         .col-lg-8.order-lg-2.px-lg-0
//-                             picture.picture
//-                                 source(media="(min-width:600px)" srcset="images/slider/banner-samsung.jpg")
//-                                 img(alt="" height="290" loading="lazy" src="images/slider/banner-samsung-mobile.jpg" width="730")
//-                         .col-lg-4.order-lg-1.px-3.px-lg-0
//-                             p.badge NUEVO
//-                             p.title Samsung Galaxy series S21
//-                             p.description ¡Cómpralo hoy y llévalo con más memoria al mismo precio!
//-                             a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver más
            
//-             .banner-hero__pagination
//-                 .swiper-button-prev
//-                     <svg class="svg--inline" focusable="false" role="img" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
//-                         <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6197 8.3486L3.0383 8.3486L9.16854 1.86179C9.43177 1.56759 9.41043 1.11679 9.11637 0.851049C8.83179 0.594804 8.39781 0.606668 8.12984 0.879522L0.861291 8.57163C0.83046 8.60484 0.813861 8.64755 0.787774 8.68551C0.76406 8.7211 0.735602 8.75432 0.719003 8.79466C0.685801 8.88007 0.666829 8.97023 0.666829 9.06276L0.666829 9.06751C0.669202 9.15767 0.688172 9.24546 0.721373 9.33087C0.737973 9.37358 0.766431 9.4068 0.792517 9.44239C0.816231 9.47798 0.83046 9.52069 0.861291 9.5539L7.9994 17.1084C8.26975 17.3955 8.72033 17.4097 9.00728 17.1392C9.00728 17.1392 9.00965 17.1392 9.00965 17.1369C9.2966 16.8664 9.30845 16.4132 9.03811 16.1261L3.0383 9.77693L16.6197 9.77693C17.0133 9.77693 17.3335 9.45662 17.3335 9.06039C17.3335 8.66654 17.0133 8.34623 16.6197 8.3486Z" fill="#50535A"/>
//-                     </svg>
//-                 .swiper-pagination
//-                 .swiper-button-next
//-                     <svg class="svg--inline" focusable="false" role="img" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
//-                         <path fill-rule="evenodd" clip-rule="evenodd" d="M1.38031 9.6514H14.9617L8.83146 16.1382C8.56823 16.4324 8.58957 16.8832 8.88364 17.149C9.16821 17.4052 9.60219 17.3933 9.87017 17.1205L17.1387 9.42837C17.1695 9.39515 17.1861 9.35245 17.2122 9.31448C17.2359 9.27889 17.2644 9.24568 17.281 9.20534C17.3142 9.11993 17.3332 9.02977 17.3332 8.93723V8.93249C17.3308 8.84233 17.3118 8.75454 17.2786 8.66913C17.262 8.62642 17.2336 8.5932 17.2075 8.55761C17.1838 8.52202 17.1695 8.47931 17.1387 8.4461L10.0006 0.891601C9.73025 0.604512 9.27967 0.590275 8.99272 0.860756C8.99272 0.860756 8.99035 0.860758 8.99035 0.863129C8.7034 1.13361 8.69155 1.58679 8.96189 1.87387L14.9617 8.22307H1.38031C0.986651 8.22307 0.666504 8.54338 0.666504 8.93961C0.666504 9.33346 0.986651 9.65377 1.38031 9.6514Z" fill="#50535A"/>
//-                     </svg>
.stweb__banner-hero
    .container
        .banner-hero--progress.swiper
            .banner-hero__wrapper.swiper-wrapper
                .banner-hero__slide.swiper-slide
                    .banner-fibra-tv.row.no-gutters
                        .col-lg-7.order-lg-2
                            picture.picture
                                source(media="(min-width:768px)" srcset="images/slider/banner-fibra-tv.jpg")
                                img(alt="banner movistar tv" height="300" loading="lazy" src="images/slider/banner-fibra-tv-mobile.jpg" width="660px")
                        .col-lg-5.order-lg-1
                            p.badge MOVISTAR FIBRA Y MOVISTAR TV
                            p.description 
                                | Elige la 
                                b velocidad de Internet 
                                | que más te conviene
                            a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver planes fibra
                        .col-12.order-3 
                            p.terms Aplican términos y condiciones de la oferta vigencia hasta agosto del 2023
                .banner-hero__slide.swiper-slide
                    .banner-fibra-tv.row.no-gutters
                        .col-lg-7.order-lg-2
                            picture.picture
                                source(media="(min-width:768px)" srcset="images/slider/banner-fibra-tv.jpg")
                                img(alt="banner movistar tv" height="300" loading="lazy" src="images/slider/banner-fibra-tv-mobile.jpg" width="660px")
                        .col-lg-5.order-lg-1
                            p.badge MOVISTAR FIBRA Y MOVISTAR TV
                            p.description 
                                | Elige la 
                                b velocidad de Internet 
                                | que más te conviene
                            a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver planes fibra
                        .col-12.order-3 
                            p.terms Aplican términos y condiciones de la oferta vigencia hasta agosto del 2023
                .banner-hero__slide.swiper-slide
                    .banner-fibra-tv.row.no-gutters
                        .col-lg-7.order-lg-2
                            picture.picture
                                source(media="(min-width:768px)" srcset="images/slider/banner-fibra-tv.jpg")
                                img(alt="banner movistar tv" height="300" loading="lazy" src="images/slider/banner-fibra-tv-mobile.jpg" width="660px")
                        .col-lg-5.order-lg-1
                            p.badge MOVISTAR FIBRA Y MOVISTAR TV
                            p.description 
                                | Elige la 
                                b velocidad de Internet 
                                | que más te conviene
                            a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver planes fibra
                        .col-12.order-3 
                            p.terms Aplican términos y condiciones de la oferta vigencia hasta agosto del 2023
                .banner-hero__slide.swiper-slide
                    .banner-fibra-tv.row.no-gutters
                        .col-lg-7.order-lg-2
                            picture.picture
                                source(media="(min-width:768px)" srcset="images/slider/banner-fibra-tv.jpg")
                                img(alt="banner movistar tv" height="300" loading="lazy" src="images/slider/banner-fibra-tv-mobile.jpg" width="660px")
                        .col-lg-5.order-lg-1
                            p.badge MOVISTAR FIBRA Y MOVISTAR TV
                            p.description 
                                | Elige la 
                                b velocidad de Internet 
                                | que más te conviene
                            a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver planes fibra
                        .col-12.order-3 
                            p.terms Aplican términos y condiciones de la oferta vigencia hasta agosto del 2023
                .banner-hero__slide.swiper-slide
                    .banner-fibra-tv.row.no-gutters
                        .col-lg-7.order-lg-2
                            picture.picture
                                source(media="(min-width:768px)" srcset="images/slider/banner-fibra-tv.jpg")
                                img(alt="banner movistar tv" height="300" loading="lazy" src="images/slider/banner-fibra-tv-mobile.jpg" width="660px")
                        .col-lg-5.order-lg-1
                            p.badge MOVISTAR FIBRA Y MOVISTAR TV
                            p.description 
                                | Elige la 
                                b velocidad de Internet 
                                | que más te conviene
                            a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver planes fibra
                        .col-12.order-3 
                            p.terms Aplican términos y condiciones de la oferta vigencia hasta agosto del 2023                                                                                                                                                                            
            .banner-hero__pagination
                .swiper-button-prev
                    <svg class="svg--inline" focusable="false" role="img" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6197 8.3486L3.0383 8.3486L9.16854 1.86179C9.43177 1.56759 9.41043 1.11679 9.11637 0.851049C8.83179 0.594804 8.39781 0.606668 8.12984 0.879522L0.861291 8.57163C0.83046 8.60484 0.813861 8.64755 0.787774 8.68551C0.76406 8.7211 0.735602 8.75432 0.719003 8.79466C0.685801 8.88007 0.666829 8.97023 0.666829 9.06276L0.666829 9.06751C0.669202 9.15767 0.688172 9.24546 0.721373 9.33087C0.737973 9.37358 0.766431 9.4068 0.792517 9.44239C0.816231 9.47798 0.83046 9.52069 0.861291 9.5539L7.9994 17.1084C8.26975 17.3955 8.72033 17.4097 9.00728 17.1392C9.00728 17.1392 9.00965 17.1392 9.00965 17.1369C9.2966 16.8664 9.30845 16.4132 9.03811 16.1261L3.0383 9.77693L16.6197 9.77693C17.0133 9.77693 17.3335 9.45662 17.3335 9.06039C17.3335 8.66654 17.0133 8.34623 16.6197 8.3486Z" fill="#50535A"/>
                    </svg>
                .swiper-pagination
                .swiper-button-next
                    <svg class="svg--inline" focusable="false" role="img" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.38031 9.6514H14.9617L8.83146 16.1382C8.56823 16.4324 8.58957 16.8832 8.88364 17.149C9.16821 17.4052 9.60219 17.3933 9.87017 17.1205L17.1387 9.42837C17.1695 9.39515 17.1861 9.35245 17.2122 9.31448C17.2359 9.27889 17.2644 9.24568 17.281 9.20534C17.3142 9.11993 17.3332 9.02977 17.3332 8.93723V8.93249C17.3308 8.84233 17.3118 8.75454 17.2786 8.66913C17.262 8.62642 17.2336 8.5932 17.2075 8.55761C17.1838 8.52202 17.1695 8.47931 17.1387 8.4461L10.0006 0.891601C9.73025 0.604512 9.27967 0.590275 8.99272 0.860756C8.99272 0.860756 8.99035 0.860758 8.99035 0.863129C8.7034 1.13361 8.69155 1.58679 8.96189 1.87387L14.9617 8.22307H1.38031C0.986651 8.22307 0.666504 8.54338 0.666504 8.93961C0.666504 9.33346 0.986651 9.65377 1.38031 9.6514Z" fill="#50535A"/>
                    </svg>    

.stweb__shortcuts
    .container.px-3
        .row.justify-content-center.mx-n2.mx-xl-n3
            .col-lg-2.col-3.px-2.px-xl-3
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                    .shortcut__content
                        a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                            b Renovar 
                            | mi equipo
            .col-lg-2.col-3.px-2.px-xl-3
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-mobile")
                    .shortcut__content
                        a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                            span.d-none.d-lg-block
                                b Migrar 
                                | mi línea a Movistar
                            span.d-block.d-lg-none
                                b Migrarme 
                                | a Movistar                                

            .col-lg-2.px-2.px-xl-3.d-none.d-lg-block
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-cambiar-plan")
                    .shortcut__content
                        a(href="http://", class="link", target="_blank", rel="noopener noreferrer")  Cambiar mi plan 
                            b postpago
            .col-lg-2.px-2.col-3
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-fiber")
                    .shortcut__content
                        a(href="http://", class="link", target="_blank", rel="noopener noreferrer")  Contratar 
                            b fibra óptica
            .col-lg-2.col-3.px-2.px-xl-3.d-none.d-lg-block
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-prepago")
                    .shortcut__content
                        a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                            b Recargar 
                            | mi plan prepago
            .col-lg-2.col-3.px-2.px-xl-3
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-app")
                    .shortcut__content
                        a(href="javascript:void(0);" class="link" id="triggerModal") Más servicios

    .stweb__modal.--shortcut
        .modal__dialog
            .modal__content
                svg.close__button.svg--inline: use(xlink:href="images/icons/icons.svg#icon-close")
                h2.title ¿Qué quieres hacer?
                .row.m-n2.m-md-n3
                    .col-6.col-md-3.p-2.p-md-3
                        .stweb__shortcut
                            .shortcut__icon
                                svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-page-rank")
                            .shortcut__content
                                a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                    b Resuelve 
                                    | tus dudas    
                    .col-6.col-md-3.p-2.p-md-3
                        .stweb__shortcut
                            .shortcut__icon
                                <svg class="icon svg--inline" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M18.1785 0.0822754H5.87289C2.72138 0.0822754 0.0751953 2.64954 0.0751953 5.81321L0.16397 18.1663C0.16397 21.3299 2.71796 23.8938 5.86948 23.8938H18.1751C21.3266 23.8938 23.8806 21.3299 23.8806 18.1663L23.7918 5.81321C23.7952 2.64954 21.33 0.0822754 18.1785 0.0822754Z" fill="#019DF4"/>
                                <path d="M18.1989 0H5.88988C2.68715 0 0 2.6084 0 5.82348L0.0887751 18.1765C0.0887751 21.3916 2.68715 24 5.88988 24H18.1989C21.4016 24 24 21.3916 24 18.1765L23.9112 5.82348C23.9112 2.6084 21.4016 0 18.1989 0ZM23.8088 18.1765C23.8088 21.2888 21.0568 23.8115 18.1955 23.8115H5.80111C2.70081 23.8115 0.191208 21.2888 0.191208 18.1765V5.82348C0.191208 2.71123 2.793 0.188518 5.88988 0.188518H18.1989C21.2992 0.188518 23.72 2.71123 23.72 5.82348L23.8088 18.1765Z" fill="#019DF4"/>
                                <path d="M6.0265 6.84844C5.14558 6.86215 3.52032 7.28032 2.77597 10.2075C2.4516 11.4825 2.32868 12.8124 2.60525 14.396C2.86133 15.8562 3.31204 17.1141 3.61933 17.8099C3.72518 18.0498 3.88566 18.3 4.01199 18.4508C4.37392 18.893 4.97486 18.8656 5.23094 18.7422C5.50751 18.6119 5.82505 18.2932 5.70896 17.5734C5.65433 17.2238 5.49385 16.7131 5.40166 16.4286C5.1251 15.558 4.75634 14.5057 4.72561 13.7585C4.68122 12.7576 5.09095 12.6239 5.36411 12.5691C5.82164 12.4731 6.20405 12.9564 6.5694 13.5631C7.00303 14.2863 7.74738 15.5717 8.35514 16.552C8.90487 17.4363 9.91554 18.3857 11.5408 18.3206C13.1968 18.2555 14.4192 17.6454 15.0474 15.7225C15.5186 14.2863 15.8396 13.2135 16.3551 12.1132C16.9493 10.8484 17.7414 10.1732 18.4072 10.3789C19.0252 10.5708 19.1823 11.1535 19.1891 12.0138C19.1959 12.7747 19.1038 13.6111 19.0355 14.2246C19.0082 14.4474 18.9638 14.8964 18.9808 15.1466C19.0184 15.6368 19.2369 16.1269 19.8105 16.2058C20.4183 16.288 20.91 15.8184 21.1046 15.2529C21.1831 15.0301 21.248 14.6873 21.2822 14.444C21.4597 13.2169 21.5075 12.3909 21.4256 11.1364C21.33 9.66935 21.0329 8.32916 20.5139 7.17063C20.0154 6.06352 19.2198 5.35058 18.1955 5.28888C17.0619 5.22033 15.761 5.94355 15.0781 7.35229C14.4499 8.65135 13.9446 9.98126 13.6407 10.6633C13.33 11.3523 12.8758 11.7773 12.1759 11.8493C11.3189 11.935 10.5848 11.3386 10.0453 10.4817C9.57409 9.7379 8.64195 8.31888 8.14345 7.84244C7.67567 7.39343 7.13961 6.8313 6.0265 6.84844Z" fill="white"/>
                                </svg>
                            .shortcut__content
                                a(href="http://", class="link", target="_blank", rel="noopener noreferrer")  Descargar  
                                    b App Mi Movistar  
                    .col-6.col-md-3.p-2.p-md-3
                        .stweb__shortcut
                            .shortcut__icon
                                svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-search-docs")
                            .shortcut__content
                                a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                    b Consultar 
                                    | recibos                                  
                    .col-6.col-md-3.p-2.p-md-3
                        .stweb__shortcut
                            .shortcut__icon
                                svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-router")
                            .shortcut__content
                                a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                    b Adquirir 
                                    | repetidores     
                    .col-6.col-md-3.p-2.p-md-3
                        .stweb__shortcut
                            .shortcut__icon
                                svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-factura-digital")
                            .shortcut__content
                                a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                    b Pagar 
                                    |  recibos   
                    .col-6.col-md-3.p-2.p-md-3
                        .stweb__shortcut
                            .shortcut__icon
                                svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-technical-service")
                            .shortcut__content
                                a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                    b Gestionar 
                                    | averías
                    .col-6.col-md-3.p-2.p-md-3
                        .stweb__shortcut
                            .shortcut__icon
                                svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-saldo")
                            .shortcut__content
                                a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                    b Recargar 
                                    | saldo
                    .col-6.col-md-3.p-2.p-md-3
                        .stweb__shortcut
                            .shortcut__icon
                                svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-cambiar-plan")
                            .shortcut__content
                                a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                    b Cambiar 
                                    | de plan   
                    .col-6.col-md-3.p-2.p-md-3
                        .stweb__shortcut
                            .shortcut__icon
                                svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-route")
                            .shortcut__content
                                a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                    b Rastrear 
                                    | mi pedido
                    .col-6.col-md-3.p-2.p-md-3
                        .stweb__shortcut
                            .shortcut__icon
                                svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-wifi-hogar")
                            .shortcut__content
                                a(href="http://", class="link", target="_blank", rel="noopener noreferrer")  Adicionales  
                                    b  Hogar 
                .row.text-center.d-block.d-md-none
                    .col-12
                        button#closeModal.stweb-btn.stweb-btn--outline-cian.stweb-btn--round Cerrar               

.stweb-card-section
    .container
        .row.justify-content-center
            .col-md-6.col-lg-4 
                .stweb-card.style-1
                    .stweb-card__content
                        .stweb-card__head.text-center
                            img.stweb-card__image(src="images/products/fibra-tv.png", alt="")
                            p.stweb-card__badge Ahorra S/83.50
                        .stweb-card__body
                            p.stweb-card__badge El más vendido
                            p.stweb-card__text-1 Fibra Óptica Internet + TV
                            p.stweb-card__text-2 #[span.subtext-1.subtext-1--big 100] Mbps #[span.subtext-2 Velocidad simétrica]
                            p.stweb-card__text-3 #[span.subtext-1 S/81.40] x 2 meses
                            p.stweb-card__text-4 Precio regular #[b S/164.90]
                    .stweb-card__footer.text-center
                        a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") ¡Lo quiero!
            .col-md-6.col-lg-4 
                .stweb-card.style-1
                    .stweb-card__content
                        .stweb-card__head.text-center
                            img.stweb-card__image(src="images/products/chip-movistar.png", alt="")
                            p.stweb-card__badge Ahorra 20%
                        .stweb-card__body
                            p.stweb-card__badge Oferta destacada
                            p.stweb-card__text-1 Plan Postpago
                            p.stweb-card__text-2 #[span.subtext-1.subtext-1--big 50] GB #[span.subtext-2 en alta velocidad]
                            p.stweb-card__text-3 #[span.subtext-1 S/44.72] x 3 meses
                            p.stweb-card__text-4 Precio regular #[b S/55.90]
                    .stweb-card__footer.text-center
                        a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") ¡Lo quiero!
            .col-md-6.col-lg-4 
                .stweb-card.style-1
                    .stweb-card__content
                        .stweb-card__head.text-center
                            img.stweb-card__image(src="images/products/celular-movistar.png", alt="")
                        .stweb-card__body
                            p.stweb-card__badge Exclusivo online
                            p.stweb-card__text-1 Portabilidad
                            p.stweb-card__text-2 #[span.subtext-1 Galaxy S23+] #[span.subtext-2 Pagando con tu factura]
                            p.stweb-card__text-3 #[span.subtext-1 S/4,199]
                            p.stweb-card__text-4 Paga hasta en #[b 12 cuotas]
                    .stweb-card__footer.text-center
                        a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") ¡Lo quiero!

.stweb__ads
    .container
        h2.title En Movistar tienes lo mejor de Fibra óptica, Movistar Tv, planes móviles y celulares
        h3.subtitle Disfruta nuestros #[b planes hogar] con todos sus beneficios
        .row
            .col-12.col-lg-6
                .ads__rappi
                    .row.no-gutters
                        .col-6.col-lg-6.rappi__col-left
                            .rappi__box-1
                                p.box-1__badge Fibra óptica
                                p.box-1__title Adquiere Internet Fibra Óptica Movistar
                                a.box-1__btn.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver planes
                        .col-6.col-lg-6 
                            .rappi__box-2
                                p.box-2__text Y llévate #[span.text__shadow 3 meses de]
                                picture.sticker_1
                                    source(media="(min-width:992px)", srcset="images/banner/rappi-prime-plus.png", type="image/png")
                                    img(src="images/banner/rappi-prime-plus-mobile.png", alt="rappi prime plus")
                                picture.sticker_2 
                                    source(media="(min-width:992px)", srcset="images/banner/router-movistar.png", type="image/png")
                                    img(src="images/banner/router-movistar-mobile.png", alt="router movistar")
                    picture.rappi__picture 
                        source(media="(min-width:992px)", srcset="images/banner/fondo-rappi.png", type="image/png")
                        img(src="images/banner/fondo-rappi-mobile.png", alt="")
                
            .col-12.col-lg-6
                .row.ads__p-xs-2
                    .col-12.col-sm-12.col-lg-12
                        .ads__mtotal
                            .row.no-gutters
                                .col-6.col-lg-6.mtotal__col-left
                                    .mtotal__box-1
                                        p.box-1__title 
                                            a(href="#") Para conectar a todo el Perú #[span.text__big Con Todo]
                                .col-6.col-lg-6.mtotal__col-rigth
                                    .mtotal__box-2
                                        ul.box-2__list 
                                            li.item
                                                .box-2__icon
                                                    img(src="images/banner/icon-fibra.svg", alt="")
                                                | Fibra
                                            li.item
                                                .box-2__icon
                                                    img(src="images/banner/icon-mobile.svg", alt="")
                                                | Móvil
                                            li.item
                                                .box-2__icon
                                                    img(src="images/banner/icon-tv.svg", alt="")
                                                | TV
                                            li.item
                                                .box-2__icon
                                                    img(src="images/banner/icon-movistar-total.svg", alt="")
                                                | Movistar Total
                            picture.mtotal__picture 
                                source(media="(min-width:992px)", srcset="images/banner/fondo-mtotal.png", type="image/png")
                                img(src="images/banner/fondo-mtotal-mobile.png", alt="")
                    .col-6.col-sm-6.col-lg-6 
                        a.ads__disney(href="#") 
                            picture 
                                source(media="(min-width:992px)", srcset="images/banner/disney-plus.png", type="image/png")
                                img(src="images/banner/disney-plus.png", alt="")
                    .col-6.col-sm-6.col-lg-6 
                        a.ads__mtv(href="#") 
                            picture 
                                source(media="(min-width:992px)", srcset="images/banner/movistar-tv.png", type="image/png")
                                img(src="images/banner/movistar-tv.png", alt="")
        h3.subtitle Los mejores #[b planes móviles] con beneficios adicionales para ti
        .row
            .col-12.col-lg-6
                .row.ads__p-xs-2
                    .col-8.col-sm-8.col-lg-8 
                        .ads__porta
                            .porta__box
                                .box__info
                                    span.box__badge Portabilidad
                                    span.box__text #[b Migra a Movistar] y adquiere con tu celular
                                    picture.box__logo
                                        source(media="(min-width:992px)", srcset="images/banner/rappi-prime-plus-gratis.png", type="image/png")
                                        img(src="images/banner/rappi-prime-plus-gratis-mobile.png", alt="")
                                .box__promo
                                    .promo__card
                                        .promo__card-header
                                            span.promo__text 75% x 6 meses en tu plan 
                                            picture.promo__logo
                                                source(media="(min-width:992px)", srcset="images/banner/tinder-gold.png", type="image/png")
                                                img(src="images/banner/tinder-gold-mobile.png", alt="")
                                        .promo__card-footer
                                            picture.promo__logo
                                                source(media="(min-width:992px)", srcset="images/banner/yt-premium.png", type="image/png")
                                                img(src="images/banner/yt-premium-mobile.png", alt="")
                                            span.promo__text 3 Meses gratis
                            picture.porta__picture
                                source(media="(min-width:992px)", srcset="images/banner/fondo-porta.png", type="image/png")
                                img(src="images/banner/fondo-porta.png", alt="")
                    .col-4.col-sm-4.col-lg-4 
                        .ads__hbo-max
                            .hbo-max__box
                                picture.box__logo
                                    source(media="(min-width:992px)", srcset="images/banner/hbo-max.png", type="image/png")
                                    img(src="images/banner/hbo-max-mobile.png", alt="")
                                p.box__title Gratis con planes #[b Movistar]
                            picture.hbo-max__picture
                                source(media="(min-width:992px)", srcset="images/banner/fondo-hbo-max.png", type="image/png")
                                img(src="images/banner/fondo-hbo-max.png", alt="")
            .col-12.col-lg-6
                .row.ads__p-xs-2
                    .col-8.col-sm-8.col-lg-8 
                        .ads__prepago
                            .prepago__box
                                span.box__badge PREPAGO
                                span.box__text Tus #[b recargas] te dan gigas adicionales
                            picture.prepago__picture
                                source(media="(min-width:992px)", srcset="images/banner/prepago-chico.png", type="image/png")
                                img(src="images/banner/prepago-chico-mobile.png", alt="")
                    .col-4.col-sm-4.col-lg-4 
                        .ads__free-fire
                            .free-fire__box
                                picture.box__recarga
                                    source(media="(min-width:992px)", srcset="images/banner/recarga.png", type="image/png")
                                    img(src="images/banner/recarga-mobile.png", alt="")
                                span.box__text y llévate
                                picture.box__logo
                                    source(media="(min-width:992px)", srcset="images/banner/freefire.png", type="image/png")
                                    img(src="images/banner/freefire-mobile.png", alt="")
                                span.box__text ilimitado hasta#[br] #[b x 10 días]
.stweb__better-phones
    .container
        .row
            .col-lg-4.better-phones__content
                span.badge CELULARES
                h2.title Disfruta de los mejores celulares y accesorios
                a(href="http://", target="_blank", rel="noopener noreferrer" class="stweb-btn stweb-btn--cian stweb-btn--round") Ir a la tienda 
            .col-lg-8.better-phones__equipment
                .tab-panel
                    .tabs-wrapper
                        ul.nav.nav-tabs#tabs
                            li.nav-item.active(data-tab='tab-1')
                                a(href="javascript:void(0)").nav-link Portabilidad con equipo
                            li.nav-item(data-tab='tab-2')
                                a(href="javascript:void(0)").nav-link Renueva tu equipo
                            li.nav-item(data-tab='tab-3')
                                a(href="javascript:void(0)").nav-link Equipos liberados
                    .tab-content
                        #tab-1.tab-pane.active(role="tabpanel") 
                            .tab-pane-body
                                .stweb__carousel-equipment.swiper-container                    
                                    .swiper-wrapper
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/iphone-12-pro-max.png", alt="iphone 12 pro max", srcset="images/equipos/iphone-12-pro-max.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title iPhone 12 Pro Max
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,199
                                                        del.price--dscto S/4,500
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-s21-ultra.png", alt="galaxy s21 ultra", srcset="images/equipos/galaxy-s21-ultra.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy S21 Ultra
                                                .content 
                                                    span.text Al contado
                                                    span.price S/3,560
                                                        del.price--dscto S/4,100
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-fold-z.png", alt="galaxy fold z", srcset="images/equipos/galaxy-fold-z.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy Fold Z
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,329
                                                        del.price--dscto S/5,600
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90
                        #tab-2.tab-pane(role="tabpanel")
                            .tab-pane-body
                                .stweb__carousel-equipment.swiper-container                    
                                    .swiper-wrapper
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/iphone-12-pro-max.png", alt="iphone 12 pro max", srcset="images/equipos/iphone-12-pro-max.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title iPhone 12 Pro Max
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,199
                                                        del.price--dscto S/4,500
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-fold-z.png", alt="galaxy fold z", srcset="images/equipos/galaxy-fold-z.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy Fold Z
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,329
                                                        del.price--dscto S/5,600
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90                                                       
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-s21-ultra.png", alt="galaxy s21 ultra", srcset="images/equipos/galaxy-s21-ultra.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy S21 Ultra
                                                .content 
                                                    span.text Al contado
                                                    span.price S/3,560
                                                        del.price--dscto S/4,100
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90                    
                        #tab-3.tab-pane(role="tabpanel")
                            .tab-pane-body
                                .stweb__carousel-equipment.swiper-container                    
                                    .swiper-wrapper
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-s21-ultra.png", alt="galaxy s21 ultra", srcset="images/equipos/galaxy-s21-ultra.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy S21 Ultra
                                                .content 
                                                    span.text Al contado
                                                    span.price S/3,560
                                                        del.price--dscto S/4,100
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-fold-z.png", alt="galaxy fold z", srcset="images/equipos/galaxy-fold-z.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy Fold Z
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,329
                                                        del.price--dscto S/5,600
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90       
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/iphone-12-pro-max.png", alt="iphone 12 pro max", srcset="images/equipos/iphone-12-pro-max.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title iPhone 12 Pro Max
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,199
                                                        del.price--dscto S/4,500
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90                                                    
        .stweb__cell-brands
            .row
                .col-lg-4
                    h3.title Todas las marcas de celulares están en Movistar
                .col-lg-8
                    .row.justify-content-between.mx-n2.mx-md-n1
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/apple", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/apple.png", alt="apple", srcset="images/logos/apple.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/xiaomi", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/xiaomi.png", alt="xiaomi", srcset="images/logos/xiaomi.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/lg", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/lg.png", alt="lg", srcset="images/logos/lg.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/alcatel", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/alcatel.png", alt="alcatel", srcset="images/logos/alcatel.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/sony", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/sony.png", alt="sony", srcset="images/logos/sony.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/nokia", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/nokia.png", alt="nokia", srcset="images/logos/nokia.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/motorola", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/motorola.png", alt="motorola", srcset="images/logos/motorola.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/samsung", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/samsung.png", alt="samsung", srcset="images/logos/samsung.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/huawei", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/huawei.png", alt="huawei", srcset="images/logos/huawei.png")
.stweb__proceeds
    .container 
        h2.title ¡Con Movistar disfruta de estos beneficios de
            br.d-none.d-lg-block
            |streaming y apps premium!
        .row.list__proceed
            .col-6.col-md-3.col-lg-auto.item__proceed
                .proceed
                    picture 
                        source(media="(min-width: 768px)", srcset="images/logos/rappi-prime-plus.png")
                        img(class="picture" src="images/logos/rappi-prime-plus-mobile.png", alt="rappi prime plus", srcset="images/logos/rappi-prime-plus-mobile.png")
            .col-6.col-md-3.col-lg-auto.item__proceed
                .proceed
                    picture 
                        source(media="(min-width: 768px)", srcset="images/logos/netflix.png")
                        img(class="picture" src="images/logos/netflix-mobile.png", alt="netflix", srcset="images/logos/netflix-mobile.png")
            .col-6.col-md-3.col-lg-auto.item__proceed
                .proceed
                    picture 
                        source(media="(min-width: 768px)", srcset="images/logos/disney.png")
                        img(class="picture" src="images/logos/disney-mobile.png", alt="disney", srcset="images/logos/disney-mobile.png")
            .col-6.col-md-3.col-lg-auto.item__proceed
                .proceed
                    picture 
                        source(media="(min-width: 768px)", srcset="images/logos/spotify.png")
                        img(class="picture" src="images/logos/spotify-mobile.png", alt="spotify", srcset="images/logos/spotify-mobile.png")   
            .col-12.col-md-auto.item__proceed
                .app__movistar
                    .icon 
                        svg.svg--inline: use(xlink:href="images/icons/icons.svg#icon-appmovistar") 
                    h3.title App Mi Movistar
                    p.text Consulta tu saldo, paga tu recibo y más, al alcance de tus manos.
                    .application
                        a(href="http://", target="_blank", rel="noopener noreferrer" class="link")
                            picture 
                                source(media="(min-width: 768px)", srcset="images/app/app-android.png")
                                img(src="images/app/app-android-mobile.png", alt="google play", srcset="images/app/app-android-mobile.png")
                        a(href="http://", target="_blank", rel="noopener noreferrer" class="link") 
                            picture
                                source(media="(min-width: 768px)", srcset="images/app/app-ios.png")
                                img(src="images/app/app-ios-mobile.png", alt="app store", srcset="images/app/app-ios-mobile.png")
                        
.stweb-help-section
    .container                 
        h2.title ¿Tienes alguna duda? Te ayudamos
        .row.justify-content-center
            .col-md-6.col-lg-4
                .help-box
                    .help-box__head
                        img(src="images/products/icon-call.png", alt="")
                    .help-box__body
                        h3.box__title Comunicarme Lorem Ipsum
                        p.box__description consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    .help-box__footer
                        a.box__link-arrow(href="#") #[span.visually--hidden Ver más]
                            <svg class="svg--inline" focusable="false" role="img" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33868 15.5C1.1038 15.5 0.879906 15.4018 0.721861 15.2332C0.407965 14.8918 0.429916 14.371 0.770152 14.0551L7.42123 7.94474L0.774542 1.95175C0.432111 1.63802 0.407965 1.11726 0.719665 0.773641C1.02039 0.440697 1.54062 0.406549 1.88305 0.698942C1.88964 0.705345 1.89623 0.709613 1.90281 0.716016L9.22558 7.32154C9.40119 7.47948 9.49996 7.70144 9.49996 7.93407C9.50216 8.16671 9.40557 8.3908 9.23216 8.55087L1.9072 15.2781C1.75438 15.4208 1.55059 15.5003 1.33868 15.5Z" fill="#86888C"/>
                            </svg>
            .col-md-6.col-lg-4
                .help-box
                    .help-box__head
                        img(src="images/products/icon-deco.png", alt="")
                    .help-box__body
                        h3.box__title Averías con mi equipo
                        p.box__description consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    .help-box__footer
                        a.box__link-arrow(href="#") #[span.visually--hidden Ver más]
                            <svg class="svg--inline" focusable="false" role="img" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33868 15.5C1.1038 15.5 0.879906 15.4018 0.721861 15.2332C0.407965 14.8918 0.429916 14.371 0.770152 14.0551L7.42123 7.94474L0.774542 1.95175C0.432111 1.63802 0.407965 1.11726 0.719665 0.773641C1.02039 0.440697 1.54062 0.406549 1.88305 0.698942C1.88964 0.705345 1.89623 0.709613 1.90281 0.716016L9.22558 7.32154C9.40119 7.47948 9.49996 7.70144 9.49996 7.93407C9.50216 8.16671 9.40557 8.3908 9.23216 8.55087L1.9072 15.2781C1.75438 15.4208 1.55059 15.5003 1.33868 15.5Z" fill="#86888C"/>
                            </svg>
            .col-md-6.col-lg-4
                .help-box
                    .help-box__head
                        img(src="images/products/icon-cellphones.png", alt="")
                    .help-box__body
                        h3.box__title Consejos para Lorem Ipsum
                        p.box__description consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    .help-box__footer
                        a.box__link-arrow(href="#") #[span.visually--hidden Ver más]
                            <svg class="svg--inline" focusable="false" role="img" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33868 15.5C1.1038 15.5 0.879906 15.4018 0.721861 15.2332C0.407965 14.8918 0.429916 14.371 0.770152 14.0551L7.42123 7.94474L0.774542 1.95175C0.432111 1.63802 0.407965 1.11726 0.719665 0.773641C1.02039 0.440697 1.54062 0.406549 1.88305 0.698942C1.88964 0.705345 1.89623 0.709613 1.90281 0.716016L9.22558 7.32154C9.40119 7.47948 9.49996 7.70144 9.49996 7.93407C9.50216 8.16671 9.40557 8.3908 9.23216 8.55087L1.9072 15.2781C1.75438 15.4208 1.55059 15.5003 1.33868 15.5Z" fill="#86888C"/>
                            </svg>
            .col-md-12.col-lg-12
                p.help__link-more
                    a(href="#") Ir a sección de ayuda
                        <svg class="svg--inline" focusable="false" role="img" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.1523 11.8334C0.969625 11.8334 0.795482 11.757 0.672558 11.6259C0.428417 11.3603 0.44549 10.9552 0.710118 10.7096L5.88318 5.95704L0.713533 1.29583C0.447197 1.05181 0.428417 0.646775 0.670851 0.379519C0.904748 0.120562 1.30937 0.0940028 1.57571 0.32142C1.58083 0.3264 1.58595 0.32972 1.59107 0.334699L7.28656 5.47233C7.42314 5.59517 7.49997 5.76781 7.49997 5.94874C7.50168 6.12968 7.42656 6.30398 7.29168 6.42848L1.59449 11.6607C1.47563 11.7717 1.31712 11.8336 1.1523 11.8334Z" fill="#019DF4"/>
                        </svg>
.stweb__blog-articles 
    .container 
        .blog-articles__head
            h2.title Blog Movistar: Últimos Artículos
        .blog-articles__content
            .row.justify-content-center
                .col-md-6.col-lg-4.py-2
                    .stweb-card.--horizontal
                        .horizontal__picture
                            picture 
                                img(class="picture" src="images/blog/blog-picture.png", alt="titulo contenido", srcset="images/blog/blog-picture.png")
                        .horizontal__content
                            h3.title: a(href="http://", target="_blank", rel="noopener noreferrer" class="link")  Título contenido
                            p.text Conoce más acerca de la política de privacidad de Movistar y de protección de datos. 

                .col-md-6.col-lg-4.py-2
                    .stweb-card.--horizontal
                        .horizontal__picture
                            picture 
                                img(class="picture" src="images/blog/blog-picture.png", alt="titulo contenido", srcset="images/blog/blog-picture.png")
                        .horizontal__content
                            h3.title: a(href="http://", target="_blank", rel="noopener noreferrer" class="link")  Título contenido
                            p.text Conoce más acerca de la política de privacidad de Movistar y de protección de datos. 

                .col-md-6.col-lg-4.py-2
                    .stweb-card.--horizontal
                        .horizontal__picture
                            picture 
                                img(class="picture" src="images/blog/blog-picture.png", alt="titulo contenido", srcset="images/blog/blog-picture.png")
                        .horizontal__content
                            h3.title: a(href="http://", target="_blank", rel="noopener noreferrer" class="link")  Título contenido
                            p.text Conoce más acerca de la política de privacidad de Movistar y de protección de datos. 
        .blog-articles__footer 
            a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Ver más artículos  del blog
                svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-arrow-rigth") 
