.stweb-slider-section
    .container
        .stweb-slider.swiper
            .swiper-wrapper
                .stweb-slider__item.swiper-slide 
                    .stweb-slider__content.banner-samsung
                        .row
                            .col-lg-8.banner-samsung__order-last
                                picture.banner-samsung__picture
                                    source(media="(min-width:600px)" srcset="images/slider/banner-samsung.jpg")
                                    img(alt="" height="290" loading="lazy" src="images/slider/banner-samsung-mobile.jpg" width="730")
                            .col-lg-4.banner-samsung__order-1
                                p.item__badge NUEVO
                                p.item__title Samsung Galaxy series S23
                                p.item__description ¡Cómpralo hoy y llévalo con más memoria al mismo precio!
                                a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver más
                .stweb-slider__item.swiper-slide 
                    .stweb-slider__content.banner-samsung
                        .row
                            .col-lg-8.banner-samsung__order-last
                                picture.banner-samsung__picture
                                    source(media="(min-width:600px)" srcset="images/slider/banner-samsung.jpg")
                                    img(alt="" height="290" loading="lazy" src="images/slider/banner-samsung-mobile.jpg" width="730")
                            .col-lg-4.banner-samsung__order-1
                                p.item__badge NUEVO
                                p.item__title Samsung Galaxy series S22
                                p.item__description ¡Cómpralo hoy y llévalo con más memoria al mismo precio!
                                a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver más
                .stweb-slider__item.swiper-slide 
                    .stweb-slider__content.banner-samsung
                        .row
                            .col-lg-8.banner-samsung__order-last
                                picture.banner-samsung__picture
                                    source(media="(min-width:600px)" srcset="images/slider/banner-samsung.jpg")
                                    img(alt="" height="290" loading="lazy" src="images/slider/banner-samsung-mobile.jpg" width="730")
                            .col-lg-4.banner-samsung__order-1
                                p.item__badge NUEVO
                                p.item__title Samsung Galaxy series S21
                                p.item__description ¡Cómpralo hoy y llévalo con más memoria al mismo precio!
                                a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Ver más
            .stweb-slider__pagination
                .swiper-button-prev
                    <svg class="svg--inline" focusable="false" role="img" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6197 8.3486L3.0383 8.3486L9.16854 1.86179C9.43177 1.56759 9.41043 1.11679 9.11637 0.851049C8.83179 0.594804 8.39781 0.606668 8.12984 0.879522L0.861291 8.57163C0.83046 8.60484 0.813861 8.64755 0.787774 8.68551C0.76406 8.7211 0.735602 8.75432 0.719003 8.79466C0.685801 8.88007 0.666829 8.97023 0.666829 9.06276L0.666829 9.06751C0.669202 9.15767 0.688172 9.24546 0.721373 9.33087C0.737973 9.37358 0.766431 9.4068 0.792517 9.44239C0.816231 9.47798 0.83046 9.52069 0.861291 9.5539L7.9994 17.1084C8.26975 17.3955 8.72033 17.4097 9.00728 17.1392C9.00728 17.1392 9.00965 17.1392 9.00965 17.1369C9.2966 16.8664 9.30845 16.4132 9.03811 16.1261L3.0383 9.77693L16.6197 9.77693C17.0133 9.77693 17.3335 9.45662 17.3335 9.06039C17.3335 8.66654 17.0133 8.34623 16.6197 8.3486Z" fill="#50535A"/>
                    </svg>
                .swiper-pagination
                .swiper-button-next
                    <svg class="svg--inline" focusable="false" role="img" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.38031 9.6514H14.9617L8.83146 16.1382C8.56823 16.4324 8.58957 16.8832 8.88364 17.149C9.16821 17.4052 9.60219 17.3933 9.87017 17.1205L17.1387 9.42837C17.1695 9.39515 17.1861 9.35245 17.2122 9.31448C17.2359 9.27889 17.2644 9.24568 17.281 9.20534C17.3142 9.11993 17.3332 9.02977 17.3332 8.93723V8.93249C17.3308 8.84233 17.3118 8.75454 17.2786 8.66913C17.262 8.62642 17.2336 8.5932 17.2075 8.55761C17.1838 8.52202 17.1695 8.47931 17.1387 8.4461L10.0006 0.891601C9.73025 0.604512 9.27967 0.590275 8.99272 0.860756C8.99272 0.860756 8.99035 0.860758 8.99035 0.863129C8.7034 1.13361 8.69155 1.58679 8.96189 1.87387L14.9617 8.22307H1.38031C0.986651 8.22307 0.666504 8.54338 0.666504 8.93961C0.666504 9.33346 0.986651 9.65377 1.38031 9.6514Z" fill="#50535A"/>
                    </svg>
    .container.px-3
        .row.justify-content-center.mx-n2.mx-lg-n3
            .col-lg-2.col-3.px-2.px-lg-3
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                    .shortcut__content
                        a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                            b Renovar 
                            | mi equipo
            .col-lg-2.col-3.px-2.px-lg-3
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-mobile")
                    .shortcut__content
                        a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                            span.d-none.d-lg-block
                                b Migrar 
                                | mi línea a Movistar
                            span.d-block.d-lg-none
                                b Migrarme 
                                | a Movistar                                

            .col-lg-2.d-none.d-lg-block
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-cambiar-plan")
                    .shortcut__content
                        a(href="http://", class="link", target="_blank", rel="noopener noreferrer")  Cambiar mi plan 
                            b postpago
            .col-lg-2.px-2.col-3
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-fiber")
                    .shortcut__content
                        a(href="http://", class="link", target="_blank", rel="noopener noreferrer")  Contratar 
                            b fibra óptica
            .col-lg-2.col-3.px-2.px-lg-3.d-none.d-lg-block
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-prepago")
                    .shortcut__content
                        a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                            b Recargar 
                            | mi plan prepago
            .col-lg-2.col-3.px-2.px-lg-3
                .stweb__shortcut
                    .shortcut__icon
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-app")
                    .shortcut__content
                        a(href="javascript:void(0);" class="link" id="triggerModal") Más servicios

    .stweb__modal.--shortcut
        .modal__content
            svg.close__button.svg--inline: use(xlink:href="images/icons/icons.svg#icon-close")
            h2.title ¿Qué quieres hacer?
            .row 
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                b Resuelve 
                                | tus dudas    
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer")  Descargar  
                                b App Mi Movistar  
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                b Consultar 
                                | recibos                                  
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                b Adquirir 
                                | repetidores     
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                b Pagar 
                                |  recibos   
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                b Gestionar 
                                | averías
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                b Recargar 
                                | saldo
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                b Cambiar 
                                | de plan   
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer") 
                                b Rastrear 
                                | mi pedido
                .col-6.my-2.px-2 
                    .stweb__shortcut
                        .shortcut__icon
                            svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-caeq")
                        .shortcut__content
                            a(href="http://", class="link", target="_blank", rel="noopener noreferrer")  Adicionales  
                                b  Hogar                

.stweb-card-section
    .container
        .row.justify-content-center
            .col-md-6.col-lg-4 
                .stweb-card.style-1
                    .stweb-card__content
                        .stweb-card__head.text-center
                            img.stweb-card__image(src="images/products/fibra-tv.png", alt="")
                            p.stweb-card__badge Ahorra S/83.50
                        .stweb-card__body
                            p.stweb-card__badge El más vendido
                            p.stweb-card__text-1 Fibra Óptica Internet + TV
                            p.stweb-card__text-2 #[span.subtext-1.subtext-1--big 100] Mbps #[span.subtext-2 Velocidad simétrica]
                            p.stweb-card__text-3 #[span.subtext-1 S/81.40] x 2 meses
                            p.stweb-card__text-4 Precio regular #[b S/164.90]
                    .stweb-card__footer.text-center
                        a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") ¡Lo quiero!
            .col-md-6.col-lg-4 
                .stweb-card.style-1
                    .stweb-card__content
                        .stweb-card__head.text-center
                            img.stweb-card__image(src="images/products/chip-movistar.png", alt="")
                            p.stweb-card__badge Ahorra 20%
                        .stweb-card__body
                            p.stweb-card__badge Oferta destacada
                            p.stweb-card__text-1 Plan Postpago
                            p.stweb-card__text-2 #[span.subtext-1.subtext-1--big 50] GB #[span.subtext-2 en alta velocidad]
                            p.stweb-card__text-3 #[span.subtext-1 S/44.72] x 3 meses
                            p.stweb-card__text-4 Precio regular #[b S/55.90]
                    .stweb-card__footer.text-center
                        a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") ¡Lo quiero!
            .col-md-6.col-lg-4 
                .stweb-card.style-1
                    .stweb-card__content
                        .stweb-card__head.text-center
                            img.stweb-card__image(src="images/products/celular-movistar.png", alt="")
                        .stweb-card__body
                            p.stweb-card__badge Exclusivo online
                            p.stweb-card__text-1 Portabilidad
                            p.stweb-card__text-2 #[span.subtext-1 Galaxy S23+] #[span.subtext-2 Pagando con tu factura]
                            p.stweb-card__text-3 #[span.subtext-1 S/4,199]
                            p.stweb-card__text-4 Paga hasta en #[b 12 cuotas]
                    .stweb-card__footer.text-center
                        a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") ¡Lo quiero!

.stweb__better-phones
    .container
        .row.align-items-center
            .col-lg-4.better-phones__content.d-none.d-lg-block
                span.badge CELULARES
                h2.title Disfruta de los mejores celulares y accesorios
                a(href="http://", target="_blank", rel="noopener noreferrer" class="stweb-btn stweb-btn--cian stweb-btn--round") Ir a la tienda 
            .col-lg-8.better-phones__equipment
                .stweb__tabs
                    ul.tabs__nav#tabs
                        li.item.active(data-tab='tab-1')
                            a(href="javascript:void(0)").link Portabilidad con equipo
                        li.item(data-tab='tab-2')
                            a(href="javascript:void(0)").link Renueva tu equipo
                        li.item(data-tab='tab-3')
                            a(href="javascript:void(0)").link Equipos liberados
                    #tab-1.tabs__content.active 
                        .stweb__carousel-equipment.swiper-container                    
                            .swiper-wrapper
                                .swiper-slide.stweb__equipment 
                                    .equipment__picture
                                        picture 
                                            img(class="picture" src="images/equipos/iphone-12-pro-max.png", alt="iphone 12 pro max", srcset="images/equipos/iphone-12-pro-max.png")
                                    .equipment__content
                                        span.badge 25% de descuento 
                                        h3.title iPhone 12 Pro Max
                                        .content 
                                            span.text Al contado
                                            span.price S/4,199
                                                del.price--dscto S/4,500
                                            span.text Con plan 
                                                b Mi Movistar 
                                                | S/ 65,90
                                .swiper-slide.stweb__equipment 
                                    .equipment__picture
                                        picture 
                                            img(class="picture" src="images/equipos/galaxy-s21-ultra.png", alt="galaxy s21 ultra", srcset="images/equipos/galaxy-s21-ultra.png")
                                    .equipment__content
                                        span.badge 25% de descuento 
                                        h3.title Galaxy S21 Ultra
                                        .content 
                                            span.text Al contado
                                            span.price S/3,560
                                                del.price--dscto S/4,100
                                            span.text Con plan 
                                                b Mi Movistar 
                                                | S/ 65,90
                                .swiper-slide.stweb__equipment 
                                    .equipment__picture
                                        picture 
                                            img(class="picture" src="images/equipos/galaxy-fold-z.png", alt="galaxy fold z", srcset="images/equipos/galaxy-fold-z.png")
                                    .equipment__content
                                        span.badge 25% de descuento 
                                        h3.title Galaxy Fold Z
                                        .content 
                                            span.text Al contado
                                            span.price S/4,329
                                                del.price--dscto S/5,600
                                            span.text Con plan 
                                                b Mi Movistar 
                                                | S/ 65,90
                    #tab-2.tabs__content
                        .stweb__carousel-equipment.swiper-container                    
                            .swiper-wrapper
                                .swiper-slide.stweb__equipment 
                                    .equipment__picture
                                        picture 
                                            img(class="picture" src="images/equipos/iphone-12-pro-max.png", alt="iphone 12 pro max", srcset="images/equipos/iphone-12-pro-max.png")
                                    .equipment__content
                                        span.badge 25% de descuento 
                                        h3.title iPhone 12 Pro Max
                                        .content 
                                            span.text Al contado
                                            span.price S/4,199
                                                del.price--dscto S/4,500
                                            span.text Con plan 
                                                b Mi Movistar 
                                                | S/ 65,90
                                .swiper-slide.stweb__equipment 
                                    .equipment__picture
                                        picture 
                                            img(class="picture" src="images/equipos/galaxy-fold-z.png", alt="galaxy fold z", srcset="images/equipos/galaxy-fold-z.png")
                                    .equipment__content
                                        span.badge 25% de descuento 
                                        h3.title Galaxy Fold Z
                                        .content 
                                            span.text Al contado
                                            span.price S/4,329
                                                del.price--dscto S/5,600
                                            span.text Con plan 
                                                b Mi Movistar 
                                                | S/ 65,90                                                       
                                .swiper-slide.stweb__equipment 
                                    .equipment__picture
                                        picture 
                                            img(class="picture" src="images/equipos/galaxy-s21-ultra.png", alt="galaxy s21 ultra", srcset="images/equipos/galaxy-s21-ultra.png")
                                    .equipment__content
                                        span.badge 25% de descuento 
                                        h3.title Galaxy S21 Ultra
                                        .content 
                                            span.text Al contado
                                            span.price S/3,560
                                                del.price--dscto S/4,100
                                            span.text Con plan 
                                                b Mi Movistar 
                                                | S/ 65,90
                 
                    #tab-3.tabs__content
                        .stweb__carousel-equipment.swiper-container                    
                            .swiper-wrapper
                                .swiper-slide.stweb__equipment 
                                    .equipment__picture
                                        picture 
                                            img(class="picture" src="images/equipos/galaxy-s21-ultra.png", alt="galaxy s21 ultra", srcset="images/equipos/galaxy-s21-ultra.png")
                                    .equipment__content
                                        span.badge 25% de descuento 
                                        h3.title Galaxy S21 Ultra
                                        .content 
                                            span.text Al contado
                                            span.price S/3,560
                                                del.price--dscto S/4,100
                                            span.text Con plan 
                                                b Mi Movistar 
                                                | S/ 65,90
                                .swiper-slide.stweb__equipment 
                                    .equipment__picture
                                        picture 
                                            img(class="picture" src="images/equipos/galaxy-fold-z.png", alt="galaxy fold z", srcset="images/equipos/galaxy-fold-z.png")
                                    .equipment__content
                                        span.badge 25% de descuento 
                                        h3.title Galaxy Fold Z
                                        .content 
                                            span.text Al contado
                                            span.price S/4,329
                                                del.price--dscto S/5,600
                                            span.text Con plan 
                                                b Mi Movistar 
                                                | S/ 65,90       
                                .swiper-slide.stweb__equipment 
                                    .equipment__picture
                                        picture 
                                            img(class="picture" src="images/equipos/iphone-12-pro-max.png", alt="iphone 12 pro max", srcset="images/equipos/iphone-12-pro-max.png")
                                    .equipment__content
                                        span.badge 25% de descuento 
                                        h3.title iPhone 12 Pro Max
                                        .content 
                                            span.text Al contado
                                            span.price S/4,199
                                                del.price--dscto S/4,500
                                            span.text Con plan 
                                                b Mi Movistar 
                                                | S/ 65,90                                                    
        hr.line
        .row.stweb__cell-brands
            .col-lg-4
                h3.title Todas las marcas de celulares están en Movistar
            .col-lg-8
                .row.m-n2.m-md-n1.justify-content-between
                    .col-4.col-md-auto.p-2.p-md-0
                        .stweb__brand
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link")  
                                img(class="picture" src="images/logos/apple.png", alt="apple", srcset="images/logos/apple.png")
                    .col-4.col-md-auto.p-2.p-md-0
                        .stweb__brand
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link")  
                                img(class="picture" src="images/logos/xiaomi.png", alt="xiaomi", srcset="images/logos/xiaomi.png")
                    .col-4.col-md-auto.p-2.p-md-0
                        .stweb__brand
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link")  
                                img(class="picture" src="images/logos/lg.png", alt="lg", srcset="images/logos/lg.png")
                    .col-4.col-md-auto.p-2.p-md-0
                        .stweb__brand
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link")  
                                img(class="picture" src="images/logos/alcatel.png", alt="alcatel", srcset="images/logos/alcatel.png")
                    .col-4.col-md-auto.p-2.p-md-0
                        .stweb__brand
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link")  
                                img(class="picture" src="images/logos/sony.png", alt="sony", srcset="images/logos/sony.png")
                    .col-4.col-md-auto.p-2.p-md-0
                        .stweb__brand
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link")  
                                img(class="picture" src="images/logos/nokia.png", alt="nokia", srcset="images/logos/nokia.png")
                    .col-4.col-md-auto.p-2.p-md-0
                        .stweb__brand
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link")  
                                img(class="picture" src="images/logos/motorola.png", alt="motorola", srcset="images/logos/motorola.png")
                    .col-4.col-md-auto.p-2.p-md-0
                        .stweb__brand
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link")  
                                img(class="picture" src="images/logos/samsung.png", alt="samsung", srcset="images/logos/samsung.png")
                    .col-4.col-md-auto.p-2.p-md-0
                        .stweb__brand
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link")  
                                img(class="picture" src="images/logos/huawei.png", alt="huawei", srcset="images/logos/huawei.png")

.stweb__proceeds
    .container 
        h2.title ¡Con Movistar disfruta de estos beneficios de
            b.d-none.d-lg-block
            |streaming y apps premium!
        .row.align-items-center.justify-content-center.m-n2.m-md-n3
            .col-6.col-md-3.col-lg-auto.p-2.p-md-3
                .stweb__brand.--large
                    picture 
                        source(media="(min-width: 768px)", srcset="images/logos/rappi-prime-plus.png")
                        img(class="picture" src="images/logos/rappi-prime-plus-mobile.png", alt="rappi prime plus", srcset="images/logos/rappi-prime-plus-mobile.png")
            .col-6.col-md-3.col-lg-auto.p-2.p-md-3
                .stweb__brand.--large
                    picture 
                        source(media="(min-width: 768px)", srcset="images/logos/netflix.png")
                        img(class="picture" src="images/logos/netflix-mobile.png", alt="netflix", srcset="images/logos/netflix-mobile.png")
            .col-6.col-md-3.col-lg-auto.p-2.p-md-3
                .stweb__brand.--large
                    picture 
                        source(media="(min-width: 768px)", srcset="images/logos/disney.png")
                        img(class="picture" src="images/logos/disney-mobile.png", alt="disney", srcset="images/logos/disney-mobile.png")
            .col-6.col-md-3.col-lg-auto.p-2.p-md-3
                .stweb__brand.--large
                    picture 
                        source(media="(min-width: 768px)", srcset="images/logos/spotify.png")
                        img(class="picture" src="images/logos/spotify-mobile.png", alt="spotify", srcset="images/logos/spotify-mobile.png")   
            .col-12.col-md-auto.p-2.p-md-3
                .app__movistar
                    .icon 
                        svg.svg--inline: use(xlink:href="images/icons/icons.svg#icon-appmovistar") 
                    h3.title App Mi Movistar
                    p.text Consulta tu saldo, paga tu recibo y más, al alcance de tus manos.
                    .application
                        a(href="http://", target="_blank", rel="noopener noreferrer" class="link")
                            picture 
                                source(media="(min-width: 768px)", srcset="images/app/app-android.png")
                                img(src="images/app/app-android-mobile.png", alt="google play", srcset="images/app/app-android-mobile.png")
                        a(href="http://", target="_blank", rel="noopener noreferrer" class="link") 
                            picture
                                source(media="(min-width: 768px)", srcset="images/app/app-ios.png")
                                img(src="images/app/app-ios-mobile.png", alt="app store", srcset="images/app/app-ios-mobile.png")
                        
.stweb-help-section
    .container                 
        h2.title ¿Tienes alguna duda? Te ayudamos

        .row.justify-content-center
            .col-md-6.col-lg-4
                .help-box
                    .help-box__head
                        img(src="images/products/icon-call.png", alt="")
                    .help-box__body
                        h3.box__title Comunicarme Lorem Ipsum
                        p.box__description consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    .help-box__footer
                        a.box__link-arrow(href="#") #[span.visually--hidden Ver más]
                            <svg class="svg--inline" focusable="false" role="img" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33868 15.5C1.1038 15.5 0.879906 15.4018 0.721861 15.2332C0.407965 14.8918 0.429916 14.371 0.770152 14.0551L7.42123 7.94474L0.774542 1.95175C0.432111 1.63802 0.407965 1.11726 0.719665 0.773641C1.02039 0.440697 1.54062 0.406549 1.88305 0.698942C1.88964 0.705345 1.89623 0.709613 1.90281 0.716016L9.22558 7.32154C9.40119 7.47948 9.49996 7.70144 9.49996 7.93407C9.50216 8.16671 9.40557 8.3908 9.23216 8.55087L1.9072 15.2781C1.75438 15.4208 1.55059 15.5003 1.33868 15.5Z" fill="#86888C"/>
                            </svg>
            .col-md-6.col-lg-4
                .help-box
                    .help-box__head
                        img(src="images/products/icon-deco.png", alt="")
                    .help-box__body
                        h3.box__title Averías con mi equipo
                        p.box__description consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    .help-box__footer
                        a.box__link-arrow(href="#") #[span.visually--hidden Ver más]
                            <svg class="svg--inline" focusable="false" role="img" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33868 15.5C1.1038 15.5 0.879906 15.4018 0.721861 15.2332C0.407965 14.8918 0.429916 14.371 0.770152 14.0551L7.42123 7.94474L0.774542 1.95175C0.432111 1.63802 0.407965 1.11726 0.719665 0.773641C1.02039 0.440697 1.54062 0.406549 1.88305 0.698942C1.88964 0.705345 1.89623 0.709613 1.90281 0.716016L9.22558 7.32154C9.40119 7.47948 9.49996 7.70144 9.49996 7.93407C9.50216 8.16671 9.40557 8.3908 9.23216 8.55087L1.9072 15.2781C1.75438 15.4208 1.55059 15.5003 1.33868 15.5Z" fill="#86888C"/>
                            </svg>
            .col-md-6.col-lg-4
                .help-box
                    .help-box__head
                        img(src="images/products/icon-cellphones.png", alt="")
                    .help-box__body
                        h3.box__title Consejos para Lorem Ipsum
                        p.box__description consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    .help-box__footer
                        a.box__link-arrow(href="#") #[span.visually--hidden Ver más]
                            <svg class="svg--inline" focusable="false" role="img" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33868 15.5C1.1038 15.5 0.879906 15.4018 0.721861 15.2332C0.407965 14.8918 0.429916 14.371 0.770152 14.0551L7.42123 7.94474L0.774542 1.95175C0.432111 1.63802 0.407965 1.11726 0.719665 0.773641C1.02039 0.440697 1.54062 0.406549 1.88305 0.698942C1.88964 0.705345 1.89623 0.709613 1.90281 0.716016L9.22558 7.32154C9.40119 7.47948 9.49996 7.70144 9.49996 7.93407C9.50216 8.16671 9.40557 8.3908 9.23216 8.55087L1.9072 15.2781C1.75438 15.4208 1.55059 15.5003 1.33868 15.5Z" fill="#86888C"/>
                            </svg>
            .col-md-12.col-lg-12
                p.help__link-more
                    a(href="#") Ir a sección de ayuda
                        <svg class="svg--inline" focusable="false" role="img" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.1523 11.8334C0.969625 11.8334 0.795482 11.757 0.672558 11.6259C0.428417 11.3603 0.44549 10.9552 0.710118 10.7096L5.88318 5.95704L0.713533 1.29583C0.447197 1.05181 0.428417 0.646775 0.670851 0.379519C0.904748 0.120562 1.30937 0.0940028 1.57571 0.32142C1.58083 0.3264 1.58595 0.32972 1.59107 0.334699L7.28656 5.47233C7.42314 5.59517 7.49997 5.76781 7.49997 5.94874C7.50168 6.12968 7.42656 6.30398 7.29168 6.42848L1.59449 11.6607C1.47563 11.7717 1.31712 11.8336 1.1523 11.8334Z" fill="#019DF4"/>
                        </svg>
.stweb__blog-articles 
    .container 
        .blog-articles__head
            h2.title Blog Movistar: Últimos Artículos
        .blog-articles__content
            .row.justify-content-center
                .col-md-6.col-lg-4.py-2
                    .stweb-card.--horizontal
                        .horizontal__picture
                            picture 
                                img(class="picture" src="images/blog/blog-picture.png", alt="titulo contenido", srcset="images/blog/blog-picture.png")
                        .horizontal__content
                            h3.title: a(href="http://", target="_blank", rel="noopener noreferrer" class="link")  Título contenido
                            p.text Conoce más acerca de la política de privacidad de Movistar y de protección de datos. 

                .col-md-6.col-lg-4.py-2
                    .stweb-card.--horizontal
                        .horizontal__picture
                            picture 
                                img(class="picture" src="images/blog/blog-picture.png", alt="titulo contenido", srcset="images/blog/blog-picture.png")
                        .horizontal__content
                            h3.title: a(href="http://", target="_blank", rel="noopener noreferrer" class="link")  Título contenido
                            p.text Conoce más acerca de la política de privacidad de Movistar y de protección de datos. 

                .col-md-6.col-lg-4.py-2
                    .stweb-card.--horizontal
                        .horizontal__picture
                            picture 
                                img(class="picture" src="images/blog/blog-picture.png", alt="titulo contenido", srcset="images/blog/blog-picture.png")
                        .horizontal__content
                            h3.title: a(href="http://", target="_blank", rel="noopener noreferrer" class="link")  Título contenido
                            p.text Conoce más acerca de la política de privacidad de Movistar y de protección de datos. 
        .blog-articles__footer 
            a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Ver más artículos  del blog
                svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-arrow-rigth") 
