.stweb__5g-banner-hero
    picture.picture--bg
        source(media="(min-width: 768px)", srcset="images/pages/internet-5g/banner-internet-5g-desktop.jpg")
        img(src="", alt="banner internet 5g", srcset="images/pages/internet-5g/banner-internet-5g-mobile.jpg")
    .content 
        h2.title ¡Navega 10 veces más rápido por Internet con 5G!
        p.text La red móvil de 5ᵃ generación que está revolucionando el mundo

.stweb__5g-better-phones
    .container
        .row
            .col-lg-4.better-phones__content
                span.badge CELULARES 5G
                h2.title Encuenta el celular 5G ideal para ti
                a(href="http://", target="_blank", rel="noopener noreferrer" class="stweb-btn stweb-btn--cian stweb-btn--round") Ir a la tienda 
            .col-lg-8.better-phones__equipment
                .tab-panel
                    .tabs-wrapper
                        ul.nav.nav-tabs#tabs
                            li.nav-item.active(data-tab='tab-1')
                                a(href="javascript:void(0)").nav-link Portabilidad con equipo
                            li.nav-item(data-tab='tab-2')
                                a(href="javascript:void(0)").nav-link Renueva tu equipo
                            li.nav-item(data-tab='tab-3')
                                a(href="javascript:void(0)").nav-link Equipos liberados
                    .tab-content
                        #tab-1.tab-pane.active(role="tabpanel") 
                            .tab-pane-body
                                .stweb__carousel-equipment.swiper-container                    
                                    .swiper-wrapper
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/iphone-12-pro-max.png", alt="iphone 12 pro max", srcset="images/equipos/iphone-12-pro-max.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title iPhone 12 Pro Max
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,199
                                                        del.price--dscto S/4,500
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-s21-ultra.png", alt="galaxy s21 ultra", srcset="images/equipos/galaxy-s21-ultra.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy S21 Ultra
                                                .content 
                                                    span.text Al contado
                                                    span.price S/3,560
                                                        del.price--dscto S/4,100
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-fold-z.png", alt="galaxy fold z", srcset="images/equipos/galaxy-fold-z.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy Fold Z
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,329
                                                        del.price--dscto S/5,600
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90
                        #tab-2.tab-pane(role="tabpanel")
                            .tab-pane-body
                                .stweb__carousel-equipment.swiper-container                    
                                    .swiper-wrapper
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/iphone-12-pro-max.png", alt="iphone 12 pro max", srcset="images/equipos/iphone-12-pro-max.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title iPhone 12 Pro Max
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,199
                                                        del.price--dscto S/4,500
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-fold-z.png", alt="galaxy fold z", srcset="images/equipos/galaxy-fold-z.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy Fold Z
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,329
                                                        del.price--dscto S/5,600
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90                                                       
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-s21-ultra.png", alt="galaxy s21 ultra", srcset="images/equipos/galaxy-s21-ultra.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy S21 Ultra
                                                .content 
                                                    span.text Al contado
                                                    span.price S/3,560
                                                        del.price--dscto S/4,100
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90                    
                        #tab-3.tab-pane(role="tabpanel")
                            .tab-pane-body
                                .stweb__carousel-equipment.swiper-container                    
                                    .swiper-wrapper
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-s21-ultra.png", alt="galaxy s21 ultra", srcset="images/equipos/galaxy-s21-ultra.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy S21 Ultra
                                                .content 
                                                    span.text Al contado
                                                    span.price S/3,560
                                                        del.price--dscto S/4,100
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-fold-z.png", alt="galaxy fold z", srcset="images/equipos/galaxy-fold-z.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy Fold Z
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,329
                                                        del.price--dscto S/5,600
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90       
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/iphone-12-pro-max.png", alt="iphone 12 pro max", srcset="images/equipos/iphone-12-pro-max.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title iPhone 12 Pro Max
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,199
                                                        del.price--dscto S/4,500
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90                                                    
        .stweb__cell-brands
            .row
                .col-lg-4
                    h3.title Todas las marcas de celulares están en Movistar
                .col-lg-8
                    .row.justify-content-between.mx-n2.mx-md-n1
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/apple", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/apple.png", alt="apple", srcset="images/logos/apple.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/xiaomi", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/xiaomi.png", alt="xiaomi", srcset="images/logos/xiaomi.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/lg", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/lg.png", alt="lg", srcset="images/logos/lg.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/alcatel", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/alcatel.png", alt="alcatel", srcset="images/logos/alcatel.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/sony", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/sony.png", alt="sony", srcset="images/logos/sony.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/nokia", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/nokia.png", alt="nokia", srcset="images/logos/nokia.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/motorola", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/motorola.png", alt="motorola", srcset="images/logos/motorola.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/samsung", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/samsung.png", alt="samsung", srcset="images/logos/samsung.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/huawei", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/huawei.png", alt="huawei", srcset="images/logos/huawei.png")