.stweb__5g-banner-hero
    picture.picture--bg
        source(media="(min-width: 768px)", srcset="images/pages/internet-5g/banner-internet-5g-desktop.jpg")
        img(src="", alt="banner internet 5g", srcset="images/pages/internet-5g/banner-internet-5g-mobile.jpg")
    .content 
        h2.title ¡Navega 10 veces más rápido por Internet con 5G!
        p.text La red móvil de 5ᵃ generación que está revolucionando el mundo