.stweb__mtv-banner-hero
    picture.picture--bg
        source(media="(min-width: 768px)", srcset="images/pages/movistar-tv/banner-movistar-tv-desktop.jpg")
        img(src="", alt="banner fibra optica", srcset="images/pages/movistar-tv/banner-movistar-tv-mobile.jpg")
    .content 
        h2.title Vive la experiencia Movistar TV
        p.text Disfruta de los mejores programas de televisión del Perú e internacionales con nuestros súper planes de cable
        .promotion 
            picture.picture--pmt 
                source(media="(min-width: 768px)", srcset="images/pages/movistar-tv/movistar-tv-promo-desktop.png")
                img(src="", alt="ahorra 40 soles por 2 meses", srcset="images/pages/movistar-tv/movistar-tv-promo-mobile.png")
.stweb__mtv-tabs-Planes
    .coverage
        .content 
            .row.no-gutters
                .col-md-auto.map
                    picture.picture
                        source(media="(min-width: 768px)", srcset="images/cobertura/map-ilustration-desktop.png")
                        img(src="images/cobertura/map-ilustration-mobile.png", alt="mapa ilustracion")
                .col-md-7
                    p.text #[b ¡Hazlo fácil!] Consulta tu cobertura y descubre las ofertas que tenemos para ti
                        small.info *Aplica en localidades seleccionadas
                .col-md-3
                    button.stweb-btn.stweb-btn--cian.stweb-btn--round Consultar cobertura
    .container
        .tab-panel
            .tabs-wrapper
                ul.nav.nav-tabs#tabs
                    li.nav-item.active(data-tab='tab-1')
                        a(href="javascript:void(0)").nav-link Planes Dúo
                    li.nav-item(data-tab='tab-2')
                        a(href="javascript:void(0)").nav-link Planes Trío
                    li.nav-item(data-tab='tab-3')
                        a(href="javascript:void(0)").nav-link Solo TV
            .tab-content
                #tab-1.tab-pane.active(role="tabpanel") 
                    .tab-pane-body
                        .mtv-plan__carousel.mtv-plan__carousel-1
                            .swiper
                                .swiper-wrapper
                                    .swiper-slide
                                        .plan-box 
                                            .box__info
                                                p.info-text-1 TV + Internet Fibra
                                                p.info-text-2 Fibra Óptica 
                                                    <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 10 10">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 5C0.5 2.51881 2.51881 0.5 5 0.5C7.48119 0.5 9.5 2.51881 9.5 5C9.5 7.48119 7.48119 9.5 5 9.5C2.51881 9.5 0.5 7.48119 0.5 5ZM1.24982 5C1.25199 7.07028 2.92973 8.74802 5 8.75019C7.07028 8.74802 8.74802 7.07028 8.75019 5C8.74802 2.92973 7.07028 1.25199 5 1.24982C2.92973 1.25199 1.25199 2.92973 1.24982 5Z" fill="currentColor"/>
                                                    <path d="M4.30781 6.00079H5.20359C5.42074 5.00396 6.6875 4.78244 6.6875 3.59573C6.6875 2.70174 6.04507 2.1875 4.75117 2.1875C4.41812 2.1875 4.0238 2.24107 3.68046 2.32145C3.46801 2.37119 3.34608 2.58555 3.39071 2.79913C3.44151 3.0423 3.68681 3.19054 3.93197 3.15045C4.10245 3.12257 4.27386 3.10522 4.42544 3.10522C4.77832 3.10522 5.24581 3.16851 5.38154 3.27927C5.49916 3.38212 5.5625 3.53244 5.5625 3.73813C5.5625 4.10206 5.35439 4.37896 5.11914 4.66377C4.86578 4.98813 4.28066 5.36788 4.28066 5.75554C4.28066 5.85047 4.28971 5.91377 4.30781 6.00079ZM4.73308 7.8125H4.79641C5.23073 7.8125 5.45694 7.66218 5.45694 7.26661V7.17168C5.45694 6.77611 5.23073 6.62579 4.79641 6.62579H4.73308C4.29876 6.62579 4.07255 6.77611 4.07255 7.17168V7.26661C4.07255 7.66218 4.29876 7.8125 4.73308 7.8125Z" fill="currentColor"/>
                                                    </svg>
                                                .info-megas
                                                    .megas__col-1
                                                        p.info-text-3 50 Mbps
                                                        p.info-text-4 Velocidad de simétrica
                                                    .megas__col-2
                                                        p.info-text-5 #[span.text-symbol S/]71#[span.text-sub .40 x 2 meses]
                                                        p.info-text-6 Precio regular S/154.90
                                                
                                                p.info-text-7 Instalación gratis 
                                                p.info-text-8 #[span.text-symbol *] Previa evaluación crediticia
                                                button.stweb-btn.stweb-btn--round.stweb-btn--cian.button--buy Contratar plan
                                                button.stweb-btn.stweb-btn--round.stweb-btn--outline-cian.button--call Llámame ahora
                                                
                                                .info-promo-2
                                                    .promo-col-1
                                                        .promo-sticker
                                                            <svg aria-hidden="true" class="sticker__svg svg--inline-icon" focusable="false" role="img" viewBox="0 0 21 21">
                                                            <path d="M7.62057 8.47796C8.18898 8.47796 8.39178 8.27802 8.39178 7.70676C8.39178 7.13549 8.18898 6.93555 7.62057 6.93555C7.05216 6.93555 6.84937 7.13835 6.84937 7.70676C6.84937 8.27516 7.05216 8.47796 7.62057 8.47796ZM12.3764 12.5082C11.8079 12.5082 11.6051 12.7082 11.6051 13.2794C11.6051 13.8507 11.8079 14.0507 12.3764 14.0507C12.9448 14.0507 13.1476 13.8507 13.1476 13.2794C13.1476 12.7082 12.9448 12.5082 12.3764 12.5082Z" fill="#019DF4"/>
                                                            <path d="M19.4145 9.49743C19.1602 9.30034 18.846 9.12611 18.5433 8.96044C18.2891 8.82048 17.8263 8.56627 17.7207 8.42345C17.7349 8.24064 18.0206 7.76935 18.1777 7.50943C18.5918 6.82391 19.0203 6.11554 18.6604 5.49572C18.2976 4.86732 17.4636 4.88446 16.6552 4.9016C16.3582 4.90731 15.8126 4.91874 15.6498 4.84447C15.5756 4.68166 15.587 4.13896 15.5927 3.83905C15.6098 3.03356 15.627 2.19951 14.9986 1.8339C14.3816 1.47972 13.6732 1.90817 12.9877 2.31948C12.7278 2.47658 12.2536 2.76221 12.0737 2.77649C11.9309 2.67081 11.6767 2.20808 11.5367 1.95387C11.371 1.6511 11.1968 1.3369 10.9997 1.08269C10.8883 0.937018 10.5456 0.5 10 0.5C9.86575 0.5 9.45444 0.5 9.00029 1.08269C8.8032 1.3369 8.62896 1.6511 8.4633 1.95387C8.32334 2.20808 8.06912 2.67081 7.92631 2.77649C7.7435 2.76221 7.27221 2.47658 7.01228 2.31948C6.32676 1.90531 5.61839 1.47686 4.99857 1.83676C4.37018 2.19951 4.38732 3.03356 4.40446 3.8419C4.41017 4.13896 4.42159 4.68452 4.34733 4.84733C4.18452 4.92159 3.64182 4.91017 3.3419 4.90446C2.53642 4.88732 1.70237 4.87018 1.33676 5.49857C0.976864 6.11839 1.40531 6.82676 1.81948 7.51228C1.97658 7.77221 2.26221 8.24636 2.27649 8.42631C2.17081 8.56912 1.70808 8.82334 1.45387 8.9633C1.1511 9.12896 0.836904 9.3032 0.582691 9.50029C0.437018 9.61168 0 9.95444 0 10.5C0 10.6342 5.96046e-08 11.0456 0.582691 11.4997C0.836904 11.6968 1.1511 11.871 1.45387 12.0367C1.70808 12.1767 2.17081 12.4309 2.27649 12.5737C2.26221 12.7565 1.97658 13.2278 1.81948 13.4877C1.40531 14.1732 0.976864 14.8816 1.33676 15.5014C1.69951 16.1298 2.53356 16.1127 3.3419 16.0955C3.63896 16.0898 4.18452 16.0784 4.34733 16.1527C4.42159 16.3155 4.41017 16.8582 4.40446 17.1581C4.38732 17.9636 4.37018 18.7976 4.99857 19.1632C5.61839 19.5231 6.32676 19.0947 7.01228 18.6805C7.27221 18.5234 7.74636 18.2378 7.92631 18.2235C8.06912 18.3292 8.32334 18.7919 8.4633 19.0461C8.62896 19.3489 8.8032 19.6631 9.00029 19.9173C9.11168 20.0601 9.45444 20.5 10 20.5C10.1342 20.5 10.5456 20.5 10.9997 19.9173C11.1968 19.6631 11.371 19.3489 11.5367 19.0461C11.6767 18.7919 11.9309 18.3292 12.0737 18.2235C12.2565 18.2378 12.7278 18.5234 12.9877 18.6805C13.6732 19.0947 14.3816 19.5231 15.0014 19.1632C15.6298 18.8005 15.6098 17.9664 15.5955 17.1581C15.5898 16.861 15.5784 16.3155 15.6527 16.1527C15.8155 16.0784 16.3582 16.0898 16.6581 16.0955C17.4636 16.1127 18.2976 16.1298 18.6632 15.5014C19.0231 14.8816 18.5947 14.1732 18.1805 13.4877C18.0234 13.2278 17.7378 12.7536 17.7235 12.5737C17.8292 12.4309 18.2919 12.1767 18.5461 12.0367C18.8489 11.871 19.1631 11.6968 19.4173 11.4997C19.5601 11.3883 20 11.0456 20 10.5C20 10.36 20 9.95158 19.4145 9.49743ZM7.62068 5.79563C8.81748 5.79563 9.53442 6.50971 9.53442 7.70937C9.53442 8.90903 8.82034 9.62311 7.62068 9.62311C6.42102 9.62311 5.70694 8.90903 5.70694 7.70937C5.70694 6.50971 6.42388 5.79563 7.62068 5.79563ZM6.99229 15.2644C6.7952 15.51 6.4353 15.5528 6.18966 15.3558C5.94687 15.1615 5.90403 14.8073 6.09255 14.5617L13.0077 5.72422C13.2019 5.47572 13.5618 5.43288 13.8103 5.62711C14.0588 5.82134 14.1017 6.18123 13.9075 6.42973L6.99229 15.2644ZM12.3765 15.1901C11.1797 15.1901 10.4627 14.476 10.4627 13.2763C10.4627 12.0767 11.1768 11.3626 12.3765 11.3626C13.5761 11.3626 14.2902 12.0767 14.2902 13.2763C14.2902 14.476 13.5733 15.1901 12.3765 15.1901Z" fill="#019DF4"/>
                                                            </svg>
                                                            span.sticker__text Exclusivo online
                                                    .promo-col-2
                                                        p.promo-text-1 200 Mbps 
                                                            span.text-1__sub x 2 meses

                                            .box__description
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/planes-duo/icon-wifi.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Velocidad de internet Fibra
                                                        p.info-text-2 Máx de descarga 50 Mbps
                                                        p.info-text-3 Máx de subida 50 Mbps
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/fibra-optica/icon-tv-canales.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Canales
                                                        p.info-text-3 107 canales SD + 63 canales HD
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/fibra-optica/icon-decos.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Decos
                                                        p.info-text-3 1 Deco HD
                                            .box__footer 
                                                button.link--more(type="button")
                                                    span.text-1 Ver más
                                                    <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 8 11">
                                                    <use xlink:href="images/icons/stweb-sprite-home.svg#abajo-flecha"> </use>
                                                    </svg>
                                    .swiper-slide
                                        .plan-box.plan-box-great 
                                            p.box__outstanding ⭐ Más vendido
                                            .box__info
                                                p.info-text-1 TV + Internet Fibra
                                                p.info-text-2 Fibra Óptica 
                                                    <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 10 10">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 5C0.5 2.51881 2.51881 0.5 5 0.5C7.48119 0.5 9.5 2.51881 9.5 5C9.5 7.48119 7.48119 9.5 5 9.5C2.51881 9.5 0.5 7.48119 0.5 5ZM1.24982 5C1.25199 7.07028 2.92973 8.74802 5 8.75019C7.07028 8.74802 8.74802 7.07028 8.75019 5C8.74802 2.92973 7.07028 1.25199 5 1.24982C2.92973 1.25199 1.25199 2.92973 1.24982 5Z" fill="currentColor"/>
                                                    <path d="M4.30781 6.00079H5.20359C5.42074 5.00396 6.6875 4.78244 6.6875 3.59573C6.6875 2.70174 6.04507 2.1875 4.75117 2.1875C4.41812 2.1875 4.0238 2.24107 3.68046 2.32145C3.46801 2.37119 3.34608 2.58555 3.39071 2.79913C3.44151 3.0423 3.68681 3.19054 3.93197 3.15045C4.10245 3.12257 4.27386 3.10522 4.42544 3.10522C4.77832 3.10522 5.24581 3.16851 5.38154 3.27927C5.49916 3.38212 5.5625 3.53244 5.5625 3.73813C5.5625 4.10206 5.35439 4.37896 5.11914 4.66377C4.86578 4.98813 4.28066 5.36788 4.28066 5.75554C4.28066 5.85047 4.28971 5.91377 4.30781 6.00079ZM4.73308 7.8125H4.79641C5.23073 7.8125 5.45694 7.66218 5.45694 7.26661V7.17168C5.45694 6.77611 5.23073 6.62579 4.79641 6.62579H4.73308C4.29876 6.62579 4.07255 6.77611 4.07255 7.17168V7.26661C4.07255 7.66218 4.29876 7.8125 4.73308 7.8125Z" fill="currentColor"/>
                                                    </svg>
                                                .info-megas
                                                    .megas__col-1
                                                        p.info-text-3 100 Mbps
                                                        p.info-text-4 Velocidad de simétrica
                                                    .megas__col-2
                                                        p.info-text-5 #[span.text-symbol S/]81#[span.text-sub .40 x 2 meses]
                                                        p.info-text-6 Precio regular S/94.90
                                                p.info-text-7 Instalación gratis 
                                                p.info-text-8 #[span.text-symbol *] Previa evaluación crediticia
                                                button.stweb-btn.stweb-btn--round.stweb-btn--cian.button--buy Contratar plan
                                                button.stweb-btn.stweb-btn--round.stweb-btn--outline-cian.button--call Llámame ahora
                                                .info-promo-2
                                                    .promo-col-1
                                                        .promo-sticker
                                                            <svg aria-hidden="true" class="sticker__svg svg--inline-icon" focusable="false" role="img" viewBox="0 0 21 21">
                                                            <path d="M7.62057 8.47796C8.18898 8.47796 8.39178 8.27802 8.39178 7.70676C8.39178 7.13549 8.18898 6.93555 7.62057 6.93555C7.05216 6.93555 6.84937 7.13835 6.84937 7.70676C6.84937 8.27516 7.05216 8.47796 7.62057 8.47796ZM12.3764 12.5082C11.8079 12.5082 11.6051 12.7082 11.6051 13.2794C11.6051 13.8507 11.8079 14.0507 12.3764 14.0507C12.9448 14.0507 13.1476 13.8507 13.1476 13.2794C13.1476 12.7082 12.9448 12.5082 12.3764 12.5082Z" fill="#019DF4"/>
                                                            <path d="M19.4145 9.49743C19.1602 9.30034 18.846 9.12611 18.5433 8.96044C18.2891 8.82048 17.8263 8.56627 17.7207 8.42345C17.7349 8.24064 18.0206 7.76935 18.1777 7.50943C18.5918 6.82391 19.0203 6.11554 18.6604 5.49572C18.2976 4.86732 17.4636 4.88446 16.6552 4.9016C16.3582 4.90731 15.8126 4.91874 15.6498 4.84447C15.5756 4.68166 15.587 4.13896 15.5927 3.83905C15.6098 3.03356 15.627 2.19951 14.9986 1.8339C14.3816 1.47972 13.6732 1.90817 12.9877 2.31948C12.7278 2.47658 12.2536 2.76221 12.0737 2.77649C11.9309 2.67081 11.6767 2.20808 11.5367 1.95387C11.371 1.6511 11.1968 1.3369 10.9997 1.08269C10.8883 0.937018 10.5456 0.5 10 0.5C9.86575 0.5 9.45444 0.5 9.00029 1.08269C8.8032 1.3369 8.62896 1.6511 8.4633 1.95387C8.32334 2.20808 8.06912 2.67081 7.92631 2.77649C7.7435 2.76221 7.27221 2.47658 7.01228 2.31948C6.32676 1.90531 5.61839 1.47686 4.99857 1.83676C4.37018 2.19951 4.38732 3.03356 4.40446 3.8419C4.41017 4.13896 4.42159 4.68452 4.34733 4.84733C4.18452 4.92159 3.64182 4.91017 3.3419 4.90446C2.53642 4.88732 1.70237 4.87018 1.33676 5.49857C0.976864 6.11839 1.40531 6.82676 1.81948 7.51228C1.97658 7.77221 2.26221 8.24636 2.27649 8.42631C2.17081 8.56912 1.70808 8.82334 1.45387 8.9633C1.1511 9.12896 0.836904 9.3032 0.582691 9.50029C0.437018 9.61168 0 9.95444 0 10.5C0 10.6342 5.96046e-08 11.0456 0.582691 11.4997C0.836904 11.6968 1.1511 11.871 1.45387 12.0367C1.70808 12.1767 2.17081 12.4309 2.27649 12.5737C2.26221 12.7565 1.97658 13.2278 1.81948 13.4877C1.40531 14.1732 0.976864 14.8816 1.33676 15.5014C1.69951 16.1298 2.53356 16.1127 3.3419 16.0955C3.63896 16.0898 4.18452 16.0784 4.34733 16.1527C4.42159 16.3155 4.41017 16.8582 4.40446 17.1581C4.38732 17.9636 4.37018 18.7976 4.99857 19.1632C5.61839 19.5231 6.32676 19.0947 7.01228 18.6805C7.27221 18.5234 7.74636 18.2378 7.92631 18.2235C8.06912 18.3292 8.32334 18.7919 8.4633 19.0461C8.62896 19.3489 8.8032 19.6631 9.00029 19.9173C9.11168 20.0601 9.45444 20.5 10 20.5C10.1342 20.5 10.5456 20.5 10.9997 19.9173C11.1968 19.6631 11.371 19.3489 11.5367 19.0461C11.6767 18.7919 11.9309 18.3292 12.0737 18.2235C12.2565 18.2378 12.7278 18.5234 12.9877 18.6805C13.6732 19.0947 14.3816 19.5231 15.0014 19.1632C15.6298 18.8005 15.6098 17.9664 15.5955 17.1581C15.5898 16.861 15.5784 16.3155 15.6527 16.1527C15.8155 16.0784 16.3582 16.0898 16.6581 16.0955C17.4636 16.1127 18.2976 16.1298 18.6632 15.5014C19.0231 14.8816 18.5947 14.1732 18.1805 13.4877C18.0234 13.2278 17.7378 12.7536 17.7235 12.5737C17.8292 12.4309 18.2919 12.1767 18.5461 12.0367C18.8489 11.871 19.1631 11.6968 19.4173 11.4997C19.5601 11.3883 20 11.0456 20 10.5C20 10.36 20 9.95158 19.4145 9.49743ZM7.62068 5.79563C8.81748 5.79563 9.53442 6.50971 9.53442 7.70937C9.53442 8.90903 8.82034 9.62311 7.62068 9.62311C6.42102 9.62311 5.70694 8.90903 5.70694 7.70937C5.70694 6.50971 6.42388 5.79563 7.62068 5.79563ZM6.99229 15.2644C6.7952 15.51 6.4353 15.5528 6.18966 15.3558C5.94687 15.1615 5.90403 14.8073 6.09255 14.5617L13.0077 5.72422C13.2019 5.47572 13.5618 5.43288 13.8103 5.62711C14.0588 5.82134 14.1017 6.18123 13.9075 6.42973L6.99229 15.2644ZM12.3765 15.1901C11.1797 15.1901 10.4627 14.476 10.4627 13.2763C10.4627 12.0767 11.1768 11.3626 12.3765 11.3626C13.5761 11.3626 14.2902 12.0767 14.2902 13.2763C14.2902 14.476 13.5733 15.1901 12.3765 15.1901Z" fill="#019DF4"/>
                                                            </svg>
                                                            span.sticker__text Exclusivo online
                                                    .promo-col-2
                                                        p.promo-text-1 200 Mbps 
                                                            span.text-1__sub x 2 meses

                                            .box__description
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/planes-duo/icon-wifi.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Velocidad de internet Fibra
                                                        p.info-text-2 Máx de descarga 100 Mbps
                                                        p.info-text-3 Máx de subida 100 Mbps
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/fibra-optica/icon-tv-canales.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Canales
                                                        p.info-text-3 107 canales SD + 63 canales HD
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/fibra-optica/icon-decos.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Decos
                                                        p.info-text-3 2 Deco HD
                                            .box__footer 
                                                button.link--more(type="button")
                                                    span.text-1 Ver más
                                                    <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 8 11">
                                                    <use xlink:href="images/icons/stweb-sprite-home.svg#abajo-flecha"> </use>
                                                    </svg>
                                    .swiper-slide
                                        .plan-box 
                                            .box__info
                                                p.info-text-1 TV + Fijo
                                                p.info-text-2 &nbsp;
                                                .info-megas
                                                    .megas__col-1
                                                        p.info-text-3.info-text-3-sm Movistar TV Full + Teléfono Fijo
                                                    .megas__col-2
                                                        p.info-text-5 #[span.text-symbol S/]133 #[span.text-sub al mes]
                                                        p.info-text-6 &nbsp;
                                                p.info-text-7 Costo de instalación
                                                p.info-text-8 #[span.text-symbol *] S/15 x 6 meses
                                                button.stweb-btn.stweb-btn--round.stweb-btn--cian.button--buy Contratar plan
                                                button.stweb-btn.stweb-btn--round.stweb-btn--outline-cian.button--call Llámame ahora

                                            .box__description
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/fibra-optica/icon-tv-canales.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Canales
                                                        p.info-text-3 107 canales SD + 63 canales HD
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/fibra-optica/icon-decos.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Decos
                                                        p.info-text-3 2 Deco HD
                                            .box__footer 
                                                button.link--more(type="button")
                                                    span.text-1 Ver más
                                                    <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 8 11">
                                                    <use xlink:href="images/icons/stweb-sprite-home.svg#abajo-flecha"> </use>
                                                    </svg>
                            
                            .swiper-button-prev
                                <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 1.7334L1 7.7334L7 13.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            .swiper-button-next
                                <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13.7334L7 7.7334L1 1.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                    .tab-pane-footer 
                        .container 
                            h2.title Todos nuestros planes Dúo #[b también incluyen]
                            .plans-include.plans-include-col-3.swiper#intPlan1
                                .swiper-wrapper                    
                                    .plans-include__item.swiper-slide
                                        picture.picture
                                            img(src="images/modem/modem-smart-wifi.png", alt="modem", srcset="images/modem/modem-smart-wifi.png")
                                        .content 
                                            h3.title Movistar TV App
                                            span.text Mira TV desde donde estés
                                    .plans-include__item.swiper-slide
                                        picture.picture 
                                            img(src="images/modem/modem-smart-wifi.png", alt="modem", srcset="images/modem/modem-smart-wifi.png")
                                        .content 
                                            h3.title Costo de instalación
                                            span.text GRATIS (previa evaluación crediticia)
                                    .plans-include__item.swiper-slide
                                        picture.picture 
                                            img(src="images/modem/modem-smart-wifi.png", alt="modem", srcset="images/modem/modem-smart-wifi.png")
                                        .content 
                                            h3.title Módem Smart WiFi
                                            span.text 2.4GHz y 5GHz

                #tab-2.tab-pane(role="tabpanel") 
                    .tab-pane-body
                        .mtv-plan__carousel.mtv-plan__carousel-2
                            .swiper
                                .swiper-wrapper
                                    .swiper-slide
                                        .plan-box 
                                            .box__info
                                                p.info-text-1 TV + Internet Fibra + Fijo
                                                p.info-text-2 Fibra Óptica
                                                    <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 10 10">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 5C0.5 2.51881 2.51881 0.5 5 0.5C7.48119 0.5 9.5 2.51881 9.5 5C9.5 7.48119 7.48119 9.5 5 9.5C2.51881 9.5 0.5 7.48119 0.5 5ZM1.24982 5C1.25199 7.07028 2.92973 8.74802 5 8.75019C7.07028 8.74802 8.74802 7.07028 8.75019 5C8.74802 2.92973 7.07028 1.25199 5 1.24982C2.92973 1.25199 1.25199 2.92973 1.24982 5Z" fill="currentColor"/>
                                                    <path d="M4.30781 6.00079H5.20359C5.42074 5.00396 6.6875 4.78244 6.6875 3.59573C6.6875 2.70174 6.04507 2.1875 4.75117 2.1875C4.41812 2.1875 4.0238 2.24107 3.68046 2.32145C3.46801 2.37119 3.34608 2.58555 3.39071 2.79913C3.44151 3.0423 3.68681 3.19054 3.93197 3.15045C4.10245 3.12257 4.27386 3.10522 4.42544 3.10522C4.77832 3.10522 5.24581 3.16851 5.38154 3.27927C5.49916 3.38212 5.5625 3.53244 5.5625 3.73813C5.5625 4.10206 5.35439 4.37896 5.11914 4.66377C4.86578 4.98813 4.28066 5.36788 4.28066 5.75554C4.28066 5.85047 4.28971 5.91377 4.30781 6.00079ZM4.73308 7.8125H4.79641C5.23073 7.8125 5.45694 7.66218 5.45694 7.26661V7.17168C5.45694 6.77611 5.23073 6.62579 4.79641 6.62579H4.73308C4.29876 6.62579 4.07255 6.77611 4.07255 7.17168V7.26661C4.07255 7.66218 4.29876 7.8125 4.73308 7.8125Z" fill="currentColor"/>
                                                    </svg>
                                                .info-megas
                                                    .megas__col-1
                                                        p.info-text-3 50 Mbps
                                                        p.info-text-4 Velocidad de simétrica
                                                    .megas__col-2
                                                        p.info-text-5 #[span.text-symbol S/]81#[span.text-sub .40 x 2 meses]
                                                        p.info-text-6 Precio regular S/154.90
                                                p.info-text-7 Instalación gratis 
                                                p.info-text-8 #[span.text-symbol *] Previa evaluación crediticia
                                                button.stweb-btn.stweb-btn--round.stweb-btn--cian.button--buy Contratar plan
                                                button.stweb-btn.stweb-btn--round.stweb-btn--outline-cian.button--call Llámame ahora
                                                .info-promo-2
                                                    .promo-col-1
                                                        .promo-sticker
                                                            <svg aria-hidden="true" class="sticker__svg svg--inline-icon" focusable="false" role="img" viewBox="0 0 21 21">
                                                            <path d="M7.62057 8.47796C8.18898 8.47796 8.39178 8.27802 8.39178 7.70676C8.39178 7.13549 8.18898 6.93555 7.62057 6.93555C7.05216 6.93555 6.84937 7.13835 6.84937 7.70676C6.84937 8.27516 7.05216 8.47796 7.62057 8.47796ZM12.3764 12.5082C11.8079 12.5082 11.6051 12.7082 11.6051 13.2794C11.6051 13.8507 11.8079 14.0507 12.3764 14.0507C12.9448 14.0507 13.1476 13.8507 13.1476 13.2794C13.1476 12.7082 12.9448 12.5082 12.3764 12.5082Z" fill="#019DF4"/>
                                                            <path d="M19.4145 9.49743C19.1602 9.30034 18.846 9.12611 18.5433 8.96044C18.2891 8.82048 17.8263 8.56627 17.7207 8.42345C17.7349 8.24064 18.0206 7.76935 18.1777 7.50943C18.5918 6.82391 19.0203 6.11554 18.6604 5.49572C18.2976 4.86732 17.4636 4.88446 16.6552 4.9016C16.3582 4.90731 15.8126 4.91874 15.6498 4.84447C15.5756 4.68166 15.587 4.13896 15.5927 3.83905C15.6098 3.03356 15.627 2.19951 14.9986 1.8339C14.3816 1.47972 13.6732 1.90817 12.9877 2.31948C12.7278 2.47658 12.2536 2.76221 12.0737 2.77649C11.9309 2.67081 11.6767 2.20808 11.5367 1.95387C11.371 1.6511 11.1968 1.3369 10.9997 1.08269C10.8883 0.937018 10.5456 0.5 10 0.5C9.86575 0.5 9.45444 0.5 9.00029 1.08269C8.8032 1.3369 8.62896 1.6511 8.4633 1.95387C8.32334 2.20808 8.06912 2.67081 7.92631 2.77649C7.7435 2.76221 7.27221 2.47658 7.01228 2.31948C6.32676 1.90531 5.61839 1.47686 4.99857 1.83676C4.37018 2.19951 4.38732 3.03356 4.40446 3.8419C4.41017 4.13896 4.42159 4.68452 4.34733 4.84733C4.18452 4.92159 3.64182 4.91017 3.3419 4.90446C2.53642 4.88732 1.70237 4.87018 1.33676 5.49857C0.976864 6.11839 1.40531 6.82676 1.81948 7.51228C1.97658 7.77221 2.26221 8.24636 2.27649 8.42631C2.17081 8.56912 1.70808 8.82334 1.45387 8.9633C1.1511 9.12896 0.836904 9.3032 0.582691 9.50029C0.437018 9.61168 0 9.95444 0 10.5C0 10.6342 5.96046e-08 11.0456 0.582691 11.4997C0.836904 11.6968 1.1511 11.871 1.45387 12.0367C1.70808 12.1767 2.17081 12.4309 2.27649 12.5737C2.26221 12.7565 1.97658 13.2278 1.81948 13.4877C1.40531 14.1732 0.976864 14.8816 1.33676 15.5014C1.69951 16.1298 2.53356 16.1127 3.3419 16.0955C3.63896 16.0898 4.18452 16.0784 4.34733 16.1527C4.42159 16.3155 4.41017 16.8582 4.40446 17.1581C4.38732 17.9636 4.37018 18.7976 4.99857 19.1632C5.61839 19.5231 6.32676 19.0947 7.01228 18.6805C7.27221 18.5234 7.74636 18.2378 7.92631 18.2235C8.06912 18.3292 8.32334 18.7919 8.4633 19.0461C8.62896 19.3489 8.8032 19.6631 9.00029 19.9173C9.11168 20.0601 9.45444 20.5 10 20.5C10.1342 20.5 10.5456 20.5 10.9997 19.9173C11.1968 19.6631 11.371 19.3489 11.5367 19.0461C11.6767 18.7919 11.9309 18.3292 12.0737 18.2235C12.2565 18.2378 12.7278 18.5234 12.9877 18.6805C13.6732 19.0947 14.3816 19.5231 15.0014 19.1632C15.6298 18.8005 15.6098 17.9664 15.5955 17.1581C15.5898 16.861 15.5784 16.3155 15.6527 16.1527C15.8155 16.0784 16.3582 16.0898 16.6581 16.0955C17.4636 16.1127 18.2976 16.1298 18.6632 15.5014C19.0231 14.8816 18.5947 14.1732 18.1805 13.4877C18.0234 13.2278 17.7378 12.7536 17.7235 12.5737C17.8292 12.4309 18.2919 12.1767 18.5461 12.0367C18.8489 11.871 19.1631 11.6968 19.4173 11.4997C19.5601 11.3883 20 11.0456 20 10.5C20 10.36 20 9.95158 19.4145 9.49743ZM7.62068 5.79563C8.81748 5.79563 9.53442 6.50971 9.53442 7.70937C9.53442 8.90903 8.82034 9.62311 7.62068 9.62311C6.42102 9.62311 5.70694 8.90903 5.70694 7.70937C5.70694 6.50971 6.42388 5.79563 7.62068 5.79563ZM6.99229 15.2644C6.7952 15.51 6.4353 15.5528 6.18966 15.3558C5.94687 15.1615 5.90403 14.8073 6.09255 14.5617L13.0077 5.72422C13.2019 5.47572 13.5618 5.43288 13.8103 5.62711C14.0588 5.82134 14.1017 6.18123 13.9075 6.42973L6.99229 15.2644ZM12.3765 15.1901C11.1797 15.1901 10.4627 14.476 10.4627 13.2763C10.4627 12.0767 11.1768 11.3626 12.3765 11.3626C13.5761 11.3626 14.2902 12.0767 14.2902 13.2763C14.2902 14.476 13.5733 15.1901 12.3765 15.1901Z" fill="#019DF4"/>
                                                            </svg>
                                                            span.sticker__text Exclusivo online
                                                    .promo-col-2
                                                        p.promo-text-1 200 Mbps 
                                                            span.text-1__sub x 2 meses

                                            .box__description
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/planes-duo/icon-wifi.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Velocidad de internet Fibra
                                                        p.info-text-2 Máx de descarga 50 Mbps
                                                        p.info-text-3 Máx de subida 50 Mbps
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/fibra-optica/icon-tv-canales.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Canales
                                                        p.info-text-3 107 canales SD + 63 canales HD
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/fibra-optica/icon-decos.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Decos
                                                        p.info-text-3 1 Deco HD
                                            .box__footer 
                                                button.link--more(type="button")
                                                    span.text-1 Ver más
                                                    <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 8 11">
                                                    <use xlink:href="images/icons/stweb-sprite-home.svg#abajo-flecha"> </use>
                                                    </svg>
                                    .swiper-slide
                                        .plan-box.plan-box-great
                                            p.box__outstanding ⭐ Más vendido
                                            .box__info
                                                p.info-text-1 TV + Internet Fibra + Fijo
                                                p.info-text-2 Fibra Óptica
                                                    <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 10 10">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 5C0.5 2.51881 2.51881 0.5 5 0.5C7.48119 0.5 9.5 2.51881 9.5 5C9.5 7.48119 7.48119 9.5 5 9.5C2.51881 9.5 0.5 7.48119 0.5 5ZM1.24982 5C1.25199 7.07028 2.92973 8.74802 5 8.75019C7.07028 8.74802 8.74802 7.07028 8.75019 5C8.74802 2.92973 7.07028 1.25199 5 1.24982C2.92973 1.25199 1.25199 2.92973 1.24982 5Z" fill="currentColor"/>
                                                    <path d="M4.30781 6.00079H5.20359C5.42074 5.00396 6.6875 4.78244 6.6875 3.59573C6.6875 2.70174 6.04507 2.1875 4.75117 2.1875C4.41812 2.1875 4.0238 2.24107 3.68046 2.32145C3.46801 2.37119 3.34608 2.58555 3.39071 2.79913C3.44151 3.0423 3.68681 3.19054 3.93197 3.15045C4.10245 3.12257 4.27386 3.10522 4.42544 3.10522C4.77832 3.10522 5.24581 3.16851 5.38154 3.27927C5.49916 3.38212 5.5625 3.53244 5.5625 3.73813C5.5625 4.10206 5.35439 4.37896 5.11914 4.66377C4.86578 4.98813 4.28066 5.36788 4.28066 5.75554C4.28066 5.85047 4.28971 5.91377 4.30781 6.00079ZM4.73308 7.8125H4.79641C5.23073 7.8125 5.45694 7.66218 5.45694 7.26661V7.17168C5.45694 6.77611 5.23073 6.62579 4.79641 6.62579H4.73308C4.29876 6.62579 4.07255 6.77611 4.07255 7.17168V7.26661C4.07255 7.66218 4.29876 7.8125 4.73308 7.8125Z" fill="currentColor"/>
                                                    </svg>
                                                .info-megas
                                                    .megas__col-1
                                                        p.info-text-3 100 Mbps
                                                        p.info-text-4 Velocidad de simétrica
                                                    .megas__col-2
                                                        p.info-text-5 #[span.text-symbol S/]91#[span.text-sub .40 x 2 meses]
                                                        p.info-text-6 Precio regular S/94.90
                                                p.info-text-7 Instalación gratis 
                                                p.info-text-8 #[span.text-symbol *] Previa evaluación crediticia
                                                button.stweb-btn.stweb-btn--round.stweb-btn--cian.button--buy Contratar plan
                                                button.stweb-btn.stweb-btn--round.stweb-btn--outline-cian.button--call Llámame ahora
                                                .info-promo-2
                                                    .promo-col-1
                                                        .promo-sticker
                                                            <svg aria-hidden="true" class="sticker__svg svg--inline-icon" focusable="false" role="img" viewBox="0 0 21 21">
                                                            <path d="M7.62057 8.47796C8.18898 8.47796 8.39178 8.27802 8.39178 7.70676C8.39178 7.13549 8.18898 6.93555 7.62057 6.93555C7.05216 6.93555 6.84937 7.13835 6.84937 7.70676C6.84937 8.27516 7.05216 8.47796 7.62057 8.47796ZM12.3764 12.5082C11.8079 12.5082 11.6051 12.7082 11.6051 13.2794C11.6051 13.8507 11.8079 14.0507 12.3764 14.0507C12.9448 14.0507 13.1476 13.8507 13.1476 13.2794C13.1476 12.7082 12.9448 12.5082 12.3764 12.5082Z" fill="#019DF4"/>
                                                            <path d="M19.4145 9.49743C19.1602 9.30034 18.846 9.12611 18.5433 8.96044C18.2891 8.82048 17.8263 8.56627 17.7207 8.42345C17.7349 8.24064 18.0206 7.76935 18.1777 7.50943C18.5918 6.82391 19.0203 6.11554 18.6604 5.49572C18.2976 4.86732 17.4636 4.88446 16.6552 4.9016C16.3582 4.90731 15.8126 4.91874 15.6498 4.84447C15.5756 4.68166 15.587 4.13896 15.5927 3.83905C15.6098 3.03356 15.627 2.19951 14.9986 1.8339C14.3816 1.47972 13.6732 1.90817 12.9877 2.31948C12.7278 2.47658 12.2536 2.76221 12.0737 2.77649C11.9309 2.67081 11.6767 2.20808 11.5367 1.95387C11.371 1.6511 11.1968 1.3369 10.9997 1.08269C10.8883 0.937018 10.5456 0.5 10 0.5C9.86575 0.5 9.45444 0.5 9.00029 1.08269C8.8032 1.3369 8.62896 1.6511 8.4633 1.95387C8.32334 2.20808 8.06912 2.67081 7.92631 2.77649C7.7435 2.76221 7.27221 2.47658 7.01228 2.31948C6.32676 1.90531 5.61839 1.47686 4.99857 1.83676C4.37018 2.19951 4.38732 3.03356 4.40446 3.8419C4.41017 4.13896 4.42159 4.68452 4.34733 4.84733C4.18452 4.92159 3.64182 4.91017 3.3419 4.90446C2.53642 4.88732 1.70237 4.87018 1.33676 5.49857C0.976864 6.11839 1.40531 6.82676 1.81948 7.51228C1.97658 7.77221 2.26221 8.24636 2.27649 8.42631C2.17081 8.56912 1.70808 8.82334 1.45387 8.9633C1.1511 9.12896 0.836904 9.3032 0.582691 9.50029C0.437018 9.61168 0 9.95444 0 10.5C0 10.6342 5.96046e-08 11.0456 0.582691 11.4997C0.836904 11.6968 1.1511 11.871 1.45387 12.0367C1.70808 12.1767 2.17081 12.4309 2.27649 12.5737C2.26221 12.7565 1.97658 13.2278 1.81948 13.4877C1.40531 14.1732 0.976864 14.8816 1.33676 15.5014C1.69951 16.1298 2.53356 16.1127 3.3419 16.0955C3.63896 16.0898 4.18452 16.0784 4.34733 16.1527C4.42159 16.3155 4.41017 16.8582 4.40446 17.1581C4.38732 17.9636 4.37018 18.7976 4.99857 19.1632C5.61839 19.5231 6.32676 19.0947 7.01228 18.6805C7.27221 18.5234 7.74636 18.2378 7.92631 18.2235C8.06912 18.3292 8.32334 18.7919 8.4633 19.0461C8.62896 19.3489 8.8032 19.6631 9.00029 19.9173C9.11168 20.0601 9.45444 20.5 10 20.5C10.1342 20.5 10.5456 20.5 10.9997 19.9173C11.1968 19.6631 11.371 19.3489 11.5367 19.0461C11.6767 18.7919 11.9309 18.3292 12.0737 18.2235C12.2565 18.2378 12.7278 18.5234 12.9877 18.6805C13.6732 19.0947 14.3816 19.5231 15.0014 19.1632C15.6298 18.8005 15.6098 17.9664 15.5955 17.1581C15.5898 16.861 15.5784 16.3155 15.6527 16.1527C15.8155 16.0784 16.3582 16.0898 16.6581 16.0955C17.4636 16.1127 18.2976 16.1298 18.6632 15.5014C19.0231 14.8816 18.5947 14.1732 18.1805 13.4877C18.0234 13.2278 17.7378 12.7536 17.7235 12.5737C17.8292 12.4309 18.2919 12.1767 18.5461 12.0367C18.8489 11.871 19.1631 11.6968 19.4173 11.4997C19.5601 11.3883 20 11.0456 20 10.5C20 10.36 20 9.95158 19.4145 9.49743ZM7.62068 5.79563C8.81748 5.79563 9.53442 6.50971 9.53442 7.70937C9.53442 8.90903 8.82034 9.62311 7.62068 9.62311C6.42102 9.62311 5.70694 8.90903 5.70694 7.70937C5.70694 6.50971 6.42388 5.79563 7.62068 5.79563ZM6.99229 15.2644C6.7952 15.51 6.4353 15.5528 6.18966 15.3558C5.94687 15.1615 5.90403 14.8073 6.09255 14.5617L13.0077 5.72422C13.2019 5.47572 13.5618 5.43288 13.8103 5.62711C14.0588 5.82134 14.1017 6.18123 13.9075 6.42973L6.99229 15.2644ZM12.3765 15.1901C11.1797 15.1901 10.4627 14.476 10.4627 13.2763C10.4627 12.0767 11.1768 11.3626 12.3765 11.3626C13.5761 11.3626 14.2902 12.0767 14.2902 13.2763C14.2902 14.476 13.5733 15.1901 12.3765 15.1901Z" fill="#019DF4"/>
                                                            </svg>
                                                            span.sticker__text Exclusivo online
                                                    .promo-col-2
                                                        p.promo-text-1 200 Mbps 
                                                            span.text-1__sub x 2 meses

                                            .box__description
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/planes-duo/icon-wifi.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Velocidad de internet Fibra
                                                        p.info-text-2 Máx de descarga 100 Mbps
                                                        p.info-text-3 Máx de subida 100 Mbps
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/fibra-optica/icon-tv-canales.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Canales
                                                        p.info-text-3 107 canales SD + 63 canales HD
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/fibra-optica/icon-decos.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Decos
                                                        p.info-text-3 2 Deco HD
                                            .box__footer 
                                                button.link--more(type="button")
                                                    span.text-1 Ver más
                                                    <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 8 11">
                                                    <use xlink:href="images/icons/stweb-sprite-home.svg#abajo-flecha"> </use>
                                                    </svg>
                                    
                            .swiper-button-prev
                                <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 1.7334L1 7.7334L7 13.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            .swiper-button-next
                                <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13.7334L7 7.7334L1 1.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                    .tab-pane-footer 
                        .container 
                            h2.title Todos nuestros planes Dúo #[b también incluyen]
                            .plans-include.swiper#intPlan2
                                .swiper-wrapper                    
                                    .plans-include__item.swiper-slide
                                        picture.picture
                                            img(src="images/modem/modem-smart-wifi.png", alt="modem", srcset="images/modem/modem-smart-wifi.png")
                                        .content 
                                            h3.title Movistar TV App
                                            span.text Mira TV desde donde estés
                                    .plans-include__item.swiper-slide
                                        picture.picture 
                                            img(src="images/modem/modem-smart-wifi.png", alt="modem", srcset="images/modem/modem-smart-wifi.png")
                                        .content 
                                            h3.title Módem Smart WiFi
                                            span.text 2.4GHz y 5GHz
                                    .plans-include__item.swiper-slide
                                        picture.picture 
                                            img(src="images/modem/modem-smart-wifi.png", alt="modem", srcset="images/modem/modem-smart-wifi.png")
                                        .content 
                                            h3.title Línea fija
                                            span.text Llamadas ilimitadas a fijos Movistar
                                    .plans-include__item.swiper-slide
                                        picture.picture 
                                            img(src="images/modem/modem-smart-wifi.png", alt="modem", srcset="images/modem/modem-smart-wifi.png")
                                        .content 
                                            h3.title Costo de instalación
                                            span.text GRATIS (previa evaluación crediticia)
                                    

                #tab-3.tab-pane(role="tabpanel") 
                    .tab-pane-body
                        .mtv-plan__carousel.mtv-plan__carousel-3
                            .swiper
                                .swiper-wrapper
                                    .swiper-slide
                                        .plan-box.plan-box-great 
                                            //p.box__outstanding ⭐ Más vendido
                                            .box__info
                                                p.info-text-1 Solo TV Movistar
                                                
                                                .info-megas
                                                    .megas__col-1
                                                        p.info-text-3 100 Mbps
                                                        p.info-text-4 Velocidad de simétrica
                                                    .megas__col-2
                                                        p.info-text-5 #[span.text-symbol S/]124#[span.text-sub .90 al mes]
                                                        p.info-text-6 &nbsp;
                                                p.info-text-7 Costo de instalación
                                                p.info-text-8 #[span.text-symbol *] S/15  x 6 meses
                                                button.stweb-btn.stweb-btn--round.stweb-btn--cian.button--buy Contratar plan
                                                button.stweb-btn.stweb-btn--round.stweb-btn--outline-cian.button--call Llámame ahora

                                            .box__description
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/fibra-optica/icon-tv-canales.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Canales
                                                        p.info-text-3 107 canales SD + 63 canales HD
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/fibra-optica/icon-decos.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Decos
                                                        p.info-text-3 1 Deco HD
                                            .box__footer 
                                                button.link--more(type="button")
                                                    span.text-1 Ver más
                                                    <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 8 11">
                                                    <use xlink:href="images/icons/stweb-sprite-home.svg#abajo-flecha"> </use>
                                                    </svg>
                                    
                            .swiper-button-prev
                                <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 1.7334L1 7.7334L7 13.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            .swiper-button-next
                                <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13.7334L7 7.7334L1 1.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

.stweb__mtv-exclusive
    .container
        h2.title Disfruta de canales exclusivos
        p.subtitle Obtén la mejor programación y cobertura de los eventos futbolísticos más importantes del Perú
        .exclusive--carousel
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        .channel-box
                            img.box__image(src="images/pages/movistar-tv/logo-m-deportes.png", alt="")
                            p.box__description Noticias el deporte nacional e internacional
                            p.box__number SD 003 | HD 703
                    .swiper-slide
                        .channel-box
                            img.box__image(src="images/pages/movistar-tv/logo-golperu.png", alt="")
                            p.box__description Todo el fútbol nacional en un solo lugar
                            p.box__number SD 003 | HD 703
                    .swiper-slide
                        .channel-box
                            img.box__image(src="images/pages/movistar-tv/logo-rpp.png", alt="")
                            p.box__description Las últimas noticias de todo el acontecer mundial
                            p.box__number SD 003 | HD 703
                    .swiper-slide
                        .channel-box
                            img.box__image(src="images/pages/movistar-tv/logo-canal-n.png", alt="")
                            p.box__description Noticias del Perú y el mundo al instante
                            p.box__number SD 003 | HD 703
                .swiper-pagination


.stweb__mtv-decosmart
    .container
        .row.information
            .col-md-7
                .content
                    h2.title Con el deco smart Movistar TV pausa, avanza o retrocede ¡Cuando quieras!
                    p.text Descubre la increíble programación que tenemos para ti  y disfruta de lo mejor del entretenimiento por Movistar TV.
                    a.link(href="http://", target="_blank", rel="noopener noreferrer") 
                        span Selecciona un plan
                        <svg class="svg--inline" focusable="false" role="img" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33868 15.5C1.1038 15.5 0.879906 15.4018 0.721861 15.2332C0.407965 14.8918 0.429916 14.371 0.770152 14.0551L7.42123 7.94474L0.774542 1.95175C0.432111 1.63802 0.407965 1.11726 0.719665 0.773641C1.02039 0.440697 1.54062 0.406549 1.88305 0.698942C1.88964 0.705345 1.89623 0.709613 1.90281 0.716016L9.22558 7.32154C9.40119 7.47948 9.49996 7.70144 9.49996 7.93407C9.50216 8.16671 9.40557 8.3908 9.23216 8.55087L1.9072 15.2781C1.75438 15.4208 1.55059 15.5003 1.33868 15.5Z" fill="#86888C"/>
                        </svg>
            .col-md-5
                picture
                    img.picture(src="images/decosmart/deco-smart.png", alt="deco smart Movistar TV")

.stweb__mtv-posters
    .poster-card
        .card__content
            picture.card__logo
                source(media="(min-width: 992px)", srcset="images/pages/movistar-tv/warner-logo.png")
                img(src="images/pages/movistar-tv/warner-logo-mobile.png", alt="")
            .card__body
                p.card__title 
                    span.title-text Los #[span.title-br-lg Winchesters]
                    <svg aria-hidden="true" class="card__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.11261 15.371C0.945734 15.3732 0.785445 15.3049 0.671267 15.1853C0.442911 14.9569 0.442911 14.594 0.671267 14.3656L8.02697 7.8121L0.708594 1.37601C0.467064 1.16041 0.449498 0.793239 0.671267 0.558423C0.895232 0.323607 1.2729 0.306529 1.51662 0.524268L9.31147 7.37876C9.553 7.60077 9.56398 7.97434 9.33562 8.20916L9.31147 8.23264L1.51662 15.2259C1.40684 15.3177 1.26192 15.371 1.11261 15.371Z" fill="white"/>
                    </svg>
                p.card__description Solo con Paquete HBO Premium
                a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Contrátalo aquí
        picture.card__picture
            img(src="images/pages/movistar-tv/hbo-poster.png", alt="")
    .poster-card
        .card__content
            picture.card__logo
                source(media="(min-width: 992px)", srcset="images/pages/movistar-tv/hbo-logo.png")
                img(src="images/pages/movistar-tv/hbo-logo-mobile.png", alt="")
            .card__body
                p.card__title 
                    span.title-text La casa #[span.title-br-lg del dragón]
                    <svg aria-hidden="true" class="card__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.11261 15.371C0.945734 15.3732 0.785445 15.3049 0.671267 15.1853C0.442911 14.9569 0.442911 14.594 0.671267 14.3656L8.02697 7.8121L0.708594 1.37601C0.467064 1.16041 0.449498 0.793239 0.671267 0.558423C0.895232 0.323607 1.2729 0.306529 1.51662 0.524268L9.31147 7.37876C9.553 7.60077 9.56398 7.97434 9.33562 8.20916L9.31147 8.23264L1.51662 15.2259C1.40684 15.3177 1.26192 15.371 1.11261 15.371Z" fill="white"/>
                    </svg>
                p.card__description Solo con Paquete HBO Premium
                a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Contrátalo aquí
        picture.card__picture
            img(src="images/pages/movistar-tv/hbo-poster.png", alt="")
    .poster-card
        .card__content
            picture.card__logo
                source(media="(min-width: 992px)", srcset="images/pages/movistar-tv/space-logo.png")
                img(src="images/pages/movistar-tv/space-logo-mobile.png", alt="")
            .card__body
                p.card__title 
                    span.title-text Animales #[span.title-br-lg fantásticos]
                    <svg aria-hidden="true" class="card__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.11261 15.371C0.945734 15.3732 0.785445 15.3049 0.671267 15.1853C0.442911 14.9569 0.442911 14.594 0.671267 14.3656L8.02697 7.8121L0.708594 1.37601C0.467064 1.16041 0.449498 0.793239 0.671267 0.558423C0.895232 0.323607 1.2729 0.306529 1.51662 0.524268L9.31147 7.37876C9.553 7.60077 9.56398 7.97434 9.33562 8.20916L9.31147 8.23264L1.51662 15.2259C1.40684 15.3177 1.26192 15.371 1.11261 15.371Z" fill="white"/>
                    </svg>
                p.card__description Solo con Paquete HBO Premium
                a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Contrátalo aquí
        picture.card__picture
            img(src="images/pages/movistar-tv/hbo-poster.png", alt="")
    .poster-card
        .card__content
            picture.card__logo
                source(media="(min-width: 992px)", srcset="images/pages/movistar-tv/tnt-logo.png")
                img(src="images/pages/movistar-tv/tnt-logo-mobile.png", alt="")
            .card__body
                p.card__title
                    span.title-text The last #[span.title-br-lg of Us]
                    <svg aria-hidden="true" class="card__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.11261 15.371C0.945734 15.3732 0.785445 15.3049 0.671267 15.1853C0.442911 14.9569 0.442911 14.594 0.671267 14.3656L8.02697 7.8121L0.708594 1.37601C0.467064 1.16041 0.449498 0.793239 0.671267 0.558423C0.895232 0.323607 1.2729 0.306529 1.51662 0.524268L9.31147 7.37876C9.553 7.60077 9.56398 7.97434 9.33562 8.20916L9.31147 8.23264L1.51662 15.2259C1.40684 15.3177 1.26192 15.371 1.11261 15.371Z" fill="white"/>
                    </svg>
                p.card__description Solo con Paquete HBO Premium
                a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Contrátalo aquí
        picture.card__picture
            img(src="images/pages/movistar-tv/hbo-poster.png", alt="")
    .poster-card
        .card__content
            picture.card__logo
                source(media="(min-width: 992px)", srcset="images/pages/movistar-tv/warner-logo.png")
                img(src="images/pages/movistar-tv/warner-logo-mobile.png", alt="")
            .card__body
                p.card__title 
                    span.title-text Avengers #[span.title-br-lg Endgame]
                    <svg aria-hidden="true" class="card__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.11261 15.371C0.945734 15.3732 0.785445 15.3049 0.671267 15.1853C0.442911 14.9569 0.442911 14.594 0.671267 14.3656L8.02697 7.8121L0.708594 1.37601C0.467064 1.16041 0.449498 0.793239 0.671267 0.558423C0.895232 0.323607 1.2729 0.306529 1.51662 0.524268L9.31147 7.37876C9.553 7.60077 9.56398 7.97434 9.33562 8.20916L9.31147 8.23264L1.51662 15.2259C1.40684 15.3177 1.26192 15.371 1.11261 15.371Z" fill="white"/>
                    </svg>
                p.card__description Solo con Paquete HBO Premium
                a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Contrátalo aquí
        picture.card__picture
            img(src="images/pages/movistar-tv/hbo-poster.png", alt="")


.stweb__mtv-clients
    .container
        h2.title ¿Qué opinan nuestros clientes?
        .row 
            .col-lg-6
                .client
                    .data
                        img(class="client--bg" src="images/clientes/data-bg.png", alt="fondo information", srcset="images/clientes/data-bg.png")
                        h3.title Margarita Martinez
                        span.plan Tiene un plan Internet Hogar Fibra Óptica 600 Megas
                        picture.photo
                            img(src="images/clientes/cliente-1.png", alt="Margarita Martinez", srcset="images/clientes/cliente-1.png" class="picture")
                    .testimony 
                        .paragraph
                            p.text Estos meses de cuarentena le hemos sacado el jugo al internet. En la casa estamos todos trabajando y estudiando a distancia a la misma hora. 
                            p.text Sí, cambiarme a Movistar fue la mejor decisión.
                    
            .col-lg-6
                .client
                    .data
                        img(class="client--bg" src="images/clientes/data-bg.png", alt="fondo information", srcset="images/clientes/data-bg.png")
                        h3.title Fernando Bustos
                        span.plan Tiene un plan Internet Hogar Fibra Óptica 400 Megas
                        picture.photo
                            img(src="images/clientes/cliente-1.png", alt="Margarita Martinez", srcset="images/clientes/cliente-2.png" class="picture")
                    .testimony 
                        .paragraph
                            p.text Esto de la Fibra Óptica te cambia la vida. El no tener que esperar que carguen los videos es algo tan simple pero tan genial, que se valora mucho.
                            p.text El sencillo hecho de “olvidarme” del internet o de las horas de baja velocidad, es algo que agradezco.

.stweb__faq-collapsible.stweb__faq-bg--gray#infaq-collapsible
    .container 
        h2.title Más información sobre Movistar TV
        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title Cobertura digital
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title Información legal sobre planes TV
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 


.stweb__faq-collapsible#faq-collapsible
    .container 
        h2.title Preguntas Frecuentes
        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Qué es la fibra óptica?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Que beneficios te brinda la portabilidad numérica?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Cuáles son los requisitos para migrar a otro operador?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Migrar a Movistar tiene algún costo?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Cuánto tiempo hay que esperar para hacer una portabilidad?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Puedo realizar una portabilidad solo de plan?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Puedo hacer una portabilidad con equipo?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Cuáles son los modelos de celulares disponibles para hacer una portabilidad con equipo Movistar?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 