.stweb__op-tabs-Planes
    .swiper.banner-hero__container.container
        .swiper-wrapper
            .swiper-slide
                .banner-hero__item
                    picture.picture--bg
                        source(media="(min-width: 992px)", srcset="images/pages/ofertas-planes/ofertas-planes-banner-desktop.jpg")
                        img(src="", alt="banner fibra optica", srcset="images/pages/ofertas-planes/ofertas-planes-banner-mobile.jpg")
                    .content 
                        .hero__form
                            p.text ¡Nuevo!
                            h2.title Llegó a Movistar el nuevo #[b #[br] iPhone 14 Pro Max]
                            button.btn-slide ¡Lo quiero!
                        .promotion 
                            picture.picture--pmt 
                                source(media="(min-width: 992px)", srcset="images/pages/ofertas-planes/ofertas-planes-desktop.png")
                                img(src="", alt="ahorra 40 soles por 2 meses", srcset="images/pages/ofertas-planes/ofertas-planes-mobile.png")
            .swiper-slide
                .banner-hero__item
                    picture.picture--bg
                        source(media="(min-width: 768px)", srcset="images/pages/ofertas-planes/ofertas-planes-banner-desktop.jpg")
                        img(src="", alt="banner fibra optica", srcset="images/pages/ofertas-planes/ofertas-planes-banner-mobile.jpg")
                    .content 
                        .hero__form
                            p.text ¡Nuevo!
                            h2.title Llegó a Movistar el nuevo #[b #[br] iPhone 14 Pro Max]
                            button.btn-slide ¡Lo quiero!
                        .promotion 
                            picture.picture--pmt 
                                source(media="(min-width: 768px)", srcset="images/pages/ofertas-planes/ofertas-planes-desktop.png")
                                img(src="", alt="ahorra 40 soles por 2 meses", srcset="images/pages/ofertas-planes/ofertas-planes-mobile.png")
        .swiper-arrow
            .swiper-button-prev
                <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 1.7334L1 7.7334L7 13.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            .swiper-button-next
                <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 13.7334L7 7.7334L1 1.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg> 

    .container
        .tab-panel
            .tab-content
                .tab-title.active
                    h2.title Descuentos en planes postpago con más gigas
                    .tab-pane-body
                        .op-plan__carousel
                            .swiper
                                .swiper-wrapper
                                    .swiper-slide
                                        .plan-box.plan-box-great 
                                            p.box__outstanding ⭐ Más vendido
                                            .box__info
                                                p.info-text-1 Plan Movistar
                                                p.info-text-2 Celular 5G con Plan 
                                                .info-megas
                                                    .megas__col-1
                                                        p.info-text-3 10 GB
                                                        p.info-text-4 Exclusivo online
                                                    .megas__col-2
                                                        p.info-text-5.mb-30 #[span.text-symbol S/]29#[span.text-sub .90 al mes]
                                                button.stweb-btn.stweb-btn--round.stweb-btn--cian.button--buy Comprar online
                                                button.stweb-btn.stweb-btn--round.stweb-btn--outline-cian.button--call Te llamamos
                                            .box__description
                                                .info-apps
                                                    p.title Apps ilimitadas x 12 meses*
                                                    .list-apps
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-whatsapp.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-whatsapp.png" class="icon")
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-facebook.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-facebook.png" class="icon")
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-messenger.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-messenger.png" class="icon")
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-instagram.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-instagram.png" class="icon")
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-waze.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-waze.png" class="icon")
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-spotify.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-spotify.png" class="icon")
                                                .info-promo
                                                    .info-promo-3
                                                        .promo-1__col-1
                                                            p.promo-text-1 #[img(src="images/pages/cambio-planes/icon-tiktok.png" class="icon")] 30 GB
                                                                span.text-1__sub de TikTok x 3 meses
                                                        hr
                                                        .promo-1__col-2
                                                            p.promo-text-2 Duplica #[b GB] 
                                                                span.text-1__sub x 6 meses
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/ofertas-planes/icon-plane.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Datos internacionales
                                                        p.info-text-3 América + WhatsApp internacional ilimitado (solo texto)
                                            .box__footer 
                                                button.link--more(type="button")
                                                    span.text-1 Ver más beneficios
                                                    <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 8 11">
                                                    <use xlink:href="images/icons/stweb-sprite-home.svg#abajo-flecha"> </use>
                                                    </svg>
                                    .swiper-slide
                                        .plan-box 
                                            .box__info
                                                p.info-text-1 Plan Movistar
                                                p.info-text-2 Celular 5G con Plan 
                                                .info-megas
                                                    .megas__col-1
                                                        p.info-text-3 25 GB
                                                        p.info-text-4 Exclusivo online
                                                    .megas__col-2
                                                        p.info-text-5.mb-30 #[span.text-symbol S/]39#[span.text-sub .90 al mes]
                                                button.stweb-btn.stweb-btn--round.stweb-btn--cian.button--buy Comprar online
                                                button.stweb-btn.stweb-btn--round.stweb-btn--outline-cian.button--call Te llamamos
                                            .box__description
                                                .info-apps
                                                    p.title Apps ilimitadas x 12 meses*
                                                    .list-apps
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-whatsapp.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-whatsapp.png" class="icon")
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-facebook.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-facebook.png" class="icon")
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-messenger.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-messenger.png" class="icon")
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-instagram.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-instagram.png" class="icon")
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-waze.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-waze.png" class="icon")
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-spotify.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-spotify.png" class="icon")
                                                .info-promo
                                                    .info-promo-3
                                                        .promo-1__col-1
                                                            p.promo-text-1 #[img(src="images/pages/cambio-planes/icon-tiktok.png" class="icon")] 30 GB
                                                                span.text-1__sub de TikTok x 3 meses
                                                        hr
                                                        .promo-1__col-2
                                                            p.promo-text-2 Duplica #[b GB] 
                                                                span.text-1__sub x 6 meses
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/ofertas-planes/icon-plane.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Datos internacionales
                                                        p.info-text-3 América + WhatsApp internacional ilimitado (solo texto)
                                            .box__footer 
                                                button.link--more(type="button")
                                                    span.text-1 Ver más beneficios
                                                    <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 8 11">
                                                    <use xlink:href="images/icons/stweb-sprite-home.svg#abajo-flecha"> </use>
                                                    </svg>
                                    .swiper-slide
                                        .plan-box 
                                            .box__info
                                                p.info-text-1 Plan Movistar
                                                p.info-text-2 Celular 5G con Plan 
                                                .info-megas
                                                    .megas__col-1
                                                        p.info-text-3 50 GB
                                                        p.info-text-4 Exclusivo online
                                                    .megas__col-2
                                                        p.info-text-5 #[span.text-symbol S/]44#[span.text-sub .72 x 3 meses]
                                                        p.info-text-6 #[span.text-dto 20% dto] Precio regular S/55.90
                                                button.stweb-btn.stweb-btn--round.stweb-btn--cian.button--buy Comprar online
                                                button.stweb-btn.stweb-btn--round.stweb-btn--outline-cian.button--call Te llamamos
                                            .box__description
                                                .info-apps
                                                    p.title Apps ilimitadas x 12 meses*
                                                    .list-apps
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-whatsapp.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-whatsapp.png" class="icon")
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-facebook.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-facebook.png" class="icon")
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-messenger.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-messenger.png" class="icon")
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-instagram.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-instagram.png" class="icon")
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-waze.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-waze.png" class="icon")
                                                        picture
                                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-planes/icon-spotify.png")
                                                            img(src="images/pages/ofertas-planes/icon-mobile-spotify.png" class="icon")
                                                .info-promo
                                                    .info-promo-3
                                                        .promo-1__col-1
                                                            p.promo-text-1 #[img(src="images/pages/cambio-planes/icon-tiktok.png" class="icon")] 30 GB
                                                                span.text-1__sub de TikTok x 3 meses
                                                        hr
                                                        .promo-1__col-2
                                                            p.promo-text-2 Duplica #[b GB] 
                                                                span.text-1__sub x 6 meses
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/ofertas-planes/icon-plane.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Datos internacionales
                                                        p.info-text-3 América + WhatsApp internacional ilimitado (solo texto)
                                            .box__footer 
                                                button.link--more(type="button")
                                                    span.text-1 Ver más beneficios
                                                    <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 8 11">
                                                    <use xlink:href="images/icons/stweb-sprite-home.svg#abajo-flecha"> </use>
                                                    </svg>
                                    .swiper-slide
                                        .plan-box 
                                            .box__info
                                                p.info-text-1 Plan Ilimitado Movistar
                                                p.info-text-2 Celular 5G con Plan 
                                                .info-megas
                                                    .megas__col-1
                                                        p.info-text-3 95 GB
                                                        p.info-text-4 En alta velocidad
                                                    .megas__col-2
                                                        p.info-text-5 #[span.text-symbol S/]55#[span.text-sub .92 x 3 meses]
                                                        p.info-text-6 #[span.text-dto 20% dto] Precio regular S/69.90
                                                button.stweb-btn.stweb-btn--round.stweb-btn--cian.button--buy Comprar online
                                                button.stweb-btn.stweb-btn--round.stweb-btn--outline-cian.button--call Te llamamos
                                            .box__description
                                                .info-promo
                                                    .info-promo-3
                                                        .promo-1__col-1
                                                            p.promo-text-1 #[img(src="images/pages/cambio-planes/icon-tiktok.png" class="icon")] 30 GB
                                                                span.text-1__sub de TikTok x 3 meses
                                                        hr
                                                        .promo-1__col-2
                                                            p.promo-text-2 Duplica #[b GB] 
                                                                span.text-1__sub x 6 meses
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/ofertas-planes/icon-plane.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Datos internacionales
                                                        p.info-text-3 América + WhatsApp internacional ilimitado (solo texto)
                                            .box__footer 
                                                button.link--more(type="button")
                                                    span.text-1 Ver más beneficios
                                                    <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 8 11">
                                                    <use xlink:href="images/icons/stweb-sprite-home.svg#abajo-flecha"> </use>
                                                    </svg>
                                    .swiper-slide
                                        .plan-box 
                                            .box__info
                                                p.info-text-1 Plan Ilimitado Movistar
                                                p.info-text-2 Celular 5G con Plan 
                                                .info-megas
                                                    .megas__col-1
                                                        p.info-text-3 130 GB
                                                        p.info-text-4 En alta velocidad
                                                    .megas__col-2
                                                        p.info-text-5 #[span.text-symbol S/]79#[span.text-sub .92 x 3 meses]
                                                        p.info-text-6 #[span.text-dto 20% dto] Precio regular S/99.90
                                                button.stweb-btn.stweb-btn--round.stweb-btn--cian.button--buy Comprar online
                                                button.stweb-btn.stweb-btn--round.stweb-btn--outline-cian.button--call Te llamamos
                                            .box__description
                                                .info-promo
                                                    .info-promo-3
                                                        .promo-1__col-1
                                                            p.promo-text-1 #[img(src="images/pages/cambio-planes/icon-tiktok.png" class="icon")] 30 GB
                                                                span.text-1__sub de TikTok x 3 meses
                                                        hr
                                                        .promo-1__col-2
                                                            p.promo-text-2 Duplica #[b GB] 
                                                                span.text-1__sub x 6 meses
                                                .item__benefit
                                                    .benefit__icon
                                                        img(src="images/pages/ofertas-planes/icon-plane.png", width="16", height="16", alt="")
                                                    .benefit__info
                                                        p.info-text-1 Datos internacionales
                                                        p.info-text-3 América + WhatsApp internacional ilimitado (solo texto)
                                            .box__footer 
                                                button.link--more(type="button")
                                                    span.text-1 Ver más beneficios
                                                    <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 8 11">
                                                    <use xlink:href="images/icons/stweb-sprite-home.svg#abajo-flecha"> </use>
                                                    </svg>

.stweb__op-better-phones
    .container
        .row
            .col-lg-4.better-phones__content
                span.badge CELULARES 5G
                h2.title Encuenta el celular 5G ideal para ti
                a(href="http://", target="_blank", rel="noopener noreferrer" class="stweb-btn stweb-btn--cian stweb-btn--round") Ir a la tienda 
            .col-lg-8.better-phones__equipment
                .tab-panel
                    .tabs-wrapper
                        ul.nav.nav-tabs#tabs
                            li.nav-item.active(data-tab='tab-1')
                                a(href="javascript:void(0)").nav-link Portabilidad con equipo
                            li.nav-item(data-tab='tab-2')
                                a(href="javascript:void(0)").nav-link Renueva tu equipo
                            li.nav-item(data-tab='tab-3')
                                a(href="javascript:void(0)").nav-link Equipos liberados
                    .tab-content
                        #tab-1.tab-pane.active(role="tabpanel") 
                            .tab-pane-body
                                .stweb__carousel-equipment.swiper-container                    
                                    .swiper-wrapper
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/iphone-12-pro-max.png", alt="iphone 12 pro max", srcset="images/equipos/iphone-12-pro-max.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title iPhone 12 Pro Max
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,199
                                                        del.price--dscto S/4,500
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-s21-ultra.png", alt="galaxy s21 ultra", srcset="images/equipos/galaxy-s21-ultra.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy S21 Ultra
                                                .content 
                                                    span.text Al contado
                                                    span.price S/3,560
                                                        del.price--dscto S/4,100
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-fold-z.png", alt="galaxy fold z", srcset="images/equipos/galaxy-fold-z.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy Fold Z
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,329
                                                        del.price--dscto S/5,600
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90
                        #tab-2.tab-pane(role="tabpanel")
                            .tab-pane-body
                                .stweb__carousel-equipment.swiper-container                    
                                    .swiper-wrapper
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/iphone-12-pro-max.png", alt="iphone 12 pro max", srcset="images/equipos/iphone-12-pro-max.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title iPhone 12 Pro Max
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,199
                                                        del.price--dscto S/4,500
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-fold-z.png", alt="galaxy fold z", srcset="images/equipos/galaxy-fold-z.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy Fold Z
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,329
                                                        del.price--dscto S/5,600
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90                                                       
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-s21-ultra.png", alt="galaxy s21 ultra", srcset="images/equipos/galaxy-s21-ultra.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy S21 Ultra
                                                .content 
                                                    span.text Al contado
                                                    span.price S/3,560
                                                        del.price--dscto S/4,100
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90                    
                        #tab-3.tab-pane(role="tabpanel")
                            .tab-pane-body
                                .stweb__carousel-equipment.swiper-container                    
                                    .swiper-wrapper
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-s21-ultra.png", alt="galaxy s21 ultra", srcset="images/equipos/galaxy-s21-ultra.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy S21 Ultra
                                                .content 
                                                    span.text Al contado
                                                    span.price S/3,560
                                                        del.price--dscto S/4,100
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/galaxy-fold-z.png", alt="galaxy fold z", srcset="images/equipos/galaxy-fold-z.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title Galaxy Fold Z
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,329
                                                        del.price--dscto S/5,600
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90       
                                        .swiper-slide.stweb__equipment 
                                            .equipment__picture
                                                picture 
                                                    img(class="picture" src="images/equipos/iphone-12-pro-max.png", alt="iphone 12 pro max", srcset="images/equipos/iphone-12-pro-max.png")
                                            .equipment__content
                                                span.badge 25% de descuento 
                                                h3.title iPhone 12 Pro Max
                                                .content 
                                                    span.text Al contado
                                                    span.price S/4,199
                                                        del.price--dscto S/4,500
                                                    span.text Con plan 
                                                        b Mi Movistar 
                                                        | S/ 65,90                                                    
        .stweb__op-cell-brands
            .row
                .col-lg-4
                    h3.title Todas las marcas de celulares están en Movistar
                .col-lg-8
                    .row.justify-content-between.mx-n2.mx-md-n1
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/apple", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/apple.png", alt="apple", srcset="images/logos/apple.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/xiaomi", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/xiaomi.png", alt="xiaomi", srcset="images/logos/xiaomi.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/lg", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/lg.png", alt="lg", srcset="images/logos/lg.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/alcatel", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/alcatel.png", alt="alcatel", srcset="images/logos/alcatel.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/sony", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/sony.png", alt="sony", srcset="images/logos/sony.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/nokia", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/nokia.png", alt="nokia", srcset="images/logos/nokia.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/motorola", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/motorola.png", alt="motorola", srcset="images/logos/motorola.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/samsung", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/samsung.png", alt="samsung", srcset="images/logos/samsung.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/huawei", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/huawei.png", alt="huawei", srcset="images/logos/huawei.png")

.stweb__op-posters
    .poster-card
        .card__content
            picture.card__logo
                source(media="(min-width: 992px)", srcset="images/pages/ofertas-planes/icon-samsung.png")
                img(src="images/pages/ofertas-planes/icon-mobile-samsung.png", alt="")
            .card__body
                p.card__title iPhone 14
                <svg aria-hidden="true" class="card__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.11261 15.371C0.945734 15.3732 0.785445 15.3049 0.671267 15.1853C0.442911 14.9569 0.442911 14.594 0.671267 14.3656L8.02697 7.8121L0.708594 1.37601C0.467064 1.16041 0.449498 0.793239 0.671267 0.558423C0.895232 0.323607 1.2729 0.306529 1.51662 0.524268L9.31147 7.37876C9.553 7.60077 9.56398 7.97434 9.33562 8.20916L9.31147 8.23264L1.51662 15.2259C1.40684 15.3177 1.26192 15.371 1.11261 15.371Z" fill="white"/>
                </svg>
                p.card__description Llévalo con un #[b plan de s/69.90]
                a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Lo quiero
        picture.card__picture
            img(src="images/pages/ofertas-planes/iphone-14.jpg", alt="")
    .poster-card
        .card__content
            picture.card__logo
                source(media="(min-width: 992px)", srcset="images/pages/ofertas-planes/icon-apple.png")
                img(src="images/pages/ofertas-planes/icon-mobile-apple.png", alt="")
            .card__body
                p.card__title iPhone 14
                <svg aria-hidden="true" class="card__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.11261 15.371C0.945734 15.3732 0.785445 15.3049 0.671267 15.1853C0.442911 14.9569 0.442911 14.594 0.671267 14.3656L8.02697 7.8121L0.708594 1.37601C0.467064 1.16041 0.449498 0.793239 0.671267 0.558423C0.895232 0.323607 1.2729 0.306529 1.51662 0.524268L9.31147 7.37876C9.553 7.60077 9.56398 7.97434 9.33562 8.20916L9.31147 8.23264L1.51662 15.2259C1.40684 15.3177 1.26192 15.371 1.11261 15.371Z" fill="white"/>
                </svg>
                p.card__description Llévalo con un #[b plan de s/69.90]
                a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Lo quiero
        picture.card__picture
            img(src="images/pages/ofertas-planes/iphone-14.jpg", alt="")
    .poster-card
        .card__content
            picture.card__logo
                source(media="(min-width: 992px)", srcset="images/pages/ofertas-planes/icon-xiaomi.png")
                img(src="images/pages/ofertas-planes/icon-mobile-xiaomi.png", alt="")
            .card__body
                p.card__title iPhone 14
                <svg aria-hidden="true" class="card__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.11261 15.371C0.945734 15.3732 0.785445 15.3049 0.671267 15.1853C0.442911 14.9569 0.442911 14.594 0.671267 14.3656L8.02697 7.8121L0.708594 1.37601C0.467064 1.16041 0.449498 0.793239 0.671267 0.558423C0.895232 0.323607 1.2729 0.306529 1.51662 0.524268L9.31147 7.37876C9.553 7.60077 9.56398 7.97434 9.33562 8.20916L9.31147 8.23264L1.51662 15.2259C1.40684 15.3177 1.26192 15.371 1.11261 15.371Z" fill="white"/>
                </svg>
                p.card__description Llévalo con un #[b plan de s/69.90]
                a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Lo quiero
        picture.card__picture
            img(src="images/pages/ofertas-planes/iphone-14.jpg", alt="")
    .poster-card
        .card__content
            picture.card__logo
                source(media="(min-width: 992px)", srcset="images/pages/ofertas-planes/icon-motorola.png")
                img(src="images/pages/ofertas-planes/icon-mobile-motorola.png", alt="")
            .card__body
                p.card__title iPhone 14
                <svg aria-hidden="true" class="card__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.11261 15.371C0.945734 15.3732 0.785445 15.3049 0.671267 15.1853C0.442911 14.9569 0.442911 14.594 0.671267 14.3656L8.02697 7.8121L0.708594 1.37601C0.467064 1.16041 0.449498 0.793239 0.671267 0.558423C0.895232 0.323607 1.2729 0.306529 1.51662 0.524268L9.31147 7.37876C9.553 7.60077 9.56398 7.97434 9.33562 8.20916L9.31147 8.23264L1.51662 15.2259C1.40684 15.3177 1.26192 15.371 1.11261 15.371Z" fill="white"/>
                </svg>
                p.card__description Llévalo con un #[b plan de s/69.90]
                a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Lo quiero
        picture.card__picture
            img(src="images/pages/ofertas-planes/iphone-14.jpg", alt="")
    .poster-card
        .card__content
            picture.card__logo
                source(media="(min-width: 992px)", srcset="images/pages/ofertas-planes/icon-honor.png")
                img(src="images/pages/ofertas-planes/icon-mobile-honor.png", alt="")
            .card__body
                p.card__title iPhone 14
                <svg aria-hidden="true" class="card__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.11261 15.371C0.945734 15.3732 0.785445 15.3049 0.671267 15.1853C0.442911 14.9569 0.442911 14.594 0.671267 14.3656L8.02697 7.8121L0.708594 1.37601C0.467064 1.16041 0.449498 0.793239 0.671267 0.558423C0.895232 0.323607 1.2729 0.306529 1.51662 0.524268L9.31147 7.37876C9.553 7.60077 9.56398 7.97434 9.33562 8.20916L9.31147 8.23264L1.51662 15.2259C1.40684 15.3177 1.26192 15.371 1.11261 15.371Z" fill="white"/>
                </svg>
                p.card__description Llévalo con un #[b plan de s/69.90]
                a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="#") Lo quiero
        picture.card__picture
            img(src="images/pages/ofertas-planes/iphone-14.jpg", alt="")

.stweb__op-container
    .container
        .stweb_op-celebraton
                .celebraton-content
                    img(src="", alt="banner fibra optica", srcset="images/pages/ofertas-planes/celebraton.png")
                    .block-text
                        h4.title Celebratón Movistar
                        p.text ¡Descuentos en planes postpago, ahora con más GIGAS
                        p.subtext Elige entre los mejores planes móviles y equipos
                button.stweb-btn.stweb-btn--cian.stweb-btn--round Conoce más aquí
    .container
        .stweb_op-offers
            h3.title ¿Ya conoces de nuestras ofertas?
            .offers-days
                picture 
                    source(media="(min-width: 767px)", srcset="images/pages/ofertas-planes/ofertas-planes-girl-desktop.jpg")
                    img(src="", alt="banner fibra optica", srcset="images/pages/ofertas-planes/ofertas-planes-girl-mobile.jpg")
                .box-text#offers-collapsible
                    h3.collapsible__header 
                        button.collapsible__btn(type="button")
                            .collapsible__btn-content
                                img(src="", alt="banner fibra optica", srcset="images/pages/ofertas-planes/icon-ofertas.png")
                                span.title Black friday
                            span.icon
                                <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                                </svg>
                    .collapsible__body
                        .body
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    h3.collapsible__header 
                        button.collapsible__btn(type="button")
                            .collapsible__btn-content
                                img(src="", alt="banner fibra optica", srcset="images/pages/ofertas-planes/icon-ofertas.png")
                                span.title Cyber day 
                            span.icon
                                <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                                </svg>
                    .collapsible__body
                        .body
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    h3.collapsible__header 
                        button.collapsible__btn(type="button")
                            .collapsible__btn-content
                                img(src="", alt="banner fibra optica", srcset="images/pages/ofertas-planes/icon-ofertas.png")
                                span.title Día de las madres
                            span.icon
                                <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                                </svg>
                    .collapsible__body
                        .body
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    h3.collapsible__header 
                        button.collapsible__btn(type="button")
                            .collapsible__btn-content
                                img(src="", alt="banner fibra optica", srcset="images/pages/ofertas-planes/icon-ofertas.png")
                                span.title Navidad en Movistar
                            span.icon
                                <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                                </svg>
                    .collapsible__body
                        .body
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .offers-types
                .types-collection
                    .box-offers 
                        img.offers--bg(src="", alt="banner fibra optica", srcset="images/pages/ofertas-planes/ofertas-planes-fondo.png")
                        .box-offer 
                            .box-offers__types 
                                img(src="", alt="banner fibra optica", srcset="images/pages/ofertas-planes/icon-delivery.png")
                                .box-offers__text 
                                    p.title Envío GRATIS
                                    p.text sin gastos
                            .box-offers__types 
                                img(src="", alt="banner fibra optica", srcset="images/pages/ofertas-planes/icon-oferta.png")
                                .box-offers__text 
                                    p.title Ofertas online
                                    p.text exclusivas
                            .box-offers__types 
                                img(src="", alt="banner fibra optica", srcset="images/pages/ofertas-planes/icon-card.png")
                                .box-offers__text 
                                    p.title Varios medios
                                    p.text de pago
                            .box-offers__types 
                                img(src="", alt="banner fibra optica", srcset="images/pages/ofertas-planes/icon-lock.png")
                                .box-offers__text 
                                    p.title Compra segura
                                    p.text y rápida
                .box-text
                    h3.title Grandes razones para comprar un celular en Movistar
                    button.stweb-btn.stweb-btn--cian.stweb-btn--round Conoce más aquí

.stweb__faq-collapsible#faq-collapsible.stweb__op-bg
    .container 
        h2.title Preguntas Frecuentes
        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Dónde puedo comprar celulares por internet en Perú? 
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Dónde puedo comprar los celulares en oferta más baratos?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Dónde comprar teléfonos móviles a buen precio?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Cuál es el mejor celular en el mercado peruano?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Qué marca de celular es bueno y barato?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Qué celular es bueno y barato?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Cuánto cuesta el teléfono más barato?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Qué celular es recomendable comprar?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 
        
        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Qué celular es de gama alta y barato?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 
        
        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Cuál es el mejor celular de gama media 2022?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 
        
        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Qué celulares en oferta hay en movistar?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 
        
        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Cuáles son los celulares 5G que tiene Movistar Perú?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 
        
        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Qué es Movistar 2x1?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 
        
        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Cómo puedo sacar un teléfono en Movistar?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 