.stweb__op2-banner-timer
    picture.banner-timer-left
        source(media="(min-width: 992px)", srcset="images/pages/ofertas-2/banner-timer-left-desktop.png")
        img(src="images/pages/ofertas-2/banner-timer-left-mobile.png", alt="", srcset="images/pages/ofertas-2/banner-timer-left-mobile.png")
    picture.banner-timer-right
        source(media="(min-width: 992px)", srcset="images/pages/ofertas-2/banner-timer-right-desktop.png")
        img(src="images/pages/ofertas-2/banner-timer-right-mobile.png", alt="", srcset="images/pages/ofertas-2/banner-timer-right-mobile.png")
    .container
        span.title ¡OFERTAS DE LOCURA POR TIEMPO LIMITADO!
        .countdown
            #days.item
                span.number 00
                span.text Dias
            #hours.item
                span.number 00
                span.text Hr
            span.separator :
            #minutes.item
                span.number 00
                span.text Min 
            span.separator :      
            #seconds.item 
                span.number 00
                span.text Seg

.stweb__op2-banner-hero
    .swiper.banner-hero__container
        .swiper-wrapper
            .swiper-slide
                .banner-hero__item
                    picture.picture--bg
                        source(media="(min-width: 768px)", srcset="images/pages/ofertas-2/banner-ofertas-desktop.png")
                        img(src="", alt="banner fibra optica", srcset="images/pages/ofertas-2/banner-ofertas-mobile.png")
                    .content 
                        .bg-elipsi 
                            img(src="images/pages/ofertas-2/elipsi-desktop.png", alt="fondo elipsi", srcset="images/pages/ofertas-2/elipsi-desktop.png")
                        .promotion 
                            picture.picture--pmt                                 
                                img(src="", alt="ahorra 40 soles por 2 meses", srcset="images/pages/ofertas-2/banner-ofertas-celebraton-desktop.png")
            .swiper-slide
                .banner-hero__item
                    picture.picture--bg
                        source(media="(min-width: 768px)", srcset="images/pages/ofertas-2/banner-ofertas-desktop.png")
                        img(src="", alt="banner fibra optica", srcset="images/pages/ofertas-2/banner-ofertas-mobile.png")
                    .content 
                        .bg-elipsi 
                            img(src="images/pages/ofertas-2/elipsi-desktop.png", alt="fondo elipsi", srcset="images/pages/ofertas-2/elipsi-desktop.png")
                        .promotion 
                            picture.picture--pmt                                 
                                img(src="", alt="ahorra 40 soles por 2 meses", srcset="images/pages/ofertas-2/banner-ofertas-celebraton-desktop.png")
        .swiper-arrow
            .swiper-button-prev
                <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 1.7334L1 7.7334L7 13.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            .swiper-button-next
                <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 13.7334L7 7.7334L1 1.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                                    


.stweb__op2-plan-carousel
    .container
        .swiper.plan__swiper
            .swiper-wrapper
                .swiper-slide
                    .plan-box.plan-box-great                         
                        .box__info
                            p.info-text-1 Plan Movistar                            
                            .info-megas
                                .megas__col-1
                                    p.info-text-3 10 GB
                                    p.info-text-4 Exclusivo online
                                .megas__col-2
                                    p.info-text-5.mb-30 #[span.text-symbol S/]29#[span.text-sub .90 al mes]
                            button.stweb-btn.stweb-btn--round.stweb-btn--cian.button--buy Comprar online
                            button.stweb-btn.stweb-btn--round.stweb-btn--outline-cian.button--call Te llamamos
                        .box__description
                            .info-apps
                                p.title Apps ilimitadas x 12 meses*
                                .list-apps
                                    picture
                                        source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-whatsapp.png")
                                        img(src="images/pages/ofertas-2/icon-mobile-whatsapp.png" class="icon")
                                    figure
                                        picture
                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-facebook.png")
                                            img(src="images/pages/ofertas-2/icon-mobile-facebook.png" class="icon")
                                        figcaption Fotos
                                    picture
                                        source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-messenger.png")
                                        img(src="images/pages/ofertas-2/icon-mobile-messenger.png" class="icon")
                                    figure
                                        picture
                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-instagram.png")
                                            img(src="images/pages/ofertas-2/icon-mobile-instagram.png" class="icon")
                                        figcaption Fotos
                                    picture
                                        source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-waze.png")
                                        img(src="images/pages/ofertas-2/icon-mobile-waze.png" class="icon")
                                    picture
                                        source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-spotify.png")
                                        img(src="images/pages/ofertas-2/icon-mobile-spotify.png" class="icon")
                            .info-promo
                                .info-promo-3
                                    .promo-1__col-1
                                        p.promo-text-1 #[img(src="images/pages/cambio-planes/icon-tiktok.png" class="icon")] 30 GB
                                            span.text-1__sub de TikTok x 3 meses
                                    hr
                                    .promo-1__col-2
                                        p.promo-text-2 Duplica #[b GB] 
                                            span.text-1__sub x 6 meses
                            .item__benefit
                                .benefit__icon
                                    img(src="images/pages/ofertas-2/icon-plane.png", width="16", height="16", alt="")
                                .benefit__info
                                    p.info-text-1 #[b 150 Mbps] datos
                                    p.info-text-3 internacionales zona América y zona Europa
                        .box__footer 
                            button.link--more(type="button")
                                span.text-1 Ver más beneficios
                                <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 8 11">
                                <use xlink:href="images/icons/stweb-sprite-home.svg#abajo-flecha"> </use>
                                </svg>
                .swiper-slide
                    .plan-box 
                        .box__info
                            p.info-text-1 Plan Movistar                            
                            .info-megas
                                .megas__col-1
                                    p.info-text-3 25 GB
                                    p.info-text-4 Exclusivo online
                                .megas__col-2
                                    p.info-text-5.mb-30 #[span.text-symbol S/]39#[span.text-sub .90 al mes]
                            button.stweb-btn.stweb-btn--round.stweb-btn--cian.button--buy Comprar online
                            button.stweb-btn.stweb-btn--round.stweb-btn--outline-cian.button--call Te llamamos
                        .box__description
                            .info-apps
                                p.title Apps ilimitadas x 12 meses*
                                .list-apps
                                    picture
                                        source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-whatsapp.png")
                                        img(src="images/pages/ofertas-2/icon-mobile-whatsapp.png" class="icon")
                                    figure
                                        picture
                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-facebook.png")
                                            img(src="images/pages/ofertas-2/icon-mobile-facebook.png" class="icon")
                                        figcaption Fotos
                                    picture
                                        source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-messenger.png")
                                        img(src="images/pages/ofertas-2/icon-mobile-messenger.png" class="icon")
                                    figure
                                        picture
                                            source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-instagram.png")
                                            img(src="images/pages/ofertas-2/icon-mobile-instagram.png" class="icon")
                                        figcaption Fotos
                                    picture
                                        source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-waze.png")
                                        img(src="images/pages/ofertas-2/icon-mobile-waze.png" class="icon")
                                    picture
                                        source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-spotify.png")
                                        img(src="images/pages/ofertas-2/icon-mobile-spotify.png" class="icon")
                            .info-promo
                                .info-promo-3
                                    .promo-1__col-1
                                        p.promo-text-1 #[img(src="images/pages/cambio-planes/icon-tiktok.png" class="icon")] 30 GB
                                            span.text-1__sub de TikTok x 3 meses
                                    hr
                                    .promo-1__col-2
                                        p.promo-text-2 Duplica #[b GB] 
                                            span.text-1__sub x 6 meses
                            .item__benefit
                                .benefit__icon
                                    img(src="images/pages/ofertas-2/icon-plane.png", width="16", height="16", alt="")
                                .benefit__info
                                    p.info-text-1 #[b 1.5 GB] datos
                                    p.info-text-3 internacionales zona América y zona Europa
                        .box__footer 
                            button.link--more(type="button")
                                span.text-1 Ver más beneficios
                                <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 8 11">
                                <use xlink:href="images/icons/stweb-sprite-home.svg#abajo-flecha"> </use>
                                </svg>
                .swiper-slide
                    .plan-box 
                        .box__info
                            p.info-text-1 Plan Movistar                            
                            .info-megas
                                .megas__col-1
                                    p.info-text-3 50 GB
                                    p.info-text-4 Exclusivo online
                                .megas__col-2
                                    p.info-text-5 #[span.text-symbol S/]44#[span.text-sub .72 x 3 meses]
                                .megas__col-3
                                    p.info-text-6 #[span.text-dto 20% dto] Precio regular S/55.90
                            button.stweb-btn.stweb-btn--round.stweb-btn--cian.button--buy Comprar online
                            button.stweb-btn.stweb-btn--round.stweb-btn--outline-cian.button--call Te llamamos
                        .box__description
                            .info-apps
                                p.title Apps ilimitadas x 12 meses*
                                .list-apps
                                    picture
                                        source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-whatsapp.png")
                                        img(src="images/pages/ofertas-2/icon-mobile-whatsapp.png" class="icon")
                                    picture
                                        source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-facebook.png")
                                        img(src="images/pages/ofertas-2/icon-mobile-facebook.png" class="icon")
                                    picture
                                        source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-messenger.png")
                                        img(src="images/pages/ofertas-2/icon-mobile-messenger.png" class="icon")
                                    picture
                                        source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-instagram.png")
                                        img(src="images/pages/ofertas-2/icon-mobile-instagram.png" class="icon")
                                    picture
                                        source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-waze.png")
                                        img(src="images/pages/ofertas-2/icon-mobile-waze.png" class="icon")
                                    picture
                                        source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/icon-spotify.png")
                                        img(src="images/pages/ofertas-2/icon-mobile-spotify.png" class="icon")
                            .info-promo
                                .info-promo-3
                                    .promo-1__col-1
                                        p.promo-text-1 #[img(src="images/pages/cambio-planes/icon-tiktok.png" class="icon")] 30 GB
                                            span.text-1__sub de TikTok x 3 meses
                                    hr
                                    .promo-1__col-2
                                        p.promo-text-2 Duplica #[b GB] 
                                            span.text-1__sub x 6 meses
                            .item__benefit
                                .benefit__icon
                                    img(src="images/pages/ofertas-2/icon-plane.png", width="16", height="16", alt="")
                                .benefit__info
                                    p.info-text-1 #[b 2.5 GB] datos
                                    p.info-text-3 internacionales zona América y zona Europa
                        .box__footer 
                            button.link--more(type="button")
                                span.text-1 Ver más beneficios
                                <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 8 11">
                                <use xlink:href="images/icons/stweb-sprite-home.svg#abajo-flecha"> </use>
                                </svg>
                .swiper-slide
                    .plan-box.plan-box-great
                        p.box__outstanding ⭐ Más vendido
                        .box__info
                            p.info-text-1 Plan Ilimitado Movistar                            
                            .info-megas
                                .megas__col-1
                                    p.info-text-3 95 GB
                                    p.info-text-4 En alta velocidad
                                .megas__col-2
                                    p.info-text-5 #[span.text-symbol S/]55#[span.text-sub .92 x 3 meses]
                                .megas__col-3
                                    p.info-text-6 #[span.text-dto 20% dto] Precio regular S/69.90
                            button.stweb-btn.stweb-btn--round.stweb-btn--cian.button--buy Comprar online
                            button.stweb-btn.stweb-btn--round.stweb-btn--outline-cian.button--call Te llamamos
                        .box__description
                            .info-promo
                                .info-promo-3
                                    .promo-1__col-1
                                        p.promo-text-1 #[img(src="images/pages/cambio-planes/icon-tiktok.png" class="icon")] 30 GB
                                            span.text-1__sub de TikTok x 3 meses
                                    hr
                                    .promo-1__col-2
                                        p.promo-text-2 Duplica #[b GB] 
                                            span.text-1__sub x 6 meses
                            .item__benefit
                                .benefit__icon
                                    img(src="images/pages/ofertas-2/icon-plane.png", width="16", height="16", alt="")
                                .benefit__info
                                    p.info-text-1 #[b 3.5 GB] datos
                                    p.info-text-3 internacionales zona América y zona Europa
                        .box__footer 
                            button.link--more(type="button")
                                span.text-1 Ver más beneficios
                                <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 8 11">
                                <use xlink:href="images/icons/stweb-sprite-home.svg#abajo-flecha"> </use>
                                </svg>
                .swiper-slide
                    .plan-box 
                        .box__info
                            p.info-text-1 Plan Ilimitado Movistar                            
                            .info-megas
                                .megas__col-1
                                    p.info-text-3 130 GB
                                    p.info-text-4 En alta velocidad
                                .megas__col-2
                                    p.info-text-5 #[span.text-symbol S/]79#[span.text-sub .92 x 3 meses]
                                .megas__col-3
                                    p.info-text-6 #[span.text-dto 20% dto] Precio regular S/99.90
                            button.stweb-btn.stweb-btn--round.stweb-btn--cian.button--buy Comprar online
                            button.stweb-btn.stweb-btn--round.stweb-btn--outline-cian.button--call Te llamamos
                        .box__description
                            .info-promo
                                .info-promo-3
                                    .promo-1__col-1
                                        p.promo-text-1 #[img(src="images/pages/cambio-planes/icon-tiktok.png" class="icon")] 30 GB
                                            span.text-1__sub de TikTok x 3 meses
                                    hr
                                    .promo-1__col-2
                                        p.promo-text-2 Duplica #[b GB] 
                                            span.text-1__sub x 6 meses
                            .item__benefit
                                .benefit__icon
                                    img(src="images/pages/ofertas-2/icon-plane.png", width="16", height="16", alt="")
                                .benefit__info
                                    p.info-text-1 #[b 3.5 GB] datos
                                    p.info-text-3 internacionales zona América y zona Europa
                        .box__footer 
                            button.link--more(type="button")
                                span.text-1 Ver más beneficios
                                <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 8 11">
                                <use xlink:href="images/icons/stweb-sprite-home.svg#abajo-flecha"> </use>
                                </svg>   

        .swiper-button-prev
            <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 1.7334L1 7.7334L7 13.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        .swiper-button-next
            <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 13.7334L7 7.7334L1 1.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                                                   

    .footer 
        .container
            h2.title Todos nuestros planes #[b también incluyen]
            .plans-include.swiper#plnOffer2
                .swiper-wrapper                    
                    .plans-include__item.swiper-slide
                        picture.picture
                            img(src="images/modem/modem-smart-wifi.png", alt="modem", srcset="images/modem/modem-smart-wifi.png")
                        .content 
                            h3.title Beneficio general 1
                            span.text América + WhatsApp internacional ilimitado (solo texto)
                    .plans-include__item.swiper-slide
                        picture.picture 
                            img(src="images/modem/modem-smart-wifi.png", alt="modem", srcset="images/modem/modem-smart-wifi.png")
                        .content 
                            h3.title Beneficio general 2
                            span.text Dispositivos conectados al mismo tiempo
                    .plans-include__item.swiper-slide
                        picture.picture
                            img(src="images/modem/modem-smart-wifi.png", alt="modem", srcset="images/modem/modem-smart-wifi.png")
                        .content 
                            h3.title Beneficio general 3
                            span.text GRATIS (Previa evaluación crediticia)           

.stweb__op2-better-phones
    .container
        .row
            .col-lg-4.better-phones__content
                span.badge ¡Migra con un equipo!
                h2.title Pórtate a Movistar con un plan y equipo a tu medida
                a(href="http://", target="_blank", rel="noopener noreferrer" class="stweb-btn stweb-btn--cian stweb-btn--round") Ver todos los equipos
            .col-lg-8.better-phones__equipment
                .stweb__carousel-equipment.swiper                    
                    .swiper-wrapper
                        .swiper-slide.equipment 
                            .equipment__picture
                                picture 
                                    img(class="picture" src="images/equipos/iphone-12-pro-max.png", alt="iphone 12 pro max", srcset="images/equipos/iphone-12-pro-max.png")
                            .equipment__content
                                picture.celebraton
                                    img(src="images/pages/ofertas-2/equipos-celebraton.png", alt="celebraton movistar", srcset="images/pages/ofertas-2/equipos-celebraton.png")
                                h3.title iPhone 12 Pro Max
                                .content 
                                    span.text Al contado
                                    span.price S/4,199
                                        del.price--dscto S/4,500
                                    span.text Con plan 
                                        b Mi Movistar 
                                        | S/ 65,90
                        .swiper-slide.equipment 
                            .equipment__picture
                                picture 
                                    img(class="picture" src="images/equipos/galaxy-s21-ultra.png", alt="galaxy s21 ultra", srcset="images/equipos/galaxy-s21-ultra.png")
                            .equipment__content
                                picture.celebraton 
                                    img(src="images/pages/ofertas-2/equipos-celebraton.png", alt="celebraton movistar", srcset="images/pages/ofertas-2/equipos-celebraton.png")
                                h3.title Galaxy S21 Ultra
                                .content 
                                    span.text Al contado
                                    span.price S/3,560
                                        del.price--dscto S/4,100
                                    span.text Con plan 
                                        b Mi Movistar 
                                        | S/ 65,90
                        .swiper-slide.equipment 
                            .equipment__picture
                                picture 
                                    img(class="picture" src="images/equipos/galaxy-fold-z.png", alt="galaxy fold z", srcset="images/equipos/galaxy-fold-z.png")
                            .equipment__content
                                picture.celebraton 
                                    img(src="images/pages/ofertas-2/equipos-celebraton.png", alt="celebraton movistar", srcset="images/pages/ofertas-2/equipos-celebraton.png")
                                h3.title Galaxy Fold Z
                                .content 
                                    span.text Al contado
                                    span.price S/4,329
                                        del.price--dscto S/5,600
                                    span.text Con plan 
                                        b Mi Movistar 
                                        | S/ 65,90    
                        .swiper-slide.equipment 
                            .equipment__picture
                                picture 
                                    img(class="picture" src="images/equipos/galaxy-s21-ultra.png", alt="galaxy s21 ultra", srcset="images/equipos/galaxy-s21-ultra.png")
                            .equipment__content
                                picture.celebraton 
                                    img(src="images/pages/ofertas-2/equipos-celebraton.png", alt="celebraton movistar", srcset="images/pages/ofertas-2/equipos-celebraton.png")
                                h3.title Galaxy S21 Ultra
                                .content 
                                    span.text Al contado
                                    span.price S/3,560
                                        del.price--dscto S/4,100
                                    span.text Con plan 
                                        b Mi Movistar 
                                        | S/ 65,90   
                .swiper-pagination
                .swiper-button-prev
                    <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 1.7334L1 7.7334L7 13.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                .swiper-button-next
                    <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 13.7334L7 7.7334L1 1.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                                                                              
        .phone-brands
            .row
                .col-lg-4
                    h3.title Todas las marcas de celulares están en Movistar
                .col-lg-8
                    .row.justify-content-between.mx-n2.mx-md-n1
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/apple", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/apple.png", alt="apple", srcset="images/logos/apple.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/xiaomi", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/xiaomi.png", alt="xiaomi", srcset="images/logos/xiaomi.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/lg", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/lg.png", alt="lg", srcset="images/logos/lg.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/alcatel", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/alcatel.png", alt="alcatel", srcset="images/logos/alcatel.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/sony", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/sony.png", alt="sony", srcset="images/logos/sony.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/nokia", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/nokia.png", alt="nokia", srcset="images/logos/nokia.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/motorola", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/motorola.png", alt="motorola", srcset="images/logos/motorola.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/samsung", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/samsung.png", alt="samsung", srcset="images/logos/samsung.png")
                        .col-4.col-md-auto.p-2.p-md-0
                            .brand
                                a(href="https://catalogo.movistar.com.pe/huawei", target="_blank", rel="noopener noreferrer" class="link")  
                                    img(class="picture" src="images/logos/huawei.png", alt="huawei", srcset="images/logos/huawei.png")    
        .phone-gift 
            picture.gift__background 
                source(media="(min-width: 992px)", srcset="images/pages/ofertas-2/banner-gift-desktop.png")
                img(src="images/pages/ofertas-2/banner-gift-mobile.png", alt="", srcset="images/pages/ofertas-2/banner-gift-mobile.png")
            .row.no-gutters.gift__content
                .col-10.col-md-8.gift__item
                    h2.title Recibe una sorpresa con tu equipo
                    p.text Múltiples #[b accesorios de regalo]. #[span Exclusivo online] 
                        small *Según marca y modelo de equipo        
                .col-2.col-md-4.gift__item
                    picture 
                        source(media="(min-width: 576px)", srcset="images/pages/ofertas-2/headphone-desktop.png")
                        img(class="img" src="images/pages/ofertas-2/headphone-mobile.png", alt="audifonos", srcset="images/pages/ofertas-2/headphone-mobile.png")   

.stweb__op2-promotion
    .container 
        h2.title ¡Conoce otras promociones!
        .row
            .col-lg-6
                .promotion                        
                    img(src="images/pages/ofertas-2/background-gigas-cian.png", alt="banner Gigas Libres y 5G sin costo adicional", srcset="images/pages/ofertas-2/background-gigas-cian.png" class="background")
                    .content
                        .badge POSTPAGO
                        .title Gigas Libres y 5G sin costo adicional
                        .dscto Hasta 20% dcto.
                        picture
                            source(media="(min-width: 768px)", srcset="images/pages/ofertas-2/sticker-gigas-cian.png")
                            img(src="images/pages/ofertas-2/sticker-gigas-cian-mobile.png", alt="persona", srcset="images/pages/ofertas-2/sticker-gigas-cian-mobile.png" class="sticker")
                    
            .col-lg-6 
                .promotion                                            
                    img(src="images/pages/ofertas-2/background-gigas-blue.png", alt="banner Tus recargas te dan gigas adicionales", srcset="images/pages/ofertas-2/background-gigas-blue.png" class="background")
                    .content
                        .badge PREPAGO
                        .title Tus #[b recargas] te dan gigas adicionales
                        .dscto.bg-cian Hasta 20% dcto.
                        picture
                            source(media="(min-width: 768px)", srcset="images/pages/ofertas-2/sticker-gigas-blue.png")
                            img(src="images/pages/ofertas-2/sticker-gigas-blue-mobile.png", alt="persona", srcset="images/pages/ofertas-2/sticker-gigas-blue-mobile.png" class="sticker mr-4")
        .see-offers
            .content 
                h2.title Grandes razones para comprar un celular en Movistar
                a(href="http://", target="_blank", rel="noopener noreferrer" class="stweb-btn stweb-btn--cian stweb-btn--round") Ver ofertas
            .reasons
                picture
                    img(src="images/pages/ofertas-2/background-ofertas.png", alt="fondo ofertas", srcset="images/pages/ofertas-2/background-ofertas.png" class="rectangle")
                .row
                    .col.col-6
                        .item
                            .icon <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none"><path d="M42.0142 20.8676C41.3624 20.0132 36.376 13.3356 35.518 12.1271C34.8495 11.194 33.6126 10.5645 32.4426 10.5645H10.7143C9.9009 10.5645 9.07077 10.9354 8.43006 11.5762C7.78935 12.217 7.42721 13.0601 7.42721 13.8808V14.9488H5.28224C4.66939 14.9488 4.16797 15.4547 4.16797 16.073C4.16797 16.6913 4.66939 17.1972 5.28224 17.1972H7.42721V20.4292H5.28224C4.66939 20.4292 4.16797 20.9351 4.16797 21.5534C4.16797 22.1717 4.66939 22.6776 5.28224 22.6776H7.42721V25.9096H5.28224C4.66939 25.9096 4.16797 26.4155 4.16797 27.0338C4.16797 27.6521 4.66939 28.158 5.28224 28.158H7.42721V30.322C7.42721 31.1427 7.79492 31.9802 8.43006 32.6266C9.06519 33.273 9.9009 33.6384 10.7143 33.6384H10.9929C11.5222 35.7462 13.1601 36.9266 15.6673 36.9266C18.1744 36.9266 19.8123 35.7462 20.3361 33.6384H29.4564C29.9857 35.7462 31.6236 36.9266 34.1307 36.9266C36.6379 36.9266 38.2758 35.7462 38.8051 33.6384H40.0475C40.861 33.6384 41.6911 33.2674 42.3318 32.6266C42.9725 31.9858 43.3346 31.1427 43.3346 30.322V23.7455C43.3291 22.5989 42.5045 21.514 42.0142 20.8676ZM15.6617 34.6783C13.8176 34.6783 13.032 33.8857 13.032 32.0252C13.032 30.1646 13.8176 29.3721 15.6617 29.3721C17.5058 29.3721 18.2914 30.1646 18.2914 32.0252C18.2914 33.8857 17.5058 34.6783 15.6617 34.6783ZM34.1252 34.6783C32.2811 34.6783 31.4955 33.8857 31.4955 32.0252C31.4955 30.1646 32.2811 29.3721 34.1252 29.3721C35.9693 29.3721 36.7549 30.1646 36.7549 32.0252C36.7549 33.8857 35.9693 34.6783 34.1252 34.6783Z" fill="white"/></svg>
                            h3.title #[b Envío GRATIS] sin gastos
                    .col.col-6
                        .item
                            .icon <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none"><path d="M19.0916 19.813C20.2047 19.813 20.6019 19.4214 20.6019 18.3027C20.6019 17.184 20.2047 16.7924 19.0916 16.7924C17.9785 16.7924 17.5813 17.1895 17.5813 18.3027C17.5813 19.4158 17.9785 19.813 19.0916 19.813ZM28.405 27.7056C27.2919 27.7056 26.8947 28.0971 26.8947 29.2159C26.8947 30.3346 27.2919 30.7262 28.405 30.7262C29.5181 30.7262 29.9153 30.3346 29.9153 29.2159C29.9153 28.0971 29.5181 27.7056 28.405 27.7056Z" fill="white"/><path d="M42.1879 21.8094C41.6901 21.4235 41.0748 21.0822 40.4819 20.7578C39.984 20.4837 39.0779 19.9859 38.8709 19.7062C38.8989 19.3482 39.4582 18.4253 39.7659 17.9162C40.577 16.5738 41.416 15.1865 40.7112 13.9727C40.0008 12.7421 38.3675 12.7757 36.7845 12.8093C36.2027 12.8204 35.1344 12.8428 34.8155 12.6974C34.6701 12.3785 34.6925 11.3157 34.7036 10.7284C34.7372 9.15101 34.7708 7.51767 33.5402 6.80168C32.3319 6.10807 30.9447 6.94712 29.6022 7.7526C29.0932 8.06025 28.1647 8.61962 27.8123 8.64758C27.5326 8.44062 27.0348 7.53445 26.7607 7.03662C26.4362 6.44369 26.095 5.82839 25.7091 5.33056C25.4909 5.04528 24.8197 4.18945 23.7513 4.18945C23.4884 4.18945 22.6829 4.18945 21.7935 5.33056C21.4076 5.82839 21.0664 6.44369 20.7419 7.03662C20.4678 7.53445 19.97 8.44062 19.6903 8.64758C19.3323 8.61962 18.4094 8.06025 17.9004 7.7526C16.5579 6.94152 15.1707 6.10248 13.9568 6.80728C12.7262 7.51767 12.7598 9.15101 12.7934 10.734C12.8045 11.3157 12.8269 12.3841 12.6815 12.703C12.3626 12.8484 11.2999 12.826 10.7125 12.8148C9.13512 12.7813 7.50178 12.7477 6.78579 13.9783C6.08099 15.1921 6.92004 16.5794 7.73112 17.9218C8.03877 18.4309 8.59813 19.3594 8.6261 19.7118C8.41913 19.9915 7.51297 20.4893 7.01513 20.7634C6.42221 21.0878 5.80691 21.4291 5.30907 21.815C5.0238 22.0332 4.16797 22.7044 4.16797 23.7728C4.16797 24.0357 4.16797 24.8412 5.30907 25.7306C5.80691 26.1165 6.42221 26.4577 7.01513 26.7822C7.51297 27.0563 8.41913 27.5541 8.6261 27.8338C8.59813 28.1918 8.03877 29.1147 7.73112 29.6237C6.92004 30.9662 6.08099 32.3534 6.78579 33.5672C7.49618 34.7978 9.12953 34.7643 10.7125 34.7307C11.2943 34.7195 12.3626 34.6972 12.6815 34.8426C12.8269 35.1614 12.8045 36.2242 12.7934 36.8116C12.7598 38.389 12.7262 40.0223 13.9568 40.7383C15.1707 41.4431 16.5579 40.604 17.9004 39.793C18.4094 39.4853 19.3379 38.926 19.6903 38.898C19.97 39.1049 20.4678 40.0111 20.7419 40.509C21.0664 41.1019 21.4076 41.7172 21.7935 42.215C22.0117 42.4947 22.6829 43.3561 23.7513 43.3561C24.0142 43.3561 24.8197 43.3561 25.7091 42.215C26.095 41.7172 26.4362 41.1019 26.7607 40.509C27.0348 40.0111 27.5326 39.1049 27.8123 38.898C28.1703 38.926 29.0932 39.4853 29.6022 39.793C30.9447 40.604 32.3319 41.4431 33.5458 40.7383C34.7764 40.0279 34.7372 38.3946 34.7092 36.8116C34.6981 36.2298 34.6757 35.1614 34.8211 34.8426C35.14 34.6972 36.2027 34.7195 36.7901 34.7307C38.3675 34.7643 40.0008 34.7978 40.7168 33.5672C41.4216 32.3534 40.5826 30.9662 39.7715 29.6237C39.4638 29.1147 38.9045 28.1862 38.8765 27.8338C39.0835 27.5541 39.9896 27.0563 40.4875 26.7822C41.0804 26.4577 41.6957 26.1165 42.1935 25.7306C42.4732 25.5124 43.3346 24.8412 43.3346 23.7728C43.3346 23.4987 43.3346 22.6988 42.1879 21.8094ZM19.0918 14.5601C21.4355 14.5601 22.8395 15.9585 22.8395 18.3078C22.8395 20.6571 21.4411 22.0555 19.0918 22.0555C16.7425 22.0555 15.3441 20.6571 15.3441 18.3078C15.3441 15.9585 16.7481 14.5601 19.0918 14.5601ZM17.8612 33.103C17.4752 33.584 16.7704 33.6679 16.2894 33.282C15.8139 32.9016 15.73 32.208 16.0992 31.7269L29.6414 14.4202C30.0218 13.9336 30.7266 13.8497 31.2132 14.23C31.6999 14.6104 31.7838 15.3152 31.4034 15.8018L17.8612 33.103ZM28.4052 32.9575C26.0615 32.9575 24.6575 31.5591 24.6575 29.2098C24.6575 26.8605 26.0559 25.4621 28.4052 25.4621C30.7545 25.4621 32.1529 26.8605 32.1529 29.2098C32.1529 31.5591 30.7489 32.9575 28.4052 32.9575Z" fill="white"/></svg>
                            h3.title #[b Ofertas online] exclusivas
                    .col.col-6
                        .item
                            .icon <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M40.0332 35.6459C40.2756 35.6459 40.4683 35.4531 40.4683 35.2163V23.8873H6.55825V35.2163C6.55825 35.4531 6.75653 35.6459 6.99886 35.6459H40.0332ZM6.99886 12.8886C6.75653 12.8886 6.55825 13.0814 6.55825 13.3237V15.67H40.4683V13.3237C40.4683 13.0869 40.2701 12.8886 40.0332 12.8886H6.99886ZM42.8751 16.8376V22.7197C42.8751 22.7747 42.8476 22.8298 42.8421 22.8849V35.2163C42.8421 36.7419 41.5809 37.9811 40.0332 37.9811H6.99886C5.45123 37.9811 4.19 36.7419 4.19 35.2163V22.8188C4.18449 22.7857 4.16797 22.7582 4.16797 22.7197V16.8376C4.16797 16.8045 4.18449 16.7715 4.19 16.7439V13.3293C4.19 11.8037 5.45123 10.5645 6.99886 10.5645H40.0332C41.5809 10.5645 42.8421 11.8037 42.8421 13.3293V16.6779C42.8476 16.7274 42.8751 16.777 42.8751 16.8376ZM28.7593 32.2092C29.7671 32.1927 30.9678 31.7796 30.9678 29.9125C30.9678 28.0455 29.7561 27.6269 28.7372 27.5994H28.4508C27.4595 27.6049 26.2753 28.0124 26.2753 29.896C26.2753 31.7851 27.476 32.1982 28.4784 32.2147L28.7593 32.2092ZM34.399 25.5836C36.3432 25.6276 38.6233 26.7897 38.6233 29.918C38.6233 33.0518 36.3432 34.2029 34.3935 34.236H34.052C33.5233 34.2305 32.3887 34.1148 31.4084 33.3878C30.6318 33.9496 29.679 34.2139 28.7868 34.2305H28.4453C26.4956 34.2029 24.2155 33.0518 24.2155 29.8905C24.2155 26.7292 26.4846 25.5891 28.4233 25.5726C28.55 25.5726 28.6766 25.5726 28.7868 25.5781C29.6625 25.6001 30.6043 25.8645 31.3809 26.4207C32.4053 25.6662 33.6114 25.5781 34.0355 25.5726C34.1567 25.5726 34.2889 25.5781 34.399 25.5836Z" fill="white"/></svg>
                            h3.title #[b Varios medios] de pago
                    .col.col-6
                        .item
                            .icon <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.7607 17.9291C16.7882 17.929 16.8156 17.9289 16.8432 17.9289H31.5168C31.5618 17.9289 31.6066 17.9291 31.6512 17.9296V13.1638C31.6512 9.48841 28.3984 6.49141 24.395 6.49141H24.0169C20.0135 6.49141 16.7607 9.48285 16.7607 13.1638V17.9291ZM33.9532 18.2274C34.9535 18.4991 35.7986 18.9552 36.4766 19.5914C37.7054 20.7368 38.3393 22.4216 38.3671 24.5957V24.6068V36.6948C38.3393 38.8634 37.6998 40.5481 36.4766 41.6991C35.3034 42.8 33.6353 43.3561 31.5168 43.3561H16.8432C14.7247 43.3561 13.0566 42.7945 11.889 41.6935C10.6657 40.5426 10.043 38.8522 10.043 36.6782L10.0485 25.4742C10.0485 24.8625 10.043 24.6179 10.043 24.6179V24.6068C10.043 22.4327 10.6657 20.7479 11.889 19.5914C12.5758 18.9438 13.4358 18.4828 14.4588 18.213V13.1638C14.4588 8.2151 18.7458 4.18945 24.0169 4.18945H24.395C29.6662 4.18945 33.9532 8.2151 33.9532 13.1638V18.2274ZM24.2161 35.8719C25.2504 35.8719 26.0788 35.5772 26.6849 34.9934C27.3188 34.3873 27.6302 33.531 27.6302 32.4523C27.6302 31.3736 27.3188 30.5174 26.6849 29.9113C26.0788 29.3275 25.2504 29.0328 24.2161 29.0328C23.1819 29.0328 22.3534 29.3275 21.7474 29.9113C21.1191 30.5174 20.8021 31.3736 20.8021 32.4523C20.8021 33.531 21.1191 34.3873 21.7474 34.9934C22.3534 35.5772 23.1819 35.8719 24.2161 35.8719Z" fill="white"/></svg>                                
                            h3.title #[b Compra segura] y rápida

.stweb__faq-collapsible#faq-collapsible
    .container 
        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title Términos y condiciones
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa? 