.stweb__prepago-banner-hero
    .swiper.banner-hero__container
        .swiper-wrapper
            .swiper-slide
                .banner-hero__content
                    picture.background
                        source(media="(min-width: 768px)", srcset="images/pages/prepago/banner-hero-prepago-desktop.jpg")
                        img(src="images/pages/prepago/banner-hero-prepago-mobile.jpg", alt="")
                    .content 
                        h2.title ¡Se Prepago Movistar!
                        p.text Recibe bonos por tus recargas y compra paquetes a tu medida
        .swiper-arrow
            .swiper-button-prev
                <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 1.7334L1 7.7334L7 13.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            .swiper-button-next
                <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 13.7334L7 7.7334L1 1.7334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

.stweb__prepago-tabs
    .container
        .tab-panel
            .tabs-wrapper
                ul.nav.nav-tabs
                    li.nav-item.active
                        a(href="http://" target="_blank").nav-link Prepago
                    li.nav-item
                        a(href="javascript:void(0)").nav-link Preplan
                    li.nav-item
                        a(href="http://" target="_blank").nav-link Paquetes     
                    li.nav-item
                        a(href="http://" target="_blank").nav-link Recargar
                
.stweb__prepago-freedom
    .container 
        .row.prepago-freedom-row 
            .col-md-6
                .prepago-freedom-col
                    h2.title Siente la libertad de ser #[b Prepago Movistar]
                    .text
                        p Recarga tu saldo cuando quieras, desde y donde quieras o compra paquetes a tu medida sin contratos de por medio a una tarifa regular.
                        p ¡Cámbiate a Prepago Movistar y #[b duplicamos tus megas por 6 meses!]
            .col-md-6    
                .prepago-freedom-col
                    picture.picture
                        img(src="images/pages/prepago/video-prepago-preplan.png", alt="que es preplan", srcset="images/pages/prepago/video-prepago-preplan.png")  
    .extra-benefit-content
        .container
            h2.extra-benefit-title Conoce la tarifa regular Prepago
        .extra-benefit-slider.swiper
            .swiper-wrapper
                .benefit__item.swiper-slide
                    <svg class="svg--inline-icon" focusable="false" role="img" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M33.1701 32.7882C34.2892 31.6169 34.8441 30.4693 34.8203 29.3644C34.8014 28.3069 34.2465 27.2256 33.1748 26.1492C32.767 25.7318 32.307 25.3667 31.8043 25.0679C30.9033 24.5131 30.0118 24.3187 29.1345 24.4609C28.2192 24.6174 27.2898 25.1533 26.384 26.0591C26.1611 26.2772 25.9572 26.5143 25.7628 26.7562C25.6774 26.8652 25.5684 26.9553 25.4498 27.0217C24.748 27.4201 23.7568 27.1545 22.3437 26.1871C20.8736 25.177 19.1759 23.5315 18.0283 22.3886L17.8908 22.2511C16.7479 21.113 15.1071 19.42 14.0923 17.9404C13.1249 16.5273 12.8593 15.5409 13.2529 14.8296C13.3193 14.7063 13.4094 14.602 13.5232 14.5166C13.8125 14.289 13.9737 14.142 14.2203 13.8954C15.1261 12.9896 15.6667 12.0649 15.8184 11.1449C15.9702 10.2581 15.7757 9.3903 15.2257 8.50351C14.9222 7.99135 14.5523 7.52188 14.1302 7.10931C13.0632 6.04232 11.982 5.48748 10.9245 5.46851C9.82905 5.44006 8.67196 5.99964 7.50064 7.11879C7.2256 7.38436 6.90313 7.77321 6.53324 8.29011C5.43779 9.86452 5.51367 12.3447 6.69921 15.3133C8.02703 18.647 10.6352 22.3127 14.2393 25.9168L14.2914 25.9737L14.3673 26.0496C17.9761 29.6536 21.6418 32.2618 24.9756 33.5896C27.9157 34.761 30.4433 34.8368 31.9513 33.7936C32.2027 33.6134 32.7859 33.1913 33.1701 32.7882ZM34.6828 24.6459C36.1624 26.1255 36.9259 27.6951 36.9543 29.3264C36.9875 31.0099 36.2335 32.6744 34.7113 34.263C34.1944 34.8036 33.5162 35.2968 33.2602 35.4818C32.0936 36.2927 30.7658 36.6673 29.2198 36.6673C27.6928 36.6673 25.9999 36.3022 24.1836 35.5766C20.5796 34.1397 16.6673 31.3703 12.8593 27.5623L12.7313 27.4343C12.6933 27.4011 12.6554 27.3679 12.6269 27.3252C8.87113 23.5457 6.1349 19.6713 4.71698 16.1005C3.25639 12.449 3.26588 9.26226 4.73595 7.12828C4.95883 6.81529 5.47099 6.10871 6.02583 5.57758C7.6192 4.05534 9.27422 3.31082 10.9624 3.33453C12.589 3.36773 14.1634 4.13122 15.643 5.60604C16.1883 6.14665 16.6673 6.75365 17.0609 7.41281C17.8671 8.71691 18.1658 10.1064 17.9287 11.5101C17.6963 12.8711 16.9613 14.1846 15.7331 15.4081C15.6003 15.5456 15.458 15.6737 15.3158 15.8017C15.4011 15.9962 15.5624 16.2997 15.8564 16.7312C16.7669 18.0637 18.3176 19.6619 19.4083 20.7431L19.5458 20.8806C20.627 21.9618 22.2299 23.5173 23.5577 24.4277C23.9892 24.7218 24.2927 24.883 24.4871 24.9684C24.6057 24.8356 24.729 24.7028 24.8855 24.551C26.109 23.3276 27.4225 22.5878 28.7835 22.3554C30.192 22.1183 31.5767 22.4171 32.9045 23.2375C33.4925 23.5884 34.0995 24.0626 34.6828 24.6459ZM23.8137 14.3506C23.6952 14.4407 23.6715 14.4881 23.662 14.5403C23.6525 14.5972 23.6715 14.6589 23.7094 14.7015L25.2743 16.4467C25.3597 16.5557 25.4071 16.5984 25.483 16.6032C25.4972 16.5889 25.6395 16.532 25.6537 16.5178L29.8221 12.9374C30.2584 12.5581 30.9223 12.6008 31.3111 13.0275L32.1031 13.9001L33.3929 7.85857L33.374 7.85383L27.285 8.32805L28.0485 9.18164C28.4421 9.62266 28.4042 10.2961 27.9679 10.6897L27.9632 10.6944L23.8137 14.3506ZM23.6288 17.7982L22.1255 16.1337C21.2625 15.1758 21.3383 13.7009 22.2962 12.8379C22.3532 12.7857 22.4148 12.7335 22.4812 12.6861L25.7486 9.80761L25.5589 9.59895C25.023 9.00144 24.8665 8.19053 25.1463 7.4792C25.4308 6.76787 26.1042 6.28417 26.9104 6.22252L33.2412 5.73408L33.4119 5.72933C34.0284 5.72933 34.6164 5.99015 35.0148 6.4454C35.4558 6.94807 35.6265 7.62621 35.4842 8.29485L34.147 14.5403C33.981 15.3133 33.4261 15.9155 32.6911 16.11C31.9608 16.3091 31.1783 16.0673 30.6472 15.4745L30.4243 15.2279L27.0432 18.1349C26.5737 18.5712 25.943 18.7846 25.3028 18.7229C24.6389 18.6707 24.0319 18.3293 23.6288 17.7982Z" fill="currentColor"/>
                    </svg>
                    .content 
                        h3.title Minutos
                        span.text S/ 0.49 por minuto
                .benefit__item.swiper-slide
                    <svg class="svg--inline-icon" focusable="false" role="img" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M36.4598 26.0436V9.75391C36.4598 7.51697 34.5786 5.6956 32.2629 5.6956H7.961C5.64531 5.6956 3.75902 7.51184 3.75902 9.75391V26.0436C3.75902 28.0034 5.07789 29.6452 6.96418 30.0146C7.31179 30.0865 7.55716 30.3789 7.55716 30.7227V34.663C7.55716 35.1555 8.06323 35.6224 8.59998 35.6224C8.7789 35.6224 9.14184 35.6224 9.51501 35.1452L13.354 30.3789C13.4972 30.1993 13.7119 30.1019 13.9368 30.1019H32.2527C34.5786 30.1019 36.4598 28.2805 36.4598 26.0436ZM32.0993 4.43348C35.2125 4.43348 37.7531 6.8859 37.7531 9.90269V26.1051C37.7531 29.127 35.2125 31.5743 32.0993 31.5743H14.2384L10.655 36.0277C10.1233 36.7152 9.423 37.0692 8.56931 37.0692C7.20444 37.0692 6.05426 35.9764 6.05426 34.6835V31.3127C3.79992 30.5944 2.27146 28.5319 2.27146 26.1V9.90269C2.27657 6.8859 4.81718 4.43348 7.93032 4.43348H32.0993ZM10.6805 17.3985C11.9841 17.9064 13.6096 18.5324 13.6096 20.6564C13.6096 22.5342 12.2805 23.6116 9.96997 23.6116C8.81468 23.6116 7.82297 23.3602 7.41914 23.2115C7.15843 23.1191 7.01018 22.8421 7.07664 22.5753L7.17376 22.1802C7.20955 22.0314 7.31179 21.9083 7.44469 21.8365C7.58272 21.7595 7.74118 21.7441 7.88943 21.7903C9.27475 22.2161 10.9259 22.1956 11.5598 21.7749C11.7489 21.6569 12.0556 21.3542 12.0556 20.6769C12.0556 19.62 11.3297 19.2866 10.0415 18.7889C8.77379 18.2964 7.19932 17.6807 7.19932 15.6746C7.19932 14.8127 7.50093 14.0944 8.07346 13.6019C9.04472 12.7656 10.8134 12.6373 12.7202 13.176C13.0064 13.253 13.1802 13.5403 13.1087 13.8327L13.0115 14.2124C12.9706 14.3561 12.8786 14.4792 12.7457 14.551C12.6128 14.6228 12.4595 14.6434 12.3112 14.6023C11.7591 14.4381 11.1917 14.3561 10.6141 14.3509C8.738 14.3509 8.738 15.2385 8.738 15.613C8.738 16.593 9.44344 16.9162 10.6805 17.3985ZM24.1606 12.9657C24.4673 12.9605 24.7127 13.2068 24.7178 13.5044V22.7394C24.7127 23.0473 24.4622 23.2833 24.1606 23.2782H23.7721C23.4654 23.2833 23.22 23.037 23.2149 22.7394V16.475L20.7765 20.9643C20.6743 21.1438 20.4851 21.2567 20.2858 21.2567H19.8717C19.6621 21.2567 19.4781 21.1438 19.3758 20.9591L17.0346 16.5314V22.7446C17.0295 23.0524 16.779 23.2884 16.4774 23.2833H16.0889C15.7822 23.2884 15.5368 23.0422 15.5317 22.7446V13.5095C15.5317 13.2068 15.7822 12.9708 16.0889 12.9708H16.5081C16.7177 12.9708 16.9068 13.0837 17.0039 13.2684L20.1017 19.1275L23.2864 13.2581C23.3887 13.0785 23.5778 12.9657 23.7823 12.9657H24.1606ZM30.0444 17.3061C31.3377 17.8089 32.953 18.4297 32.953 20.5384C32.953 22.4008 31.6342 23.4731 29.3389 23.4731C28.1939 23.4731 27.2073 23.2217 26.8085 23.0781C26.5478 22.9857 26.4047 22.7138 26.466 22.447L26.5632 22.0571C26.599 21.9083 26.7012 21.7852 26.8341 21.7133C26.9721 21.6364 27.1306 21.621 27.2737 21.6672C28.6488 22.0879 30.2897 22.0673 30.9185 21.6518C31.1076 21.5338 31.4092 21.2362 31.4092 20.5641C31.4092 19.5123 30.6885 19.1839 29.4105 18.6914C28.153 18.204 26.5836 17.5935 26.5836 15.5977C26.5836 14.7408 26.8852 14.0277 27.4578 13.5403C28.4239 12.7091 30.1773 12.5809 32.0738 13.1196C32.3601 13.1965 32.5287 13.4838 32.4572 13.7712L32.3601 14.1457C32.3192 14.2894 32.2271 14.4125 32.0942 14.4843C31.9613 14.5561 31.8029 14.5767 31.6648 14.5356C31.1179 14.3714 30.5556 14.2894 29.983 14.2842C28.1223 14.2842 28.1223 15.1667 28.1223 15.5361C28.1121 16.5058 28.8124 16.8239 30.0444 17.3061Z" fill="currentColor"/>
                    <path d="M8.57442 37.2539C7.11242 37.2539 5.88046 36.079 5.88046 34.6886V31.4512C4.78651 31.0767 3.85615 30.3892 3.17627 29.4605C2.47082 28.4908 2.09766 27.3313 2.09766 26.1051V9.90269C2.09766 6.78842 4.71494 4.25391 7.93032 4.25391H32.0993C35.3147 4.25391 37.932 6.78842 37.932 9.90269V26.1051C37.932 29.2194 35.3147 31.7539 32.0993 31.7539H14.3253L10.793 36.1406C10.2307 36.8794 9.47923 37.2539 8.57442 37.2539ZM7.93032 4.61305C4.91431 4.61305 2.45549 6.98851 2.45549 9.90269V26.1051C2.45549 28.4241 3.9226 30.4507 6.11049 31.1485L6.23318 31.1895V34.6886C6.23318 35.884 7.30156 36.8948 8.56931 36.8948C9.36165 36.8948 10.016 36.5664 10.5118 35.92L14.1515 31.3948H32.0942C35.1154 31.3948 37.5691 29.0193 37.5691 26.1051V9.90269C37.5691 6.98338 35.1154 4.61305 32.0942 4.61305H7.93032ZM8.59998 35.8071C7.961 35.8071 7.37824 35.2632 7.37824 34.6681V30.7278C7.37824 30.4713 7.1891 30.2506 6.92839 30.1942C4.9552 29.8043 3.5801 28.1009 3.5801 26.0436V9.75391C3.5801 7.41435 5.54307 5.51603 7.961 5.51603H32.2629C34.6757 5.51603 36.6387 7.41948 36.6387 9.75391V26.0436C36.6387 28.378 34.6706 30.2763 32.2527 30.2814H13.9368C13.763 30.2814 13.5943 30.3584 13.4921 30.4866L9.65303 35.253C9.23386 35.8071 8.78912 35.8071 8.59998 35.8071ZM7.961 5.87517C5.74243 5.87517 3.93794 7.61445 3.93794 9.75391V26.0436C3.93794 27.9265 5.19546 29.4862 6.99996 29.8402C7.42936 29.9274 7.73607 30.3019 7.73607 30.7227V34.663C7.73607 35.058 8.16036 35.4428 8.59998 35.4428C8.75845 35.4428 9.05494 35.4428 9.37188 35.0324L13.2109 30.2609C13.3847 30.0454 13.6454 29.9172 13.9317 29.9172H32.2476C34.4713 29.912 36.2758 28.1727 36.2758 26.0384V9.75391C36.2758 7.61445 34.4713 5.87517 32.2578 5.87517H7.961ZM9.96997 23.7912C8.78912 23.7912 7.77186 23.5347 7.35779 23.3808C7.01018 23.2576 6.81593 22.8934 6.90283 22.5342L6.99996 22.1392C7.04597 21.9442 7.17888 21.78 7.35779 21.6825C7.53671 21.5851 7.74118 21.5594 7.94055 21.621C9.3821 22.0622 10.9259 21.9801 11.4575 21.6261C11.616 21.5286 11.8716 21.2772 11.8716 20.6769C11.8716 19.7791 11.3195 19.4764 9.96997 18.9582C8.72267 18.4708 7.0153 17.8089 7.0153 15.6746C7.0153 14.7562 7.33735 13.9918 7.95077 13.4633C8.94759 12.6065 10.747 12.4321 12.7611 13.0016C13.1445 13.1042 13.3694 13.489 13.2774 13.8738L13.1802 14.2534C13.124 14.4535 12.9962 14.6126 12.8275 14.7049C12.6537 14.8024 12.4492 14.8229 12.2601 14.7716C11.7285 14.6126 11.1764 14.5305 10.609 14.5254C8.91181 14.5254 8.91181 15.259 8.91181 15.6079C8.91181 16.4288 9.44344 16.7213 10.7419 17.2241L10.7572 17.2292C12.0352 17.7269 13.7886 18.4092 13.7886 20.6513C13.7886 21.6261 13.4358 22.4316 12.7713 22.9703C12.1016 23.5193 11.161 23.7912 9.96997 23.7912ZM7.72074 21.9442C7.65428 21.9442 7.59294 21.9596 7.5316 21.9955C7.43447 22.0468 7.36802 22.1289 7.34757 22.2264L7.25044 22.6214C7.20444 22.7959 7.30667 22.9857 7.48048 23.0473C7.87409 23.1909 8.84024 23.4372 9.96997 23.4372C12.1681 23.4372 13.4307 22.4265 13.4307 20.6616C13.4307 18.6658 11.9432 18.086 10.6294 17.5781L10.6141 17.5729C9.34121 17.0753 8.55909 16.7161 8.55909 15.6182C8.55909 15.2231 8.55909 14.1765 10.6141 14.1765C11.2173 14.1816 11.8 14.2688 12.3623 14.433C12.4595 14.4587 12.5668 14.4484 12.6588 14.3971C12.7457 14.3509 12.8071 14.2688 12.8377 14.1662L12.9349 13.7917C12.9809 13.5967 12.8684 13.4069 12.6742 13.3556C10.7725 12.8169 9.09584 12.9657 8.19103 13.7455C7.65939 14.2021 7.37824 14.8742 7.37824 15.6797C7.37824 17.5678 8.83002 18.1322 10.108 18.6247C11.4269 19.1326 12.2345 19.5072 12.2345 20.6821C12.2345 21.4568 11.8716 21.7954 11.6518 21.9339C10.9668 22.3854 9.2543 22.406 7.8332 21.9699C7.79741 21.9493 7.76163 21.9442 7.72074 21.9442ZM29.3389 23.6527C28.1683 23.6527 27.1561 23.3962 26.7421 23.2422C26.3945 23.1191 26.2002 22.7548 26.2922 22.4008L26.3894 22.0109C26.4354 21.8211 26.5683 21.6518 26.7472 21.5543C26.9261 21.4568 27.1306 21.4363 27.3248 21.4927C28.7562 21.9339 30.2846 21.8519 30.8163 21.4978C30.9747 21.4004 31.2303 21.1541 31.2303 20.5589C31.2303 19.6662 30.6834 19.3686 29.344 18.8505C28.1018 18.3682 26.4047 17.7063 26.4047 15.5925C26.4047 14.6793 26.7267 13.92 27.3402 13.3966C28.3319 12.545 30.1159 12.3705 32.1198 12.94C32.493 13.0426 32.723 13.4325 32.631 13.8071L32.5339 14.1867C32.4776 14.3868 32.3549 14.5459 32.1811 14.6382C32.0073 14.7306 31.7977 14.7562 31.6137 14.7049C31.0872 14.551 30.5402 14.4689 29.983 14.4638C28.3012 14.4638 28.3012 15.1872 28.3012 15.5361C28.291 16.3519 28.8175 16.6392 30.1108 17.142L30.1262 17.1471C31.3939 17.6396 33.1371 18.3169 33.1371 20.5436C33.1371 21.5132 32.7843 22.3136 32.1249 22.8472C31.4604 23.3808 30.5249 23.6527 29.3389 23.6527ZM27.105 21.8211C27.0386 21.8211 26.9772 21.8365 26.921 21.8724C26.829 21.9237 26.7625 22.0058 26.737 22.0981L26.6398 22.4932C26.5938 22.6676 26.6961 22.8523 26.8648 22.9139C27.2584 23.0575 28.2143 23.2987 29.3389 23.2987C31.5217 23.2987 32.7741 22.2931 32.7741 20.5436C32.7741 18.5631 31.2968 17.9885 29.9932 17.4806L29.9779 17.4755C28.7051 16.9829 27.928 16.6238 27.9383 15.531C27.9383 15.141 27.9383 14.0995 29.9779 14.0995C30.5709 14.1047 31.1536 14.1919 31.7108 14.3561C31.8029 14.3817 31.9153 14.3714 32.0073 14.3201C32.0942 14.274 32.1556 14.1919 32.1862 14.0944L32.2834 13.7199C32.3294 13.53 32.2118 13.3351 32.0227 13.2838C30.1364 12.7502 28.4699 12.8938 27.5702 13.6686C27.0386 14.12 26.7574 14.787 26.7574 15.5925C26.7574 17.4652 28.199 18.0244 29.4718 18.517C30.7805 19.0249 31.5882 19.3943 31.5882 20.5589C31.5882 21.3285 31.2252 21.6672 31.0105 21.8005C30.3306 22.252 28.6284 22.2674 27.2175 21.8365C27.1817 21.8262 27.1459 21.8211 27.105 21.8211ZM16.0685 23.4629C15.6748 23.4629 15.3528 23.1448 15.3426 22.7446V13.5044C15.3426 13.1093 15.6748 12.7861 16.0787 12.7861H16.4979C16.7739 12.7861 17.0244 12.9349 17.1522 13.176L20.0915 18.7376L23.1126 13.1606C23.2507 12.9246 23.496 12.7758 23.767 12.7758H24.1504C24.5491 12.7707 24.8814 13.0888 24.8865 13.4941V22.7343C24.8814 23.1345 24.5542 23.4526 24.1606 23.4526C24.1555 23.4526 24.1504 23.4526 24.1504 23.4526H23.7619C23.3631 23.4577 23.0309 23.1396 23.0257 22.7343V17.1727L20.935 21.0464C20.8021 21.2824 20.5516 21.4311 20.2858 21.4311H19.8717C19.6008 21.4311 19.3503 21.2824 19.2174 21.0412L17.2135 17.2497V22.7446C17.2084 22.9447 17.1317 23.1242 16.9937 23.2628C16.8557 23.3962 16.6717 23.4731 16.4774 23.468H16.0889C16.0787 23.4629 16.0736 23.4629 16.0685 23.4629ZM16.0838 13.1504C15.8691 13.1504 15.7055 13.3094 15.7055 13.5095V22.7446C15.7106 22.9447 15.8793 23.1089 16.0838 23.1037H16.4774C16.5796 23.1037 16.6717 23.0678 16.7432 23.0011C16.8148 22.9344 16.8557 22.8421 16.8557 22.7394V15.808L19.5343 20.8719C19.6008 20.995 19.7286 21.072 19.8717 21.072H20.2858C20.4238 21.072 20.5516 20.995 20.6231 20.8719L23.3938 15.767V22.7394C23.3989 22.9395 23.5625 23.0986 23.7619 23.0986H24.1657C24.3753 23.0986 24.5337 22.9395 24.5389 22.7343V13.5044C24.5337 13.3043 24.3651 13.1401 24.1606 13.1452H23.7721C23.6289 13.1452 23.5011 13.2222 23.4296 13.3453L20.0915 19.502L16.8455 13.3505C16.779 13.2273 16.6512 13.1504 16.5081 13.1504H16.0838Z" fill="currentColor"/>
                    </svg>
                    .content 
                        h3.title SMS
                        span.text S/ 0.10 por SMS
                .benefit__item.swiper-slide
                    <svg class="svg--inline-icon" focusable="false" role="img" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.8973 36.5716C15.6052 36.5716 11.4871 35.1894 8.65645 32.4629C5.72167 29.6323 4.23535 25.41 4.23535 19.9097C4.23535 14.4094 5.72641 10.1823 8.66118 7.3517C11.4918 4.6252 15.6052 3.23828 20.8973 3.23828C26.1893 3.23828 30.3075 4.62046 33.1381 7.34696C36.0776 10.1776 37.564 14.4046 37.564 19.9049C37.564 25.4053 36.0729 29.6323 33.1381 32.4582C30.3122 35.1894 26.1941 36.5716 20.8973 36.5716ZM20.8973 5.13168C11.0989 5.13168 6.12875 10.1019 6.12875 19.9097C6.12875 29.708 11.0989 34.6782 20.8973 34.6782C30.7004 34.6782 35.6753 29.708 35.6753 19.9097C35.6753 10.1066 30.7051 5.13168 20.8973 5.13168Z" fill="currentColor"/>
                    <path d="M20.8121 36.4201C20.2914 36.4201 19.8654 35.9941 19.8654 35.4734V4.24652C19.8654 3.72583 20.2914 3.29982 20.8121 3.29982C21.3327 3.29982 21.7588 3.72583 21.7588 4.24652V35.4782C21.7588 35.9989 21.3375 36.4201 20.8121 36.4201Z" fill="currentColor"/>
                    <path d="M35.6895 15.3418H5.96787C5.44718 15.3418 5.02116 14.9158 5.02116 14.3951C5.02116 13.8745 5.44718 13.4484 5.96787 13.4484H35.6895C36.2102 13.4484 36.6362 13.8745 36.6362 14.3951C36.6362 14.9158 36.215 15.3418 35.6895 15.3418Z" fill="currentColor"/>
                    <path d="M20.6322 36.4154C19.2405 36.4154 17.901 35.9373 16.6561 35.0001C15.5058 34.1339 14.4834 32.9126 13.6171 31.3648C11.8847 28.2785 10.9285 24.1982 10.9285 19.8765C10.9285 15.5549 11.8847 11.4698 13.6171 8.38833C14.4881 6.84048 15.5105 5.61923 16.6561 4.753C17.9057 3.81577 19.2405 3.33769 20.6322 3.33769C22.0238 3.33769 23.3634 3.81577 24.6083 4.753C25.7586 5.61923 26.781 6.84048 27.6472 8.38833C29.3797 11.4746 30.3359 15.5549 30.3359 19.8765C30.3359 24.1982 29.3797 28.2832 27.6472 31.3648C26.7763 32.9126 25.7538 34.1339 24.6083 35.0001C23.3634 35.9373 22.0238 36.4154 20.6322 36.4154ZM20.6322 5.23109C18.6489 5.23109 16.746 6.67954 15.2644 9.3161C13.6881 12.1231 12.8219 15.872 12.8219 19.8765C12.8219 23.8811 13.6881 27.63 15.2644 30.437C16.7413 33.0688 18.6489 34.522 20.6322 34.522C22.6155 34.522 24.5184 33.0736 26 30.437C27.5762 27.63 28.4425 23.8811 28.4425 19.8765C28.4425 15.872 27.5762 12.1231 26 9.3161C24.5184 6.67954 22.6155 5.23109 20.6322 5.23109Z" fill="currentColor"/>
                    <path d="M35.6942 27.3508H6.17136C5.65068 27.3508 5.22466 26.9247 5.22466 26.4041C5.22466 25.8834 5.65068 25.4573 6.17136 25.4573H35.699C36.2196 25.4573 36.6457 25.8834 36.6457 26.4041C36.6457 26.9247 36.2196 27.3508 35.6942 27.3508Z" fill="currentColor"/>
                    </svg>
                    .content 
                        h3.title Internet
                        span.text S/ 1 por 25 MB
        .container
            p.extra-benefit-info
                <svg class="svg--inline-icon" focusable="false" role="img" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.999999 11.963C0.999998 22.1684 9.28913 22.9666 11.4991 22.9979C11.8341 23.0011 12.169 23.0011 12.504 22.9948C14.6044 22.9572 23 22.1684 23 12.0287C23 1.9141 14.6138 1.06261 12.457 1.00939C12.2035 1.00313 11.9092 0.999999 11.6275 0.999999L11.4178 0.999999C9.21087 1.01878 1 1.77636 0.999999 11.963ZM1.91718 11.963C1.91718 7.9622 3.24758 5.09468 5.8708 3.44491C8.02134 2.09254 10.4724 1.92663 11.4271 1.91723L11.6306 1.91723C11.9061 1.91723 12.1909 1.92036 12.4382 1.92663C13.3961 1.95167 15.866 2.15202 18.0509 3.52317C20.7274 5.19799 22.0828 8.06238 22.0828 12.0287C22.0828 21.1885 14.739 22.0369 12.4883 22.0776C12.1628 22.0838 11.8372 22.0838 11.5117 22.0807C10.5507 22.0682 8.08082 21.8866 5.90836 20.5186C3.2601 18.85 1.91718 15.97 1.91718 11.963ZM11.9937 14.5049C11.7402 14.5049 11.5367 14.2983 11.5367 14.0479L11.5367 6.89784C11.5367 6.64427 11.7433 6.44079 11.9937 6.44079C12.2442 6.44079 12.4508 6.6474 12.4508 6.89784L12.4508 14.0447C12.4539 14.2983 12.2473 14.5049 11.9937 14.5049ZM11.2863 16.3895C11.2863 16.7839 11.6056 17.1032 12 17.1032C12.3944 17.1032 12.7137 16.7839 12.7137 16.3895C12.7137 15.995 12.3944 15.6757 12 15.6757C11.6056 15.6757 11.2863 15.995 11.2863 16.3895Z" fill="currentColor"/>
                </svg>
                span.text Se consumirán de tu saldo de recarga al hacer una llamada, enviar SMS o navegar por internet.

.stweb__prepago-benefit
    .container        
        h2.main--title Disfruta de los #[b beneficios de ser Prepago]
        .row
            .col-md-6
                .prepago-benefit-image
                    picture.picture
                        source(media="(min-width: 768px)", srcset="images/pages/prepago/afiliate-a-preplan.jpg")
                        img(src="images/pages/prepago/afiliate-a-preplan.jpg", alt="")
            .col-md-6
                .prepago-benefit-info
                    h3.title Afíliate a Preplan Movistar
                    .text
                        p Si eres Prepago Movistar afíliate a Preplan y #[b obtén más beneficios desde tu primera recarga desde S/5].
                        p Ahora todas tus recargas Preplan tienen días de juegos Garena y 30 días de Whatsapp. ¡Tus soles valen por días!
                    a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="http://", target="_blank", rel="noopener noreferrer") Conocer Preplan
        .row.prepago-benefit-mg-top
            .col-md-6.prepago-benefit-col-1
                .prepago-benefit-image
                    picture.picture.picture--right
                        source(media="(min-width: 768px)", srcset="images/pages/prepago/paquetes-movistar.jpg")
                        img(src="images/pages/prepago/paquetes-movistar.jpg", alt="")
            .col-md-6
                .prepago-benefit-info
                    h3.title Paquetes Movistar
                    .text
                        p Compra los paquetes que más se acomode a ti y a tus necesidades desde y donde quieras.
                        p Elige entre paquetes de #[b megas, redes sociales, llamadas al extranjero, video, gaming] y más.
                    a.stweb-btn.stweb-btn--cian.stweb-btn--round(href="http://", target="_blank", rel="noopener noreferrer") Ver paquetes

.stweb__prepago-app-movistar
    picture.picture
        img(src="images/pages/entretenimiento/bg-movistar-app.png", alt="fondo movistar app", srcset="images/pages/entretenimiento/bg-movistar-app.png") 
    .container
        h2.main--title ¿Aún no eres Prepago Movistar?
        .row.no-gutters
            picture.banner__background 
                source(media="(min-width:992px)", srcset="images/pages/entretenimiento/descarga-app-movistar-desktop.png", type="image/png")
                img(src="images/pages/entretenimiento/descarga-app-movistar-mobile.png", alt="")       
            .col-md-5.col-xl-6.banner__information
                .banner__box
                    .box__icon
                        picture.banner__logo 
                            source(media="(min-width:992px)", srcset="images/pages/entretenimiento/logo-app-movistar.png", type="image/png")
                            img(src="images/pages/entretenimiento/logo-app-movistar.png", alt="")
                    .box__info
                        h2.banner__title Descarga la App Activa tu chip y porta tu prepago a Movistar
                        p.banner__description Compra tu chip, descarga la app y autoactívalo de forma rápida y fácil o llama al 104 para asistencia
                        .banner__apps
                            a.app__ios(href="http://", target="_blank", rel="noopener noreferrer")
                                picture.app__logo 
                                    source(media="(min-width:992px)", srcset="images/pages/entretenimiento/movistar-app-store.png", type="image/png")
                                    img(src="images/pages/entretenimiento/movistar-app-store-mobile.png", alt="")
                            a.app__google(href="http://", target="_blank", rel="noopener noreferrer")
                                picture.app__logo 
                                    source(media="(min-width:992px)", srcset="images/pages/entretenimiento/movistar-google-play.png", type="image/png")
                                    img(src="images/pages/entretenimiento/movistar-google-play-mobile.png", alt="")      
            .col-md-3.col-lg-3.banner__qr
                picture.qr__picture
                    source(media="(min-width:992px)", srcset="images/pages/entretenimiento/banner-repetidor-qr.png", type="image/png")
                    img(src="images/pages/entretenimiento/banner-repetidor-qr.png", alt="")      

.stweb__prepago-faq.stweb__faq-collapsible#faq-collapsible
    .container 
        h2.title Preguntas Frecuentes
        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title Entérate más sobre tu Chip Prepago
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa?

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Cómo funciona Prepago?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa?

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Cuánto me cobran por sms, llamadas y por navegar por internet?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa?

        h3.collapsible__header 
            button.collapsible__btn(type="button")
                span.title ¿Cómo consulto mi saldo?
                span.icon
                    <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"></path>
                    </svg>
        .collapsible__body
            .body
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium reiciendis voluptate minus quibusdam nesciunt eveniet minima, velit deleniti quis. Nihil ex nulla repellendus impedit in asperiores ullam adipisci ipsa?