.stweb__cp{
    &-banner-hero {
        height: 383px;
        position: relative;
        @media (min-width: 768px){
            height: 400px;
        }
        .banner-hero{
            &__container{
                height: 100%;
            }
            &__item{
                width: 100%;
                max-width: 1110px;
                margin: auto;
                height: 100%;
                padding: 30px 15px;
                @media (min-width: 768px) {
                    padding: 60px 15px;
                }        
            }
        }
        
        .picture {
            &--bg {
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    
        .content {
            position: relative;
            z-index: 2;
    
            .title {
                font-weight: 300;
                font-size: 28px;
                line-height: 32px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 8px;
    
                @media (min-width: 768px) {
                    font-size: 48px;
                    line-height: 48px;
                }
            }
    
            .text {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                letter-spacing: -0.0036em;
                color: #FFFFFF;
                margin-bottom: 25px;
                @media (min-width: 768px) {
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 33px;
                }
            }
    
            .promotion {
                text-align: center;
            }
        }
    
        .swiper-arrow{
            width: 100%;
            position: absolute;
            max-width: 1110px;
            padding: 0 15px;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            display: flex;
            justify-content: space-between;
            z-index: 1;
        }
        .swiper-button-prev{
            left: 0;
        }
        .swiper-button-next{
            right: 0;
        }
        .swiper-button-next.swiper-button-disabled, 
        .swiper-button-prev.swiper-button-disabled{
            opacity: 1;
        }
        .swiper-button-prev,
        .swiper-button-next {
            position: relative;
            top: 0;
            font-size: 10px;
            width: 28px;
            height: 28px;
            margin-top: 0px;
            border-radius: 50%;
            background-color: #019DF4;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    
            @media (min-width: 768px) {
                font-size: 12px;
            }
    
            &::after {
                content: inherit;
            }
    
            &.swiper-button-disabled {
                background-color: #fff;
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    
                >.icon {
                    path {
                        stroke: #80CEF9
                        ;
                    }
                }
            }
    
            >.icon {
    
                path {
                    stroke: #fff;
                }
            }
            &:focus{
                outline: none;
            }
        }
    }
    &-app-movistar {
        position: relative;
        background: #fff;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        [class^='col'] {
            z-index: 1;
        }
        @media (max-width: 768px){
            padding: 24px 0 28px;
        }
        .row{
            align-items: center;
            justify-content: space-evenly;
            @media (min-width: 1200px) {
                justify-content: space-between;
            }
        }
        .banner__qr {
            order: 1;
            @media (max-width: 992px) {
                display: none;
            }
            .qr__picture {
                > img {
                    display: block;
                    width: auto;
                    height: auto;
                    margin: auto;
                    max-width: 100%;
                    border-radius: 8px;
                    overflow: hidden;
                }
            }
        }
        .banner__information{
            order: 1;
            @media (min-width: 768px) {
                order: 2;
            }
        }
        .banner__background{
            order: 1;
            margin-bottom: 16px;
            @media (min-width: 768px) {
                order: 3;
                margin-bottom: 0;
            }
        }
        .banner__box {
            display: flex;
            align-items: flex-start;
            max-width: 480px;

            .box__icon {
                margin-top: 4px;
                margin-right: 16px;
            }

            .box__info {
                flex: 1;
            }
        }

        .banner__title {
            font-size: 18px;
            font-weight: 300;
            line-height: 1.3;
            color: #313235;
            margin-bottom: 8px;
            @media (min-width: 992px) {
                font-size: 24px;
            }
            .title__bold-400 {
                @media (min-width: 992px) {
                    font-weight: 400;
                }
            }
        }

        .banner__description {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.3;
            color: #50535A;
            margin-bottom: 0px;
            @media (min-width: 992px) {
                font-size: 14px;
            }
        }

        .banner__apps {
            display: flex;
            align-items: center;
            margin-top: 16px;
            .app__google, .app__ios {
                display: inline-block;
            }

            .app__google {
                margin-left: 8px;
            }
        }
    }
    &-streaming {
        padding: 24px 0 40px;

        @media (min-width: 992px) {
            padding: 60px 0 80px;
        }

        .information {
            margin-bottom: 32px;
            text-align: center;

            @media (min-width: 768px) {
                text-align: left;
                margin-bottom: 48px;
            }

            .picture {
                width: 100%;
                margin-bottom: 24px;

                @media (min-width: 768px) {
                    margin-bottom: 0;
                    width: auto;
                }
            }

            .content {
                width: 100%;
                text-align: left;
            }

            .title {
                font-weight: 300;
                font-size: 24px;
                line-height: 32px;
                color: #313235;
                margin-bottom: 8px;
                width: 100%;

                @media (min-width: 992px) {
                    max-width: 407px;
                    margin-bottom: 16px;
                    font-size: 32px;
                    line-height: 40px;
                    color: #50535A;
                }
            }

            .text {
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
                color: #50535A;
                margin-bottom: 16px;

                b {
                    font-weight: 400;
                }

                @media (min-width: 992px) {
                    width: 100%;
                    max-width: 514px;
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 24px;
                }
            }

            .link {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #019DF4;
                text-decoration: underline;

                span {
                    margin-right: 8px;
                }

                &:hover {
                    text-decoration: none;
                }

                .svg--inline {
                    font-size: 10px;
                    line-height: 24px;

                    path {
                        fill: #019DF4;
                    }
                }
            }
        }

        .brands {
            margin: -5px;

            @media (min-width: 992px) {
                margin: -15px;
            }

            .item {
                padding: 5px;

                @media (min-width: 992px) {
                    padding: 15px;
                }
            }
        }
    }
    &-clients {
        background: #F6F6F6;
        padding: 24px 0 40px;

        @media (min-width: 600px) {
            padding: 60px 0 80px;
        }

        .title {
            font-weight: 300;
            font-size: 38px;
            line-height: 46px;
            text-align: center;
            color: #313235;

            @media (min-width: 600px) {
                font-size: 28px;
                line-height: 32px;
            }
        }

        .client {
            display: flex;
            align-items: center;
            padding-top: 12px;
            padding-bottom: 12px;

            .data {
                width: 100%;
                padding: 13px 9px;
                position: relative;
                max-width: 105px;
                max-height: 105px;
                border-radius: 8px;

                @media (min-width: 600px) {
                    max-width: 180px;
                    max-height: 176px;
                    padding: 36px 16px;
                }

                .title {
                    position: relative;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: left;
                    color: #313235;
                    margin-bottom: 8px;
                    width: 100%;
                    max-width: 135px;

                    @media (min-width: 600px) {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }

                .plan {
                    position: relative;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 14px;
                    color: #50535A;
                    width: 100%;
                    max-width: 135px;
                    display: block;

                    @media (min-width: 600px) {
                        font-size: 12px;
                        line-height: 16px;
                    }
                }

                .photo {
                    position: absolute;
                    right: -25px;
                    top: 0;

                    @media (min-width: 600px) {
                        right: -135px;
                    }

                    .picture {
                        width: 66px;

                        @media (min-width: 600px) {
                            width: auto;
                        }
                    }
                }
            }

            &--bg {
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                object-fit: cover;
            }

            .testimony {
                padding-left: 23px;

                @media (min-width: 600px) {
                    padding-left: 128px;
                }

                .paragraph {
                    .text {
                        font-size: 12px;
                        line-height: 18px;
                        color: #50535A;
                        margin-bottom: 0;

                        &:first-of-type {
                            margin-bottom: 15px;
                        }

                        @media (min-width: 600px) {
                            font-size: 14px;
                            line-height: 18px;

                            &:first-of-type {
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    &-step-app{
        padding: 24px 0 40px;
        background: #F6F6F6;
        @media (min-width: 567px) {
            background: #FFFFFF;
        }
        @media (min-width: 768px){
            padding: 60px 0 40px;
        }
        .container{
            position: relative;
        }
        .title{
            font-weight: 300;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #313235;
            margin-bottom: 8px;
            @media (min-width: 768px){
                font-size: 38px;
                line-height: 46px;
                margin-bottom: 16px;
            }
        }
        .text{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #50535A;
            margin-bottom: 0;
            @media (min-width: 768px){
                font-size: 20px;
                line-height: 28px;
            }
        }
        .step-app{
            &__container{
                padding: 32px 0 20px;
                position: initial;
                @media (min-width: 768px){
                    padding: 40px 0 25px;
                }
            }
            &__item{
                .item{
                    text-align: center;
                    &__description{
                        width: 100%;
                        max-width: 255px;                        
                        min-height: 70px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 16px;
                        @media (min-width: 768px){                            
                            min-height: 84px;
                        }
                    }
                    &__picture{
                        text-align: center;
                        display: block;
                        img{
                            width: 100%;
                            max-width: 204px;
                            margin: 0 auto;
                            @media (min-width: 768px){
                                max-width: 238px;
                            }
                        }
                    }
                    &__title{
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        color: #313235;
                        margin-bottom: 8px;
                        @media (min-width: 768px){
                            font-size: 18px;
                            line-height: 24px;
                        }                        
                    }
                    &__text{
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: center;
                        color: #50535A;
                        margin-bottom: 0;
                        @media (min-width: 768px){
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
        .swiper-wrapper{
            position: initial;
        }
        .swiper-pagination{
            bottom: -15px;
        }
        .swiper-pagination-bullet{
            width: 10px;
            height: 10px;
        }
        .swiper-pagination-bullet-active{
            background: #019DF4;
        }
        .swiper-button-prev {
            left: 32px;
            @media (min-width: 567px){
                left: 0;
            }
        }

        .swiper-button-next {
            right: 32px;
            @media (min-width: 567px){
                right: 0;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            top: 67%;
            font-size: 10px;
            width: 28px;
            height: 28px;
            margin-top: 0px;
            border-radius: 50%;
            background-color: #019DF4;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

            @media (min-width: 768px) {
                font-size: 12px;
            }

            &::after {
                content: inherit;
            }

            &.swiper-button-disabled {
                background-color: #fff;
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
                opacity: 1;
                >.icon {
                    path {
                        stroke: #80CEF9;
                    }
                }
            }

            >.icon {

                path {
                    stroke: #fff;
                }
            }
            &:focus{
                outline: none;
            }
        }        
    }
    &-proceeds{
        padding: 24px 0 40px;
        background: #F6F6F6;
        @media (min-width: 992px){
            padding: 60px 0;
        }
        .container{
            @media (min-width: 992px){
                padding-top: 16px;
                padding-bottom: 16px;
            }
        }
        .row{
            align-items: center;
        }
        .proceeds{
            width: 100%;
            max-width: 586px;
            margin-bottom: 24px;
            margin-left: auto;
            margin-right: auto;
            @media (min-width: 992px){
                max-width: initial;
                margin-bottom: 0;
            }
            .title{
                font-weight: 300;
                font-size: 24px;
                line-height: 32px;
                color: #50535A;
                margin-bottom: 8px;
                br{
                    display: none;
                }
                @media (min-width: 992px) {
                    font-size: 32px;
                    line-height: 40px;
                    margin-bottom: 16px;
                    br{
                        display: block;
                    }
                }
            }
            .text{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #50535A;
                margin: 0;
                @media (min-width: 992px){
                    font-size: 18px;
                }
            }
        }
        .card{
            background-color: #FFFFFF;
            box-shadow: 0px 2px 4px rgba(11, 39, 57, 0.05);
            border-radius: 8px;
            min-height: 205px;
            height: 100%;
            overflow: hidden;
            @media (min-width: 992px){
                min-height: 255px;
            }
            @media (min-width: 1199px) {
                min-height: 255px;
            }
            @media (max-width: 1200px) and (min-width: 991px){
                min-height: 205px;
            }
            @media (max-width: 992px) and (min-width: 768px){
                min-height: 255px;
            }
            &__list{
                display: flex;    
                justify-content: center;  
                margin: 0 -8px;   
                @media (min-width: 992px){
                    margin: 0 -15px;   
                }       
            }
            &__item{
                width: 100%;
                max-width: 285px;
                padding: 0 8px;
                @media (min-width: 992px){
                    padding: 0 15px;
                }
            }
            .content{
                height: 49%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                padding: 16px 8px;
                @media (min-width: 1199px) {
                    padding: 0 23px;
                    justify-content: center;
                }
                @media (max-width: 1200px) and (min-width: 991px){
                    justify-content: start;
                    padding: 16px 8px;
                }
                @media (max-width: 992px) and (min-width: 768px){
                    padding: 0 23px;
                    justify-content: center;
                }
            }
            .picture{
                display: block;
                overflow: hidden;
                @media (min-width: 450px) {
                    height: 51%;
                }
                img{
                    @media (min-width: 450px){
                        width: 100%;
                        height: 100%;
                        max-width: none;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
            .title{
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
                color: #50535A;
                text-align: center;
                margin-bottom: 8px;
                @media (min-width: 768px){
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .text{
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                color: #50535A;
                margin: 0;
                @media (min-width: 768px){
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
    &-plan-carousel{
        background: #FFFFFF;
        margin-top: -104px;
        padding: 0 0 60px;
        @media (min-width: 768px){
            margin-top: -72px;
            background: #F6F6F6;
            padding: 0 0 80px;
        }
        .container{
            position: relative;
        }
        .plan__swiper{
            .swiper-wrapper{
                @media (max-width: 575.98px){
                    display: block;
                }
            }
        }
        .plan-box {
            position: relative;
            background: #FFFFFF;
            box-shadow: 0px 7px 8px rgba(11, 39, 57, 0.02), 0px 5px 22px rgba(11, 39, 57, 0.12);
            border-radius: 8px;
            padding: 24px 0px;
    
            @media (max-width: 575.98px) {
                overflow: hidden;
                padding: 24px 0px 0;
            }
    
            &.active {
                .box__footer .link--more .svg--inline {
                    transform: rotate(180deg);
                }
            }
    
            &.plan-box-great {
                padding: 0px 0px 24px;
    
                @media (max-width: 575.98px) {
                    padding: 0px;
                }
    
                .box__info {
                    padding-top: 24px;
                }
            }
    
            .box__outstanding {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 24px;
                align-items: center;
                background: #A13EA1;
                color: #fff;
                //border-radius: 8px 8px 0px 0px;
                font-weight: 700;
                font-size: 10px;
                margin: 0 auto;
                text-align: center;
                line-height: 1;
                text-transform: uppercase;
    
                @media (min-width: 576px) {
                    position: absolute;
                    border-radius: 20px;
                    width: 97px;
                    height: 18px;
                    left: calc(50% - 97px/2 + 0.5px);
                    top: -9px;
                }
            }
    
            .box__info {
                padding: 0 12px 16px;
    
                @media (max-width: 575.98px) {
                    padding: 0 16px 16px;
                }
    
                .info-megas {
                    @media (max-width: 575.98px) {
                        display: flex;
                        flex-wrap: wrap;
                    }
    
                    .megas__col-1 {
                        @media (max-width: 575.98px) {
                            position: relative;
                            width: 100%;
                            flex: 0 0 50%;
                            max-width: 50%;
                        }
    
                        &::after {
                            @media (max-width: 575.98px) {
                                content: "";
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                right: 0;
                                display: block;
                                width: 1px;
                                height: 36px;
                                background-color: #D3D4D3;
                            }
                        }
                    }
    
                    .megas__col-2 {
                        min-height: 47px;
                        margin-bottom: 16px;
                        @media (max-width: 575.98px) {
                            position: relative;
                            width: 100%;
                            flex: 0 0 50%;
                            max-width: 50%;
                            margin-bottom: 0;
                        }
                    }

                    .megas__col-3 {
                        position: relative;
                        width: 100%;
                        margin-top: -32px;
                        margin-bottom: 16px;
                        @media (max-width: 575.98px){
                            margin-top: 0;
                        }
                    }
                }
    
                .info-text-1 {
                    font-size: 18px;
                    line-height: 1.2;
                    color: #0B2739;
                    text-align: center;
                    margin-bottom: 8px;
    
                    @media (max-width: 575.98px) {
                        font-size: 24px;
                    }
                }
    
                .info-text-2 {
                    font-size: 12px;
                    line-height: 1.2;
                    color: #86888C;
                    text-align: center;
                    margin-bottom: 8px;
    
                    @media (max-width: 575.98px) {
                        font-size: 14px;
                    }
                    .icon{
                        position: relative;
                        bottom: 1px;
                    }
                }
    
                .info-text-3 {
                    font-size: 38px;
                    line-height: 1.2;
                    color: #019DF4;
                    text-align: center;
                    margin-bottom: 4px;
    
                    @media (max-width: 575.98px) {
                        font-size: 32px;
                    }
                }
    
                .info-text-4 {
                    font-size: 12px;
                    line-height: 1.2;
                    color: #0B2739;
                    text-align: center;
                    margin-bottom: 8px;
                }
    
                .info-text-5 {
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 0.98;
                    color: #0B2739;
                    text-align: center;                    
                    margin-bottom: 0px;
    
                    @media (max-width: 575.98px) {
                        margin-bottom: 4px;
                    }
    
                    .text-symbol {
                        font-size: 20px;
                        font-weight: 400;
    
                        @media (max-width: 575.98px) {
                            font-size: 16px;
                        }
                    }
    
                    .text-sub {
                        font-size: 12px;
    
                        @media (max-width: 575.98px) {
                            font-size: 10px;
                        }
                    }
                }
    
                .info-text-6 {
                    font-size: 12px;
                    line-height: 1.2;
                    color: #50535A;
                    text-align: center;
                    margin-bottom: 0;
                    .badge{
                        width: 45px;
                        height: 16px;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 16px;
                        color: #0B2739;
                        background: #E6F5FD;
                        border-radius: 20px;
                        display: inline-block;
                    }
                }
    
                .info-text-7 {
                    font-size: 14px;
                    line-height: 1.2;
                    color: #019DF4;
                    text-align: center;
                    margin-bottom: 4px;
    
                    @media (max-width: 575.98px) {
                        font-size: 16px;
                    }
                }
    
                .info-text-8 {
                    font-size: 12px;
                    line-height: 1.2;
                    color: #0B2739;
                    text-align: center;
                    margin-bottom: 16px;
    
                    .text-symbol {
                        color: #019DF4;
                    }
                }
    
                .button--buy {
                    display: block;
                    width: 100%;
                    font-size: 16px;
                    padding-left: 8px;
                    padding-right: 8px;
                }
    
                .button--call {
                    display: block;
                    width: 100%;
                    font-size: 16px;
                    margin-top: 8px;
                    padding-left: 8px;
                    padding-right: 8px;
                }
                .info-promo{
                    display: none;
                    @media (min-width: 575.98px) {
                        display: block !important;
                    }
                }
                .info-promo-1 {
                    display: flex;
                    background: #F4F4F4;
                    border-radius: 8px;
                    padding: 7px 12px;
                    margin-top: 16px;
                    justify-content: space-between;
                    align-items: center;
                    .promo-1__col-1 {
                        @media (max-width: 575.98px) {
                            position: relative;
                            width: 100%;
                            flex: 0 0 50%;
                            max-width: 50%;
                        }
                    }
    
                    .promo-1__col-2 {
                        @media (max-width: 575.98px) {
                            position: relative;
                            width: 100%;
                            flex: 0 0 50%;
                            max-width: 50%;
                        }
                    }
                    .promo-text-1 {
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        padding-left: 30px;
                        position: relative;                    
                        text-align: center;
                        margin-bottom: 0;
                        @media (min-width: 575.98px){
                            width: 71px;
                            text-align: left;
                        }
                        .icon{
                            position: absolute;
                            left: 20px;
                            top: 50%;
                            transform: translate(0, -50%);
                            @media (min-width: 575.98px){
                                left: 0;
                            }
                        }
                    }
                    .promo-text-2 {
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: center;
                        color: #0B2739;
                        margin-bottom: 0;
    
                        @media (max-width: 575.98px) {
                            text-align: center;
                            margin-bottom: 0;
                        }
                        .text-1__sub{
                            font-weight: 400;
                            font-size: 8.79397px;
                            line-height: 14px;
                            color: #50535A;
                            @media (min-width: 575.98px){
                                display: block;
                            }
                        }
                    }
                }
    
                .info-promo-2 {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    background: #F4F4F4;
                    border-radius: 8px;
                    padding: 4px 4px;
                    margin-top: 16px;
                    .promo-col-1 {
                        position: relative;
                        width: 100%;
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
    
                    .promo-col-2 {
                        position: relative;
                        width: 100%;
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
    
                    .promo-image-1 {
                        display: block;
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        margin: 0 auto;
                    }
    
                    .promo-text-1 {
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 1.2;
                        text-align: center;
                        color: #0B2739;
                        margin-bottom: 2px;
    
                        .text-1__sub {
                            display: block;
                            font-size: 10px;
                            font-weight: 400;
                            line-height: 1.2;
                            text-align: center;
                            color: #50535A;
                            margin-bottom: 0px;
    
                            @media (max-width: 575.98px) {
                                display: inline-block;
                                font-size: 8px;
                            }
                        }
                    }
    
                    .promo-text-2 {
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 1.2;
                        text-align: center;
                        color: #50535A;
                        margin-bottom: 0px;
    
                        @media (max-width: 575.98px) {
                            font-size: 8px;
                        }
    
                        .text-color {
                            color: #019DF4;
                        }
                    }
                }

                .info-promo-3 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #F4F4F4;
                    border-radius: 8px;
                    padding: 4px 4px;
                    margin-top: 16px;
                    @media (max-width: 575.98px){
                        justify-content: space-around;
                    }
                    .promo-col-1 {
                        position: relative;
                        width: 100%;
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
    
                    .promo-col-2 {
                        position: relative;
                        width: 100%;
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
    
                    .promo-image-1 {
                        display: block;
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        margin: 0 auto;
                    }
                    hr{
                        border: 1px solid #86888C;
                        height: 22px;
                        border-radius: 100px;
                        margin: 0 11px;
                        @media (max-width: 575.98px){
                            display: none;
                        }
                    }
                    .promo-text-1 {
                        font-weight: 300;
                        font-size: 17.5879px;
                        line-height: 25px;
                        color: #313235;
                        margin: 0;
                        .text-1__sub {
                            display: block;
                            font-weight: 400;
                            font-size: 8px;
                            line-height: 14px;
                            color: #50535A;
                            margin-bottom: 0px;

                        }
                        .icon{
                            vertical-align: baseline;
                        }
                    }
    
                    .promo-text-2 {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #0B2739;
                        margin-bottom: 0px;
                        .text-1__sub {
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 16px;
                            color: #50535A;
                            text-align: center;
                            display: block;
                            @media (max-width: 575.98px){
                                display: inline-block;
                            }
                        }
                        .text-color {
                            color: #019DF4;
                        }
                    }
                }                
            }
    
            .box__description {
                border-top: 1px solid #F6F6F6;
                
                padding: 0 16px;
                display: none;
                @media (min-width: 575.98px) {
                    padding: 0 12px;
                    display: block !important;
                }
    
                .item__benefit {
                    display: flex;
                    align-items: flex-start;
                    margin-top: 16px;
    
                    .benefit__icon {
                        display: block;
                        width: 15px;
                        margin-right: 10px;
    
                        img {
                            width: auto;
                            height: auto;
                            vertical-align: top;
                        }
                    }
    
                    .benefit__info {
                        flex: 1;
    
                        .info-text-1 {
                            font-size: 12px;
                            line-height: 1.2;
                            color: #313235;
                            margin-bottom: 4px;
    
                            @media (max-width: 575.98px) {
                                font-size: 14px;
                            }
                        }
    
                        .info-text-2 {
                            font-size: 12px;
                            line-height: 1.2;
                            color: #50535A;
                            margin-bottom: 4px;
    
                            @media (max-width: 575.98px) {
                                font-size: 14px;
                            }
                        }
    
                        .info-text-3 {
                            font-size: 12px;
                            line-height: 1.2;
                            color: #86888C;
                            margin-bottom: 0;
    
                            @media (max-width: 575.98px) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
    
            .box__footer {
                display: none;
                position: relative;
                padding: 0;
    
                @media (max-width: 575.98px) {
                    display: block;
                }
    
                .link--more {
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.2;
                    background-color: transparent;
                    border: 0;
                    padding: 16px 0 24px;
                    -ms-user-select: none;
                    user-select: none;
                    cursor: pointer;
                    color: #019DF4;
                    outline: 0;
                    transition: .4s;
    
                    .svg--inline {
                        height: 13px;
                        width: 13px;
                        margin-left: 5px;
                        filter: invert(51%) sepia(81%) saturate(3888%) hue-rotate(175deg) brightness(101%) contrast(99%);
                    }
                }
            }
        }    
        .swiper {
            margin: 0 auto;
        }

        .swiper-slide {
            padding: 15px 10px;

            @media (max-width: 575.98px) {
                padding: 15px 10px;
            }
        }

        .swiper-button-prev {
            right: -30px;
            left: auto;
            top: var(--swiper-navigation-top-offset, 47%);
        }

        .swiper-button-next {
            right: -30px;
            top: var(--swiper-navigation-top-offset, 53%);
        }

        .swiper-button-prev,
        .swiper-button-next {
            font-size: 10px;
            width: 28px;
            height: 28px;
            margin-top: 0px;
            border-radius: 50%;
            background-color: #019DF4;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

            @media (min-width: 768px) {
                font-size: 12px;
            }

            @media (max-width: 575.98px) {
                display: none;
            }

            &::after {
                content: inherit;
            }

            &.swiper-button-disabled {
                background-color: #fff;
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);

                >.icon {
                    path {
                        stroke: #019DF4;
                    }
                }
            }

            >.icon {

                path {
                    stroke: #fff;
                }
            }
        }
        .footer {
            padding: 40px 0 0;
    
            .container {
                padding: 0;
            }
    
            .title {
                font-weight: 300;
                font-size: 28px;
                line-height: 32px;
                color: #50535A;
                text-align: center;
                padding: 0 15px;
                margin-bottom: 10px;
    
                @media (min-width: 768px) {
                    margin-bottom: 20px;
                }
            }
    
            .plans-include {
                width: 100%;            
                margin: 0 auto;
                display: flex;
                padding: 20px;
                &__item {
                    background: #FFFFFF;
                    box-shadow: 0px 7px 8px rgba(11, 39, 57, 0.02), 0px 5px 22px rgba(11, 39, 57, 0.12);
                    border-radius: 16px;
                    display: flex;
                    align-items: center;
                    width: 255px;
                    height: 116px;
                    padding: 15px;
    
                    .picture {
                        margin-right: 8px;
                    }
    
                    .content {
                        .title {
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 20px;
                            letter-spacing: 0.12px;
                            color: #0B2739;
                            margin-bottom: 4px;
                            text-align: left;
                            padding: 0;
                        }
    
                        .text {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            letter-spacing: 0.12px;
                            color: #50535A;
                        }
                    }
                }
            }
        }    
    }
}
