.stweb__5g {
    &-banner-hero {
        height: 400px;
        position: relative;
        padding: 40px 16px;
      
        @media (min-width: 768px) {
            padding: 60px 15px;
        }
      
        &:before {
            @media (min-width: 768px) {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
                background: linear-gradient(94.15deg, rgba(11, 39, 57, 0.15) 10.75%, rgba(1, 157, 244, 0.15) 63.51%, rgba(3, 134, 208, 0.15) 87.66%, rgba(11, 39, 57, 0.15) 101.44%);
            }
        }
      
        .picture {
            &--bg {
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
      
        .content {
            position: relative;
            z-index: 2;
            top: 45px;
      
            .title {
                font-weight: 300;
                font-size: 28px;
                line-height: 32px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 8px;
      
                @media (min-width: 768px) {
                    font-size: 40px;
                    line-height: 48px;
                }
            }
      
            .text {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                letter-spacing: -0.0036em;
                color: #FFFFFF;
                margin-bottom: 24px;
                padding: 0 10px;
      
                @media (min-width: 768px) {
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 36px;
                }
            }
        }
    }

    &-better-phones{
        padding: 40px 0 20px;
        background:#F6F6F6;
        @media (min-width: 992px){
            padding: 40px 0;
        }
        .better-phones{
            &__content{
                display: none;
                @media (min-width: 992px) {
                    display: block;
                    padding: 130px 20px 0 20px;
                }
                .badge{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 10px;
                    line-height: 20px;
                    text-transform: uppercase;
                }
                .title{
                    font-style: normal;
                    font-weight: 300;
                    font-size: 38px;
                    line-height: 46px;
                    color: $color_azul;
                    margin-bottom: 24px;
                }
            }
            &__equipment{
                .tab-panel .tabs-wrapper .nav-tabs .nav-item .nav-link{
                    @media (min-width: 992px) {                    
                        padding-left: 25%;
                        padding-right: 25%;
                    }
                }
            }
        }
    }
    &-cell-brands{
        padding-top: 16px;
        margin-bottom: 20px;
        border-top: 1px solid #D3D4D3;
        @media (min-width: 992px){
            padding-top: 40px;
        }
        .title{
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            color: $color_texto;
            text-align: center;
            @media (min-width: 992px){
                text-align: left;
                margin: 0;
            }
        }
        .brand{
            width: 100%;
            height: 60px;
            background: $color_white;
            border: 1.07143px solid #F5F5F5;        
            border-radius: 8.57143px;
            @media (min-width: 768px) {
                width: 60px;
            }
            .link{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .picture{
                display: block;
                max-width: 50px;
                width: 100%;
                margin: auto;
            }
            &:hover{
                box-shadow: 0px 7px 8px rgba(11, 39, 57, 0.02), 0px 5px 22px rgba(11, 39, 57, 0.12);
                transition: all 0.25s ease-in-out;
            }
        }
    }

    &-require-section {
        padding: 32px 0 40px;
    
        @media (min-width: 768px) {
            padding: 40px 0 60px;
        }
    
        h2.title {
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 1.2;
            text-align: center;
            color: $color_texto;
            margin-bottom: 24px;
            padding: 0 10px;
            @media (min-width: 992px) {
                font-size: 32px;
                margin-bottom: 48px;
            }
        }
        .backblue{
            background-color: #0B2739;
            border-radius: 8px;
        }
        .require-box {
            position: relative;
            display: flex;
            width: 100%;
            padding: 16px 16px;
            flex-direction: column;
            align-items: center;
            @media (max-width: 500px) {
                padding: 16px 5px;
            }
            .require-box__head {
                display: block;
                margin-bottom: 10px;
                img {
                    max-width: 100%;
                }
            }
            .require-box__body {
                flex: 1;
                .box__title {
                    color: #FFFFFF;
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    text-align: center;
                    @media (max-width: 500px) {
                        font-size: 14px;
                    }
                }
                .box__description {
                    font-size: 16px;
                    font-weight: 400;
                    color: #FFFFFF;
                    margin-bottom: 0;
                    text-align: center;
                    padding: 0 21px;
                    @media (max-width: 500px) {
                        font-size: 14px;
                        padding: 0;
                    }
                }
            }
        }
    }
    &-require-location{
        padding-top: 60px;
        @media (max-width: 500px){
            padding-top: 32px;
        }
        h3.title{
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            line-height: 40px;
            color: $color_texto;
            text-align: center;
            @media (max-width: 500px){
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 10px;
            }
        }
        p.subtitle{
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            color: $color_texto;
            text-align: center;
            @media (max-width: 500px){
                font-size: 18px;
                line-height: 24px;
            }
        }
        picture img{
            width: 100%;
        }
        #location{
            margin-top: 0;
            @media (max-width: 500px){
                margin-top: 30px;
            }
        }
        .location{
            @media (max-width: 992px){
                margin-top: 10px;
            }
            h4.title{
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: $color_cian;
                margin-bottom: 0;
                @media (max-width: 500px){
                font-size: 14px;
            }
            }
            p.subtitle{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: $color_texto;
                text-align: start;
                margin-bottom: 0;
                @media (max-width: 500px){
                font-size: 14px;
            }
            }
            a{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                .svg--inline{
                    font-size: 12px;
                    margin-left: 5px;                
                }
            }
        }
    }

    &-bg{
        background-color: #F6F6F6;
    }

    &-downloader{
        padding: 60px 0 50px 0;
        height: 350px;
        @media (max-width: 767.5px) {
            height: 370px;
        }
        @media (max-width: 500px) {
            height: 271px !important;
            padding: 60px 0 16px 0;
        }
        .img-girl{
            border-radius: 16px;
        }
        .title{
            font-style: normal;
            font-weight: 300;
            font-size: 38px;
            line-height: 46px;
            color: $color_texto-dark;
            padding-right: 210px;
            @media (max-width: 500px) {
                font-size: 28px;
                line-height: 32px;
                padding-right: 10px;
            }
        }
        .subtitle{
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: $color_texto;
            padding-right: 70px;
            @media (max-width: 500px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
        .girl-cell{
            bottom: 200px;
            z-index: 1;
            text-align: center;
            @media (max-width: 500px) {
                bottom: 175px;
            }
        }
        .download-slider{
            bottom: 0;
            @media (max-width: 991.5px) {
                bottom: 180px;
            }
        }
        .swiper-pagination-bullet-active {
            color: #fff;
            background: $color_cian;
            height: 10px;
            width: 30px;
            border-radius: 25px;
        }
        .swiper-pagination-bullets{
            text-align: start;
            padding-left: .9rem;
            padding-bottom: 30px;
            @media (max-width: 1200px) {
                padding-bottom: 0;
            }
        }
        .swiper-button-prev {
            right: -10px;
            left: auto;
            top: var(--swiper-navigation-top-offset, 25%);
        }

        .swiper-button-next {
            right: -10px;
            top: var(--swiper-navigation-top-offset, 48%);
        }
        .swiper-button-prev,
        .swiper-button-next {
            font-size: 10px;
            width: 28px;
            height: 28px;
            margin-top: 0px;
            border-radius: 50%;
            background-color: #019DF4;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

            @media (min-width: 768px) {
                font-size: 12px;
            }

            @media (max-width: 575.98px) {
                display: none;
            }

            &::after {
                content: inherit;
            }

            &.swiper-button-disabled {
                background-color: #fff;
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);

                >.icon {
                    path {
                        stroke: #019DF4;
                    }
                }
            }

            >.icon {

                path {
                    stroke: #fff;
                }
            }
        }
    }

    &-posters {
        display: flex;
        @media (max-width: 991.98px) {
            display: block;
        }
        .poster-card {
            position: relative;
            width: 20%;
            height: 639px;
            overflow: hidden;
            color: #fff;
            transition: 0.4s ease-out;
            @media (max-width: 991.98px) {
                width: 100%;
                height: 108px;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background-color: #0B2739;
                opacity: 0.7;
                transition: 0.4s ease-out;
            }
            &:hover {
                width: 43.5%;
                @media (max-width: 991.98px) {
                    width: 100%;
                    height: 330px;
                }
                &::after {
                    opacity: 0;
                }
                .card__content {
                    //padding-top: 190px;
                    padding-top: 140px;
                    background: linear-gradient(0deg, #000000 -8.79%, rgba(0, 0, 0, 0) 95.66%);
                    @media (min-width: 992px) {
                        padding-top: 370px;
                    }
                    .stweb-btn {
                        display: inline-block;
                    }
                }
                .card__logo {
                    left: 24px;
                    transform: translate(0%,0%);
                    transition: 0.4s ease-out;
                    @media (max-width: 991.98px) {
                        position: absolute;
                        display: block;
                        top: 22px; 
                        left: 24px;
                        transform: translate(0%,0%);
                        transition: 0.4s ease-out;
                    }
                }
                .card__title {
                    display: block;
                    font-size: 32px;
                    max-width: 289px;
                    @media (min-width: 992px) {
                        font-size: 52px;
                    }
                }
                .card__arrow {
                    display: none;
                }
                .card__description {
                    font-size: 14px;
                    margin-top: 12px;
                    margin-bottom: 18px;
                }
                & ~ .poster-card {
                    //width: 14.125%;
                    transition: 0.4s ease-out;
                    .card__title {
                        font-size: 24px;
                    }
                }
            }
            .card__content {
                position: relative;
                height: 100%;
                z-index: 2;
                padding: 24px;
                transition: 0.4s ease-out;
                @media (min-width: 992px) {
                    padding-top: 532px;
                }
                @media (max-width: 991.98px) {
                    display: flex;
                }
                
                .stweb-btn {
                    display: none;
                    background: #019df4;
                }
            }
            .card__logo {
                @media (min-width: 992px) {
                    position: absolute;
                    display: block;
                    top: 40px; 
                    left: 50%;
                    transform: translate(-50%,0%);
                    transition: 0.4s ease-out;
                }
            }
            .card__body {
                @media (max-width: 991.98px) {
                    flex: 1;
                }
            }
            .card__title {
                display: none;
                font-size: 14px;
                line-height: 1.3;
                font-weight: 700;
                margin: 0;
                transition: 0.4s ease-out;
                @media (min-width: 992px) {
                    font-size: 24px;
                }
            }
            .card__arrow {
                position: absolute;
                right: 24px;
                bottom: 50px;
            }
            .card__description {
                font-size: 0;
                line-height: 1.2;
                margin: 0;
            }
            .card__picture {
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    object-fit: cover;
                    object-position: center;
                    z-index: 0;
                }
            }
        }
    }
}