.stweb__prepago {
    &-banner-hero {
        height: 383px;
        position: relative;

        @media (min-width: 768px) {
            height: 400px;
        }

        .banner-hero {
            &__container {
                height: 100%;
            }

            &__content {
                height: 100%;
            }
        }

        .background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            z-index: -1;

            img {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;

                @media (min-width: 1200px) {
                    object-position: center top;
                }
            }
        }

        .content {
            width: 100%;
            max-width: 1110px;
            margin: auto;
            height: 100%;
            padding: 68px 15px;

            @media (min-width: 768px) {
                padding: 75px 15px;
            }

            position: relative;
            z-index: 2;

            .title {
                text-align: center;
                font-style: normal;
                font-weight: 300;
                font-size: 28px;
                line-height: 1.2;
                color: #FFFFFF;
                margin-bottom: 16px;

                @media (min-width: 768px) {
                    font-size: 48px;
                    margin-top: 40px;
                }
            }

            .text {
                color: #FFFFFF;
                text-align: center;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.3;
                letter-spacing: 0.065px;
                margin-bottom: 0;

                @media (min-width: 768px) {
                    font-size: 18px;
                }

                @media (max-width: 575px) {
                    max-width: 240px;
                    margin: 0 auto;
                }
            }
        }

        .picture {
            text-align: center;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .swiper-arrow {
            width: 100%;
            position: absolute;
            max-width: 1110px;
            padding: 0 15px;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            display: none;
            justify-content: space-between;
            z-index: 1;

            @media (min-width: 768px) {
                display: flex;
            }
        }

        .swiper-button-prev {
            left: 0;
        }

        .swiper-button-next {
            right: 0;
        }

        .swiper-button-next.swiper-button-disabled,
        .swiper-button-prev.swiper-button-disabled {
            opacity: 1;
        }

        .swiper-button-prev,
        .swiper-button-next {
            position: relative;
            top: 0;
            font-size: 10px;
            width: 28px;
            height: 28px;
            margin-top: 0px;
            border-radius: 50%;
            background-color: #019DF4;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

            @media (min-width: 768px) {
                font-size: 12px;
            }

            &::after {
                content: inherit;
            }

            &.swiper-button-disabled {
                background-color: #fff;
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);

                >.icon {
                    path {
                        stroke: #80CEF9;
                    }
                }
            }

            >.icon {

                path {
                    stroke: #fff;
                }
            }

            &:focus {
                outline: none;
            }
        }
    }

    &-tabs {
        margin-top: -36px;
        position: relative;
        z-index: 1;
        overflow: overlay;

        @media (min-width:578px) {
            overflow: inherit;
        }

        .container {
            @media (min-width:1200px) {
                max-width: 1064px;
            }
        }

        .tab-panel {
            .tab-content .tab-pane {
                padding-bottom: 0;
            }

            .tabs-wrapper {
                .nav-tabs {
                    background: #FFFFFF;
                    box-shadow: 0px 0px 18px rgba(56, 100, 166, 0.2);
                    border-radius: 8px;
                    padding: 4px;
                    border: 0;
                    width: 616px;
                    margin-bottom: 15px;

                    @media (min-width:578px) {
                        width: auto;
                    }

                    .nav-item {
                        border: 0;
                        padding: 4px;

                        .nav-link {
                            background: #F5F5F5;
                            border-radius: 8px;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 20px;
                            color: #0B2739;
                            padding: 12px;

                            @media (min-width: 992px) {
                                font-size: 18px;
                                line-height: 24px;
                                padding: 16px;
                            }
                        }

                        &.active,
                        &:hover {
                            .nav-link {
                                background: #0B2739;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }

    &-freedom {
        display: flex;
        padding: 60px 0px 60px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #F6F6F6;
        margin-top: -40px;

        @media (min-width: 992px) {
            padding: 96px 0px 80px;
            margin-top: -52px;
        }

        .prepago-freedom-row {
            align-items: center;
        }

        .prepago-freedom-col {
            .title {
                font-size: 28px;
                font-weight: 400;
                line-height: 1.2;
                color: #0B2739;
                margin-bottom: 16px;
                max-width: 300px;

                @media (min-width: 992px) {
                    font-size: 38px;
                    max-width: 400px;
                }
            }

            .text {
                font-size: 14px;
                font-weight: 400;
                line-height: 1.3;
                color: #313235;

                @media (min-width: 992px) {
                    font-size: 18px;
                }

                >* {
                    margin-bottom: 24px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .picture {
                img {
                    width: 100%;
                    margin-top: 48px;

                    @media (min-width: 768px) {
                        float: right;
                        margin-top: 0;
                        width: auto;
                    }
                }
            }
        }

        .extra-benefit-content {
            width: 100%;
            padding-top: 40px;

            @media (min-width: 992px) {
                padding-top: 60px;
            }

            .extra-benefit-title {
                font-size: 22px;
                font-weight: 400;
                line-height: 1.2;
                color: #0B2739;
                text-align: center;
                margin-bottom: 24px;

                @media (min-width: 992px) {
                    font-size: 28px;
                }
            }

            .extra-benefit-slider {
                width: 100%;
                margin: 0 auto;
                display: flex;
                padding: 20px 15px;

                @media (min-width: 768px) {
                    max-width: 800px;
                }

                .benefit__item {
                    background: #FFF;
                    box-shadow: 0px 2px 4px 0px rgba(11, 39, 57, 0.05);
                    border-radius: 16px;
                    display: flex;
                    padding: 16px;
                    align-items: flex-start;
                    gap: 16px;
                    width: 255px;

                    @media (min-width: 768px) {
                        box-shadow: 0px 2px 4px 0px rgba(11, 39, 57, 0.05);
                        border-radius: 8px;
                    }

                    .svg--inline-icon {
                        font-size: 40px;
                        color: #019DF4;
                    }

                    .picture {
                        margin-right: 8px;
                    }

                    .content {
                        flex: 1;

                        .title {
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 1.2;
                            color: #0B2739;
                            margin-bottom: 4px;
                            text-align: left;
                            padding: 0;

                            @media (min-width: 768px) {
                                font-size: 20px;
                            }
                        }

                        .text {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 1.2;
                            color: #313235;
                            margin: 0;

                            @media (min-width: 768px) {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .extra-benefit-info {
                display: flex;
                align-items: flex-start;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.2;
                color: #313235;
                margin: 0 auto;
                margin-top: 24px;
                max-width: 670px;

                @media (min-width: 768px) {
                    font-size: 16px;
                    align-items: center;
                }

                .svg--inline-icon {
                    font-size: 18px;
                    color: #019DF4;

                    @media (min-width: 768px) {
                        font-size: 24px;
                    }
                }

                .text {
                    flex: 1;
                    margin-left: 8px;
                }
            }
        }
    }

    &-benefit {
        position: relative;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 40px 0 60px;

        @media (min-width: 768px) {
            padding: 60px 0 80px;
        }

        .main--title {
            font-size: 28px;
            font-weight: 300;
            line-height: 1.2;
            color: #0B2739;
            text-align: center;
            margin-bottom: 48px;

            @media (min-width: 992px) {
                font-size: 38px;
            }
        }

        .prepago-benefit-mg-top {
            margin-top: 40px;

            @media (min-width: 768px) {
                margin-top: 60px;
            }
        }

        .prepago-benefit-col-1 {
            @media (min-width: 768px) {
                order: 1 !important;
            }
        }

        .prepago-benefit-info {
            .title {
                font-size: 22px;
                font-weight: 400;
                line-height: 1.2;
                color: #0B2739;
                margin-bottom: 16px;

                @media (min-width: 992px) {
                    font-size: 28px;
                }
            }

            .text {
                font-size: 14px;
                font-weight: 400;
                line-height: 1.3;
                color: #313235;

                @media (min-width: 992px) {
                    font-size: 18px;
                }

                >* {
                    margin-bottom: 24px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .stweb-btn {
                margin-top: 24px;
            }
        }

        .prepago-benefit-image {
            .picture {
                display: block;

                @media (max-width: 767.98px) {
                    margin-bottom: 40px;
                }

                &.picture--right {
                    img {
                        @media (min-width: 768px) {
                            margin-left: auto;
                        }
                    }
                }

                img {
                    display: block;
                    max-width: 100%;
                    overflow: hidden;
                    border-radius: 16px;

                    @media (max-width: 767.98px) {
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    &-app-movistar {
        position: relative;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 24px 0 28px;

        @media (min-width: 768px) {
            padding: 60px 0 80px;
        }

        [class^='col'] {
            z-index: 1;
        }

        >.picture {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        .main--title {
            font-size: 28px;
            font-weight: 300;
            line-height: 1.2;
            color: #0B2739;
            text-align: center;
            margin-bottom: 24px;

            @media (min-width: 992px) {
                font-size: 38px;
                margin-bottom: 40px;
            }
        }

        .row {
            position: relative;
            border-radius: 16px;
            background: #FFF;
            box-shadow: 0px 2px 4px 0px rgba(11, 39, 57, 0.05);
            align-items: center;
            justify-content: space-evenly;
            padding: 24px 16px;

            @media (min-width: 1200px) {
                justify-content: space-between;
            }

            @media (min-width: 768px) {
                padding: 0;
            }
        }

        .banner__qr {
            order: 1;

            @media (max-width: 992px) {
                display: none;
            }

            .qr__picture {
                >img {
                    display: block;
                    width: auto;
                    height: auto;
                    margin: auto;
                    max-width: 100%;
                    border-radius: 8px;
                    overflow: hidden;
                }
            }
        }

        .banner__information {
            order: 1;

            @media (min-width: 768px) {
                order: 2;
            }
        }

        .banner__background {
            order: 1;
            margin-bottom: 16px;

            @media (min-width: 768px) {
                order: 3;
                margin-bottom: 0;
            }
        }

        .banner__box {
            display: flex;
            align-items: flex-start;
            max-width: 480px;

            .box__icon {
                margin-top: 4px;
                margin-right: 16px;
            }

            .box__info {
                flex: 1;
            }
        }

        .banner__title {
            font-size: 18px;
            font-weight: 300;
            line-height: 1.3;
            color: #313235;
            margin-bottom: 15px;

            @media (min-width: 992px) {
                font-size: 28px;
            }

            .title__bold-400 {
                @media (min-width: 992px) {
                    font-weight: 400;
                }
            }
        }

        .banner__description {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.3;
            color: #50535A;
            margin-bottom: 0px;

            @media (min-width: 992px) {
                font-size: 14px;
            }
        }

        .banner__apps {
            display: flex;
            align-items: center;
            margin-top: 16px;

            .app__google,
            .app__ios {
                display: inline-block;
            }

            .app__google {
                margin-left: 8px;
            }
        }
    }

    &-faq {
        position: relative;
        padding: 40px 0 24px;

        @media (min-width: 768px) {
            padding: 60px 0 80px;
        }

        &.stweb__faq-collapsible .title {
            color: #0b2739;
        }
    }
}