.stweb__fo-why {
    position: relative;
    padding: 24px 0;
    background-color: #F6F6F6;

    @media (min-width: 992px) {
        padding: 60px 0;
    }

    .fo-why {
        &__title {
            font-size: 28px;
            font-weight: 300;
            line-height: 1.2;
            text-align: center;
            color: #313235;
            margin-bottom: 32px;

            @media (min-width: 992px) {
                font-size: 38px;
                margin-bottom: 40px;
            }
        }

        &__cards {
            margin-left: -8px;
            margin-right: -8px;

            [class^='col-'] {
                @media (max-width: 991.98px) {
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
        }

        &__box {
            position: relative;
            display: block;
            width: 100%;
            height: 196px;
            background: #fff;
            padding: 16px 16px;
            margin: 8px 0;
            box-shadow: 0px 7px 8px rgba(11, 39, 57, 0.02), 0px 5px 22px rgba(11, 39, 57, 0.12);
            border-radius: 8px;

            @media (min-width: 768px) {
                padding: 16px 10px;
            }

            @media (min-width: 992px) {
                display: flex;
                align-items: center;
                height: 108px;
                padding: 24px 16px;
                margin: 15px 0;
            }

            .box__header {
                margin-bottom: 16px;

                @media (min-width: 992px) {
                    margin-right: 16px;
                }

                @media (max-width: 991.98px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 76px;
                }

                picture,
                img {
                    display: block;
                }

                img {
                    width: auto;
                    margin: 0 auto;
                    max-width: 100%;
                }
            }

            .box__body {
                @media (min-width: 992px) {
                    flex: 1;
                }

                .box__title {
                    font-size: 14px;
                    text-align: center;
                    line-height: 1.2;
                    font-weight: 700;
                    color: #0B2739;
                    letter-spacing: 0.12px;
                    margin-bottom: 4px;

                    @media (min-width: 992px) {
                        font-size: 14px;
                        text-align: left;
                    }

                    @media (min-width: 1200px) {
                        font-size: 16px;
                    }

                    a {
                        color: #0B2739;
                        text-decoration: none;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .box__description {
                    font-size: 14px;
                    line-height: 1.15;
                    color: #86888C;
                    margin-bottom: 0;
                    text-align: center;

                    @media (min-width: 992px) {
                        font-size: 14px;
                        text-align: left;
                    }

                    @media (min-width: 1200px) {
                        font-size: 16px;
                    }
                }
            }
        }

        &__banner {
            position: relative;
            display: block;

            @media (max-width: 991.98px) {
                margin-bottom: 20px;
            }

            img {
                display: block;
                margin: 0 auto;
                border-radius: 8px;
            }
        }
    }
}

.stweb{
    &__fo-streaming{
        padding: 24px 0 40px;
        @media (min-width: 992px) {
            padding: 60px 0 80px;
        }
        .information{
            margin-bottom: 32px;
            text-align: center;
            @media (min-width: 768px) {
                text-align: left;
                margin-bottom: 48px;
            }
            .picture{
                margin-bottom: 24px;
                @media (min-width: 768px) {
                    margin-bottom: 0;
                }
            }
            .content{
                width: 100%;
                text-align: left;
            }
            .title{
                font-weight: 300;
                font-size: 24px;
                line-height: 32px;
                color: #313235;                
                margin-bottom: 8px;
                width: 100%;
                @media (min-width: 992px){
                    max-width: 407px;
                    margin-bottom: 16px;
                    font-size: 32px;
                    line-height: 40px;
                    color: #50535A;
                }
            }
            .text{
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
                color: #50535A;
                margin-bottom: 16px;             
                b{
                    font-weight: 400;
                }
                @media (min-width: 992px){
                    width: 100%;
                    max-width: 514px;
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 24px;
                }
            }
            .link{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #019DF4;
                text-decoration: underline;
                span{
                    margin-right: 8px;
                }
                &:hover{
                    text-decoration: none;
                }
                .svg--inline{
                    font-size: 10px;
                    line-height: 24px;
                    path{
                        fill: #019DF4;
                    }
                }
            }
        }
        .brands{
            margin: -5px;
            @media (min-width: 992px){
                margin: -15px;
            }
            .item{
                padding: 5px;
                @media (min-width: 992px){
                    padding: 15px;
                }
            }
        }
    }
}

.stweb__fo-signal {
    position: relative;
    padding: 24px 0;
    background-color: #F6F6F6;

    @media (min-width: 992px) {
        padding: 60px 0;
    }

    .fo-signal {
        &__title {
            font-size: 24px;
            font-weight: 300;
            line-height: 1.2;
            color: #313235;
            margin-bottom: 16px;

            @media (min-width: 992px) {
                font-size: 32px;
                margin-bottom: 20px;
                max-width: 520px;
            }
        }

        &__description {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.2;

            @media (min-width: 992px) {
                font-size: 18px;
                max-width: 520px;
            }

            >* {
                font-size: 14px;

                @media (min-width: 992px) {
                    font-size: 18px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__banner {
            position: relative;
            display: block;

            @media (max-width: 991.98px) {
                margin-top: 24px;
                margin-bottom: 24px;
            }

            img {
                display: block;
                margin: 0 auto;
                border-radius: 8px;
            }
        }

        &__benefit {
            position: relative;
            background: #fff;
            padding: 20px 0px;
            margin-top: 24px;
            margin-left: 0;
            margin-right: 0;
            box-shadow: 0px 7px 8px rgba(11, 39, 57, 0.02), 0px 5px 22px rgba(11, 39, 57, 0.12);
            border-radius: 8px;

            @media (min-width: 992px) {
                margin-top: 48px;
                padding: 25px 20px;
            }

            .benefit__box {
                display: block;
                width: 100%;
                max-width: 227px;
                margin: 0 auto;
                padding: 0 5px;

                @media (max-width: 991.98px) {
                    margin: 8px auto;
                    padding: 0 5px;
                }

                .box__icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 35px;
                    margin-bottom: 20px;

                    @media (min-width: 992px) {
                        height: 50px;
                    }

                    >.icon {
                        font-size: 34px;
                        color: $color_cian;

                        @media (min-width: 992px) {
                            font-size: 50px;
                        }
                    }
                }

                .box__description {
                    font-size: 12px;
                    font-weight: 400;
                    text-align: center;

                    @media (min-width: 992px) {
                        font-size: 14px;
                    }

                    >* {
                        font-size: 12px;

                        @media (min-width: 992px) {
                            font-size: 14px;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.stweb{
    &__fo-clients{
        padding: 24px 0 40px;
        @media (min-width: 600px){
            padding: 60px 0 80px;
        }
        .title{
            font-weight: 300;
            font-size: 38px;
            line-height: 46px;
            text-align: center;
            color: #313235;
            @media (min-width: 600px){
                font-size: 28px;
                line-height: 32px;
            }
        }
        .client{
            display: flex;
            align-items: center;
            padding-top: 12px;
            padding-bottom: 12px;
            .data{
                width: 100%;
                padding: 13px 9px;
                position: relative;
                max-width: 105px;
                max-height: 105px;
                border-radius: 8px;
                @media (min-width: 600px){
                    max-width: 180px;
                    max-height: 176px;
                    padding: 36px 16px;
                }
                .title{
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: left;
                    color: #313235;
                    margin-bottom: 8px;
                    width: 100%;
                    max-width: 135px;
                    @media (min-width: 600px) {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
                .plan{
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 14px;
                    color: #50535A;
                    width: 100%;
                    max-width: 135px;
                    display: block;
                    @media (min-width: 600px){
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
                .photo{
                    position: absolute;
                    right: -25px;
                    top: 0;
                    @media (min-width: 600px){
                        right: -135px;
                    }
                    .picture{
                        width: 66px;
                        @media (min-width: 600px){
                            width: auto;
                        }
                    }
                }
            }
            &--bg{
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                object-fit: cover;
            }
            .testimony{
                padding-left: 23px;
                @media (min-width: 600px){
                    padding-left: 128px;
                }
                .paragraph{
                    .text{
                        font-size: 12px;
                        line-height: 18px;
                        color: #50535A;
                        margin-bottom: 0;
                        &:first-of-type{
                            margin-bottom: 15px;
                        }
                        @media (min-width: 600px){
                            font-size: 14px;
                            line-height: 18px;
                            &:first-of-type{
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.stweb__fo-browse {
    position: relative;
    padding: 34px 0 92px;
    background-color: #F6F6F6;

    @media (min-width: 992px) {
        padding: 70px 0 120px;
    }

    .fo-browse {
        &__title {
            font-size: 18px;
            font-weight: 300;
            line-height: 1.2;
            text-align: center;
            color: #313235;
            margin-bottom: 10px;

            @media (min-width: 992px) {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }

        &__subtitle {
            font-size: 28px;
            font-weight: 300;
            line-height: 1.2;
            text-align: center;
            color: #313235;
            margin-bottom: 32px;

            @media (min-width: 992px) {
                font-size: 38px;
                margin-bottom: 40px;
            }
        }

        &__carousel {
            position: relative;

            .swiper {
                max-width: 1014px;
                margin: 0 auto;
            }

            .swiper-slide {
                padding: 0 15px;
            }

            .swiper-button-prev {
                left: 0;
            }

            .swiper-button-next {
                right: 0;
            }

            .swiper-button-prev,
            .swiper-button-next {
                font-size: 10px;
                width: 28px;
                height: 28px;
                margin-top: 0px;
                border-radius: 50%;
                background-color: $color-cian;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

                @media (min-width: 768px) {
                    font-size: 12px;
                }

                &::after {
                    content: inherit;
                }

                &.swiper-button-disabled {
                    background-color: #fff;

                    >.icon {
                        path {
                            stroke: $color-cian;
                        }
                    }
                }

                >.icon {

                    path {
                        stroke: #fff;
                    }
                }
            }

            .swiper-pagination {
                font-size: 14px;
                color: #50535A;
                bottom: -40px;

                @media (min-width: 768px) {
                    max-width: 100%;
                    font-size: 16px;
                }
                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    margin: 0 5px;
                }
            }
            .swiper-pagination-bullet-active {
                background-color: $color-cian;
            }
        }

        &__box {
            position: relative;
            display: block;
            width: 100%;
            height: 142px;
            background: #fff;
            padding: 15px 16px;
            margin: 20px 0;
            box-shadow: 0px 2px 4px rgba(11, 39, 57, 0.05);
            border-radius: 8px;

            @media (max-width: 575.98px) {
                max-width: 248px;
                margin: 0 auto;
            }

            .box__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 14px;

                >.icon {
                    font-size: 34px;
                    color: $color_cian;
                }
            }

            .box__description {
                display: block;
                font-size: 12px;
                font-weight: 400;
                text-align: center;
                color: #50535A;
                margin: 0 auto;
                max-width: 180px;

                @media (min-width: 992px) {
                    font-size: 14px;
                    max-width: 210px;
                }

                >* {
                    font-size: 12px;
                    margin-bottom: 4px;

                    @media (min-width: 992px) {
                        font-size: 14px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .text-tip {
                    color: #B6B7B7;
                }
            }
        }
    }
}