.stweb__pd-banner-hero {
    height: 400px;
    position: relative;
    padding: 40px 16px;

    @media (min-width: 768px) {
        padding: 60px 15px;
    }

    &:before {
        @media (min-width: 768px) {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            background: linear-gradient(94.15deg, rgba(11, 39, 57, 0.15) 10.75%, rgba(1, 157, 244, 0.15) 63.51%, rgba(3, 134, 208, 0.15) 87.66%, rgba(11, 39, 57, 0.15) 101.44%);
        }
    }

    .picture {
        &--bg {
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .content {
        position: relative;
        z-index: 2;

        .title {
            font-weight: 300;
            font-size: 28px;
            line-height: 32px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 8px;

            @media (min-width: 768px) {
                font-size: 48px;
                line-height: 48px;
            }
        }

        .text {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            letter-spacing: -0.0036em;
            color: #FFFFFF;
            margin-bottom: 24px;

            @media (min-width: 768px) {
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 36px;
            }
        }

        .promotion {
            text-align: center;
        }
    }
}

.stweb__pd-tabs-Planes {
    position: relative;
    z-index: 1;
    padding: 0 0 20px;

    @media (min-width: 768px) {
        padding: 0 0 40px;
    }

    .tab-panel .tab-content .tab-pane {
        overflow: inherit;
    }

    .coverage {
        position: relative;
        margin-top: -125px;

        @media (min-width: 768px) {
            margin-top: -60px;
        }

        .content {
            width: 100%;
            max-width: 328px;
            margin: 0 auto;
            padding: 15px;
            background: #FFFFFF;
            box-shadow: 0px 7px 8px rgba(11, 39, 57, 0.02), 0px 5px 22px rgba(11, 39, 57, 0.12);
            border-radius: 8px;

            @media (min-width: 768px) {
                max-width: 896px;
                padding: 15px 24px;
            }

            .row {
                align-items: center;
                justify-content: center;

                @media (min-width: 768px) {
                    justify-content: space-between;
                }
            }

            .picture {
                text-align: center;
                display: block;
                margin-bottom: 16px;

                @media (min-width: 768px) {
                    text-align: left;
                    margin-bottom: 0;
                }
            }

            .text {
                font-weight: 300;
                font-size: 18px;
                line-height: 24px;
                color: #0B2739;
                text-align: left;
                margin: 0 0 16px;

                @media (min-width: 768px) {
                    font-size: 28px;
                    line-height: 32px;
                    margin: 0;
                }

                .info {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: #50535A;
                    display: block;
                    margin-top: 8px;
                }
            }

            .stweb-btn--cian {
                width: 100%;
                max-width: 208px;
                font-size: 16px;
                line-height: 24px;
                height: 56px;

                @media (min-width: 929px) {
                    padding-left: 32px;
                    padding-right: 32px;
                }

                @media (max-width: 930px) and (min-width: 767px) {
                    padding-left: 7%;
                    padding-right: 7%;

                }

                @media(max-width: 768px) {
                    display: block;
                    margin: 0 auto;
                    height: 40px;
                }
            }
        }
    }

    .tab-panel {
        margin-top: 41px;

        .tabs-wrapper {
            @media (max-width:768px) {
                overflow: overlay;
            }

            .nav-tabs {
                background: #FFFFFF;
                width: 690px;
                box-shadow: 0px 0px 18px rgba(56, 100, 166, 0.2);
                border-radius: 8px;
                padding: 4px;
                border: 0;

                @media (min-width:768px) {
                    width: 100%;
                }

                .nav-item {
                    border: 0;
                    padding: 4px;

                    .nav-link {
                        background: #F5F5F5;
                        border-radius: 8px;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 20px;
                        color: #0B2739;
                        padding: 12px;

                        @media (min-width: 992px) {
                            font-size: 18px;
                            line-height: 24px;
                            padding: 16px;
                        }
                    }

                    &.active,
                    &:hover {
                        .nav-link {
                            background: #0B2739;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }

    .tab-pane-footer {
        padding: 40px 0 0;

        .container {
            padding: 0;
        }

        .title {
            font-weight: 300;
            font-size: 28px;
            line-height: 32px;
            color: #50535A;
            text-align: center;
            padding: 0 15px;
            margin-bottom: 10px;

            @media (min-width: 768px) {
                margin-bottom: 20px;
            }
        }

        .plans-include {
            width: 100%;
            margin: 0 auto;
            display: flex;
            padding: 20px;

            &.plans-include-col-2 {
                max-width: 580px;
            }

            &.plans-include-col-3 {
                max-width: 825px;
            }

            &__item {
                background: #FFFFFF;
                box-shadow: 0px 7px 8px rgba(11, 39, 57, 0.02), 0px 5px 22px rgba(11, 39, 57, 0.12);
                border-radius: 16px;
                display: flex;
                align-items: center;
                width: 255px;
                height: 96px;
                padding: 15px;

                .picture {
                    margin-right: 8px;
                }

                .content {
                    .title {
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0.12px;
                        color: #0B2739;
                        margin-bottom: 4px;
                        text-align: left;
                        padding: 0;
                    }

                    .text {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0.12px;
                        color: #50535A;
                    }
                }
            }
        }
    }

    .pd-plan__carousel-2 {
        width: 100%;
        max-width: 890px;
        margin: 0 auto;
    }

    .pd-plan__carousel,
    .pd-plan__carousel-2 {
        position: relative;

        .swiper {
            margin: 0 auto;
        }

        .swiper-slide {
            padding: 15px 10px;

            @media (max-width: 575.98px) {
                padding: 15px 10px;
            }
        }

        .swiper-button-prev {
            right: -30px;
            left: auto;
            top: var(--swiper-navigation-top-offset, 47%);
        }

        .swiper-button-next {
            right: -30px;
            top: var(--swiper-navigation-top-offset, 53%);
        }

        .swiper-button-prev,
        .swiper-button-next {
            font-size: 10px;
            width: 28px;
            height: 28px;
            margin-top: 0px;
            border-radius: 50%;
            background-color: #019DF4;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

            @media (min-width: 768px) {
                font-size: 12px;
            }

            @media (max-width: 575.98px) {
                display: none;
            }

            &::after {
                content: inherit;
            }

            &.swiper-button-disabled {
                background-color: #fff;
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);

                >.icon {
                    path {
                        stroke: #019DF4;
                    }
                }
            }

            >.icon {

                path {
                    stroke: #fff;
                }
            }
        }
    }

    .plan-box {
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 7px 8px rgba(11, 39, 57, 0.02), 0px 5px 22px rgba(11, 39, 57, 0.12);
        border-radius: 8px;
        padding: 24px 0px;

        @media (max-width: 575.98px) {
            overflow: hidden;
            padding: 24px 0px 0;
        }

        &.active {
            .box__footer .link--more .svg--inline {
                transform: rotate(180deg);
            }
        }

        &.plan-box-great {
            padding: 0px 0px 24px;

            @media (max-width: 575.98px) {
                padding: 0px;
            }

            .box__info {
                padding-top: 24px;
            }
        }

        &.plan-box-only {
            max-width: 330px;
            margin: 0 auto;

            @media (min-width: 768px) {
                max-width: 202px;
            }
        }

        .box__outstanding {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 24px;
            align-items: center;
            background: #A13EA1;
            color: #fff;
            //border-radius: 8px 8px 0px 0px;
            font-weight: 700;
            font-size: 10px;
            margin: 0 auto;
            text-align: center;
            line-height: 1;
            text-transform: uppercase;

            @media (min-width: 576px) {
                position: absolute;
                border-radius: 20px;
                width: 97px;
                height: 18px;
                left: calc(50% - 97px/2 + 0.5px);
                top: -9px;
            }
        }

        .box__info {
            padding: 0 12px 16px;

            @media (max-width: 575.98px) {
                padding: 0 16px 16px;
            }

            .info-megas {
                @media (max-width: 575.98px) {
                    display: flex;
                    flex-wrap: wrap;
                }

                .megas__col-1 {
                    @media (max-width: 575.98px) {
                        position: relative;
                        width: 100%;
                        flex: 0 0 50%;
                        max-width: 50%;
                    }

                    &::after {
                        @media (max-width: 575.98px) {
                            content: "";
                            position: absolute;
                            top: 10px;
                            bottom: 0;
                            right: 0;
                            display: block;
                            width: 1px;
                            height: 36px;
                            background-color: #D3D4D3;
                        }
                    }
                }

                .megas__col-2 {
                    @media (max-width: 575.98px) {
                        position: relative;
                        width: 100%;
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                }
            }

            .info-text-1 {
                font-size: 18px;
                line-height: 1.2;
                color: #0B2739;
                text-align: center;
                margin-bottom: 5px;

                @media (max-width: 575.98px) {
                    font-size: 24px;
                }
            }

            .info-text-2 {
                font-size: 12px;
                line-height: 1.2;
                color: #86888C;
                text-align: center;
                margin-bottom: 8px;

                @media (max-width: 575.98px) {
                    font-size: 14px;
                }
            }

            .info-text-3 {
                font-size: 38px;
                line-height: 1.2;
                color: #019DF4;
                text-align: center;
                margin-bottom: 4px;

                @media (max-width: 575.98px) {
                    font-size: 32px;
                }
            }

            .info-text-4 {
                font-size: 12px;
                line-height: 1.2;
                color: #0B2739;
                text-align: center;
                margin-bottom: 8px;
            }

            .info-text-5 {
                font-size: 32px;
                font-weight: 700;
                line-height: 1.2;
                color: #0B2739;
                text-align: center;
                margin-bottom: 0px;

                @media (max-width: 575.98px) {
                    margin-bottom: 4px;
                }

                .text-symbol {
                    font-size: 20px;
                    font-weight: 400;

                    @media (max-width: 575.98px) {
                        font-size: 16px;
                    }
                }

                .text-sub {
                    font-size: 12px;

                    @media (max-width: 575.98px) {
                        font-size: 10px;
                    }
                }
            }

            .info-text-6 {
                font-size: 12px;
                line-height: 1.2;
                color: #50535A;
                text-align: center;
                margin-bottom: 16px;
            }

            .info-text-7 {
                font-size: 14px;
                line-height: 1.2;
                color: #019DF4;
                text-align: center;
                margin-bottom: 4px;

                @media (max-width: 575.98px) {
                    font-size: 16px;
                }
            }

            .info-text-8 {
                font-size: 12px;
                line-height: 1.2;
                color: #0B2739;
                text-align: center;
                margin-bottom: 16px;

                .text-symbol {
                    color: #019DF4;
                }
            }

            .button--buy {
                display: block;
                width: 100%;
                font-size: 16px;
                padding-left: 8px;
                padding-right: 8px;
            }

            .button--call {
                display: block;
                width: 100%;
                font-size: 16px;
                margin-top: 8px;
                padding-left: 8px;
                padding-right: 8px;
            }

            .info-promo-1 {
                display: block;
                background: #F4F4F4;
                border-radius: 8px;
                padding: 6px 4px;
                margin-top: 16px;

                @media (max-width: 575.98px) {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 13px 4px;
                }

                .promo-1__col-1 {
                    @media (max-width: 575.98px) {
                        position: relative;
                        width: 100%;
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                }

                .promo-1__col-2 {
                    @media (max-width: 575.98px) {
                        position: relative;
                        width: 100%;
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                }

                .promo-text-1 {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 1.2;
                    text-align: center;
                    color: #0B2739;
                    margin-bottom: 5px;

                    @media (max-width: 575.98px) {
                        margin-bottom: 0;
                    }
                }

                .promo-text-2 {
                    font-size: 10px;
                    font-weight: 700;
                    line-height: 1.2;
                    text-align: center;
                    color: #50535A;
                    margin-bottom: 0px;

                    .text-color {
                        color: #019DF4;
                    }
                }
            }

            .info-promo-2 {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                background: #F4F4F4;
                border-radius: 8px;
                padding: 8px 4px;
                margin-top: 16px;

                .promo-col-1 {
                    position: relative;
                    width: 100%;
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                .promo-col-2 {
                    position: relative;
                    width: 100%;
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                .promo-image-1 {
                    display: block;
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    margin: 0 auto;
                }

                .promo-text-1 {
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 1.2;
                    text-align: center;
                    color: #0B2739;
                    margin-bottom: 2px;

                    .text-1__sub {
                        display: block;
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 1.2;
                        text-align: center;
                        color: #50535A;
                        margin-bottom: 0px;

                        @media (max-width: 575.98px) {
                            display: inline-block;
                            font-size: 8px;
                        }
                    }
                }

                .promo-text-2 {
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 1.2;
                    text-align: center;
                    color: #50535A;
                    margin-bottom: 0px;

                    @media (max-width: 575.98px) {
                        font-size: 8px;
                    }

                    .text-color {
                        color: #019DF4;
                    }
                }

                .promo-sticker {
                    display: flex;
                    align-items: center;
                    max-width: 65px;
                    margin: 0 auto;
                    .sticker__svg {
                        font-size: 20px;
                    }
                    .sticker__text {
                        flex: 1;
                        display: block;
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 1.15;
                        color: #50535A;
                        margin-left: 5px;
                    }
                }
            }
        }

        .box__description {
            padding: 0 12px;
            border-top: 1px solid #F6F6F6;

            @media (max-width: 575.98px) {
                padding: 0 16px;
                display: none;
            }

            .item__benefit {
                display: flex;
                align-items: flex-start;
                margin-top: 16px;

                .benefit__icon {
                    display: block;
                    width: 15px;
                    margin-right: 10px;

                    img {
                        width: auto;
                        height: auto;
                        vertical-align: top;
                    }
                }

                .benefit__info {
                    flex: 1;

                    .info-text-1 {
                        font-size: 12px;
                        line-height: 1.2;
                        color: #313235;
                        margin-bottom: 4px;

                        @media (max-width: 575.98px) {
                            font-size: 14px;
                        }
                    }

                    .info-text-2 {
                        font-size: 12px;
                        line-height: 1.2;
                        color: #50535A;
                        margin-bottom: 4px;

                        @media (max-width: 575.98px) {
                            font-size: 14px;
                        }
                    }

                    .info-text-3 {
                        font-size: 12px;
                        line-height: 1.2;
                        color: #86888C;
                        margin-bottom: 0;

                        @media (max-width: 575.98px) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .box__footer {
            display: none;
            position: relative;
            padding: 0;

            @media (max-width: 575.98px) {
                display: block;
            }

            .link--more {
                display: block;
                width: 100%;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.2;
                background-color: transparent;
                border: 0;
                padding: 16px 0 24px;
                -ms-user-select: none;
                user-select: none;
                cursor: pointer;
                color: #019DF4;
                outline: 0;
                transition: .4s;

                .svg--inline {
                    height: 13px;
                    width: 13px;
                    margin-left: 5px;
                    filter: invert(51%) sepia(81%) saturate(3888%) hue-rotate(175deg) brightness(101%) contrast(99%);
                }
            }
        }
    }
}

.stweb__pd-why {
    position: relative;
    padding: 24px 0;
    background-color: #F6F6F6;

    @media (min-width: 992px) {
        padding: 60px 0;
    }

    .pd-why {
        &__title {
            font-size: 28px;
            font-weight: 300;
            line-height: 1.2;
            text-align: center;
            color: #313235;
            margin-bottom: 32px;

            @media (min-width: 992px) {
                font-size: 38px;
                margin-bottom: 40px;
            }
        }

        &__cards {
            margin-left: -8px;
            margin-right: -8px;

            [class^='col-'] {
                @media (max-width: 991.98px) {
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
        }

        &__box {
            position: relative;
            display: block;
            width: 100%;
            height: 196px;
            background: #fff;
            padding: 16px 16px;
            margin: 8px 0;
            box-shadow: 0px 7px 8px rgba(11, 39, 57, 0.02), 0px 5px 22px rgba(11, 39, 57, 0.12);
            border-radius: 8px;

            @media (min-width: 768px) {
                padding: 16px 10px;
            }

            @media (min-width: 992px) {
                display: flex;
                align-items: center;
                height: 108px;
                padding: 24px 16px;
                margin: 15px 0;
            }

            .box__header {
                margin-bottom: 16px;

                @media (min-width: 992px) {
                    margin-right: 16px;
                }

                @media (max-width: 991.98px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 76px;
                }

                picture,
                img {
                    display: block;
                }

                img {
                    width: auto;
                    margin: 0 auto;
                    max-width: 100%;
                }
            }

            .box__body {
                @media (min-width: 992px) {
                    flex: 1;
                }

                .box__title {
                    font-size: 14px;
                    text-align: center;
                    line-height: 1.2;
                    font-weight: 700;
                    color: #0B2739;
                    letter-spacing: 0.12px;
                    margin-bottom: 4px;

                    @media (min-width: 992px) {
                        font-size: 14px;
                        text-align: left;
                    }

                    @media (min-width: 1200px) {
                        font-size: 16px;
                    }

                    a {
                        color: #0B2739;
                        text-decoration: none;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .box__description {
                    font-size: 14px;
                    line-height: 1.15;
                    color: #86888C;
                    margin-bottom: 0;
                    text-align: center;

                    @media (min-width: 992px) {
                        font-size: 14px;
                        text-align: left;
                    }

                    @media (min-width: 1200px) {
                        font-size: 16px;
                    }
                }
            }
        }

        &__banner {
            position: relative;
            display: block;

            @media (max-width: 991.98px) {
                margin-bottom: 20px;
            }

            img {
                display: block;
                margin: 0 auto;
                border-radius: 8px;
            }
        }
    }
}

.stweb {
    &__pd-streaming {
        padding: 24px 0 40px;

        @media (min-width: 992px) {
            padding: 60px 0 80px;
        }

        .information {
            margin-bottom: 32px;
            text-align: center;

            @media (min-width: 768px) {
                text-align: left;
                margin-bottom: 48px;
            }

            .picture {
                width: 100%;
                margin-bottom: 24px;

                @media (min-width: 768px) {
                    margin-bottom: 0;
                    width: auto;
                }
            }

            .content {
                width: 100%;
                text-align: left;
            }

            .title {
                font-weight: 300;
                font-size: 24px;
                line-height: 32px;
                color: #313235;
                margin-bottom: 8px;
                width: 100%;

                @media (min-width: 992px) {
                    max-width: 407px;
                    margin-bottom: 16px;
                    font-size: 32px;
                    line-height: 40px;
                    color: #50535A;
                }
            }

            .text {
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
                color: #50535A;
                margin-bottom: 16px;

                b {
                    font-weight: 400;
                }

                @media (min-width: 992px) {
                    width: 100%;
                    max-width: 514px;
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 24px;
                }
            }

            .link {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #019DF4;
                text-decoration: underline;

                span {
                    margin-right: 8px;
                }

                &:hover {
                    text-decoration: none;
                }

                .svg--inline {
                    font-size: 10px;
                    line-height: 24px;

                    path {
                        fill: #019DF4;
                    }
                }
            }
        }

        .brands {
            margin: -5px;

            @media (min-width: 992px) {
                margin: -15px;
            }

            .item {
                padding: 5px;

                @media (min-width: 992px) {
                    padding: 15px;
                }
            }
        }
    }
}

.stweb__pd-signal {
    position: relative;
    padding: 24px 0;
    background-color: #F6F6F6;

    @media (min-width: 992px) {
        padding: 60px 0;
    }

    .pd-signal {
        &__title {
            font-size: 24px;
            font-weight: 300;
            line-height: 1.2;
            color: #313235;
            margin-bottom: 16px;

            @media (min-width: 992px) {
                font-size: 32px;
                margin-bottom: 20px;
                max-width: 520px;
            }
        }

        &__description {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.2;

            @media (min-width: 992px) {
                font-size: 18px;
                max-width: 520px;
            }

            >* {
                font-size: 14px;

                @media (min-width: 992px) {
                    font-size: 18px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__banner {
            position: relative;
            display: block;

            @media (max-width: 991.98px) {
                margin-top: 24px;
                margin-bottom: 24px;
            }

            img {
                display: block;
                margin: 0 auto;
                border-radius: 8px;
            }
        }

        &__benefit {
            position: relative;
            background: #fff;
            padding: 20px 0px;
            margin-top: 24px;
            margin-left: 0;
            margin-right: 0;
            box-shadow: 0px 7px 8px rgba(11, 39, 57, 0.02), 0px 5px 22px rgba(11, 39, 57, 0.12);
            border-radius: 8px;

            @media (min-width: 992px) {
                margin-top: 48px;
                padding: 25px 20px;
            }

            .benefit__box {
                display: block;
                width: 100%;
                max-width: 227px;
                margin: 0 auto;
                padding: 0 5px;

                @media (max-width: 991.98px) {
                    margin: 8px auto;
                    padding: 0 5px;
                }

                .box__icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 35px;
                    margin-bottom: 20px;

                    @media (min-width: 992px) {
                        height: 50px;
                    }

                    >.icon {
                        font-size: 34px;
                        color: #019DF4;

                        @media (min-width: 992px) {
                            font-size: 50px;
                        }
                    }
                }

                .box__description {
                    font-size: 12px;
                    font-weight: 400;
                    text-align: center;

                    @media (min-width: 992px) {
                        font-size: 14px;
                    }

                    >* {
                        font-size: 12px;

                        @media (min-width: 992px) {
                            font-size: 14px;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        &__banner-repetidor {
            position: relative;
            background: #fff;
            padding: 20px 0px;
            margin-top: 24px;
            margin-left: 0;
            margin-right: 0;
            box-shadow: 0px 7px 8px rgba(11, 39, 57, 0.02), 0px 5px 22px rgba(11, 39, 57, 0.12);
            border-radius: 8px;

            [class^='col'] {
                z-index: 1;
            }

            @media (min-width: 992px) {
                margin-top: 48px;
                padding: 24px 25px;
            }

            .banner__qr {
                @media (max-width: 767.98px) {
                    display: none;
                }

                .qr__picture {
                    >img {
                        display: block;
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        border: 1px solid #dfdfdf;
                        border-radius: 8px;
                        overflow: hidden;
                        box-shadow: 0px 7px 8px rgba(11, 39, 57, 0.02), 0px 5px 22px rgba(11, 39, 57, 0.12);
                    }
                }
            }

            .banner__background {
                display: none;

                @media (min-width: 768px) {
                    display: block;
                }

                >img {
                    position: absolute;
                    width: 100%;
                    height: auto;
                    left: auto;
                    right: 0;
                    /* top: 0; */
                    bottom: 0;
                    object-fit: none;
                    object-position: bottom right;
                    z-index: 0;

                    @media (min-width: 1024px) {
                        right: 70px;
                    }
                }
            }

            .banner__box {
                display: flex;
                align-items: flex-start;
                max-width: 350px;

                .box__icon {
                    margin-top: 4px;
                    margin-right: 16px;
                }

                .box__info {
                    flex: 1;
                }
            }

            .banner__title {
                font-size: 18px;
                font-weight: 300;
                line-height: 1.3;
                color: #313235;
                margin-bottom: 8px;

                @media (min-width: 992px) {
                    font-size: 24px;
                }

                .title__bold-400 {
                    @media (min-width: 992px) {
                        font-weight: 400;
                    }
                }
            }

            .banner__description {
                font-size: 12px;
                font-weight: 400;
                line-height: 1.3;
                color: #50535A;
                margin-bottom: 0px;

                @media (min-width: 992px) {
                    font-size: 14px;
                }
            }

            .banner__apps {
                display: flex;
                align-items: center;
                margin-top: 8px;

                .app__google,
                .app__ios {
                    display: inline-block;
                }

                .app__google {
                    margin-left: 8px;
                }
            }
        }
    }
}

.stweb {
    &__pd-clients {
        padding: 24px 0 40px;

        @media (min-width: 600px) {
            padding: 60px 0 80px;
        }

        .title {
            font-weight: 300;
            font-size: 38px;
            line-height: 46px;
            text-align: center;
            color: #313235;

            @media (min-width: 600px) {
                font-size: 28px;
                line-height: 32px;
            }
        }

        .client {
            display: flex;
            align-items: center;
            padding-top: 12px;
            padding-bottom: 12px;

            .data {
                width: 100%;
                padding: 13px 9px;
                position: relative;
                max-width: 105px;
                max-height: 105px;
                border-radius: 8px;

                @media (min-width: 600px) {
                    max-width: 180px;
                    max-height: 176px;
                    padding: 36px 16px;
                }

                .title {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: left;
                    color: #313235;
                    margin-bottom: 8px;
                    width: 100%;
                    max-width: 135px;

                    @media (min-width: 600px) {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }

                .plan {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 14px;
                    color: #50535A;
                    width: 100%;
                    max-width: 135px;
                    display: block;

                    @media (min-width: 600px) {
                        font-size: 12px;
                        line-height: 16px;
                    }
                }

                .photo {
                    position: absolute;
                    right: -25px;
                    top: 0;

                    @media (min-width: 600px) {
                        right: -135px;
                    }

                    .picture {
                        width: 66px;

                        @media (min-width: 600px) {
                            width: auto;
                        }
                    }
                }
            }

            &--bg {
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                object-fit: cover;
            }

            .testimony {
                padding-left: 23px;

                @media (min-width: 600px) {
                    padding-left: 128px;
                }

                .paragraph {
                    .text {
                        font-size: 12px;
                        line-height: 18px;
                        color: #50535A;
                        margin-bottom: 0;

                        &:first-of-type {
                            margin-bottom: 15px;
                        }

                        @media (min-width: 600px) {
                            font-size: 14px;
                            line-height: 18px;

                            &:first-of-type {
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.stweb__pd-browse {
    position: relative;
    padding: 34px 0 92px;
    background-color: #F6F6F6;

    @media (min-width: 992px) {
        padding: 70px 0 120px;
    }

    .pd-browse {
        &__title {
            font-size: 18px;
            font-weight: 300;
            line-height: 1.2;
            text-align: center;
            color: #313235;
            margin-bottom: 10px;

            @media (min-width: 992px) {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }

        &__subtitle {
            font-size: 28px;
            font-weight: 300;
            line-height: 1.2;
            text-align: center;
            color: #313235;
            margin-bottom: 32px;

            @media (min-width: 992px) {
                font-size: 38px;
                margin-bottom: 40px;
            }
        }

        &__carousel {
            position: relative;

            .swiper,
            .swiper-container {
                max-width: 1014px;
                margin: 0 auto;
            }

            .swiper-slide {
                padding: 0 15px;
            }

            .swiper-button-prev {
                left: 0;
            }

            .swiper-button-next {
                right: 0;
            }

            .swiper-button-prev,
            .swiper-button-next {
                font-size: 10px;
                width: 28px;
                height: 28px;
                margin-top: 0px;
                border-radius: 50%;
                background-color: #019DF4;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

                @media (min-width: 768px) {
                    font-size: 12px;
                }

                &::after {
                    content: inherit;
                }

                &.swiper-button-disabled {
                    background-color: #fff;

                    >.icon {
                        path {
                            stroke: #019DF4;
                        }
                    }
                }

                >.icon {

                    path {
                        stroke: #fff;
                    }
                }
            }

            .swiper-pagination {
                width: 100%;
                font-size: 14px;
                color: #50535A;
                bottom: -40px;
                left: 0;
                right: 0;

                @media (min-width: 768px) {
                    max-width: 100%;
                    font-size: 16px;
                }

                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    margin: 0 5px;
                }
            }

            .swiper-pagination-bullet-active {
                background-color: #019DF4;
            }
        }

        &__box {
            position: relative;
            display: block;
            width: 100%;
            height: 142px;
            background: #fff;
            padding: 15px 16px;
            margin: 20px 0;
            box-shadow: 0px 2px 4px rgba(11, 39, 57, 0.05);
            border-radius: 8px;

            @media (max-width: 575.98px) {
                max-width: 248px;
                margin: 0 auto;
            }

            .box__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 14px;

                >.icon {
                    font-size: 34px;
                    color: #019DF4;
                }
            }

            .box__description {
                display: block;
                font-size: 12px;
                font-weight: 400;
                text-align: center;
                color: #50535A;
                margin: 0 auto;
                max-width: 180px;

                @media (min-width: 992px) {
                    font-size: 14px;
                    max-width: 210px;
                }

                >* {
                    font-size: 12px;
                    margin-bottom: 4px;

                    @media (min-width: 992px) {
                        font-size: 14px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .text-tip {
                    color: #B6B7B7;
                }
            }
        }
    }
}