//colores principales
$color_azul: #0B2739;
$color_cian: #019DF4;
$color_rosado: #E63780;
$color_verde: #5CB615;
$color_texto: #50535A;
$color_azul-dark : #0B2739;
$color_white: #FFF;

//colores secundarios
$color_morado: #954b97;
$color_lila: #E63780;
$color_naranja: #EC624B;
$color_amarillo: #F28D15;

//colores light
$color_gris-light    : #F5F5F5;
$color_verde-light   : #BDE4A4;
$color_morado-light  : #DEBCE4;
$color_lila-light    : #FBC7DE;
$color_naranja-light : #F8CCCC;
$color_amarillo-light: #F8D2B3;

//colores dark
$color_cian-dark: #0593e1;
$color_verde-dark  : #3C7521;
$color_rosado-dark: #e13c80;
$color_lila-dark   : #922859;
$color_naranja-dark: #983230;
$color_amarillo-dark: #9F591F;
$color_rosado-dark: #e13c80;
$color_morado-dark: #642A72;

//colores alertas
$alert_succes_text: #155724;
$alert_succes_bg: #d4edda;
$alert_succes_border: #c3e6cb;
$alert_danger_text: #E9426D;
$alert_danger_bg: #FDEDF0;
$alert_danger_border: #E9426D;
$alert_warning_text: #856404;
$alert_warning_bg: #fff3cd;
$alert_warning_border: #ffeeba;
$alert_info_text: #0c5460;
$alert_info_bg: #d1ecf1;
$alert_info_border: #bee5eb;
$grey-0: #f4f4f3;
$grey-1: #e9e5e8;
$grey-2: #d7d7d7;
$grey-3: #b6b7b7;
$grey-4: #86888c;
$grey-5: #50535a;
$grey-6: #63666d;


// Colores
$gray-white : #F5F5F5;
$white      : #ffffff;
$skyblue    : #019DF2;
$blue-dark  : #0B2739;
$gray-dark2 : #484848;
