// Fonts
$font       : 'Telefonica';
$fontIcomoon: 'icomoon';

// Primario - Azul
$primary       : #019DF2;
$primary-hover : #1895E3;


// Colores
$black      : #000000;
$white      : #ffffff;
$blue       : #004fff;
$blue-dark  : #0B2739;
$skyblue    : #019DF2;
$skyblue2   : #1895E3;
$skyblue3   : #018ddb;
$green      : #68cd18;
$green2     : #5cb317;
$gray       : #50535A;
$gray-light : #d7d7d7;
$gray-light2: #86888C;
$gray-dark  : #4D555F;
$gray-dark2 : #484848;
$gray-white : #F5F5F5;
$pink       : #E9426D;

//colores principales
$color_cian      : #019DF2;
$color_verde     : #68cd18;
$color_azul-dark : #0B2739;

//colores secundarios
$color_morado  : #954B97;
$color_rosado  : #FB5382;
$color_lila    : #E63780;
$color_naranja : #EC624B;
$color_amarillo: #F28D15;

//colores light
$color_gris-light    : #F5F5F5;
$color_verde-light   : #BDE4A4;
$color_morado-light  : #DEBCE4;
$color_lila-light    : #FBC7DE;
$color_naranja-light : #F8CCCC;
$color_amarillo-light: #F8D2B3;

//colores dark
$color_cian-dark   : #019BF4;
$color_verde-dark  : #3C7521;
$color_morado-dark : #642A72;
$color_lila-dark   : #922859;
$color_naranja-dark: #983230;
$color_amarillo-dark: #9F591F;

// bullets animations

// MIXIN - PREFIX
// =================================================
@mixin prefix($property, $value, $prefixes: webkit moz ms o) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
}

// MIXIN - ANIMATION AND KEYFRAMES
// =================================================
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';
    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};
        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation: $animations;
    -ms-animation: $animations;
    animation: $animations;
}

// KEYFRAMES
// =================================================
@include keyframes(progress) {
    0% {
        stroke-dashoffset: 75;
        opacity: 1;
    }
    95% {
        stroke-dashoffset: 0;
        opacity: 1;
    }
    100% {
        opacity: 0;
        stroke-dashoffset: 0;
    }
}