.stweb__breadcrumb
    .container
      ul.breadcrumb__list
        li.breadcrumb__item(itemprop='itemListElement')
            a.breadcrumb__link(itemprop='item' href='/')
                span(itemprop='name') Inicio
                    meta(itemprop='position' content='1')
        li.breadcrumb__item(itemprop='itemListElement')
            <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33868 15.5C1.1038 15.5 0.879906 15.4018 0.721861 15.2332C0.407965 14.8918 0.429916 14.371 0.770152 14.0551L7.42123 7.94474L0.774542 1.95175C0.432111 1.63802 0.407965 1.11726 0.719665 0.773641C1.02039 0.440697 1.54062 0.406549 1.88305 0.698942C1.88964 0.705345 1.89623 0.709613 1.90281 0.716016L9.22558 7.32154C9.40119 7.47948 9.49996 7.70144 9.49996 7.93407C9.50216 8.16671 9.40557 8.3908 9.23216 8.55087L1.9072 15.2781C1.75438 15.4208 1.55059 15.5003 1.33868 15.5Z" fill="#86888C"/>
            </svg>
            a.breadcrumb__link(itemprop='item' href='#')
                span(itemprop='name') Hogar
                    meta(itemprop='position' content='2')
        li.breadcrumb__item(itemprop='itemListElement')
            <svg class="icon svg--inline" focusable="false" role="img" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33868 15.5C1.1038 15.5 0.879906 15.4018 0.721861 15.2332C0.407965 14.8918 0.429916 14.371 0.770152 14.0551L7.42123 7.94474L0.774542 1.95175C0.432111 1.63802 0.407965 1.11726 0.719665 0.773641C1.02039 0.440697 1.54062 0.406549 1.88305 0.698942C1.88964 0.705345 1.89623 0.709613 1.90281 0.716016L9.22558 7.32154C9.40119 7.47948 9.49996 7.70144 9.49996 7.93407C9.50216 8.16671 9.40557 8.3908 9.23216 8.55087L1.9072 15.2781C1.75438 15.4208 1.55059 15.5003 1.33868 15.5Z" fill="#86888C"/>
            </svg>
            span(itemprop='name', class="current") Fibra óptica