.nateevo-breadcrumb
    .breadcrumb--content
      ul.breadcrumb--list-box
        li.breadcrumb--item(itemprop='itemListElement')
            a.breadcrumb--link(itemprop='item' href='/')
                span(itemprop='name') Inicio
                    meta(itemprop='position' content='1')
        li.breadcrumb--item(itemprop='itemListElement')
            a.breadcrumb--link(itemprop='item' href='#')
                span(itemprop='name') Hogar
                    meta(itemprop='position' content='2')
        li.breadcrumb--item.active(itemprop='itemListElement')
            span(itemprop='name') Fibra óptica
            span(itemprop="position" content="4")