footer.stweb__footer
    .container-xl
        .footer__brand 
            img(src="/images/footer/logo-telefonica.png", alt="una marca de telefonica", srcset="/images/footer/logo-telefonica.png")
        .footer__navbar
            ul.navbar__collapse.row
                li.navbar__item.col-md-2 Hogar
                    ul.subnavbar___collapse
                        li.subnavbar__item Internet Hogar
                        li.subnavbar__item Fibra Óptica
                        li.subnavbar__item Planes dúo Movistar
                        li.subnavbar__item Movistar TV
                        li.subnavbar__item Trío Movistar
                        li.subnavbar__item Movistar Total  beneficios
                        li.subnavbar__item Movistar TV App
                li.navbar__item.col-md-2 Móvil
                    ul.subnavbar___collapse
                        li.subnavbar__item Portabilidad Movistar
                        li.subnavbar__item Movistar planes Postpago
                        li.subnavbar__item Renovar tu equipo
                        li.subnavbar__item Celulares
                        li.subnavbar__item Celulares Liberados
                        li.subnavbar__item Celulares en Oferta
                        li.subnavbar__item Equipos postpago
                        li.subnavbar__item Roaming
                        li.subnavbar__item Preplan Movistar
                        li.subnavbar__item Recargas y paquetes Movistar
                        li.subnavbar__item Beneficios Movistar Prepago
                li.navbar__item.col-md-2 Celulares
                    ul.subnavbar___collapse
                        li.subnavbar__item Xiaomi Redmi Note 10 Pro
                        li.subnavbar__item Samsung A22
                        li.subnavbar__item iPhone 11
                        li.subnavbar__item ZTE Blade A31
                        li.subnavbar__item Motorola G50
                        li.subnavbar__item Samsung A03S
                        li.subnavbar__item Xiaomi Mi 11 Lite 5G
                        li.subnavbar__item Motorola E20
                        li.subnavbar__item Samsung Galaxy A13
                        li.subnavbar__item Samsung S22 Ultra 5G
                li.navbar__item.col-md-2 Atención al cliente
                    ul.subnavbar___collapse
                        li.subnavbar__item App Mi Movistar
                        li.subnavbar__item Mi Movistar
                        li.subnavbar__item Lucía
                        li.subnavbar__item Asesora virtual
                        li.subnavbar__item Mapa web
                        li.subnavbar__item Lugares y Medios de Pago
                        li.subnavbar__item Ganadores de sorteos
                        li.subnavbar__item Consulta tus números                    
                li.navbar__item.col-md-2 Promociones especiales
                    ul.subnavbar___collapse
                        li.subnavbar__item Día de la Madre
                        li.subnavbar__item Cyber Wow
                        li.subnavbar__item Celebratón
                        li.subnavbar__item Promoción Rappi Prime Plus       
                li.navbar__item.col-md-2 Regulación y legales
                    ul.subnavbar___collapse
                        li.subnavbar__item Calidad OSIPTEL
                        li.subnavbar__item Cobertura inalámbrica
                        li.subnavbar__item SISMATE
                        li.subnavbar__item Uso de la red en caso de emergencia
                        li.subnavbar__item Medio Ambiente
                        li.subnavbar__item Centro de transparencia y privacidad
                        li.subnavbar__item Conectarse
                        li.subnavbar__item Neutralidad de red
                        li.subnavbar__item Consulta de contratos y solicitudes
                        li.subnavbar__item Tarifas planes vigentes
        .footer__rrss
            .row
                .col-md-2
                    span © 2023 Movistar.
                .col-md-8
                    ul
                        li Reclamos y solicitudes en línea                    
                        li Consultas de reclamos            
                        li Información abonados y usuarios                    
                        li Libro de Reclamaciones
                .col-md-2
                    ul
                        li Facebook
                        li Youtube 
                        li Instagram
                        li Twitter
                
