footer.stweb__footer
    .container-xl
        .footer__brand 
            img(src="/images/footer/logo-telefonica.png", alt="una marca de telefonica", srcset="/images/footer/logo-telefonica.png")
        .footer__navbar
            ul.navbar
                li.item
                    .collapsible__header 
                        span.title Hogar
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-arrow-down")     
                    .collapsible__body
                        ul.sub__navbar
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Internet Hogar
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Fibra Óptica
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Planes dúo Movistar
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Movistar TV
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Trío Movistar
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Movistar Total  beneficios
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Movistar TV App
                li.item
                    .collapsible__header 
                        span.title Móvil
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-arrow-down")
                    .collapsible__body
                        ul.subnavbar
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Portabilidad Movistar
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Movistar planes Postpago
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Renovar tu equipo
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Celulares
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Celulares Liberados
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Celulares en Oferta
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Equipos postpago
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Roaming
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Preplan Movistar
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Recargas y paquetes Movistar
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Beneficios Movistar Prepago
                li.item
                    .collapsible__header
                        span.title Celulares
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-arrow-down")
                    .collapsible__body
                        ul.subnavbar
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Xiaomi Redmi Note 10 Pro
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Samsung A22
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") iPhone 11
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") ZTE Blade A31
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Motorola G50
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Samsung A03S
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Xiaomi Mi 11 Lite 5G
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Motorola E20
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Samsung Galaxy A13
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Samsung S22 Ultra 5G
                li.item
                    .collapsible__header 
                        span.title Atención al cliente
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-arrow-down")
                    .collapsible__body
                        ul.subnavbar
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") App Mi Movistar
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Mi Movistar
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Lucía
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Asesora virtual
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Mapa web
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Lugares y Medios de Pago
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Ganadores de sorteos
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Consulta tus números                    
                li.item
                    .collapsible__header 
                        span.title Promociones especiales
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-arrow-down")                                        
                    .collapsible__body
                        ul.subnavbar
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Día de la Madre
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Cyber Wow
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Celebratón
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Promoción Rappi Prime Plus       
                li.item
                    .collapsible__header 
                        span.title Regulación y legales
                        svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-arrow-down")                    
                    .collapsible__body
                        ul.subnavbar
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Calidad OSIPTEL
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Cobertura inalámbrica
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") SISMATE
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Uso de la red en caso de emergencia
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Medio Ambiente
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Centro de transparencia y privacidad
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Conectarse
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Neutralidad de red
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Consulta de contratos y solicitudes
                            li.sub__item
                                a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Tarifas planes vigentes
        .footer__rrss
            .rrss
                span.rrss__year © 2023 Movistar.
                .rrss__nav
                    ul.claims
                        li.item 
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Reclamos y solicitudes en línea                    
                        li.item 
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Consulta de reclamos            
                        li.item 
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link") Información abonados y usuarios                    
                        li.item 
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link") 
                                svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-libro_reclamacion")
                                | Libro de Reclamaciones
                    ul.network
                        li.item
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link") 
                                svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-facebook")
                        li.item 
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link") 
                                svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-youtube")
                        li.item 
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link") 
                                svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-instagram")
                        li.item 
                            a(href="http://", target="_blank", rel="noopener noreferrer" class="link") 
                                svg.icon.svg--inline: use(xlink:href="images/icons/icons.svg#icon-twitter")
                
