.stweb-headerQuick
    .container
        .headerQuick--row
            ul.quickLinks
                li.item
                    a.link(href="http://", target="_blank", rel="noopener noreferrer") Personas
                li.item
                    a.link(href="http://", target="_blank", rel="noopener noreferrer") Empresas
            ul.quickLinks--right
                li.item.active
                    a.link(href="http://", target="_blank", rel="noopener noreferrer") Información a Abonados y Usuarios
header.stweb-header.stweb-header--nav#natHeaderNavigation 
    .container
        nav.navbar.navigation-bar.navbar__menu(aria-labelledby="primary-navigation")
            a.navbar__brand(href="http://", target="_blank", rel="noopener noreferrer", aria-label="Movistar") 
                <svg aria-hidden="true" class="svg--inline svg--size" focusable="false" role="img" viewbox="0 0 31 25" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.64103 3.66661C4.25318 3.68712 1.68491 4.39994 0.514369 9.36917C0.000714888 11.5384 -0.196844 13.7948 0.242725 16.482C0.642783 18.964 1.35894 21.1025 1.84296 22.282C2.01088 22.6871 2.26771 23.1128 2.46527 23.3743C3.03325 24.123 3.98647 24.0769 4.38653 23.8717C4.82116 23.6512 5.32494 23.1128 5.1422 21.882C5.05329 21.2871 4.80141 20.4205 4.65818 19.9384C4.22355 18.4564 3.64075 16.6717 3.59136 15.3999C3.52221 13.6974 4.16922 13.4769 4.59891 13.3794C5.32 13.2153 5.9275 14.0358 6.50042 15.0666C7.18694 16.2974 8.36241 18.4769 9.32058 20.1435C10.1849 21.6461 11.7851 23.2564 14.3485 23.1487C16.9661 23.0358 18.8923 21.9999 19.8851 18.7384C20.6259 16.2974 21.1346 14.4717 21.9496 12.6051C22.888 10.4563 24.1375 9.30763 25.1895 9.65635C26.1674 9.98455 26.4095 10.9743 26.4243 12.4307C26.4342 13.723 26.2909 15.1435 26.1773 16.1897C26.1378 16.5692 26.0637 17.3333 26.0934 17.7538C26.1526 18.5846 26.4984 19.4153 27.4022 19.5487C28.3653 19.6922 29.1358 18.8922 29.442 17.9281C29.5655 17.5487 29.6692 16.964 29.7235 16.5538C30.005 14.4666 30.0791 13.0666 29.9507 10.9333C29.8025 8.44097 29.3333 6.16404 28.5135 4.19481C27.7282 2.31276 26.4687 1.10763 24.8537 0.999939C23.0658 0.88199 21.0112 2.11276 19.9345 4.50763C18.9417 6.71276 18.1465 8.9743 17.6675 10.1281C17.1785 11.2974 16.4623 12.0205 15.356 12.1435C14.0077 12.2922 12.8421 11.2717 11.9926 9.82045C11.2517 8.55379 9.7799 6.14866 8.98967 5.3384C8.24882 4.58455 7.40425 3.63584 5.64103 3.66661Z" fill="currentColor"></path>
                </svg>
            .navbar__scroll
                ul.navbar__nav.navbar__nav--menu.navbar-nav
                    li.nav__item.nav__item-dropdown
                        a.nav__link(href="http://", target="_blank", rel="noopener noreferrer") Celulares
                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"/>
                            </svg>
                        .nav__submenu-wrapper
                            .submenu__content
                                ul.submenu__list
                                    li.submenu__item
                                        a.nav__link(href="http://", target="_blank", rel="noopener noreferrer") 
                                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg"> <path clip-rule="evenodd" d="M0.543627 10C0.391383 10 0.246253 9.93455 0.143809 9.82214C-0.0596568 9.59449 -0.0454284 9.24732 0.175112 9.03674L4.48631 4.96315L0.177957 0.967823C-0.0440056 0.758666 -0.0596568 0.411494 0.142386 0.182417C0.337315 -0.0395461 0.674528 -0.0623115 0.89649 0.132617C0.900759 0.136886 0.905028 0.139731 0.909296 0.144L5.65588 4.54768C5.76971 4.65297 5.83374 4.80095 5.83374 4.95604C5.83516 5.11113 5.77256 5.26053 5.66015 5.36724L0.912142 9.85202C0.813112 9.94721 0.68093 10.0003 0.543627 10Z" fill="currentColor" fill-rule="evenodd"></path> </svg>
                                            |  Submenú #1
                    li.nav__item.nav__item-dropdown
                        a.nav__link(href="http://", target="_blank", rel="noopener noreferrer") Hogar
                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"/>
                            </svg>
                        .nav__submenu-wrapper
                            .submenu__content
                                ul.submenu__list
                                    li.submenu__item
                                        a.nav__link(href="http://", target="_blank", rel="noopener noreferrer") 
                                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg"> <path clip-rule="evenodd" d="M0.543627 10C0.391383 10 0.246253 9.93455 0.143809 9.82214C-0.0596568 9.59449 -0.0454284 9.24732 0.175112 9.03674L4.48631 4.96315L0.177957 0.967823C-0.0440056 0.758666 -0.0596568 0.411494 0.142386 0.182417C0.337315 -0.0395461 0.674528 -0.0623115 0.89649 0.132617C0.900759 0.136886 0.905028 0.139731 0.909296 0.144L5.65588 4.54768C5.76971 4.65297 5.83374 4.80095 5.83374 4.95604C5.83516 5.11113 5.77256 5.26053 5.66015 5.36724L0.912142 9.85202C0.813112 9.94721 0.68093 10.0003 0.543627 10Z" fill="currentColor" fill-rule="evenodd"></path> </svg>
                                            |  Submenú #1
                                    li.submenu__item
                                        a.nav__link(href="http://", target="_blank", rel="noopener noreferrer") 
                                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg"> <path clip-rule="evenodd" d="M0.543627 10C0.391383 10 0.246253 9.93455 0.143809 9.82214C-0.0596568 9.59449 -0.0454284 9.24732 0.175112 9.03674L4.48631 4.96315L0.177957 0.967823C-0.0440056 0.758666 -0.0596568 0.411494 0.142386 0.182417C0.337315 -0.0395461 0.674528 -0.0623115 0.89649 0.132617C0.900759 0.136886 0.905028 0.139731 0.909296 0.144L5.65588 4.54768C5.76971 4.65297 5.83374 4.80095 5.83374 4.95604C5.83516 5.11113 5.77256 5.26053 5.66015 5.36724L0.912142 9.85202C0.813112 9.94721 0.68093 10.0003 0.543627 10Z" fill="currentColor" fill-rule="evenodd"></path> </svg>
                                            |  Submenú #1
                                    li.submenu__item
                                        a.nav__link(href="http://", target="_blank", rel="noopener noreferrer") 
                                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg"> <path clip-rule="evenodd" d="M0.543627 10C0.391383 10 0.246253 9.93455 0.143809 9.82214C-0.0596568 9.59449 -0.0454284 9.24732 0.175112 9.03674L4.48631 4.96315L0.177957 0.967823C-0.0440056 0.758666 -0.0596568 0.411494 0.142386 0.182417C0.337315 -0.0395461 0.674528 -0.0623115 0.89649 0.132617C0.900759 0.136886 0.905028 0.139731 0.909296 0.144L5.65588 4.54768C5.76971 4.65297 5.83374 4.80095 5.83374 4.95604C5.83516 5.11113 5.77256 5.26053 5.66015 5.36724L0.912142 9.85202C0.813112 9.94721 0.68093 10.0003 0.543627 10Z" fill="currentColor" fill-rule="evenodd"></path> </svg>
                                            |  Submenú #1
                                    li.submenu__item
                                        a.nav__link(href="http://", target="_blank", rel="noopener noreferrer") 
                                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg"> <path clip-rule="evenodd" d="M0.543627 10C0.391383 10 0.246253 9.93455 0.143809 9.82214C-0.0596568 9.59449 -0.0454284 9.24732 0.175112 9.03674L4.48631 4.96315L0.177957 0.967823C-0.0440056 0.758666 -0.0596568 0.411494 0.142386 0.182417C0.337315 -0.0395461 0.674528 -0.0623115 0.89649 0.132617C0.900759 0.136886 0.905028 0.139731 0.909296 0.144L5.65588 4.54768C5.76971 4.65297 5.83374 4.80095 5.83374 4.95604C5.83516 5.11113 5.77256 5.26053 5.66015 5.36724L0.912142 9.85202C0.813112 9.94721 0.68093 10.0003 0.543627 10Z" fill="currentColor" fill-rule="evenodd"></path> </svg>
                                            |  Submenú #1
                    li.nav__item.nav__item-dropdown
                        a.nav__link(href="http://", target="_blank", rel="noopener noreferrer") Plan Móvil
                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"/>
                            </svg>
                        .nav__submenu-wrapper
                            .submenu__content
                                ul.submenu__list
                                    li.submenu__item
                                        a.nav__link(href="http://", target="_blank", rel="noopener noreferrer") 
                                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg"> <path clip-rule="evenodd" d="M0.543627 10C0.391383 10 0.246253 9.93455 0.143809 9.82214C-0.0596568 9.59449 -0.0454284 9.24732 0.175112 9.03674L4.48631 4.96315L0.177957 0.967823C-0.0440056 0.758666 -0.0596568 0.411494 0.142386 0.182417C0.337315 -0.0395461 0.674528 -0.0623115 0.89649 0.132617C0.900759 0.136886 0.905028 0.139731 0.909296 0.144L5.65588 4.54768C5.76971 4.65297 5.83374 4.80095 5.83374 4.95604C5.83516 5.11113 5.77256 5.26053 5.66015 5.36724L0.912142 9.85202C0.813112 9.94721 0.68093 10.0003 0.543627 10Z" fill="currentColor" fill-rule="evenodd"></path> </svg>
                                            |  Submenú #1
                    li.nav__item.nav__item-dropdown
                        a.nav__link(href="http://", target="_blank", rel="noopener noreferrer") Entretenimiento
                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"/>
                            </svg>
                        .nav__submenu-wrapper
                            .submenu__content
                                ul.submenu__list
                                    li.submenu__item
                                        a.nav__link(href="http://", target="_blank", rel="noopener noreferrer") 
                                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg"> <path clip-rule="evenodd" d="M0.543627 10C0.391383 10 0.246253 9.93455 0.143809 9.82214C-0.0596568 9.59449 -0.0454284 9.24732 0.175112 9.03674L4.48631 4.96315L0.177957 0.967823C-0.0440056 0.758666 -0.0596568 0.411494 0.142386 0.182417C0.337315 -0.0395461 0.674528 -0.0623115 0.89649 0.132617C0.900759 0.136886 0.905028 0.139731 0.909296 0.144L5.65588 4.54768C5.76971 4.65297 5.83374 4.80095 5.83374 4.95604C5.83516 5.11113 5.77256 5.26053 5.66015 5.36724L0.912142 9.85202C0.813112 9.94721 0.68093 10.0003 0.543627 10Z" fill="currentColor" fill-rule="evenodd"></path> </svg>
                                            |  Submenú #1
                    li.nav__item.nav__item-dropdown
                        a.nav__link(href="http://", target="_blank", rel="noopener noreferrer") Atención al cliente
                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M-9.53674e-06 1.04363C-9.53674e-06 0.891384 0.0654411 0.746254 0.177845 0.64381C0.405499 0.440343 0.752672 0.454571 0.963252 0.675112L5.03684 4.98633L9.03217 0.677958C9.24132 0.455994 9.5885 0.440343 9.81757 0.642387C10.0395 0.837316 10.0623 1.17453 9.86737 1.39649C9.8631 1.40076 9.86026 1.40503 9.85599 1.4093L5.45231 6.1559C5.34702 6.26973 5.19904 6.33376 5.04395 6.33376C4.88886 6.33518 4.73946 6.27257 4.63275 6.16017L0.147965 1.41214C0.0528097 1.31308 -0.000231743 1.18099 -9.53674e-06 1.04363Z" fill="currentColor"/>
                            </svg>
                        .nav__submenu-wrapper
                            .submenu__content
                                ul.submenu__list
                                    li.submenu__item
                                        a.nav__link(href="http://", target="_blank", rel="noopener noreferrer") 
                                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg"> <path clip-rule="evenodd" d="M0.543627 10C0.391383 10 0.246253 9.93455 0.143809 9.82214C-0.0596568 9.59449 -0.0454284 9.24732 0.175112 9.03674L4.48631 4.96315L0.177957 0.967823C-0.0440056 0.758666 -0.0596568 0.411494 0.142386 0.182417C0.337315 -0.0395461 0.674528 -0.0623115 0.89649 0.132617C0.900759 0.136886 0.905028 0.139731 0.909296 0.144L5.65588 4.54768C5.76971 4.65297 5.83374 4.80095 5.83374 4.95604C5.83516 5.11113 5.77256 5.26053 5.66015 5.36724L0.912142 9.85202C0.813112 9.94721 0.68093 10.0003 0.543627 10Z" fill="currentColor" fill-rule="evenodd"></path> </svg>
                                            |  Submenú #1
                    li.nav__item.nav__item--offers
                        a.nav__link(href="http://", target="_blank", rel="noopener noreferrer") 
                            <svg aria-hidden="true" class="svg__icon svg--inline" focusable="false" role="img" viewBox="0 0 11 15" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="M9.22027 6.97511C8.93856 6.62936 8.62163 6.31135 8.27875 6.03176C5.55982 3.75449 6.72561 0.576546 6.77565 0.442086C6.81642 0.333238 6.8016 0.205181 6.73673 0.113407C6.67 0.0194988 6.56436 -0.0189182 6.46428 0.0088274C5.24475 0.341775 3.99185 1.0717 2.93727 2.06414C-0.548956 5.34666 -0.556369 10.4839 0.974532 12.7249C1.66214 13.7322 2.64444 14.443 3.72497 14.8015C3.56372 14.6905 3.39321 14.5497 3.22455 14.3597C2.38126 13.4036 2.33492 11.8498 3.11705 10.8189C3.2542 10.6375 3.40989 10.4711 3.5804 10.3217C4.62942 9.37831 4.16607 8.03158 4.16051 8.01878C4.1012 7.85444 4.12715 7.66448 4.22909 7.53003C4.33102 7.39557 4.49042 7.34007 4.63869 7.38063C5.22621 7.5535 5.82857 7.927 6.33269 8.43709C7.4614 9.5768 8.35474 12.2318 7.25012 13.967C6.94987 14.4387 6.53656 14.7887 6.07692 15C6.22519 14.9744 6.37346 14.953 6.52173 14.9125C6.57548 14.904 7.85247 14.6905 9.0164 13.4612C9.8115 12.6224 10.2711 11.4891 10.3101 10.2726C10.3471 9.05603 9.95977 7.88432 9.22027 6.97511Z" fill="currentColor" fill-rule="evenodd"></path> </svg>
                            | Ofertas
            ul.navbar__nav.navbar__nav--right.navbar__nav--hidden-mobile.navbar__nav--center#navbarItemsRight
                li.nav__item.nav__item--app
                    a.nav__link(href="#") 
                        <svg aria-hidden="true" class="svg__icon svg--inline" focusable="false" role="img" viewBox="0 0 14 15" xmlns="http://www.w3.org/2000/svg"><path d="M6.66975 7.51067C5.48307 7.51067 4.55891 7.19915 3.91861 6.5825C3.25484 5.94239 2.91762 4.99289 2.91762 3.7596C2.91762 2.52632 3.25484 1.57468 3.91861 0.932432C4.55891 0.313656 5.48307 0 6.66975 0C7.85643 0 8.78273 0.313656 9.42516 0.932432C10.0932 1.57468 10.4304 2.52632 10.4304 3.7596C10.4304 4.99289 10.0911 5.94239 9.42302 6.5825C8.78273 7.19915 7.85643 7.51067 6.66975 7.51067ZM12.9126 15H0.426864C0.192089 15 0 14.808 0 14.5733V13.325C0 12.1302 0.371372 11.1124 1.0757 10.3784C1.84405 9.57824 2.98378 9.15363 4.37536 9.15363H8.95347C10.345 9.15363 11.489 9.5761 12.2574 10.3762C12.966 11.1124 13.3395 12.1302 13.3395 13.325V14.5733C13.3395 14.808 13.1474 15 12.9126 15Z" fill="currentColor"></path> </svg>
                        |  App Mi Movistar 
                li.nav__item.nav__item--search
                    .nav__search.nav__search--form#input_content
                        span.search__icon#searchicon_js
                            <svg aria-hidden="true" class="svg__icon svg--inline" focusable="false" role="img" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 7.90099C0 12.3144 3.57749 15.8919 7.99087 15.8919C9.92019 15.8971 11.7786 15.1979 13.2241 13.9386L19.0257 19.7403C19.1313 19.8487 19.2768 19.9086 19.428 19.9086C19.5792 19.9086 19.7218 19.8487 19.8331 19.7403C20.0556 19.5178 20.0556 19.1555 19.8331 18.933L14.0239 13.1237C16.6348 10.0153 16.5066 5.39182 13.6395 2.43205C10.5699 -0.737477 5.51173 -0.82021 2.33935 2.24947C0.841595 3.75008 0 5.78131 0 7.90099ZM1.14115 7.90099C1.14115 4.11809 4.20797 1.05127 7.99087 1.05127C9.80814 1.04556 11.5512 1.76734 12.835 3.05968C15.4853 5.72996 15.4853 10.0378 12.835 12.7081C10.1705 15.3926 5.83125 15.4097 3.14671 12.7452C1.86292 11.4585 1.14115 9.71826 1.14115 7.90099Z" fill="currentColor"/>
                            </svg>
                        input.search__input#searchPortal(type="text", name="", autocomplete="off", placeholder="| ¿Qué estas buscando?")
                        span.search__close#closeicon_js
                            <svg aria-hidden="true" class="svg__icon svg--inline" focusable="false" role="img" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1413 9.00052L17.0977 2.04415C17.4131 1.7287 17.4131 1.21878 17.0977 0.903331C16.7822 0.587887 16.2723 0.587887 15.9568 0.903331L9.00046 7.85971L2.04409 0.903331C1.72153 0.595002 1.20923 0.609233 0.90327 0.931792C0.6068 1.24249 0.6068 1.73108 0.90327 2.04415L7.85964 9.00052L0.90327 15.9569C0.587826 16.2723 0.587826 16.7846 0.90327 17.0977C1.21871 17.4108 1.72864 17.4108 2.04409 17.0953L9.00046 10.139L15.9568 17.0953C16.2699 17.4108 16.7775 17.4132 17.0929 17.1001L17.0977 17.0953C17.4131 16.7799 17.4131 16.27 17.0977 15.9569L10.1413 9.00052Z" fill="currentColor"/>
                            </svg>
                li.nav__item.nav__item--delivery
                    a.nav__link(href="#")
                        <svg aria-hidden="true" class="svg__icon svg--inline" focusable="false" role="img" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.98795 12.8603H4.36505C3.81276 12.8603 3.36505 12.4126 3.36505 11.8603V10.1555M20.1351 12.8603H21.2989C21.8512 12.8603 22.2989 12.4126 22.2989 11.8603V8.32496C22.2989 8.10859 22.2288 7.89805 22.0989 7.72496L17.7302 1.9C17.5414 1.64819 17.245 1.5 16.9302 1.5H4.36505C3.81276 1.5 3.36505 1.94771 3.36505 2.5V3.66387M15.8073 12.8603H9.3157M3.36505 10.1555H1.20117M3.36505 10.1555V6.90969M3.36505 6.90969H1.20117M3.36505 6.90969V3.66387M3.36505 3.66387H1.20117" stroke="currentColor" stroke-width="1.2" stroke-linecap="round"/>
                        <path d="M7.26233 11.2375C6.68954 11.2375 6.25313 11.377 5.97128 11.6497C5.67731 11.9316 5.52881 12.3771 5.52881 12.9711C5.52881 13.5651 5.67731 14.0106 5.97128 14.2924C6.25616 14.5652 6.68954 14.7046 7.26233 14.7046C7.83512 14.7046 8.27153 14.5652 8.55338 14.2924C8.84736 14.0106 8.99586 13.5651 8.99586 12.9711C8.99586 12.3771 8.84736 11.9316 8.55338 11.6497C8.27153 11.3739 7.83512 11.2375 7.26233 11.2375Z" stroke="currentColor" stroke-width="1.2"/>
                        <path d="M18.0817 11.2375C17.5089 11.2375 17.0725 11.377 16.7906 11.6497C16.4966 11.9316 16.3481 12.3771 16.3481 12.9711C16.3481 13.5651 16.4966 14.0106 16.7906 14.2924C17.0755 14.5652 17.5089 14.7046 18.0817 14.7046C18.6545 14.7046 19.0909 14.5652 19.3727 14.2924C19.6667 14.0106 19.8152 13.5651 19.8152 12.9711C19.8152 12.3771 19.6667 11.9316 19.3727 11.6497C19.0909 11.3739 18.6545 11.2375 18.0817 11.2375Z" stroke="currentColor" stroke-width="1.2"/>
                        </svg> 
                li.nav__item.nav__item--notification
                    a.nav__link(href="#")
                        <svg aria-hidden="true" class="svg__icon svg--inline" focusable="false" role="img" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6373 18.204C10.3208 18.5461 9.85039 18.7143 9.20035 18.7143C8.54746 18.7143 8.07703 18.549 7.76057 18.204C7.42984 17.8447 7.32721 17.3487 7.2987 16.9923H11.1049C11.0735 17.3544 10.9709 17.8447 10.6373 18.204ZM4.1371 1.69624C6.08661 -0.124165 8.84704 -0.0115417 9.18632 0.00841567C9.52559 -0.0115417 12.2626 -0.0970733 14.2298 1.69339C15.5356 2.87943 16.1999 4.60431 16.1999 6.81958V10.7626C16.1971 10.8253 15.9975 14.4861 18.2099 16.2509C18.3496 16.3621 18.4009 16.5502 18.341 16.7156C18.2812 16.8809 18.1187 16.9921 17.939 16.9921L12.2113 16.9893C12.2056 17.5082 12.0944 18.4291 11.4529 19.1276C10.9226 19.7063 10.1585 20 9.18061 20C8.19985 20 7.43577 19.7063 6.90547 19.1247C6.26399 18.4234 6.1585 17.4996 6.15565 16.9893H0.427882C0.251116 16.9893 0.0886063 16.8809 0.0258832 16.7127C-0.03684 16.5445 0.01733 16.3564 0.157032 16.248C2.36945 14.4832 2.16987 10.8225 2.16702 10.7854V6.81673C2.16702 4.58436 2.84557 2.90223 4.1371 1.69624ZM13.4256 2.58676C11.7492 1.05574 9.26307 1.20115 9.23741 1.20115C9.2089 1.204 9.18039 1.204 9.15188 1.20115C9.12622 1.20115 6.6401 1.05574 4.96368 2.58676C4.67002 2.85476 4.42198 3.16267 4.21101 3.5048C3.85522 4.08174 3.85566 4.09496 3.6636 4.74501C3.47828 5.37224 3.38135 6.0736 3.38135 6.85193V10.718C3.3899 10.8263 3.54956 13.6717 2.05276 15.7985H16.3394C14.8397 13.6717 14.9994 10.8206 15.0108 10.678L15.0079 6.85193C15.0079 4.98164 14.4748 3.54756 13.4256 2.58676Z" fill="currentColor"/>
                        </svg>
                        span.notification__number 5
            button.navbar__hamburger(aria-label="Toggle navigation" id="btnNavToggle" type="button")
                <svg aria-hidden="true" class="svg--inline" viewBox="0 0 20 14" role="img" xmlns="http://www.w3.org/2000/svg">
                <rect width="20" height="1.2" rx="0.6" fill="currentColor"/>
                <rect x="4" y="6" width="16" height="1.2" rx="0.6" fill="currentColor"/>
                <rect x="2" y="12" width="18" height="1.2" rx="0.6" fill="currentColor"/>
                </svg>
    .navbar__side
        .side__navbar
            .navbar__close
                .container
                    .close__wrap
                        a.navbar__brand(href="http://", target="_blank", rel="noopener noreferrer", aria-label="Movistar") 
                            <svg aria-hidden="true" class="svg--inline svg--size" focusable="false" role="img" viewbox="0 0 31 25" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.64103 3.66661C4.25318 3.68712 1.68491 4.39994 0.514369 9.36917C0.000714888 11.5384 -0.196844 13.7948 0.242725 16.482C0.642783 18.964 1.35894 21.1025 1.84296 22.282C2.01088 22.6871 2.26771 23.1128 2.46527 23.3743C3.03325 24.123 3.98647 24.0769 4.38653 23.8717C4.82116 23.6512 5.32494 23.1128 5.1422 21.882C5.05329 21.2871 4.80141 20.4205 4.65818 19.9384C4.22355 18.4564 3.64075 16.6717 3.59136 15.3999C3.52221 13.6974 4.16922 13.4769 4.59891 13.3794C5.32 13.2153 5.9275 14.0358 6.50042 15.0666C7.18694 16.2974 8.36241 18.4769 9.32058 20.1435C10.1849 21.6461 11.7851 23.2564 14.3485 23.1487C16.9661 23.0358 18.8923 21.9999 19.8851 18.7384C20.6259 16.2974 21.1346 14.4717 21.9496 12.6051C22.888 10.4563 24.1375 9.30763 25.1895 9.65635C26.1674 9.98455 26.4095 10.9743 26.4243 12.4307C26.4342 13.723 26.2909 15.1435 26.1773 16.1897C26.1378 16.5692 26.0637 17.3333 26.0934 17.7538C26.1526 18.5846 26.4984 19.4153 27.4022 19.5487C28.3653 19.6922 29.1358 18.8922 29.442 17.9281C29.5655 17.5487 29.6692 16.964 29.7235 16.5538C30.005 14.4666 30.0791 13.0666 29.9507 10.9333C29.8025 8.44097 29.3333 6.16404 28.5135 4.19481C27.7282 2.31276 26.4687 1.10763 24.8537 0.999939C23.0658 0.88199 21.0112 2.11276 19.9345 4.50763C18.9417 6.71276 18.1465 8.9743 17.6675 10.1281C17.1785 11.2974 16.4623 12.0205 15.356 12.1435C14.0077 12.2922 12.8421 11.2717 11.9926 9.82045C11.2517 8.55379 9.7799 6.14866 8.98967 5.3384C8.24882 4.58455 7.40425 3.63584 5.64103 3.66661Z" fill="currentColor"></path>
                            </svg>
                        .navbar__right
                            button.navbar__close-btn(aria-label="Close navigation", type="button")
                                <svg aria-hidden="true" class="svg--inline" focusable="false" role="img" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.9476 10L19.7977 1.13572C20.0566 0.893839 20.068 0.489753 19.8261 0.230797C19.8176 0.219414 19.8062 0.210877 19.7977 0.20234C19.5558 -0.0566165 19.1517 -0.0679992 18.8927 0.173883C18.8814 0.18242 18.8728 0.193803 18.8643 0.20234L10 9.05239L1.13572 0.20234C0.893839 -0.0566165 0.489753 -0.0679992 0.230797 0.173883C0.219414 0.18242 0.210877 0.193803 0.20234 0.20234C-0.0566165 0.444222 -0.0679992 0.848308 0.173883 1.10726C0.18242 1.11865 0.193803 1.12718 0.20234 1.13572L9.05239 10L0.20234 18.8643C-0.0566165 19.1062 -0.0679992 19.5102 0.173883 19.7692C0.18242 19.7806 0.193803 19.7891 0.20234 19.7977C0.324704 19.9257 0.492599 19.9997 0.669031 19.9969C0.845463 19.9997 1.0162 19.9257 1.13572 19.7977L10 10.9476L18.8643 19.7977C19.1062 20.0566 19.5102 20.068 19.7692 19.8261C19.7806 19.8176 19.7891 19.8062 19.7977 19.7977C20.0566 19.5558 20.068 19.1517 19.8261 18.8927C19.8176 18.8814 19.8062 18.8728 19.7977 18.8643L10.9476 10Z" fill="currentColor"/>
                                </svg>
                                span.close__text Regresar
            .list--menu-wrap.container
                ul.list--menu
                    li.item
                        a.menu-collapsible__header(href="#") Celulares
                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L7 7L13 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .menu-collapsible__body
                            ul.list--submenu
                                li.item
                                    a(href="#") Sub Item #1
                                li.item
                                    a(href="#") Sub Item #2
                                li.item
                                    a(href="#") Sub Item #3
                    li.item
                        a.menu-collapsible__header(href="#") Hogar
                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L7 7L13 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .menu-collapsible__body
                            ul.list--submenu
                                li.item
                                    a(href="#") Fibra Óptica
                                li.item
                                    a(href="#") Internet Hogar
                                li.item
                                    a(href="#") Planes dúo Movistar
                                li.item
                                    a(href="#") Movistar TV
                                li.item
                                    a(href="#") Tríos Movistar
                                li.item
                                    a(href="#") Movistar Total
                    li.item
                        a.menu-collapsible__header(href="#") Plan móvil
                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L7 7L13 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .menu-collapsible__body
                            ul.list--submenu
                                li.item
                                    a(href="#") Sub Item #1
                                li.item
                                    a(href="#") Sub Item #2
                                li.item
                                    a(href="#") Sub Item #3
                    li.item
                        a.menu-collapsible__header(href="#") Entretenimiento
                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L7 7L13 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .menu-collapsible__body
                            ul.list--submenu
                                li.item
                                    a(href="#") Sub Item #1
                                li.item
                                    a(href="#") Sub Item #2
                                li.item
                                    a(href="#") Sub Item #3
                    li.item
                        a.menu-collapsible__header(href="#") Atención al cliente
                            <svg aria-hidden="true" class="svg__arrow svg--inline" focusable="false" role="img" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L7 7L13 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .menu-collapsible__body
                            ul.list--submenu
                                li.item
                                    a(href="#") Sub Item #1
                                li.item
                                    a(href="#") Sub Item #2
                                li.item
                                    a(href="#") Sub Item #3
                    li.item.item--offers
                        a(href="#")
                            <svg aria-hidden="true" class="svg__icon svg--inline" focusable="false" role="img" viewBox="0 0 11 15" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="M9.22027 6.97511C8.93856 6.62936 8.62163 6.31135 8.27875 6.03176C5.55982 3.75449 6.72561 0.576546 6.77565 0.442086C6.81642 0.333238 6.8016 0.205181 6.73673 0.113407C6.67 0.0194988 6.56436 -0.0189182 6.46428 0.0088274C5.24475 0.341775 3.99185 1.0717 2.93727 2.06414C-0.548956 5.34666 -0.556369 10.4839 0.974532 12.7249C1.66214 13.7322 2.64444 14.443 3.72497 14.8015C3.56372 14.6905 3.39321 14.5497 3.22455 14.3597C2.38126 13.4036 2.33492 11.8498 3.11705 10.8189C3.2542 10.6375 3.40989 10.4711 3.5804 10.3217C4.62942 9.37831 4.16607 8.03158 4.16051 8.01878C4.1012 7.85444 4.12715 7.66448 4.22909 7.53003C4.33102 7.39557 4.49042 7.34007 4.63869 7.38063C5.22621 7.5535 5.82857 7.927 6.33269 8.43709C7.4614 9.5768 8.35474 12.2318 7.25012 13.967C6.94987 14.4387 6.53656 14.7887 6.07692 15C6.22519 14.9744 6.37346 14.953 6.52173 14.9125C6.57548 14.904 7.85247 14.6905 9.0164 13.4612C9.8115 12.6224 10.2711 11.4891 10.3101 10.2726C10.3471 9.05603 9.95977 7.88432 9.22027 6.97511Z" fill="currentColor" fill-rule="evenodd"></path> </svg>
                            | Ofertas
                    li.item.item--app
                        a(href="#")
                            <svg aria-hidden="true" class="svg__icon svg--inline" focusable="false" role="img" viewBox="0 0 14 15" xmlns="http://www.w3.org/2000/svg"><path d="M6.66975 7.51067C5.48307 7.51067 4.55891 7.19915 3.91861 6.5825C3.25484 5.94239 2.91762 4.99289 2.91762 3.7596C2.91762 2.52632 3.25484 1.57468 3.91861 0.932432C4.55891 0.313656 5.48307 0 6.66975 0C7.85643 0 8.78273 0.313656 9.42516 0.932432C10.0932 1.57468 10.4304 2.52632 10.4304 3.7596C10.4304 4.99289 10.0911 5.94239 9.42302 6.5825C8.78273 7.19915 7.85643 7.51067 6.66975 7.51067ZM12.9126 15H0.426864C0.192089 15 0 14.808 0 14.5733V13.325C0 12.1302 0.371372 11.1124 1.0757 10.3784C1.84405 9.57824 2.98378 9.15363 4.37536 9.15363H8.95347C10.345 9.15363 11.489 9.5761 12.2574 10.3762C12.966 11.1124 13.3395 12.1302 13.3395 13.325V14.5733C13.3395 14.808 13.1474 15 12.9126 15Z" fill="currentColor"></path> </svg>
                            |  App Mi Movistar 

.stweb-sidebar-search#barside-serach
    .container
        p.stweb-sidebar-search__title Búsquedas sugeridas
        ul.stweb-sidebar-search__list
            li
                a(href="#")
                    <svg aria-hidden="true" class="svg__icon svg--inline" focusable="false" role="img" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.333313 5.60058C0.333313 8.54283 2.71831 10.9278 5.66056 10.9278C6.94677 10.9313 8.18571 10.4652 9.14936 9.62568L13.0171 13.4935C13.0875 13.5657 13.1845 13.6057 13.2853 13.6057C13.3861 13.6057 13.4812 13.5657 13.5554 13.4935C13.7037 13.3451 13.7037 13.1036 13.5554 12.9552L9.68257 9.08241C11.4232 7.01011 11.3377 3.9278 9.42634 1.95462C7.37989 -0.158399 4.0078 -0.213555 1.89288 1.8329C0.894376 2.8333 0.333313 4.18746 0.333313 5.60058ZM1.09408 5.60058C1.09408 3.07865 3.13863 1.0341 5.66056 1.0341C6.87208 1.03029 8.03414 1.51148 8.89 2.37304C10.6569 4.15323 10.6569 7.02511 8.89 8.80529C7.11362 10.595 4.22081 10.6064 2.43112 8.83002C1.57526 7.97226 1.09408 6.8121 1.09408 5.60058Z" fill="#86888C"/>
                    </svg>
                    | Celulares
            li
                a(href="#") 
                    <svg aria-hidden="true" class="svg__icon svg--inline" focusable="false" role="img" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.333313 5.60058C0.333313 8.54283 2.71831 10.9278 5.66056 10.9278C6.94677 10.9313 8.18571 10.4652 9.14936 9.62568L13.0171 13.4935C13.0875 13.5657 13.1845 13.6057 13.2853 13.6057C13.3861 13.6057 13.4812 13.5657 13.5554 13.4935C13.7037 13.3451 13.7037 13.1036 13.5554 12.9552L9.68257 9.08241C11.4232 7.01011 11.3377 3.9278 9.42634 1.95462C7.37989 -0.158399 4.0078 -0.213555 1.89288 1.8329C0.894376 2.8333 0.333313 4.18746 0.333313 5.60058ZM1.09408 5.60058C1.09408 3.07865 3.13863 1.0341 5.66056 1.0341C6.87208 1.03029 8.03414 1.51148 8.89 2.37304C10.6569 4.15323 10.6569 7.02511 8.89 8.80529C7.11362 10.595 4.22081 10.6064 2.43112 8.83002C1.57526 7.97226 1.09408 6.8121 1.09408 5.60058Z" fill="#86888C"/>
                    </svg>
                    | Portabilidad
            li
                a(href="#") 
                    <svg aria-hidden="true" class="svg__icon svg--inline" focusable="false" role="img" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.333313 5.60058C0.333313 8.54283 2.71831 10.9278 5.66056 10.9278C6.94677 10.9313 8.18571 10.4652 9.14936 9.62568L13.0171 13.4935C13.0875 13.5657 13.1845 13.6057 13.2853 13.6057C13.3861 13.6057 13.4812 13.5657 13.5554 13.4935C13.7037 13.3451 13.7037 13.1036 13.5554 12.9552L9.68257 9.08241C11.4232 7.01011 11.3377 3.9278 9.42634 1.95462C7.37989 -0.158399 4.0078 -0.213555 1.89288 1.8329C0.894376 2.8333 0.333313 4.18746 0.333313 5.60058ZM1.09408 5.60058C1.09408 3.07865 3.13863 1.0341 5.66056 1.0341C6.87208 1.03029 8.03414 1.51148 8.89 2.37304C10.6569 4.15323 10.6569 7.02511 8.89 8.80529C7.11362 10.595 4.22081 10.6064 2.43112 8.83002C1.57526 7.97226 1.09408 6.8121 1.09408 5.60058Z" fill="#86888C"/>
                    </svg>
                    | Planes hogar
            li
                a(href="#") 
                    <svg aria-hidden="true" class="svg__icon svg--inline" focusable="false" role="img" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.333313 5.60058C0.333313 8.54283 2.71831 10.9278 5.66056 10.9278C6.94677 10.9313 8.18571 10.4652 9.14936 9.62568L13.0171 13.4935C13.0875 13.5657 13.1845 13.6057 13.2853 13.6057C13.3861 13.6057 13.4812 13.5657 13.5554 13.4935C13.7037 13.3451 13.7037 13.1036 13.5554 12.9552L9.68257 9.08241C11.4232 7.01011 11.3377 3.9278 9.42634 1.95462C7.37989 -0.158399 4.0078 -0.213555 1.89288 1.8329C0.894376 2.8333 0.333313 4.18746 0.333313 5.60058ZM1.09408 5.60058C1.09408 3.07865 3.13863 1.0341 5.66056 1.0341C6.87208 1.03029 8.03414 1.51148 8.89 2.37304C10.6569 4.15323 10.6569 7.02511 8.89 8.80529C7.11362 10.595 4.22081 10.6064 2.43112 8.83002C1.57526 7.97226 1.09408 6.8121 1.09408 5.60058Z" fill="#86888C"/>
                    </svg>
                    | Cambio de equipo
            li
                a(href="#") 
                    <svg aria-hidden="true" class="svg__icon svg--inline" focusable="false" role="img" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.333313 5.60058C0.333313 8.54283 2.71831 10.9278 5.66056 10.9278C6.94677 10.9313 8.18571 10.4652 9.14936 9.62568L13.0171 13.4935C13.0875 13.5657 13.1845 13.6057 13.2853 13.6057C13.3861 13.6057 13.4812 13.5657 13.5554 13.4935C13.7037 13.3451 13.7037 13.1036 13.5554 12.9552L9.68257 9.08241C11.4232 7.01011 11.3377 3.9278 9.42634 1.95462C7.37989 -0.158399 4.0078 -0.213555 1.89288 1.8329C0.894376 2.8333 0.333313 4.18746 0.333313 5.60058ZM1.09408 5.60058C1.09408 3.07865 3.13863 1.0341 5.66056 1.0341C6.87208 1.03029 8.03414 1.51148 8.89 2.37304C10.6569 4.15323 10.6569 7.02511 8.89 8.80529C7.11362 10.595 4.22081 10.6064 2.43112 8.83002C1.57526 7.97226 1.09408 6.8121 1.09408 5.60058Z" fill="#86888C"/>
                    </svg>
                    | Atención al cliente
.stweb-overlay-search