// General
* {
    -webkit-font-smoothing: antialiased;
    /* No bold in Mac. */
    box-sizing: border-box;
    &::before,
    &::after {
        box-sizing: border-box;
    }
    &:focus {
        outline: 2px solid blue;
    }
}

body {
    font-family: $font;
    font-size: 16px;
    line-height: 1.5;
    color: $gray;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    @media (max-width: 991px) {
        font-size: 14px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 0.5rem;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: $gray;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
    line-height: 1.2;
}

h4 {
    font-size: 28px;
    line-height: 1.4;
}

h5 {
    font-size: 24px;
    line-height: 1.3;
}

h6 {
    font-size: 18px;
    line-height: 1.7;
}

@media (max-width: 576px) {
    h1 {
      font-size: 30px;
    }
    h2{
      font-size: 28px;
    }
    h4 {
        font-size: 22px;
    }
}

p {
    margin: 0;
    margin-bottom: 20px;
}

a {
    word-wrap: break-word;
    color: blue;
    -webkit-tap-highlight-color: transparent;
    transition: all ease 300ms;
    text-decoration: none;
    &:hover,
    &:active {
        color: blue;
        text-decoration: underline;
    }
}

b,
strong {
    font-weight: 700;
}

ul {
    padding: 0;
    list-style-type: none;
}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
}

button {
    font-family: $font;
}

form {
    margin: 0;
}

.icon {
    display: inline-block;
    line-height: 0.8;
    > svg {
        display: inline-block;
        font-size: inherit;
        width: 1em;
        height: 1em;
        overflow: visible;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
    }
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

legend {
    border: 0;
}

.visually--hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.svg--inline-icon {
    display: inline-block;
    font-size: inherit;
    width: 1em;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.svg--inline {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}