include ../structure/variables
doctype html
html(lang='es')
    head
        include ../structure/head

    body.body
        h1.visually--hidden Design Web
        include ../structure/header
        include ../structure/breadcrumb
        main(role="main")
            include ../includes/movistar-tv
        include ../structure/footer

        include ../structure/scripts