//Include bootstrap
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "patterns/mod-var-bootstrap";

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
@import "../scss/patterns/mod-map-bootstrap";

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/grid";

//Libraries
@import '../../node_modules/swiper/swiper-bundle';

// Project dependencies
@import 'project-dependencies/fonts';
@import 'project-dependencies/variables';
@import 'project-dependencies/colors';
@import 'project-dependencies/swiper-slider';

// Components
@import 'components/button';
@import 'components/card';
@import 'components/modal';
@import 'components/shortcut';
@import 'components/equipment';
@import 'components/tabs';
@import 'components/brand';

// Patterns
@import 'patterns/general';

// Structure
@import 'structure/quicklinks';
@import 'structure/header';
@import 'structure/footer';
@import 'structure/notification';

// Templates
@import 'templates/banner-hero';
@import 'templates/better-phones';
@import 'templates/ads';
@import 'templates/help';
@import 'templates/proceeds';
@import 'templates/blog-articles';
@import 'templates/shortcuts';