.stweb-slider {
    &-section {
        position: relative;
        @media (min-width: 768px) {
            padding-top: 40px;
            padding-bottom: 0px;
        }
        .container {
            @media (max-width: 767.98px) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    &__item {
        @media (min-width: 992px) {
            height: 290px;
        }
    }
    &__content {
        .item__badge {
            font-size: 10px;
            font-weight: 700;
            line-height: 1;
            color: #313235;
            margin: 0;
            margin-bottom: 5px;
        }
        .item__title {
            font-size: 32px;
            font-weight: 700;
            line-height: 1.2;
            color: #0B2739;
            margin: 0;
            margin-bottom: 10px;
            @media (min-width: 768px) {
                font-size: 40px;
            }
        }
        .item__description {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.3;
            color: #50535A;
            margin-bottom: 16px;
            @media (min-width: 768px) {
                font-size: 20px;
            }
        }
        .item__button {

        }
    }
    &__pagination {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        z-index: 5;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: 992px) {
            top: -24px;
        }
        @media (max-width: 767.98px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        @media (max-width: 991.98px) {
            margin-top: 12px;
        }
        .swiper-button-prev, 
        .swiper-button-next {
            height: 24px;
            top: 0px;
            margin-top: 0px;
            &::after {
                content: inherit;
            }
        }
        
        .swiper-button-prev, 
        .swiper-button-next, 
        .swiper-pagination {
            position: relative;
            left: unset;
            right: unset;
            bottom: unset;
        }

        .swiper-pagination {
            color: #50535A;
            max-width: 63px;
            font-size: 14px;
            @media (min-width: 768px) {
                max-width: 68px;
                font-size: 16px;
            }
            .swiper-pagination-current {
                font-weight: 700;
            }
        }
    }
}

.banner-samsung {
    .row {
        @media (max-width: 767.98px) {
            margin-right: 0;
            margin-left: 0;
        }
        > * {
            @media (max-width: 767.98px) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    .banner-samsung__order-1 {
        padding: 0 15px;
    }
    .banner-samsung__order-last {
        @media (min-width: 992px) {
            order: 6!important;
        }
    }
    &__picture {
        display: block;
        width: 100%;
        @media (max-width: 991.98px) {
            margin-bottom: 16px;
        }
        img {
            width: 100%;
            max-width: 100%;
        }
    }
    .item__title {
        max-width: 328px;
        @media (min-width: 768px) {
            max-width: 360px;
        }
    }
    .item__description {
        max-width: 280px;
        @media (min-width: 768px) {
            max-width: 325px;
        }
    }
}