.stweb{
    &__blog-articles{
        padding: 32px 0 40px;
        background: #F6F6F6;
        @media (min-width: 768px) {
            padding: 40px 0 60px;
        }
        .blog-articles{
            &__head{
                width: 100%;
                max-width: 226px;
                margin: auto;
                margin-bottom: 20px;
                @media (min-width: 768px){
                    margin-bottom: 50px;
                    max-width: inherit;
                }
                .title{
                    font-style: normal;
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 32px;
                    text-align: center;
                    margin: 0;
                    @media (min-width: 768px){
                        font-size: 32px;
                        line-height: 40px;
                    }
                }
            }
            &__footer{
                margin-top: 20px;
                text-align: center;
                .link{
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #019DF4;
                    text-decoration: underline;
                    &:focus{
                        outline: none;
                    }
                    &:hover{
                        text-decoration: none;
                    }
                }
                .icon{
                    padding-left: 4px;
                    width: 14px;
                    height: 14px;
                    fill: #019DF4;
                }
            }
        }
    }
}