.stweb-help-section {
    padding: 32px 0 40px;

    @media (min-width: 768px) {
        padding: 40px 0 60px;
    }

    .title {
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: $color_texto;
        margin-bottom: 24px;

        @media (min-width: 768px) {
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 48px;
        }
    }
    .help-box {
        position: relative;
        display: flex;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #D3D4D3;
        border-radius: 8px;
        padding: 16px 16px;
        margin-bottom: 15px;
        .help-box__head {
            display: block;
            margin-right: 16px;
            img {
                max-width: 100%;
            }
        }
        .help-box__body {
            flex: 1;
            .box__title {
                color: #313235;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 0;
            }
            .box__description {
                font-size: 14px;
                font-weight: 400;
                color: #86888C;
                margin-bottom: 0;
            }
        }
        .help-box__footer {
            display: flex;
            align-items: center;
            margin-left: 12px;
            .box__link-arrow {
                font-size: 14px;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .help__link-more {
        display: block;
        text-align: center;
        margin-top: 10px;
        @media (min-width: 992px) {
            margin-top: 32px;
        }
        a {
            font-size: 16px;
            font-weight: 400;
            color: $color_cian;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
            svg {
                font-size: 10px;
                margin-left: 7px;
            }
        }
    }
}